[2020-02-28 05:48] saneerayapa opened #2614 "Strimzi download images"
Hi
I need to do the following tasks

-  Download Strimzi images and push into another repository
- configure the new image path on the operator  to download images

How do I achieve that

Thanks
San

[2020-02-28 07:14] #2608 closed

[2020-02-28 09:17] stanlyDoge commented on #2614
Hi,
to download an image you can do
`docker pull strimzi/image:tag`
To push the image to another repository you can do
[code]
To change the image used by the operator you should take a look at file `strimzi-kafka-operator/install/cluster-operator/050-Deployment-strimzi-cluster-operator.yaml`

`spec.template.spec.containers.image` is the cluster operator image itself. To change other paths you can

[2020-02-28 09:59] mariusstaicu commented on #2507
Hi,

I took the first option using KAFKA_OPTS and it worked just fine.

Thanks

[2020-02-28 09:59] #2507 closed

[2020-02-28 12:19] #1441 closed

[2020-02-28 15:24] jrivers96 opened #2616 "[Question] Is there a way to enable both oauth and sasl sha external endpoints?"
Can we enable both oauth and sasl sha bootstrap server endpoints? i.e. have oauth and scram-sha-512      configured under external?

[code]

[2020-02-28 15:46] scholzj commented on #2608
I didn't heard about any problems with Ubuntu from any other users. And I'm afiraid I do not have any Ubuntu environment at hand right now to try it out.

[2020-02-28 15:51] scholzj commented on #2616
No, one listener can have only one authentication type right now. So this is not possible right now. We plan to give you option to define more different listeners than just the 3 of them, but right now we have no plans to support multiple authentication per listener.

[2020-02-28 16:00] #2614 closed

[2020-02-28 16:27] arun-blacklane opened #2617 "[Enhancement] .Support for multiple authentication mechanism for Kafka"
**Is your feature request related to a problem? Please describe.**
We want to use OAuth as the main authentication mechanism for Kafka using Strimzi.
But there are some clients which does-not support OAuth by default(Some of them are third party consumers for which we don't have direct support to modify clients)

**Describe the solution you'd like**
In kafka there is an option to support multiple

[2020-02-28 16:32] scholzj commented on #2617
As answered in #2616, this is currently not supported. We plan to add support for more listeners - would being able to define one listener with SCRAM and one with OAUth work for you? Supporting multiple authentication types is a bit more complicated because you can in theory combine OAuth and SCRAM, but not OAuth and TLS. So it is more complicated to handle.

[2020-02-28 16:41] dspereira-avlino opened #2618 "[Bug] javaSystemProperties only supported in Kafka (but not in KafkaConnect, etc..)"
**Describe the bug**
We have a KafkaConnect resource which makes use of the `javaSystemProperties` property (and we are using 0.17.0-RC2). However the properties are not being passed to the JVM.

If we describe the KafkaConnect resource, we can see `STRIMZI_JAVA_SYSTEM_PROPERTIES` with the correct jvm values, but these are not passed to the JVM.

From this commit (https://github.com/strimzi/strimz

[2020-02-28 16:47] jrivers96 commented on #2616
So if I wanted to support scram-sha-512, I'd create another cluster and replicate my topics over, correct?

Thanks for the help!

[2020-02-28 16:49] scholzj commented on #2618
CC @stanlyDoge

[2020-02-28 16:50] scholzj commented on #2616
No, right now it is not possible. But in the future, you would just create additional listener with the additional authentication mechanism. So clients using OAUth would connect to the same cluster on port X and clients using SCRAM would connect to the same cluster on port Y.

[2020-02-28 18:10] #2616 closed

[2020-02-28 22:20] iXmonvi33 opened #2621 "Automatic restarts of Kafka Connectors by the operator"
Hello,

I am using strimzi 0.16.2 and i see problem when mssql in K8S die and recreate, strimzi doesn't connect once again and it's failing (SQL connectors doesn't work)

Is there any settings to tell kafka to reconnect to database ?

[2020-02-28 22:50] scholzj commented on #2621
Strimzi doesn't connect to any database. So I assume you are talking about some connector in Kafka Connect? We are not providing any connectors, so I think you need to raise it with whoever is author of the connector to find out how it is or isn't re-connecting?

Or what would you expect Strimzi to do to get the connector to reconnect?

[2020-02-29 16:32] patsadow2 commented on #2621
I think Strimzi should observer somehow Connectors and rerun it, when it's failed ?

[2020-02-29 22:27] scholzj commented on #2621
Right now you are expected to use the REST APi to restart the connector if needed. I guess restarting it automatically makes some sense. But it has its pros and cons. For example if the operator does it, it will be restarting it every _2 minutes_ regardess of of your MSSQL state. This might not be what everyone wants.

[2020-02-29 22:32] patsadow2 commented on #2621
The main problem is that kafka-connector fail always after 5-10min and i have to redeploy kafka-connector for mssql manual ;/

[2020-03-01 00:23] scholzj commented on #2621
So why does it fail every 5-10 minutes?

[2020-03-01 06:31] patsadow2 commented on #2621
I am not sure i was thought that it is some kind of connection problem but i dont know why it happens always after a few minutes, for a few minutes it is working perfectly ;/

[2020-03-01 07:59] patsadow2 commented on #2621
It's from kafkaconnector

![image](https://user-images.githubusercontent.com/19226186/75621929-f616c500-5b9a-11ea-8d5e-769fcbd4a370.png)

[2020-03-01 08:12] patsadow2 commented on #2621
Do you have any script that check kubectl describe kafkaconnector inventory-connector-mssql and then redepoly when fails ?

[2020-03-01 13:23] scholzj commented on #2621
If such error happens regularly without any reason such as MSSQL issues etc., I suggest you raise it with Debezium, maybe they will have an idea. But I think we should keep this open as an issue for automatically restarting the connectors / tasks. We would have anyway discussed that, so we can use it for tracking.

I do not have any cript which would restart the connector. I have alwaysdone it nly

[2020-03-01 15:30] patsadow2 commented on #2621
Would be great because i cannot bypass it and i am not able to sit and check connection every 5 minutes ;d

[2020-03-01 20:31] pixime opened #2623 "Kafka readiness probe fails on minikube/OSX"
my-cluster-kafka-0 crashLoopBackOff on Minikube macOSX, any idea ?

Commands
-----
$ kubectl get pods -n=kafka
NAME                                        READY   STATUS             RESTARTS   AGE
**my-cluster-kafka-0                          1/2     CrashLoopBackOff   15         132m**
my-cluster-zookeeper-0                      2/2     Running            0          132m
my-cluster-zookeeper-1

[2020-03-01 20:37] scholzj commented on #2623
Can you please share the logs from the `my-cluster-kafka-0` pod? Also, are you sure you are using the `0.16.2/examples/kafka/kafka-persistent-single.yaml` file? Because that should have only one Zookeeper node while your example shows 3 of them.

[2020-03-01 20:57] pixime commented on #2623
Here is the logs of my-cluster-kafka-0 pod.

You are right, I made a mistake, it is 0.16.2/examples/kafka/kafka-ephemeral-single.yaml. But I firstly use the "persistent" one (1 zookeeper replica) and it fails. Then I choose to switch to "ephemeral" (1 zookeeper replica) with the same results.

[kafka-0-tls-sidecar.log](https://github.com/strimzi/strimzi-kafka-operator/files/4272422/kafka-0-tls-sid

[2020-03-01 21:10] scholzj commented on #2623
That is weird. There is nothing what would suggest any problem. Did you gave the Minikube enough CPU?

[2020-03-01 21:48] pixime commented on #2623
Following your advice, this is what I did:

$ minikube config set cpus=4
$ minikube config set memory=4096
$ minikube delete

then
$ minikube start
(now with 4 cpus)

finally I have reinstalled the stack as explained in the QuickStart and now **it works fine**,

Thanks
PS: maybe emphasize use of more than 2 cpus (default minikube config)  in the QuickStart...

[2020-03-01 21:48] #2623 closed

[2020-03-01 21:54] scholzj commented on #2623
Ok, great. Glad it works and thanks for the update. I will have a look at updating the website.

[2020-03-02 00:01] saneerayapa commented on #2614
@stanlyDoge
Thanks, Stanly, I m going to use helm chart for openshift deployment, so I need to do the same thing for that also

[2020-03-02 00:27] saneerayapa opened #2624 "TLS 1.3 for brokers"
Hi

I need to deploy kafka broker with TLS 1.3 is there any possibility to do with operator side

Thanks

Sam

[2020-03-02 03:44] saneerayapa opened #2625 "Oauth implementation"
Hi

I need to implement oauth security to kafka broker
please provide me the steps of for doing that

Thnaks
sam

[2020-03-02 08:01] scholzj commented on #2624
TLS v1.3 will be available only in Kafka 2.5.0 AFAIK: https://issues.apache.org/jira/browse/KAFKA-7251

[2020-03-02 08:01] #2624 closed

[2020-03-02 08:03] scholzj commented on #2625
Did you had a look at the documentation? https://strimzi.io/docs/latest/full.html#assembly-oauth-str

That would be the best place to start.

[2020-03-02 08:03] #2625 closed

[2020-03-02 08:05] scholzj commented on #2614
The Helm Chart has configuration options which allow you to configure the images as well. Please have a look at the Helm Chart README.md file: https://github.com/strimzi/strimzi-kafka-operator/tree/master/helm-charts/strimzi-kafka-operator

[2020-03-02 08:42] arun-blacklane commented on #2617
@scholzj
Thanks for the response.
I think first option should work for us. We can have a dedicated listener for the clients that don't use OAuth.
Is there a timeline on when this is to be implemented with Strimzi?

[2020-03-02 08:48] samyan123 commented on #2625
thanks

[2020-03-02 09:06] #2618 closed

[2020-03-02 09:07] scholzj commented on #2618
Thanks for opening this issue @dspereira-avlino - it will be fixed in 0.17.0

[2020-03-02 12:10] saneera opened #2627 "Operator deployement on openshift master node"
Hi

Is there anyway to configure operator to deploy on openshift master node

[2020-03-02 12:35] scholzj commented on #2627
I'm not sure I would recommend it. But you can just edit the deployment and add affinity / tollerations to get it running anywhere you want including master nodes.

[2020-03-02 12:49] scholzj commented on #2623
BTW: Weird enough I tried it my self with exactly the same configuration (MacOS 10.15.3, Minikube 1.7.3, 2 cpu and 4GB RAM) and it worked fine for me ... IT world is weird:-( ... I guess not every CPU is the same size maybe?

[2020-03-02 16:05] ppatierno opened #2628 "Kafka Exporter reporting some wrong values when no data traffic"
The current provided Kafka Exporter dashboard has its main fields based on a specific exporter metric, `kafka_consumergroup_current_offset`, which is not exposed by the exporter itself until there is no real data exchange between clients (it's not enough having a consumer joined to a consumer group, but a producer sending messages is needed as well).
This means that when the user takes a look at t

[2020-03-02 16:05] ppatierno commented on #2628
@scholzj @tombentley @stanlyDoge wdyt?

[2020-03-02 16:15] scholzj commented on #2628
I do not think this should be changed. This shows the view with regards to consumers. If you haven't consumed a single message with given consumer group from given partition, I do not think it needs to care about it. It also IIRC provides additional information which is not available from Kafka metrics it self, which makes the top row valuable and why it was added in the first place. So you can ei

[2020-03-02 16:21] klalafaryan opened #2629 "[Question] Configure TLS for Strimzi Kafka with AWS"
Hello!

We are trying to configure strimzi kafka TLS listener. And we would like to manage the certificates in AWS.

Is it possible to integrate TLS with AWS ?

For example something like this:

[code]

Or what is the best way to configure the strimzi TLS with AWS certificate manager ?

Thanks in advance!

[2020-03-02 16:23] ppatierno commented on #2628
But if you have 10 topics in your cluster with some partitions and you go to the Kafka Exporter dashboard you see 0 topic, 0 partitions which is actually wrong.
Those values are populated only when you start to exchange data so that the metric `kafka_consumergroup_current_offset` is exposed. Of course the values stay there even when you don't consume data for long time but being showed there just

[2020-03-02 20:25] scholzj commented on #2629
Honestly, I never used the AWS certificates. So I have no experience with them. If you can use them through the annotations above, I think it should be possible. You just have to either disable TLS on the external listener in the Kafka CR and have the loadbalancer do TLS termination or configure the load balancer to do the re-encryption. Would be quite curious how it works our for you.

[2020-03-02 22:32] scholzj commented on #2617
I would love to work on it in one of the next releases. So lets sea before the summer. But as everything - that is just tentative.

[2020-03-02 23:19] samyan123 commented on #2627
is there any example document, please

[2020-03-03 00:14] scholzj commented on #2627
To be honest, it is hard to have an example because every cluster has different labels and taints on the master nodes. So without knowing the details of your cluster, I cannot give you the YAMLs.

Taints are used to make the master nodes _tainted_ and not schedulable for regular workloads. The Pods which should run on master node need to have a toleration for given taint to be allowed to be schedu

[2020-03-03 03:09] samyan123 commented on #2627
Thanks @scholzj that make sense
actually I need to run Strimzi operator only in helm chard there is a configuration

[code]
and 050-Deployment-strimzi-cluster-operator.yaml

[code]

[2020-03-03 04:27] samyan123 opened #2630 "use existing zookeeper"
Hi
In Strimzi can configure to use existing zookeeper instance or strimzi zookeeper can use for other application as well like hadoop
thanks
Sam

[2020-03-03 05:49] samyan123 commented on #2627
Hi @scholzj
as you above mentioned that "I'm not sure I would recommend it"
whats is the best practices for operator installation and why do you think master node is not recommended

and one more clarification,
based on my use case Openshift may have multiple Kafka clusters in different namespaces,
currently ( currently  each namespace have the operator itself)
- when the operator installs globall

[2020-03-03 05:50] east4ming opened #2631 "[Question] How to use Kafka 2.1 after I had installed strimzi 0.16.2 all namespaces?"
My strimzi version is 0.16.2, but I want to use Kafka 2.1 in one namespace.
At the same time, another namespce is using kafka 2.3 cluster.
What should I do so I can use Kafka 2.1?
Can I install strimzi 0.14.0 but don't uninstall strimzi 0.16.2?
Thanks!

[2020-03-03 08:06] scholzj commented on #2627
Well, there is a reason why the master nodes are protected and should run only Kubernetes / OPenShift compoenents. You can have the operator run o the worker nodes while watching multiple namespaces. You do not need it on the master node just because of that. But of course it is up to you to decide how do you want to have it installed.

[2020-03-03 08:07] scholzj commented on #2630
No, that is not possible. Strimzi deploys and uses its own Zookeeper. This is for secrity and stability reasons.

[2020-03-03 08:07] #2630 closed

[2020-03-03 08:13] scholzj commented on #2631
Each Strimzi versio supports only selected Kafka versions. This is because supporting the older versions would make it very hard to ensure everything is working, but it would also pull us back in further development as we would be unable to use new APIs and features from newer Kafka versions.

Running mmultiple Strimzi versions in the same cluster is complicated, because lot of the resources the o

[2020-03-03 08:15] tsyrfa opened #2632 "[Question] Can I make only one service LoadBalancer's type?"
Hello!

I want to make external access to the Kafka cluster. Now I am using `.spec.kafka.listeners.external.type` with the value of` loadbalancer`, but in this case I need to pay for several load balancers. For example, if I created 3 copies of kafka, I got 4 loadbalancers
[code]

But I only need one. Is there an option to create only `kafka-cluster-kafka-external-bootstrap` type` LoadBalancer` ?

[2020-03-03 08:40] scholzj commented on #2632
So if you create only one, how would you access brokers?

[2020-03-03 09:19] stanlyDoge commented on #1722
Now the log contains ```

2020-03-03 09:15:45 ERROR AbstractOperator:124 - Reconciliation #0(watch) Kafka(myproject/my-cluster): createOrUpdate failed
--
  | io.strimzi.operator.cluster.model.InvalidResourceException: Version 2.4.9 is not supported. Supported versions are: 2.3.1, 2.4.0.

[code]

[2020-03-03 09:25] stanlyDoge commented on #1777
The EO can be started with only UO or TO, so this can be closed.

[2020-03-03 09:37] scholzj commented on #1777
@stanlyDoge So does the scenario described above work now?

[2020-03-03 09:46] stanlyDoge commented on #1777
Yes, without any issue

[2020-03-03 09:52] jotak opened #2633 "[Doc] Metrics documentation seems outdated / inaccurate"
Hello,

The documentation about metrics refers many times to some example files: https://strimzi.io/docs/master/#ref-metrics-config-files-str

It is unclear where these files can be found. The `examples/metrics` directory, which is what is documented, contains only a single file: https://github.com/strimzi/strimzi-kafka-operator/tree/master/examples/metrics

After exploring the repository, I belie

[2020-03-03 10:03] #1777 closed

[2020-03-03 12:20] stanlyDoge commented on #1958
Not valid anymore

[2020-03-03 12:20] #1958 closed

[2020-03-03 14:20] #1722 closed

[2020-03-03 18:12] nimmichele commented on #2113
Using letsencrypt certificate I have to add this:

[2020-03-03 22:33] samyan123 commented on #2627
Thanks @scholzj
It’s means that one operator can handle the all the Kafka clusters running on openshift without any problem isn’t it

[2020-03-03 22:35] scholzj commented on #2627
Well, it depends how many clusters are we talking about and how many resources do you give it. But in general yes, it can.

[2020-03-04 01:18] east4ming commented on #2631
Thanks!

[2020-03-04 01:18] #2631 closed

[2020-03-04 02:06] saneera commented on #2630
Thanks @scholzj
Regarding Zookeeper "My bad, the question was bit unclear. The question I wanted to ask is, can we use Strimzi ZooKeeper to manage other server clusters e.g. Hadoop etc. If yes, is there any documentation / online material explaining what all other components currently supported, and related process to begin with."

"So just to confirm, can we use Strimzi ZooKeeper to manage other

[2020-03-04 06:55] scholzj commented on #2630
Ok, sorry for not covering that. The Zookeeper we deploy is locked down with TLS client authentication, so other applications will be unable to connect. So you will be unable to use it for Hadoop or something else. Sorry.

[2020-03-04 07:38] scholzj commented on #2633
I think the confusion here is that during the release, these files end up in `examples/metrics`. So in the released docs the location is valid, but not in the master version. I think we should move it to make it work on both places. I will open a PR to move the location to the same place.

[2020-03-04 10:16] #2633 closed

[2020-03-04 14:46] beavenj opened #2643 "[Enhancement] Support configurable cipher suites"
**Is your feature request related to a problem? Please describe.**
We need to be able to select which cipher suites Kafka supports in order to align with other components in our infrastructure and ensure consistency.

**Describe the solution you'd like**
The underlying Kafka implementation provides control over cipher suites using a configuration property **ssl.cipher.suites**. In Strimzi, these c

[2020-03-05 00:08] saneera commented on #2630
Thanks @scholzj , much appreciated.
Sorry for the pest.. Just to get my understanding correct and how zookeeper interacts with broker etc. Does Zookeeper even authenticate broker using TLS Client authentication? And If yes, is the client certificate embedded within the broker/zookeeper image, and therefore no way we can extend Zookeeper for other components.

[2020-03-05 02:44] saneera commented on #2627
@scholzj Thanks for your reply

my openshift cluster nodes are looks like below, would you able to provide me an example yaml configuration for the strimzi operator to run on master node

[code]

[2020-03-05 02:51] saneera opened #2646 "kafka-cluster with volume claim"
Hi
I need to attached persistent volume claim for kafka cluster and attached to the kafka yaml
is there any way to do this

Thanks

[2020-03-05 10:49] samuel-hawker opened #2647 "[Enhancement] Use context.succeeding/failing to remove boilerplate result checks in tests"
**Is your feature request related to a problem? Please describe.**
As someone who makes changes to Strimzi I would like the tests  to be as  short and informative as possible.
By using context.succeeding or  context.failing we can make the intent of whether we want the test to fail or pass more clear, we can also remove the boilerplate of failing the test and printing the stack track by using thes

[2020-03-05 12:48] scholzj commented on #2630
The Zookeeper and whole its communication is wrapped into the sidecar containers which take care of encryption and authentication. If you really want, you can use something like this https://gist.github.com/scholzj/6cfcf9f63f73b54eaebf60738cfdbfae to expose it. But on your own risk and I do not recommend it.

[2020-03-05 12:51] scholzj commented on #2627
Your master you described above does for whatever reason not have any taints which is weird and non-standard. So all you need to do is to configure the node affinity for one of the labels on the node: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#node-affinity

[2020-03-05 12:53] scholzj commented on #2646
Storage for the KAfka brokers is configured in the KAfka CR: https://strimzi.io/docs/latest/full.html#considerations-for-data-storage-deployment-configuration-kafka

You cannot attach a random PVC to it. It creates its own PVCs based on the specified configuration.

[2020-03-05 15:25] tsyrfa commented on #2632
sorry for long answer

I configuring kafka cluster for interaction with clickhouse cluster like conumer, Clickhouse not in k8s cluster. As I understand, I need use external-kafka-bootstrap service for connect by clickhouse

[2020-03-05 15:48] scholzj commented on #2632
The external bootstrap service is just for the initial connections. The clients open the connection through it and get the metadata. But then they need to connect to the different brokers individually. That is where the other loadbalancers are used for. I wrote a blog post series about how this works: https://strimzi.io/2019/04/17/accessing-kafka-part-1.html

So it is a bit more complicated and ju

[2020-03-05 15:51] tsyrfa commented on #2632
I will read this blog and answer you. Maybe it that I searching few days ☺

[2020-03-05 19:04] scholzj commented on #2647
This looks good to me. @tombentley did you had a chance to look at this?

[2020-03-06 07:38] pixime opened #2649 "No Prometheus service to connect Grafana"
Hello,

I'm trying to implement the Grafana/promotheus/strimzi-kafka following instructions given in https://strimzi.io/docs/master/#proc-metrics-deploying-grafana-str.

Unfortunately I can't see any service closed to "http://promotheus-operated:9090 "as indicated in the documentation. I suppose that I should have at least one:

Kafka ->Kafka  exporter -> **promotheus server** -> Grafana

Here is

[2020-03-06 07:55] ppatierno commented on #2649
@pixime I don't see prometheus running, I am talking about the prometheus server pod not the operator (that I can see running). Did you follow this section https://strimzi.io/docs/master/#proc-metrics-deploying-prometheus-str ? It's about deploying `PrometheusRule` plus other stuff which is handled by the prometheus operator to deploy the prometheus server.

[2020-03-06 08:45] tombentley commented on #2647
This looks like a great idea. I guess there's a lot more tests which would benefit than the tests in the linked branch, right? If you're proposing to fix them all @samuel-hawker then I suggest you batch them across a number of PRs.

[2020-03-06 09:08] SpecialForce3331 opened #2650 "[Question] How to set FQDN into listener field?"
Good day!
At now i have a this:
`kubectl -n kafka-test  get kafka -o yaml`
[code]
And i want to get `kafka-test-kafka-bootstrap.kafka-test.svc`.**cluster.local**
How i can get full name with cluster name?

[2020-03-06 09:22] scholzj commented on #2650
You cannot do that. This is intentional because the cluster.local suffix is configurable and cannot be easilyfound programatically. Also it is not needed for communication with services normally.

[2020-03-06 09:23] SpecialForce3331 commented on #2650
Thank you for the answer.

[2020-03-06 09:23] #2650 closed

[2020-03-06 09:30] samuel-hawker commented on #2647
@tombentley thanks so much!

Yes, I just wanted to take a smallish sample of the tests, convert them to show the value in what I propose. The long term aim would be to convert them all.

I am happy to open what I have already done as a PR, or I can continue to work on this branch and open more PRs, whatever your most preferable size of review to be.

[2020-03-06 09:36] tombentley commented on #2647
@samuel-hawker I think a dozen source files at a time would be good (perhaps smaller for some of the bigger tests).

@strimzi/contributors please can you take note of this issue so that any new tests you write use the new convention, to avoid Samuel having to mop up any new tests added while he's converting the old tests.

[2020-03-06 14:30] pixime commented on #2649
@ppatierno
This is what I can read in the docs:

------------
Procedure
1. Modify the Prometheus installation file (prometheus.yaml) according to the namespace Prometheus is going to be installed in:
On Linux, use:
`sed -i 's/namespace: .*/namespace: my-namespace/' prometheus.yaml`
On MacOS, use:
`sed -i '' 's/namespace: .*/namespace: my-namespace/' prometheus.yaml`

2. Edit the ServiceMonitor res

[2020-03-06 18:56] zzvara opened #2656 "[Bug] Cluster DNS not correctly set in Kafka advertised addresses"
**Describe the bug**
The Kubernetes cluster DNS (defaults to cluster.local) is not correctly set by the operator for Kafka brokers, as the brokers will advertise inter-namespace correct but intra-namespace incorrect DNS.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy operator:
`helm install --namespace kube-system --generate-name --set "watchAnyNamespace=true,kubernetesServiceDnsDoma

[2020-03-07 09:05] scholzj commented on #2656
I do not see this as a bug. The DNS name `service.namespace.svc` should be resolvable witin your cluster. On the other hand adding the suffix is causing problems because while `cluster.local` is the default suffix is can be changes and in some cases it is changed. So routing the traffix only through `service.namespace.svc` makes it work without any problems in all the clusters which are not using

[2020-03-07 17:55] zzvara commented on #2656
Could you support your claim?

I think it is correct only for namespaces, not the cluster. At least the default DNS on Kubernetes 1.17 will not pass it through.

What are the use cases that would support such a case? Could you provide one example when the cluster DNS changes in runtime?

What is the effect of `KUBERNETES_SERVICE_DNS_DOMAIN` then?

[2020-03-07 18:09] avif commented on #2632
You could expose kafka with ingress, that will use only the ingress controller LB for all external traffic.

[2020-03-07 18:16] avif commented on #2528
Thanks for the help, the solutions you provided did not solve my problem for the reasons you assumed.
I did manage to achieve this with an additional ingress controller for restricted access and using ingress class annotation on the kafka ingress configs.
Sure it does use additional LB's for the new ingress controller but it can serve all kafka deployments with the same ingress controller - so i'l

[2020-03-08 10:11] scholzj commented on #2656
Support what claim?

Not sure what exactly do you mean with this. The internal and external interfaces are supposed to be used from other namespaces within the same cluster. If you want access from outside the cluster - not running in any namespace, you can use the `external` listener.

I didn't said anything about runtime and I do not know what do you mean with it. Different clusters have differe

[2020-03-08 10:13] scholzj commented on #2528
Great, thanks for the update and glad you got it working. Can I close the issue? Or do you think you will have something more?

[2020-03-08 11:49] samuel-hawker opened #2659 "[Enhancement] Use reconcile() to delete resource in the operator-common ITs"
**Is your feature request related to a problem? Please describe.**
Whilst looking through the Integration tests i noticed the below comment in several places:
[code]

Strimzi is now on fabric8 version `4.6.4` - these should be cleaned up to use reconcile and the comments deleted.

I propose this be done and would be happy to pick this up, unless there was any specific reason this has not been done

[2020-03-08 12:25] zzvara commented on #2656
Support the following claim:

I meant that when you want to resolve services from different namespaces, it seems that it is not enough to specify an internal domain name ending with `svc`. You have to add the cluster domain name. The default cluster domain name is `cluster.local`. In my case, it is `sigma`.

To reiterate my problem: I'm calling Kafka that is sitting on `development` namespace from

[2020-03-08 13:41] avif commented on #2528
Yes, you can close it - thanks!

[2020-03-08 13:48] #2528 closed

[2020-03-08 13:52] scholzj commented on #2659
@tombentley Do you know anything about this?

[2020-03-08 14:05] avif opened #2660 "[Question] How to use TLS authentication with kafka connect?"
I'm trying to get kafka connect working with TLS authentication and simple authorization,
but kafka connect does not seem to be using the provided certificates...
Here's what I tried:
- Deploy kafka
[code]
- Deploy kafka connect & user
[code]
Some logs (only relevant parts because it's too big to publish):
- kafka broker 0 container
[code]
- kafka-connect container
[code]

Note that the kafka brok

[2020-03-08 14:52] scholzj commented on #2656
Try it for example in Minikube to see that it normally works. The images have /etc/resolve.conf modified to configure the search domains. Within a namespace, you can use just `service`. Outside you can use `service.namespace` or `service.namespace.svc`.

[2020-03-08 15:03] scholzj commented on #2660
You are connecting in Connect to `bootstrapServers: my-cluster-kafka-bootstrap:9093` - that is the `tls` interface. But in your Kafka cluster, you do not have authentication enabled there:

[code]

I think you will need to enable authentication there (the `tls: {}` means just encryption) to get it working:

[code]

[2020-03-08 15:28] avif commented on #2660
That solved it, thanks!

[2020-03-08 15:48] scholzj commented on #2660
Great!

[2020-03-08 15:48] #2660 closed

[2020-03-08 17:57] samuel-hawker commented on #2659
Examples of this comment in the code can be found in these places: https://github.com/strimzi/strimzi-kafka-operator/search?q=https%3A%2F%2Fgithub.com%2Ffabric8io%2Fkubernetes-client%2Fpull%2F1325&type=

[2020-03-09 00:04] cameronbraid opened #2661 "Failed to create cache dir"
deployed strimzi-cluster-operator-0.16.2 on kubernetes 1.17 (KinD)

strimzi-cluster-operator pod stacktrace :

[code]

Strange because it has `-Dvertx.cacheDirBase=/tmp`

[2020-03-09 00:08] cameronbraid commented on #2661
I think I found the issue.. just KinD cluster ran out of space

[2020-03-09 00:08] #2661 closed

[2020-03-09 01:11] saneera opened #2662 "OAUTH kafka error"
Hi

I configured kafka cluster with OAUTH configuration as follows

[code]
my keycloak server succesfully running on openshift with URL provided above

when I configured kafka cluster with above configuration my cluster not starting (check the error)
anyway I configured kafka cluster on same project and replace the keycloak url with local url with port 8443 its working fine

error lookes like secr

[2020-03-09 08:24] dalelane commented on #2609
@scholzj Sorry, last week was super-busy so I didn't get a chance to look at this.

To revive it this week, I've put a quick placeholder up at https://github.com/strimzi/strimzi-kafka-operator/pull/2663 to show what I had in mind. If you get a chance, please could you have a look and see if you think that's a sensible place in the flow to do these checks. From some manual testing, it seems to do t

[2020-03-09 08:27] stanlyDoge commented on #2649
I did a quick test and if you use CR you posted ```apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: prometheus
  labels:
    app: strimzi
spec:
  replicas: 1
  serviceAccountName: prometheus-server
  serviceMonitorSelector:
    matchLabels:
      app: strimzi
  resources:
    requests:
      memory: 400Mi
  enableAdminAPI: false
  ruleSelector:
    matchLabels:
      role: a

[2020-03-09 09:39] #2479 closed

[2020-03-09 10:13] scholzj commented on #2662
The problem is with the TLS certificates you are using the Kafka broker to use. They do not seem to match what Keycloak is using. IIRC the secret `sso-x509-https-secret` has the TLS certificate used by Keycloak internally. But the Route you are using to access it is using re-encrypt strategy or something like that and therefore it is not using the Keycloak certificate but the Openshift router cert

[2020-03-09 10:26] pixime commented on #2649
OK I will try in the next days, I keep you informed

[2020-03-09 12:17] tombentley commented on #2659
@scholzj I don't recall it specifically, but I see no reason not to do it (and @stanlyDoge seems to have done so in https://github.com/strimzi/strimzi-kafka-operator/pull/2665)

[2020-03-09 21:57] samyan123 commented on #2662
Can you able to provide me steps of doing that

[2020-03-09 21:58] saneera commented on #2662
Thanks can you provide me to steps to do that

[2020-03-09 22:44] #2659 closed

[2020-03-09 23:58] scholzj commented on #2662
Sorry, I do not have it running right now. So I cannot give you the exact step by step guide. But basically:

* Run `openssl s_client -connect sso-my-project2.apps.90d5.example.opentlc.com/auth/realms/internal:443 -showcerts -servername sso-my-project2.apps.90d5.example.opentlc.com`
* That should give you some output which contains several certificates starting with `-----BEGIN CERTIFICATE-----` a

[2020-03-09 23:59] saneera commented on #2662
@scholzj Thanks I will do

[2020-03-10 09:48] jxadro opened #2671 "[Bug] Strimzi 0.16.2 Openshift 4.2 Kafka cluster in state unknow in Openshift UI"
Hi.

I'm using Openshift 4.2, installing Strimzi operator v0.16.2 using the Openshift UI.

After successful  installing I create the kafka object:

apiVersion: kafka.strimzi.io/v1beta1
kind: Kafka
metadata:
  name: my-cluster
spec:
  kafka:
    version: 2.4.0
    replicas: 1
    listeners:
      plain: {}
      tls: {}
      external:
        type: route
        tls: false
    storage:
      type:

[2020-03-10 09:51] jxadro commented on #2671
Just in case you do not see the image in the first post:
![image](https://user-images.githubusercontent.com/23421829/76300512-1b06e880-62bd-11ea-9566-db2d849e5de6.png)

[2020-03-10 12:19] saneera commented on #2662
@scholzj I managed to run Kafka cluster with OAuth configuration however I tried to run clients producer with the following configuration

[code]

the producer is up and running but it does not send messages

[code]

it looks like token is not generating properly with URL provides in producer deployment

any idea ??

Thanks

[2020-03-10 17:10] scholzj commented on #2662
TBH, I'm not sure how to change the log levels here to get more infor from the OAuth library. I would need to look into image. But looking at the YAMLs - yould it be the same problem as with the broker? You seem to be using again `sso-x509-https-secret` for the TLS certificate which was not the right certificate in the broker, right? Can you try to use the same secret / certificate as with the bro

[2020-03-10 18:49] dklesev commented on #29
Could someone provide an example how to run cp-schema-registry-server with strimzi? Especially if authentication is plain and the connection part to zookeeper. @scholzj mentioned [this](https://gist.github.com/scholzj/6cfcf9f63f73b54eaebf60738cfdbfae) here, is this the way to go for the zookeeper part?

[2020-03-10 19:50] octopyth opened #2680 "[Bug] SSL handshake failed for fresh kafkaconnect install"
**Describe the bug**
I am attempting to fresh install kafka with TLS and kafkaconnect, but Kafkaconnect fails to connect to the kafka cluster.

**To Reproduce**
Steps to reproduce the behavior:
1. kubectl create namespace kafka
2. curl -L https://github.com/strimzi/strimzi-kafka-operator/releases/download/0.16.2/strimzi-cluster-operator-0.16.2.yaml \
  | sed 's/namespace: .*/namespace: kafka/' \

[2020-03-10 20:32] scholzj commented on #29
@duanshiqiang The Apicurio Schema Registry should work without any problems with Strimzi. I would love to have some blog post or a better demo about how to integrate it. But I didn't had yet time for it. If anyone with more time would be interested in doing it, we would be more than happy to publish it of course.

However, I do not think we plan at this point any deeper integration into the operat

[2020-03-10 20:43] scholzj commented on #2680
Your problem is that with this:

[code]

You enabled the TLS client authentication in the broker. But in the Connect configuration, this section:

[code]

You configure only server authentication. So you have two options how to fix it. You can either disable the authentication by changing the broker configuration to:

[code]

Or you have to do the client authentication in the Kafka Connect. To do

[2020-03-10 20:57] scholzj commented on #2671
To be honest, I'm not sure what kind of Status and Version is that supposed to be. I will try to find out, I have it anyway on my todo list already. But thanks fro raising this, lets keep this open to track it.

[2020-03-10 21:57] saneera commented on #2662
Thanks @scholzj  Yes I m using same  secret/certificate used for broker still is the same

[2020-03-10 22:01] scholzj commented on #2662
@mstruk Any idea what could cause `{"status":"invalid_token"}` with Keycloak?

[2020-03-10 22:23] dklesev commented on #29
@scholzj what do you think about [this](https://github.com/lsst-sqre/strimzi-registry-operator), some parts are hardcoded, however. If I find time I will look into [this](https://developers.redhat.com/blog/2019/12/17/replacing-confluent-schema-registry-with-red-hat-integration-service-registry/) and integration with strimzi. I think its quite important to have the schema registry (cp/rh) being eas

[2020-03-10 22:24] saneera commented on #2662
This is the error inside kafka broker

[code]

[2020-03-10 22:46] mstruk commented on #2662
One common reason for invalid token is if host, port and realm in the URL used by the client to authenticate (the OAUTH_TOKEN_ENDPOINT_URI) are not the same as those in the URL used by the broker to validate the token (validIssuerUri).

In previous comments above I can see:
OAUTH_TOKEN_ENDPOINT_URI set to https://sso-keycloak.apps.90d5.example.opentlc.com:443/auth/realms/internal/protocol/openid-c

[2020-03-10 23:08] scholzj commented on #29
TBH, I actually haven't seen this before. So I will need to have a bit closer look.

[2020-03-10 23:20] saneera commented on #2662
@mstruk
Sorry my bad my final configuration as follows

both kafka cluster and producer running on same project but keycloak running on different project on openshift

[code]

[2020-03-11 11:27] octopyth commented on #2680
Thanks @scholzj you get a novice strimzi user out of trouble... again. It would be great if the authentication configuration is included in the examples, as such configuration is considered production ready and will make life easier for all the wanna-be-s out there 👍

[2020-03-11 11:27] #2680 closed

[2020-03-11 15:27] scholzj commented on #2680
Glad it helped. I think that is something we can look into and add some _secured_ examples. Would you also expect authorization in such examples? That makes it a bit more complicated to use I think, but is related as well. WDYT?

[2020-03-11 16:01] katheris opened #2683 "[Bug] Using the non-default image pull secret does not work"
**Describe the bug**
There is a mechanism to set a default image pull secret for all of the components Strimzi creates, like the Kafka and Zookeeper using the EnvVar in the operator deployment.

If I want to use a different image pulls secret for one of the components e.g. KafkaConnect there is no way to opt-out of that default. Setting imagePullSecrets to an empty array in the KafkaConnect CR sti

[2020-03-11 16:57] tombentley opened #2684 "[Bug] TO JVM options"
EntityOperator sets the `STRIMZI_JAVA_SYSTEM_PROPERTIES` env var with the various JVM configs in `JvmOptions`.

`topic_operator_run.sh` then does `export JAVA_OPTS="${JAVA_OPTS} ${STRIMZI_JAVA_SYSTEM_PROPERTIES}"` before `exec`ing `launch_java.sh` which does this:

[code]

The result is we end up with two `-Xmx` options on the `java` cmdline. `java` does not reject a cmdline with multiple `-Xmx`.

[2020-03-11 22:08] dalelane commented on #2671
Looking at how the OpenShift UI is put together, it appears to be using `status.phase` and `spec.version`  https://github.com/openshift/console/blob/ef1163bdc54fef0479ae32454d4235cabe441a51/frontend/packages/operator-lifecycle-manager/src/components/operand.tsx#L147-L158

As we don't have either of those fields in our CRD, they're showing up blank.

I think the status field is an easier one to fix

[2020-03-11 23:52] saneera commented on #2624
@scholzj thanks for your answer
So TLS1.3 is supported by Apache Kafka form version 2.5 onwards. Is strimizi planning to provide Kafka 2.5 image in near future.

[2020-03-12 00:04] scholzj commented on #2624
Usually we support new Kafka versions in the next Strimzi release after their release. But what does that mean exactly depends ... first of all Kafka 2.5.0 is not released yet and depending how the testing of the RCs goes, it can be released tomorrow but also next month. Once it is released, we usually add it fairly quickly - but it also depends on how it falls into our release cycle when will be

[2020-03-12 03:40] kostyaplis opened #2688 "[Question] KafkaConnector getting updated even when resource not modified"
We are experiencing an issue when our KafkaConnectors are getting updated every 120 seconds.

Somehow stored connector status is never match desired status.
[code]
Always followed by this on next reconciliation timer tick
[code]

Not sure how to break this loop and whether it is a bug or our misconfiguration.

Environment:
- Strimzi version: 0.16.2
- Kubernetes cluster: 1.14
- Infrastructure: EKS

[2020-03-12 08:47] ZPJeck opened #2690 "How to connect Kafka with TLS through Java？？"
How to connect Kafka with TLS through Java？？

[2020-03-12 09:18] scholzj commented on #2690
Can you share more details? What is your configuration, what have you tried, what errors are you getting? All the available TLS options for the Java clients are described in the Kafka documentation: http://kafka.apache.org/documentation/

[2020-03-12 09:20] scholzj commented on #2688
I think @tombentley is currently looking into this.

[2020-03-12 09:41] ZPJeck commented on #2690
My java program is a pod, then how can I use certificate connection? I will not use，Do you have any good cases?

[2020-03-12 09:48] scholzj commented on #2690
Ok, here is an example of how you can do it: https://github.com/strimzi/client-examples/blob/master/java/kafka/deployment-ssl-auth.yaml

All you really need is to mount the secrets with the certificates into the pod as files and than use them from your Java applications. If you use Strimzi 0.15 or newer, the Strimzi secrets will have PKCS12 files which can be read by Java directly. If you use some

[2020-03-12 09:57] ZPJeck commented on #2690
Thank you very much. I will try it

[2020-03-12 11:17] matthewpwilson opened #2691 "[Question] Why does the cluster operator think my cluster has been updated?"
The cluster operator seems to be detecting my cluster has been modified on each reconcile loop, and rolling the pods as a result.   This happens constantly, starting from a clean install of the operator and cluster CR.  I can't figure what it thinks has changed.
[code]

I'm also seeing few exceptions when updating resources:
[code]

Strimzi version: 0.16.2
Installed method: YAML files or OperatorH

[2020-03-12 11:18] matthewpwilson commented on #2691
Log with DEBUG set:
[strimzi-cluster-operator-chopped.log](https://github.com/strimzi/strimzi-kafka-operator/files/4323822/strimzi-cluster-operator-chopped.log)

[2020-03-12 14:57] scholzj commented on #2691
Thsi is weird. For whatever reason your cluster seems to be changing the images names in the pods:
[code]

I haven't seen this in OpenShift 4.3. Can you share the custom resource? Also, are you sure you have just one operator running which would be watching given namespace and managing given cluster?

There also seem to be some issues with the connection to the API server. SO I wonder if the opera

[2020-03-12 16:33] matthewpwilson commented on #2691
OK I've found the problem.  In the log I gave you I did indeed have two operators watching the namespace, sorry about that. After resolving that I was able to spot the real issue - the log snippets you posted gave me the clue I needed
[code]
This and a bunch of other annotations were being added by kappnav every time Strimzi recreated the resources - operator fight! Uninstalling kappnav made the p

[2020-03-12 16:39] scholzj commented on #2691
We do not ignore annotation changes as some annotations are relevant and should not be ignored. Are these some annotations added by you or by some tooling? I guess that if needed we can add them so some kind of whitelist to have them ignored.

[2020-03-12 20:14] #2688 closed

[2020-03-12 22:32] saneera opened #2696 "clarification about OAuth configuration"
@scholzj
Hi

I found out the one GitHub repo Kafka-enablement-2020 in your repositories, I am trying to implement OAuth security on my OpenShift environment , so I followed your example provided in security section
one thing I m not sure about 05-kafka-oauth.yaml you mentioned in external section

[code]

is this a manually created how do I create them

Thanks

[2020-03-12 23:38] scholzj commented on #2696
Yes, that is IIRC created manually. It contains the CA used by the OpenShift Router I guess collected as described here: https://github.com/strimzi/strimzi-kafka-operator/issues/2662#issuecomment-596834569

[2020-03-13 01:35] saneera commented on #2696
Thanks @scholzj

[2020-03-13 08:14] matthewpwilson commented on #2691
The annotations are being added by the kAppNav operator https://github.com/kappnav/README

[2020-03-13 09:18] scholzj commented on #2691
Ok, I never used that. If you can collect the annotations it is adding, I can add them to some white/black list to be ignored.

[2020-03-13 12:49] carlosjgp opened #2697 "[Question] What is the rationale behind adding the Prometheus annotations to the Kubernetes Service?"
Hi Strimzi team,

we are using Strimzi to deploy our Kafka Connect clusters
and we are very happy with the work you are doing :rocket:

Yesterday we noticed we were ingesting the same metrics twice
because we added the Prometheus annotations to the pod template CRD
and the operator is creating the Kubernetes service with the same annotations
https://github.com/strimzi/strimzi-kafka-operator/blob/m

[2020-03-13 13:36] scholzj commented on #2697
I thin we added it in the past when the template was not available and people needed it. Maybe now it is time to remove it, although it is a bit of a breaking change? I'm not sure how much they are still needed TBH, I'm not really a Prometheus expert.

@ppatierno @stanlyDoge WDYT?

[2020-03-13 13:49] MrFishFinger opened #2698 "Manually Set SCRAM Password"
According to the docs [0], the SCRAM user credential is automatically generated by the User Operator as a "random 12 character password".

Is it possible to manually set this password? eg by pre-creating a secret and disabling generation ?

(apologies if this question has already been covered elsewhere)

[0] https://strimzi.io/docs/master/#supported_scram_credentials

[2020-03-13 13:51] scholzj commented on #2698
If you create the secret with the matching name and matching structure containing the password, IIR the User Operator should be able to take it and just use it.

[2020-03-13 15:02] samuel-hawker opened #2699 "[Enhancement] consolidate *CrdOperatorIT.java tests to use an Abstract test Class"
Whilst working on issue #2647 I noticed that all the classes with the name: `strimzi-kafka-operator/operator-common/src/test/java/io/strimzi/operator/common/operator/resource/*CrdOperatorIT.java` have the _exact_ same tests.

The classes effected by this:
[code]

I propose here https://github.com/strimzi/strimzi-kafka-operator/commit/283d50f0fa0646b17ef9507a25608a7895b15c01 that we make a single A

[2020-03-13 17:18] samuel-hawker commented on #2699
Some possible remarks I thought of, but wasn't sure whether to include in my above implementation was two additions abstract methods
[code]

So that we can supply constants so that each test runs its own namespace and own custom resource names, the latter being less important.

[2020-03-13 19:50] jxadro opened #2700 "[Question] Strimzi 0.16.2. "The OpenShift route API is not available in this Kubernetes cluster""
Hi.

I'm creating a Kafka cluster with this CR:

[code]
But I'm getting this status:
[code]

In this cluster I created a Kafka server like these two days ago and it worked, since then I had a problem with the hypervisor and the virtual machines were rebooted so may be something didn't start correctly.

What is behind this message so I could debug or report it accurately?

Thank you.

[2020-03-13 19:53] scholzj commented on #2700
So, are you actually on OpenShift? The operator checks the Route API which it is present and if it is not present, it cannot use it. If you switch to debug logging in the cluster operator, I think you should see it checking the APIs.

[2020-03-13 19:55] scholzj commented on #2699
As with everything CRD I would probably deffer to @tombentley ... but from how you describe it, it sounds like a reasonable idea to me.

[2020-03-14 00:08] jxadro commented on #2700
Hi,

Yes, I'm in openshift.
Could you tell me the command used to check the Route API and the expected output?

Thank you.

[2020-03-14 00:34] scholzj commented on #2700
The operator is talking witht he API server all the time. And at startup it asks whetehr the `route.openshift.io/v1`APi exists or not. If it exists, it allows to use routes. If it doesn't, it will not. So if you are on OpenShift, I assume that the APi server didn't reported the API to be present for whatever reason. Have you tried to restart the operator? MAybe it was just some temporary glitch in

[2020-03-14 10:03] MrFishFinger commented on #2698
hi @scholzj, thanks for that tip. You are absolutely correct, pre-creating the secret with the same name as the new user works.

for those interested, this is the yaml required to pre-create the secret for a user with the name "strimziUser1":
[code]

[2020-03-14 10:04] #2698 closed

[2020-03-14 12:01] samuel-hawker commented on #2699
^^ Made a draft https://github.com/strimzi/strimzi-kafka-operator/pull/2701/files happy to tweak it.

[2020-03-14 19:17] scholzj commented on #2698
Great, glad it helped!

[2020-03-15 23:20] puneetloya commented on #2197
I had the same issue using strimzi. The load on the system is pretty high, not sure why the hostname could not be resolved all of a sudden while other services running in kubernetes.

So I found there was one mistake on my side, I was creating a kafka user using strimzi operator with SCRAM-SHA-512 auth but I was not using the listener with SCRAM-SHA-512 auth. I did see that my zookeeper was being

[2020-03-15 23:23] scholzj commented on #2197
@puneetloya This is a bit weird. Do you have any logs form the User Operator doing that? The listener with SCRAM-SHA-512 and the Zookeeper storage for SCRAM-SHA-512 users is fully independent. There should be no dependnecy between them. You would of course not be able to use the user when you didn't enabled it in the listeners - but that should not cause any problems with creating the users.

[2020-03-15 23:45] saneera commented on #2696
@scholzj

Hi
I have one use case implement active directory security on kafka cluster (openshift setup with active directory)
do you think it is feasible
if it is what steps I need to take care of

Thanks
Saneera Yapa

[2020-03-16 00:00] puneetloya commented on #2197
User operator I think is not doing anything wrong
[code]
These are kafka logs across pods:
[code]

[2020-03-16 00:14] puneetloya commented on #2197
I think it is worth putting something like this in the base docker for strimzi,
[code]
So that java does not have issues with dns caching

[2020-03-16 00:20] scholzj commented on #2197
Well, doing reocnciliation every 2 minutes should nto everload any service. Configuration of DNS caching is done in #2409 - that should be released in 0.17.0.

[2020-03-16 00:21] scholzj commented on #2696
@mstruk would be the guy to ask. Not sure if anyone ever tried the Keycloak-AD federation with Kafka.

[2020-03-16 00:21] puneetloya commented on #2197
you guys are fast man!! Thats good 👍

[2020-03-16 00:25] puneetloya commented on #2197
Also wanted to ask is there like an optimal resource sizing for kafka and zookeeper, in terms of heap, RAM, CPU. Is there like a strimzi recommendation to follow?

[2020-03-16 00:35] scholzj commented on #2197
The sizing is very dependent on the use cases, traffic, infrastructure etc. So we do not have anything and I'm not sure how feasible is some _universal_ sizing guide.

[2020-03-16 00:36] scholzj commented on #2197
_(In general, our Kafka is still Kafka - Strimzi uses binaries from kafka.apache.org without any modifications etc. So whatever sizing applies to that should work also with Strimzi.)_

[2020-03-16 06:26] mstruk commented on #2696
@saneera I haven't seen it in practice yet, which also means I have no test for it, but it should work by using Keycloak's User federation with [Kerberos LDAP](https://www.keycloak.org/docs/latest/server_admin/#_kerberos), configuring Active Directory as Kerberos based user store, like @scholzj suggested.

Configuring Kerberos LDAP as user store does not affect flows between Kafka client and Keycl

[2020-03-16 09:15] carlosjgp commented on #2684
Good news, setting the environment variable allowed the Topic Operator to use more than 50% of the memory limit

[code]

and bad news is that it seems to have a memory leak (should I report this on a separate issue?)

![topic-operator-metrics-2020 03 16-09_09_17](https://user-images.githubusercontent.com/1277613/76740619-18e1d580-6766-11ea-9bea-851ea64bc82d.png)

Full container `spec`
[code]

[2020-03-16 09:36] tombentley commented on #2684
@carlosjgp I think you're probably setting the Xmx too close to the container memory limit and therefore you can't really conclude that there's a memory leak necessarily. The heap is just one aspect of JVM memory. There are a bunch of other memory pools too, which likely accounts for the fact that the JVM  uses more than the container limit and gets killed by the kernel. This is backed up by the g

[2020-03-16 11:46] carlosjgp commented on #2684
Thanks for your response @tombentley ,

I have limited knowledge about the JVM. This is why I thought it was a memory leak

The previous configuration of Topic Operator was using the default configuration (no `Xmx` option) meaning that it was using 50% of the available memory as heap (yellow lines on CPU and Memory usage)
on the 11th the heap hit its max cap and the CPU started to be used more int

[2020-03-16 23:09] saneera commented on #2696
@mstruk  thanks, very appreciate it, I need to know I need to configure active directory only without keycloak , is there any different way of doing that or same as you mentioned in above comments,
 my environment is like openshift with active directory implementation so I need to implement security on Kafka using active directory as OAuth server not keycloak

[2020-03-17 07:48] tsyrfa commented on #2632
Sorry for the long answer - I tested my application.
As I understood from the blog - I needed to give only one kafka broker for my application. For example, kafka-bootstrap and kafka cluster themselves choose which of kafka will respond. It is right?

[2020-03-17 07:54] rprin commented on #2646
Hi,
in the same idea, in order to provide storage for our pods we usually manually create a RBD with CEPH, then we create a persistent volume in k8s, and we reference this PV when creating a PVC with the property "volumeName":
[code]

Is there a way to achieve this with Strimzi-Operator ? I tried with selectors but it doesn't seem to work.
Otherwise do you think you could add support of "volumeNam

[2020-03-17 08:38] scholzj commented on #2646
@rprin All of these overrides are fairly complicaed and expensive to maintain. So I do not think we want to implement everything there. There is IMHO an easy workaround for you ... you can create your own PVCs before deploying the Kafka cluster and use the volumes you want to use in them. All you need to do is to keep the names of the PVCs (as described here: https://strimzi.io/docs/latest/full.ht

[2020-03-17 08:40] scholzj commented on #2632
Yes - the client connects to basically any random member of the Kafka cluster, gets the metadata and than opens (possibly many) subsequent connectios to individual brokers based on where the partiotions/replicas it wants to talk to are.

[2020-03-17 09:40] rprin commented on #2646
Thanks for answering, I already tried the workaround you propose with no success but I'll give it another try.
You're right, we could use a storageclass with ceph rbd but we never figured out how reusing a previously created dynamic volume, that's why we create them manually, but that's another story ;)

[2020-03-17 10:02] denniseffing commented on #879
Is there any word on the current situation? We also noticed that secrets are created in the Kafka cluster namespace and that we need to manually copy/sync them to the correct namespace, which is why we ultimately landed here.

[2020-03-17 10:06] mstruk commented on #2696
@saneera Kafka has support for [GSSAPI](https://kafka.apache.org/documentation/#security_sasl_kerberos) which allows you to connect your broker directly to LDAP / Active Directory store.  However, Strimzi Cluster Operator does not support configuring this mechanism through Kafka CR.

@scholzj Is there any kind of override mechanism one might use to inject config properties directly into strimzi.pr

[2020-03-17 10:09] scholzj commented on #2646
I do not have much experience with Ceph RDB - I pretty much just know that it works with Strimzi. But why do you want/need to reuse the volumes? Is it just to make sure the old PVs are not pilling up? Or does it have some business use case?

Normally, this should work fine ... by default, when you delete the Kafka CR, the PVCs should remain on the system and the PVs should be still mapped to them.

[2020-03-17 10:10] scholzj commented on #2696
@mstruk You mean to get GSSAPI working? Kerberos does not work well in any kind of containerized environments because of how it needs to deal with the tickets etc. It is not supported and there is no plan to add it.

[2020-03-17 10:16] mstruk commented on #2696
@scholzj Yes, that's what I meant.

@saneera I guess your best bet is to use Keycloak with LDAP integration as I suggested.

[2020-03-17 10:36] rprin commented on #2646
We are pretty new to kubernetes and one of our concern is the certainty to not loose data  (in case of a cluster crash for instance), or at least be able to easily retrieve it.
So a PV manually bounded to a manually created CEPH volume is the solution we found so far to be "confident".
With dynamic provisioning, if a PVC is deleted, we didn't figured out how we coud re-bound the existing ceph RBD.

[2020-03-17 10:42] scholzj commented on #2646
Ok. This might be something to look at: https://strimzi.io/docs/master/full.html#cluster-recovery_str ... it describes how to recover the cluster when all oyu have are the PVs. Maybe that can help. I do not think the storage class is in any conflict with it. You just need to make sure it is configured to retain the PVs after the PVC is deleted. Have a look at the docs section and maybe it helps to

[2020-03-17 10:52] rprin commented on #2646
Thank you for the link, I missed this chapter in the doc. We should manage to find a solution, one way or another.

[2020-03-17 11:35] scholzj commented on #2646
I think the chapter is brand new ... it is only in the master docs so far. But it is just new docs, it does not rely on any new features so it should work fine even with older versions of Strimzi.

[2020-03-17 12:36] tsyrfa commented on #2632
OK, Thanks!
I think I incorrect configure my application or kafka cluster - I gave `kafka-bootstrap` service like brocker's address and I saw that all traffic goes to only one kafka. Can you reccomend tool for debug it?

[2020-03-17 12:42] scholzj commented on #2632
It doesn't really matter that you give it just one address. It will find the rest from the brokers. You do not need to configure every single broker. I'm not aware of any debugging tools. Just use the Kafka Java client with enabled logging.

[2020-03-18 14:24] stanlyDoge opened #2714 "Get rid of generateBuilderPackage = false"
As @tombentley said, its default value is false, so we can remove it from all the models.

[2020-03-18 16:03] carlobongiovanni opened #2715 "[Bug] mm2 recreate doesn't seem to work"
**Describe the bug**
Hi, I'm playing with mm2 and on the first install of it, it worked correctly, the resources are created and all looks fine.
after that I deleted the mm2 and reinstalled it and according to the operator there is nothing to be done, but the mm2 deployment is not created anymore.

I'm using the release 0.17.0-rc2

[code]

the mm2 cluster is setup to use as source a non-strimzi ka

[2020-03-18 16:05] klalafaryan commented on #2629
@scholzj  Thanks a lot for your reply.

So we have tried two scenarios:

1. Disable TLS on the external listener in the Kafka CR and have the loadbalancer do TLS termination
**Context:** As the certificates from Strimzi are not recognised, the idea is to configure the certificates provided by AWS as annotations for the external bootstrap service. Thus disabling TLS from the external listeners and

[2020-03-18 16:45] scholzj commented on #2629
Re 1) Interesting. I'm a bit surprised that the security protocol from the server is advertised to the client. I would have expected that it will be configured from the client. But if that is the case, this will clearly not work.

Re 2) This one is a bit weird. If you set the load balancer to re-encrypt, the TLS information from Strimzi should not be seen at all by the client. I would expect that

[2020-03-18 16:50] scholzj commented on #2715
Could you share debug logs from the Cluster Operator? You can enable them by setting the environment variable `STRIMZI_LOG_LEVEL` in the cluster operator to `DEBUG`. That should tell us more.

Also, if you do the steps 3 and 4 very quickly after each other, it might sometimes take some more time to get created because of how Kubernetes garbage collection which does the deletion works.

[2020-03-18 16:52] scholzj commented on #2715
Als, if you use different versions of the Strimzi operator (or any operator) in the same cluster you need to be careful not to override the cluster wide resources (Cluster Roles / Custom Resource Definition) from the the newer version with some odler ones and make sure the ClusterRoleBindings for both versions are properly configured. These are cluster wide resources which can exist only once, so

[2020-03-18 16:53] scholzj commented on #2715
Actually, in your case the operator is listening to all namespaces ... in that case it should be always the only one in the cluster. Maybe I misunderstood and you upgraded from 0.14 to the 0.17.0-rc2?

[2020-03-18 21:54] rsolano opened #2716 "Setting max.request.size for Producer"
Similarly to #2592, I'm setting the value for `max.request.size` in the `KafkaConnect` CRD:

[code]
The log shows the correct value at first:
[code]
Until I start my [postgres connector](https://debezium.io/documentation/reference/1.1/connectors/postgresql.html) via the `REST` interface:
[code]

Is there any way to prevent `max.request.size` from being reset to the default value?

I'm using:
- Str

[2020-03-18 21:59] scholzj commented on #2716
To be honest, when looking into that case it always worked for me. So I'm not sure what could be the problem. What Strimzi does is it really just takes these values, generates a config file with them and starts Kafka Connect. The rest is up to Connect and the connectors.

[2020-03-18 21:59] scholzj commented on #2716
@tombentley You heard about any bugs like this in the Kafka Community?

[2020-03-19 05:03] rsolano commented on #2716
Thanks for the quick response @scholzj.

It turns out I just needed to set `producer.max.request.size` to ensure the producer worker picked it up.

[code]

Not sure why my consumer doesn't require a `consumer.max.request.size` counterpart, but it works.

[2020-03-19 08:40] carlobongiovanni commented on #2715
[code]

[2020-03-19 08:44] carlobongiovanni commented on #2715
yes it's the only operator installed.
the updated was done progressively: 0.14->0.15->0.16->0.17.0-rc1->0.17.0-rc2
by downloading the released helm chart from github and doing an
```helm upgrade kafka-operator . -f values.yaml -n kube-system```

[2020-03-19 09:06] tombentley commented on #2716
As I think @rsolano has realised, to configure the producer and consumer used by the kafka connect worker you have have prefix the relevant config parameters with `producer.` and `consumer.` respectively as described [here](https://kafka.apache.org/documentation/#connect_running).

[2020-03-19 09:06] #2716 closed

[2020-03-19 09:21] scholzj commented on #2716
@tombentley That is what I thought in #2592 ... but there it worked without the prefix and ignored the config when set with the prefix.

[2020-03-19 09:46] tombentley commented on #2716
@scholzj I can't explain the observations in #2592, unless the config was being overridden for that connector. The producer configs get created in `Worker#producerConfigs` certainly doesn't do anything which could explain what you saw.

[2020-03-19 11:24] scholzj commented on #2715
@carlobongiovanni If you do `kubectl get kmm2 seller-mm2-cluster -o yaml`, wat do you get? Can you share the output?

[2020-03-19 11:30] carlobongiovanni commented on #2715
this is more interesting, in the status we read `connectCluster with alias seller cannot be found in the list of clusters at spec.clusters`

[code]

[2020-03-19 11:32] scholzj commented on #2715
Yeah, this is wrong: `connectCluster: seller` ... I will have a look what should be the right value.

[2020-03-19 11:34] carlobongiovanni commented on #2715
ok I now renamed the alias of the target cluster in the mm2 resource to `seller` and now it's creating the mm2 deployment again

[2020-03-19 11:34] scholzj commented on #2715
Ok, looking at some example I used in the past, I think this should be the `targetCluster`. So you should have something like:

[code]

This besially defines the Kafka cluster to which does the underlying Kafka Connect connect as its home clustr and creates the config, offset topics etc.

[2020-03-19 11:36] scholzj commented on #2715
IIRC the MM2 is right now source connectors only. So it always has to be the target cluster. But in the future, there might be sink connectors as well. So this is a bit of a preparation.

@PaulRMellor Could you check if the docs are clear enough about what the value of the `connectCluster` field should be?

[2020-03-19 11:40] carlobongiovanni commented on #2715
and I also noticed that the value in mirrors.targetCluster which comes later in the mm2 configuration needs to also have the same value of the target cluster.. this is understandable, I probably misunderstood the docs.

[2020-03-19 11:54] carlobongiovanni commented on #2715
Thanks a lot, I now understood something more of how to debug problems with strimzi 👍

Closing because all works as expected.. but maybe would you consider of adding a more meaningful message to the operator in case a resource like mm2 can't be created? Or eventually bring the status of the mm2 resource into the output of the operator?

[2020-03-19 11:54] #2715 closed

[2020-03-19 12:21] scholzj commented on #2715
You are right ... that is why I didn't saw it right from th ebeginning. Normally we throw an exception when something goes wrong. So it is clearly visible from log. Here we don't seem to do so. It hsould throw `InvalidResourceException` or something like that.

[2020-03-19 12:39] stanlyDoge commented on #2715
I will add some reasonable logging to ensure we will see the error in the logs next time. Thanks :)

[2020-03-19 15:16] Frawless commented on #337
I think this was already implemented and could be closed.

[2020-03-19 17:20] carlosjgp commented on #2684
More news on this

As @tombentley predicted assigning 93% of the Container memory to the Heap was not a good idea
This time was K8s who killed the process
[code]

![pod-resources](https://user-images.githubusercontent.com/1277613/77095259-8cedd900-6a05-11ea-940b-c47250f6c6dd.png)

And there are no logs about the `Full GC (Allocation Failure)` (expected after seeing the CPU graph)

We will adjust t

[2020-03-19 21:39] joekohlsdorf opened #2720 "[Bug] custom nodeAffinity ineffective due to rack-aware nodeAffinity"
**Describe the bug**

In 0.16.0 a change was introduced which sets nodeAffinity when rack awareness is enabled: https://github.com/strimzi/strimzi-kafka-operator/pull/2347

When an operator sets their own node affinity to select specific nodes they end up with both rules. So far so good.
BUT, the K8s docs state the following: `If you specify multiple matchExpressions associated with nodeSelectorTe

[2020-03-19 21:41] #2699 closed

[2020-03-19 22:45] scholzj commented on #2720
Yeah, I think this is a bug. I guess when we added (it was probably me) we didn't realised that it is executed as _OR_. I guess we should instead inject it into the `matchExpressions` which is _AND_. I will have a look at it tomorrow or over the weekend and see if I can get it fixed still in 0.17.0.

[2020-03-20 15:04] ruchirvaninasdaq opened #2729 "Kafka Connector deployment error"
**Describe the bug**
I am trying to deploy the kafka connector follwing this example in my strimzi kafka cluster :
2020-03-20 14:42:04,324 INFO [AdminClient clientId={custom-client-id}] Metadata update failed (org.apache.kafka.clients.admin.internals.AdminMetadataManager) [kafka-admin-client-thread | {custom-client-id}]
org.apache.kafka.common.errors.DisconnectException: Cancelled fetchMetadata re

[2020-03-20 15:13] ruchirvaninasdaq commented on #2729
Am I missing any permission for Adminclient?

[2020-03-20 15:28] scholzj commented on #2729
I'm not sure this works:
[code]

You could also check the KAfka broker logs. I think they should be printing all the details about the denied access. However, I think this error:

[code]

suggests this is more connetivity issue. Can you share your Kafka CR as well? Are they both in the same namespace?

[2020-03-20 15:33] ruchirvaninasdaq commented on #2729
This is my kafka-persitent.yaml
[code]

[2020-03-20 15:34] ruchirvaninasdaq commented on #2729
How should I be adding permissions? if this group permission doesnt work:
[code]

[2020-03-20 15:35] ruchirvaninasdaq commented on #2729
Yes, both connector and Kafka cluster in same namespace

[2020-03-20 15:37] ruchirvaninasdaq commented on #2729
This mirror maker has worked for me in past:
https://github.com/Nasdaq/CloudDataService/blob/master/docker/mirrormaker/template/kafka-mirror-maker.yaml

[2020-03-20 15:41] scholzj commented on #2729
I think the `literal` should be a name. I'm not sure if `*` has any special handling. But it might be that it does. I do not remember exactly. The problem is following ... in your Kafka CR, you have this as listener configuration:
[code]

That means that you do not have any authentication on the plain interface which is port 9092. You also do not have any authentication configured in the Kafka Con

[2020-03-20 15:48] scholzj commented on #2729
https://github.com/Nasdaq/CloudDataService/blob/master/docker/mirrormaker/template/kafka-mirror-maker.yaml

Right ... but that connects to other port and has this config:

[code]

[2020-03-20 15:52] ruchirvaninasdaq commented on #2729
I tried connecting now over port 9093 with Oauth and SSL.

This is my kafka-connect.yaml
[code]

Still getting the same error:
[code]

[2020-03-20 15:54] scholzj commented on #2729
You have the authentication misalligned - at least here in the issue ... it should be like this:

[code]

[2020-03-20 16:00] ruchirvaninasdaq commented on #2729
Oh man!!

I wasted 3 hours on stupid thing!!!

Do you have any best practices for managing this kind of errors?

Thank you so much!!

[2020-03-20 16:04] ruchirvaninasdaq commented on #2729
Yeah, But when I shared the log , how did you found out about this misalligned?

[2020-03-20 16:05] ruchirvaninasdaq commented on #2729
But looking visually or there is something in logs you found?

[2020-03-20 16:05] scholzj commented on #2729
That would be in the log of the Cluster Operator - not in the Kafka Connect one. Here I just saw it visually.

[2020-03-20 16:06] ruchirvaninasdaq commented on #2729
Ok got it!! Thank you so much!!!

[2020-03-20 16:06] #2729 closed

[2020-03-20 19:02] Frawless commented on #337
Done by Standa in https://github.com/strimzi/strimzi-kafka-operator/pull/2563

```2020-03-20 18:59:58 WARN  AbstractModel:186 - A ZooKeeper cluster with a single replica and ephemeral storage will be in a defective state after any restart or rolling update. It is recommended that a minimum of three replicas are used```

[2020-03-20 19:04] scholzj commented on #337
And #2663 I guess.

[2020-03-20 19:04] #337 closed

[2020-03-21 00:06] scholzj commented on #2720
I opened a PR for this which should make sure the affinity looks like this:

[code]

That should resolve this.

[2020-03-21 14:10] #2720 closed

[2020-03-22 15:43] #2714 closed

[2020-03-23 07:38] daxtergithub opened #2738 "Strimzi ADFS - Status: “Invalid Token""
Hi
We are trying to configure OAuth2.0/OpenID authentication with ADFS. We have configured the ADFS CA Certificate (Self Signed) in the issuer URI and JWKS endpoint URI in the deployment script as provided by the ADFS team along with ADFS CA certificate. Finally, producer application has been able to get the token issued (Client-Credential) from the ADFS server however finally, receives exception

[2020-03-23 09:08] scholzj commented on #2738
@mstruk Any ideas? I have no clue what ADFS is and whether it is supported

[2020-03-23 18:02] mstruk commented on #2738
@daxtergithub You're probably the first to try integrating Strimzi OAuth with ADFS - just to let you know how much experience we have with it :)

Could you add after `listeners` (under `spec`.`kafka`) the following logging definition:
[code]
And share your output. It might give us some useful information on what the problem is.

[2020-03-23 20:50] scholzj opened #2743 "[Bug] Not all labels are propagated from template"
When user specifies labels in the template section, they should be propagated even when they are app.kubernetes.io labels (or at least some of them). For example in this case:

[code]

Here the {{app.kubernetes.io/part-of}} label should be propagated to indicate what application is this part of. This should not apply to any strimzi.io labels which are our own.

[2020-03-23 20:56] samuel-hawker commented on #2743
Hi Jakub, considering I implemented this originally I would be more than happy to tweak the logic to allow this label to be propagated. Were there any other kubernetes labels that you believe should be overridable?

[2020-03-23 21:02] scholzj commented on #2743
@samuel-hawker Sorry if that was the Pr I wasn't too exceited about and had it closed :-(.

TBH, I think these labels are a mess and we really need some consolidted plan how to deal with them. I think there are seevral aspects:
* Blindly inheriting the labels form the CR metadata is wrong because it apparently misleads some applications into thinking that our resources are their and they for examp

[2020-03-23 21:13] samuel-hawker commented on #2743
Don't worry there was one I closed, but I agree the labels are a mess!

Here is a PR I have for an initial clean up of the labels:
https://github.com/strimzi/strimzi-kafka-operator/pull/2730
I hope you will take a look at it and consider it as a cleaner approach.

I believe the way of setting up labels presented in the above is better and far more consistent.

I agree that inheriting the labels fr

[2020-03-24 00:05] daxtergithub commented on #2738
@mstruk  Thanks for your help, attached logs

[code]

[2020-03-24 08:06] TBBle commented on #472
Supposedly fixed by #1331

[2020-03-24 08:22] tombentley commented on #472
Thanks @TBBle, this must have slipped through the net.

[2020-03-24 08:22] #472 closed

[2020-03-24 09:46] #2264 closed

[2020-03-24 11:31] mstruk commented on #2738
@daxtergithub It appears that `auth_time` attribute in the token response does not conform to [OAuth 2.0 User Authentication and Consent For Clients Draft](https://tools.ietf.org/id/draft-hunt-oauth-v2-user-a4c-01.html) which is apparently used by the Keycloak Core library that we use for parsing the tokens.
Value is supposed to be the number of seconds since 1/1/1970 UTC - an integer. Not a strin

[2020-03-25 11:31] daxtergithub commented on #2738
Hi @mstruk
Thank you for the response and updates.
We checked with our ADFS admin team and they advised that they cannot change/influence how these attributes are encoded.
So, alternatively, we tried with AZURE Active Directory (cloud-based), and used v1 token API endpoint for JWT token. We received the JWT token which it seems doesn’t include “auth_time” attribute at all. However, now the broker

[2020-03-25 11:48] mstruk commented on #2738
Looks like the error means that the public key corresponding to the private key used for signing the access token by authorization server is not published in the configured jwksEndpointUri (in your previous log set to https://<ServerIP:Port>/adfs/discovery/keys ).

Looks like when changing to AZURE Active Directory v1 token API endpoint you also have to configure a different corresponding jwks end

[2020-03-25 14:11] scholzj commented on #156
@samuel-hawker Are you still planning to look at this?

[2020-03-25 14:46] scholzj commented on #422
Thsi wasn't seen for a long time. So it was probably fixed by some other work in TO or in Kafka. We should close this.

[2020-03-25 14:46] #422 closed

[2020-03-25 14:49] yuwtennis commented on #2400
Thank you for the advice . I will close this issue since it is solfved now.

[2020-03-25 14:49] #2400 closed

[2020-03-25 15:48] samuel-hawker commented on #156
I had got started on this but never finished it, I **may** get around to finishing it in the next few weeks but I am more than open to someone else picking this up. They are also more than free to use the above referenced commits.

[2020-03-25 22:31] #2437 closed

[2020-03-26 09:59] daxtergithub commented on #2738
Thanks for your response.
I double-checked, public key is not available at the JWKS URI endpoint. 
However, investigating further and comparing with Keycloak configuration, I noticed the similar behavior i.e. the public is not available in the JWKS endpoint. Instead, the public key which is being used to validate the token is available at Issue URI endpoint. Wondering, if it is fetching the public

[2020-03-27 08:18] mstruk commented on #2738
@daxtergithub When you configure jwksEndpointUri that's the only source of public keys that JWTSignatureValidator uses. Signed JWT access token contains `kid` in the header which identifies the key to use for the signature check.

[2020-03-27 08:19] anekdoti opened #2752 "[Question] Behaviour of Kafka (Sink) Connector when source topic does not exist"
Hello,

I would like to understand better how a KafkaConnector resource describing a SinkConnector is managed, when its source topic not yet exists. For example, it seems to be possible that this might happen when the source topic is defined by a Topic resource and a race condition occurs.
Are their attempts made to restart the connector in such cases, until the topic is present?

Thank you very m

[2020-03-27 08:57] scholzj commented on #2752
I do not think we do any restarts at present. You have to do them over the REST API.

[2020-03-27 12:25] #2743 closed

[2020-03-27 16:17] gunnarmorling opened #2757 "[Enhancement] Don't disable Kafka Connect REST API when using connector CRs"
It seems the REST API of KC isn't exposed when setting `strimzi.io/use-connector-resources: "true"`. Is there an option to still get it for read requests? I suppose people would still like to use it for getting a connector's state, verifying which connector plug-ins exist etc. Also, how can I restart a single connector without the API? Thanks for clarifying.

[2020-03-27 18:40] scholzj commented on #2757
The APi is not disabled yet because the connector operator is still missing some features such as restarting connectors. But we need to secure the REST API which is currently exposed to anyone so we will probably close it down after it is not needed. Most probably you will have a choice to use the REST APi or the connector operator. Depending on the implementation, maybe it would be possible to di

[2020-03-27 18:40] #2757 closed

[2020-03-27 21:42] gunnarmorling commented on #2757
Ok, thanks for clarifying. It's no urgent need for me personally; but I'd expect users to come up with these questions if they cannot use the REST API:

* How to list all available connector plug-ins?
* How to pause/resume/restart a connector or task?
* How to get the current connector status?

[2020-03-27 22:21] scholzj commented on #2757
Operators are always a bit opinionated. In the same way we offer limited options in some areas when deploying Kafka clusters in order to make it easy and reliable. So at some points the users might need to make some choices whether they want more freedom (and will use Connect rhough the REST API) or whether they want to use the Connector Operator.

But as I said, right now we really just needed to

[2020-03-28 09:30] gunnarmorling commented on #2757
Thanks for the pointer ot the status and options of the resource. Seems like almost everything is covered there.

It might be nice perhaps to have some sort of cheat sheet which gives an overview of the mapping of REST API calls to corresponding status/option of CRs. This would be useful for users migrating from API to Strimzi CRs.

On restarting, so it seems we're converging on a connector per KC

[2020-03-29 04:58] elisiano opened #2761 "[Question] Standalone topic operator with AWS MSK (TLS error)"
I stood up a standalone topic operator following the docs (latest 0.17.0) and I'm trying to have it communicate with an MSK cluster.

The MSK cluster is configured to allow only TLS connections to the brokers.

If I just set `STRIMZI_TLS_ENABLED` to true, the startup scripts fail because it expects the certificates in the tls-sidecar path, but those directories do not exist (there is no side car r

[2020-03-29 15:25] scholzj commented on #2761
I think the Topic Operator currently expects that you will either have no encryption or TLS encryption and authentication. I do not think it can do anything in between. So you need to specify the following options:
* `STRIMZI_TRUSTSTORE_LOCATION`
* `STRIMZI_TRUSTSTORE_PASSWORD`
* `STRIMZI_KEYSTORE_LOCATION`
* `STRIMZI_KEYSTORE_PASSWORD`

@ppatierno I think you were looking into it recently - can y

[2020-03-30 07:11] ppatierno commented on #2761
Yes exactly. Currently, the topic operator doesn't allow you to specify just the truststore for the TLS encryption. It needs the keystore as well for TLS client authentication, this is why the above error not able to load a Keystore which is actually, in your case, an empty path (not specifying the `STRIMZI_KEYSTORE_LOCATION`). Anyway, I can see this as a potential use case because for the work I

[2020-03-30 07:22] ppatierno commented on #2757
@gunnarmorling maybe not the pause/resume feature but a good example on how using the connectors is in the blog post https://strimzi.io/2020/01/27/deploying-debezium-with-kafkaconnector-resource.html

[2020-03-30 11:54] elisiano commented on #2761
so would it work if I have an init container doing the setup of an empty keystore and use that? Or does it actually expect to do TLS client auth?

[2020-03-30 12:33] scholzj commented on #2761
I'm not sure what exactly would _empty keystore_ be. But at the end you would need to try it out since I do not think anyone from us ever tried this. So we have no idea how it would or wouldn't work. You could also ask on our Slack. I think there are some users using it with MSK. But I'm not sure if they use different config or something because they never reported anything.

[2020-03-30 15:27] trinadsz commented on #2761
@ ppatierno - We have similar requirement. We want to enable TLD encryption but authentication is sass plaintext. We want sasl plaintext authentication and TLC encryption. What looked promising for authentication is below property adminClientProps.setProperty(AdminClientConfig.SECURITY_PROTOCOL_CONFIG, "SSL");
If we change it to adminClientProps.setProperty(AdminClientConfig.SECURITY_PROTOCOL_CONF

[2020-03-30 15:53] ppatierno commented on #2761
@trinadsz the possible values for the security protocol are PLAINTEXT, SSL, SASL_PLAINTEXT, SASL_SSL but anyway it's not possible in the current topic operator.
Right now the only thing you can do is disable TLS at all with STRIMZI_TLS_ENABLED = false and passing a STRIMZI_KAFKA_BOOTSTRAP_SERVERS to Kafka plain bootstrap  (i.e. 9092) without any TLS or authentication.
Allowing TLS but not TLS clie

[2020-03-30 16:10] trinadsz commented on #2761
@ppatierno  - Thank you for your prompt reply. Appreciate it.

[2020-03-30 19:26] tsyrfa opened #2764 "[Question] Prometheus metrics from zookeeper"
Hello!

I want to get indicators from kafka and the zoo to prometheus. As written in https://strimzi.io/docs/master/#assembly-metrics-setup-str, I added the `metrics' parameters for kafka and zookeeper in the cluster and created an exporter.
If I connect to the exporter, I see only Kafka indicators
[Metrics.log] (https://github.com/strimzi/strimzi-kafka-operator/files/4404998/metrics.log)
What cou

[2020-03-31 00:04] scholzj commented on #2764
Each component exposes its own metrics on its own Prometheus endpoint. The Kafka Exporter is there to provide additional metrics - not to collect the metrics from Kafka and Zookeeper. It provides metrics which Kafka it self does not offer such as consumer lag, information about consumer offsets and partition offsets etc.

To get the metrics from Kafka and Zookeeper them self, you need to scrape th

[2020-03-31 09:55] uocxp opened #2765 "[Bug] Endpoint /apis/kafka.strimzi.io/v1beta1/namespaces not found"
**Describe the bug**

Reconciliation is failing with this error
[code]
when I curl the endpoint ` /apis/kafka.strimzi.io/v1beta1/` i get:
https://paste.ubuntu.com/p/YDVK6hKfYv/

**Question**
Is there actually any prerequisite concerning the Kubernetes version? Since i am not finding in the documentation any hint about the required Kubernetes version.

**To Reproduce**
[code]

**Environment (please

[2020-03-31 10:42] scholzj commented on #2765
Strimzi 0.17.0 does not support OpenShift 3.9. It supports Kubernetes 1.11 and higher and OpenShift 3.11 and higher. I think that is why you get the error - with the PUT request, the operator is trying to update the status of the custom resource, but the status subresource is not supported by OpenShift 3.9.

I think 0.11 was the last version which supported OpenShfit 3.9.

[2020-03-31 10:42] #2765 closed

[2020-03-31 10:45] saneera commented on #2738
Hi @mstruk
Thanks for the response,
We have double checked the Token Header and the matched the “kid” value in the JWKS endpoint URI, and the “kid” value is present there. Still token validation failing with the same exception above.

**JWKS endpoint URI details snapshot:**

[code]

**JWT Token Header:**

[code]

[2020-03-31 11:40] tsyrfa commented on #2764
Yes, it helps - I found zookeeper service with port 9404, and kafka service.
Thanks!

[2020-03-31 12:11] mstruk commented on #2738
@saneera Could you share more of the Kafka Broker log, especially any logging by `io.strimzi.kafka.oauth.validator.JWTSignatureValidator` logger?

The following line means that the keys should have been refreshed already but weren't:
[code]
This can happen if there is a connectivity issue, but you should see the failed attempt as exception in the log. Something like:
[code]

When Kafka Broker is s

[2020-03-31 15:11] scholzj commented on #2764
Great. I will close this issue then. Feel free to open a new one or comment on this one if you have anything more.

[2020-03-31 15:11] #2764 closed

[2020-03-31 16:15] canberkkoc commented on #129
Hi,

I tried the zoo entrance deployment with cluster-operator, it could not find entity operator cert what should i do to bypass this problem ?

[2020-03-31 16:35] canberkkoc commented on #129
I figure out what i've done wrong. I did not define the empty entity operator at deployment so when i make definition it solved my problem .

[2020-04-01 08:14] amalemail2021 opened #2769 "Strimzi keycloak OAuth 2.0 authorization"
I am using strimzi 0.16.2 release and have configured OAuth2 authentication with Keycloak. Now we are trying to configure the authorization part. Does Strimzi image support Keycloak authorization for role-based access e.g. allowing access to Kafka resources based on permissions e.g. Read, Write etc. I am trying to configure KafkaAuthorizationKeycloak in the broker specification, it’s throwing erro

[2020-04-01 08:45] eosantigen opened #2770 "Deployed through repo, Connection Reset by peer when connecting to ZK"
**Describe the bug**
I followed the steps below and **deployment.apps/strimzi-topic-operator** gets stuck at establishing a connection to ZK .

The error;

[code]

**To Reproduce**
1. Downloaded version (currently) 0.14.0 from official Strimzi Github repository through Releases. (a zip).
2. `sed -i 's/namespace: .*/namespace: kafka-operator/' install/cluster-operator/*RoleBinding*.yaml`
3. kubectl

[2020-04-01 08:53] scholzj commented on #2769
@mstruk please confirm. But I think the Keycloak Authroization is supported only from Strimzi 0.17.0. I do not htink it was present in 0.16.

When you use the _user friendly_ names (I believe that would be the service accounts in Keycloak terms) you can use OAuth authentication with the Simple Authorizer and manage the ACL rules using the User Operator. Without the _user friendly_ names it might b

[2020-04-01 09:00] scholzj commented on #2770
I'm not sure I fully understand the steps to reproduce and what exactly are you trying to do.

Are you trying to deploy the TOpic Operator on its own and use it with your own Kafka cluster? In that case you need to use the files from `install/topic-operator` and configure it to connect to your Zookeeper and Kafka.

Or are you trying to use it with Kafka cluster deployed by Strimzi? In that case yo

[2020-04-01 09:05] eosantigen commented on #2770
Thank you for replying. Yes, I have deployed the files from install/topic-operator and configured it to connect to my kafka-Zk cluster. (which also has been deployed by the Strimzi official manifests.) . However, kafka cannot connect to ZK anyways. _Connection reset by peer._ What am I missing..?

[2020-04-01 09:22] scholzj commented on #2770
So as for the topic operator, to use it with Strimzi cluster you have to deploy it through the Kafka custom resource. The standalone install from `install/topic-operator` is for using it with your own Kafka cluster. To use that with Stirmzi cluster you would need to deal witht he security setup etc. So just deploy it from the Kafka custom resource and it should be deployed and configured for you (

[2020-04-01 09:32] eosantigen commented on #2770
I see !!! However, would it be able , through pod to pod, to connect from a custom microservice pod (in another namespace) to the Kafka cluster by specifying the bootstrap svc names and ports? as `kafka-operator-kafka-bootstrap:9092` ? _(Many Thanks!)_

[2020-04-01 09:32] daxtergithub commented on #2738
@mstruk   Thanks for your reply
we have re-run the application again, however, we still get the same error, I attached the logs file generated on the cluster from the beginning and I didn't notice any error when cluster starting

[code]
And also can you provide me the direction on how to configure following properties
[code]

Thanks again

[2020-04-01 09:46] #2770 closed

[2020-04-01 09:55] mstruk commented on #2769
Correct, it was added to strimzi-kafka-oauth 0.3.0 which is first available in Strimzi Kafka Operator 0.17.0

Keycloak uses `preferred_username` claim inside JWT token to communicate the account name - username or service account name. In order to have _friendly_ names all you have to do is use the following in the Kafka CR definition for oauth authentication. For example:
[code]
You can find the

[2020-04-01 10:20] mstruk commented on #2738
I suggest that you try using the latest version of Strimzi that was just released - 0.17.0.

To configure different values for keys refresh period and expiry period you'd have to use Kafka CR as [documented here](https://strimzi.io/docs/latest/#proc-oauth-authentication-broker-config-str).

For example, assuming you've configured OAuth support on external listener it would look something like:
[co

[2020-04-01 16:42] beavenj opened #2772 "[Enhancement] Support configurable cipher suites for KafkaConnect"
**Is your feature request related to a problem? Please describe.**
We need to be able to select which cipher suites KafkaConnect supports in order to ensure consistency with changes outlined in issue #2643 for Kafka itself.

**Describe the solution you'd like**
In a similar manner to issue #2643, allow the ssl.cipher.suites to be specified in the KafkaConnectSpec portion of a KafkaConnect definiti

[2020-04-01 16:48] beavenj opened #2774 "[Enhancement] Support configurable cipher suites for MirrorMaker"
**Is your feature request related to a problem? Please describe.**
We need to be able to select which cipher suites MirrorMaker supports in order to ensure consistency with changes outlined in issue #2643 for Kafka itself. Similar support would be possible for MirrorMaker2 by adding the same environmental variables via the yaml definition.

**Describe the solution you'd like**
In a similar manner

[2020-04-01 16:49] beavenj commented on #2643
Note, I have raised issues #2772 and #2774 to cover similar changes to KafkaConnect and MirrorMaker respectively.

[2020-04-01 18:44] auswells commented on #2629
I've been experimenting using AWS Certificates as well with strimzi-kafka-operator helm chart version 0.16.2 installed.

Here's an example of my kafka spec that uses an AWS Cert on the external listener:
[code]
This allows my external clients to connect to my strimzi kafka cluster, however one issue I noticed is that advertised-hostnames.config is automatically populated with the loadbalancer DNS

[2020-04-01 18:45] MrFishFinger opened #2775 "[Question] Is it possible to stop the Strimzi Topic operator from deleting kafka topics when reconciling?"
The reason we ask, is because when we restore a kakfa backup, the strimzi operator deletes the topics contained in the restore, that do not match those stored as KafkaTopic CRD objects!

We are using this strategy to **backup** our cluster:
1. scale down all components of strimzi (zookeeper/broker/operator)
2. backup contents of zookeeper/broker PVCs at the filesystem level
3. scale back up strimz

[2020-04-01 18:51] scholzj commented on #2775
There is a section in the documentation dedicated to restoring a cluster from PVs only: https://strimzi.io/docs/latest/full.html#cluster-recovery_str ... please have a look if you haven't seen it yet. It should explain most of the details on how to do it to not have the topics deleted.

You can also configure your Kafka cluster to never delete topics, that would help as well.

[2020-04-01 19:10] scholzj commented on #2629
We do not really read the DNS annotation (since we do not really want to have to care about all the different applications which do the processing in the same way as External DNS does). So we just pass it over. But you can use this to override the dvertised hostnames:

[code]

(see https://strimzi.io/docs/latest/full.html#con-kafka-broker-external-listeners-addresses-deployment-configuration-kafka

[2020-04-01 19:40] auswells commented on #2629
@scholzj Thanks! That worked.

[2020-04-01 19:55] scholzj commented on #2629
So, I guess we can close this issue?

BTW: If you would be interested, I think this could be a very nice topic for a short blog post on the Strimzi website ;-)

[2020-04-01 20:10] #542 closed

[2020-04-01 20:19] auswells commented on #2629
I'll let the OP respond regarding closing the ticket and if all is well I don't mind writing something up.

[2020-04-02 08:23] tombentley opened #2779 "[Enhancement] CrdGenerator validate @JsonPropertyOrder"
Can we improve the `CrdGenerator` to:

1. validate that the `@JsonPropertyOrder` is present
2. validate that the properties given are all properties of the class
3. validate that no properties of the class (including inherited properties) are missing

[2020-04-02 10:29] klalafaryan commented on #2629
@auswells  Thanks for your input.

I have tried with following configuration and it works. Thanks!

[code]

Currently, for 3 brokers cluster we have 4 load balancers.  (for each broker separate LB and one for external bootstrap)
Do you know if we can achieve to the same result with kubernetes ingress ?

BTW: I like the idea about the blog post.

[2020-04-02 11:48] samuel-hawker commented on #2779
@tombentley this is a great idea.

A question of implementation, would you want this to fail a build if any of the above validations fail, or print them out as warnings?
I am guessing the prior, but just thought it might be useful to clarify in this issue.

[2020-04-02 12:00] tombentley commented on #2779
Fail the build. People usually overlook warnings.

[2020-04-02 12:16] klalafaryan commented on #2629
And one more question about the `kafka connect`:

As soon as I activate TLS encryption for my kafka brokers, I need to pass `security.protocol", "SASL_SSL"` to my `kafka-connect`. And from documentation I can see following:

[code]
Any suggestions ?

Thanks.

[2020-04-02 14:07] scholzj commented on #2629
Do you know if we can achieve to the same result with kubernetes ingress ?

You mean to use Ingress in general? Or to use 4 loadbalancers with Ingress?

You have to configure it from the `authentication` and `tls` sections. Based on thsoe, the operator sets the right value in the configuration:
* https://strimzi.io/docs/latest/full.html#assembly-kafka-connect-tls-deployment-configuration-kafka-con

[2020-04-02 15:01] MrFishFinger commented on #2775
hi @scholzj , thanks for the pointer to that documentation, that was very useful!

For our needs, I adapted our restore process to ensure that the existing KafkaObjects are deleted before restoring, as well as deleting the "/strimzi" path in zookeeper before the operators start up.

see below for our updated restore process:

1. scale down all components of strimzi (statefulsets/deployments)
2. wi

[2020-04-02 15:01] #2775 closed

[2020-04-02 21:56] klalafaryan commented on #2629
@scholzj  Thanks for your quick reply.

Yes, in general. I would prefer to use Ingress instead of LoadBalancer, because it is cheaper than AWS ELB. So basically whatever was mentioned before with LB configuration( with AWS certificates), I would like to achieve the same result with ingress.

I have checked the documentation and still I couldn't find a way to do it. What I understood is if I have m

[2020-04-02 22:33] scholzj commented on #2629
TBH, I'm not sure how that would work. Have you tried it? The problem with Ingress is that it by default supports HTTP traffic. And Kafka is not HTTP Traffic. So we need to use TLS passthrough on the Ingress level. But you anyway do not want tLS termination in Ingress but in the ELB which Ingress is using, right? In whihc case something like this might be possible:

[code]

But I never tried it. H

[2020-04-03 16:26] #2684 closed

[2020-04-04 18:05] scholzj commented on #2683
@katheris I was looking into this today but I cannot see the issue.

* If you do not configure anything, the pod will be automatically assigned its service account secret by Kubernetes
* If you configure `STRIMZI_IMAGE_PULL_SECRETS`, it will be used for all images deployed by the operator.
* if you configure `template.pod.imagePullSecrets` in the custom resource for one of the pods, it will be use

[2020-04-04 21:24] elisiano commented on #2761
Just for whoever stumbles upon this, I was able to make this work without modifications (ie: with MSK using TLS but not client cert auth).
I patched the deployment (we use kustomize) to add an init container that creates the trust/key store (we don't have any private key so we point both variables to the same store, but it could be separate I guess, I haven't tested that).
Both the init container

[2020-04-04 21:24] #2761 closed

[2020-04-04 22:54] scholzj commented on #2761
Thanks for the update. Glad you made it work at the end.

[2020-04-05 04:48] sneerin opened #2786 "[Question] Installation RBAC issues kuberentes 1.16"
**Describe the bug**
```kubectl apply -f ./strimzi-cluster-operator-0.17.0.yaml```

[code]
kuberentes 1.16 self hosted

[2020-04-05 12:40] scholzj commented on #2786
Hi @sneerin

Have you changed the namespace in the ClusterRoleBindings as described in the installation instructions?

Please have a look here:
* https://strimzi.io/docs/latest/full.html#deploying-cluster-operator-str
or here:
* https://strimzi.io/quickstarts/minikube/

[2020-04-05 16:49] sudhirtataraju commented on #2269
@agrajm Could you please tell in your step4 how the command:` kubectl cp ./setup_ssl.sh "kafkaclient-$i:/opt/kafka/setup_ssl.sh" `  worked? because I am getting permission denied! inside pod no edit access to files inside `/opt/kafka `only view access got in `0.14.0 operator` & `kafka 2.3 version`. so wondering how it worked and even though copied how the command

` kubectl exec -it "kafkaclient-$

[2020-04-05 22:32] scholzj commented on #2752
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:32] #2752 closed

[2020-04-05 22:33] scholzj commented on #2769
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:33] #2769 closed

[2020-04-05 22:34] scholzj commented on #2696
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:34] #2696 closed

[2020-04-05 22:34] scholzj commented on #2691
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:34] #2691 closed

[2020-04-05 22:34] scholzj commented on #2690
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:34] #2690 closed

[2020-04-05 22:35] scholzj commented on #2646
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:35] #2646 closed

[2020-04-05 22:37] scholzj commented on #2551
@zeemba I'm sorry nobody got to this since February. Is this problem still valid? Or did you managed to solve it?

[2020-04-05 22:38] scholzj commented on #2435
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:38] #2435 closed

[2020-04-05 22:38] scholzj commented on #2416
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:38] #2416 closed

[2020-04-05 22:39] scholzj commented on #2307
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:39] #2307 closed

[2020-04-05 22:39] scholzj commented on #2289
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:39] #2289 closed

[2020-04-05 22:39] scholzj commented on #2251
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:39] #2251 closed

[2020-04-05 22:39] scholzj commented on #2221
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:39] #2221 closed

[2020-04-05 22:39] scholzj commented on #2197
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:39] #2197 closed

[2020-04-05 22:40] scholzj commented on #2145
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:40] #2145 closed

[2020-04-05 22:40] scholzj commented on #2142
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:40] #2142 closed

[2020-04-05 22:40] scholzj commented on #2697
@ppatierno @stanlyDoge ping

[2020-04-05 22:42] scholzj commented on #1593
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

BTW: The process of recovering cluster from PVs or PVCs is now also described in the docs: https://strimzi.io/docs/latest/full.html#cluster-recovery_str

[2020-04-05 22:42] #1593 closed

[2020-04-05 22:43] scholzj commented on #1639
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:43] #1639 closed

[2020-04-05 22:43] scholzj commented on #1642
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:43] #1642 closed

[2020-04-05 22:43] scholzj commented on #1929
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:43] #1929 closed

[2020-04-05 22:43] scholzj commented on #1934
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:43] #1934 closed

[2020-04-05 22:43] scholzj commented on #2000
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:43] #2000 closed

[2020-04-05 22:44] scholzj commented on #2012
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:44] #2012 closed

[2020-04-05 22:44] scholzj commented on #2071
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:44] #2071 closed

[2020-04-05 22:44] scholzj commented on #2700
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:44] #2700 closed

[2020-04-05 22:44] scholzj commented on #2656
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:44] #2656 closed

[2020-04-05 22:45] scholzj commented on #2627
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:45] #2627 closed

[2020-04-05 22:46] scholzj commented on #2609
@dalelane I assume we can now close this?

[2020-04-05 22:46] #2609 closed

[2020-04-05 22:46] scholzj commented on #2561
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:46] #2561 closed

[2020-04-05 22:47] scholzj commented on #2559
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:47] #2559 closed

[2020-04-05 22:48] scholzj commented on #2449
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:48] #2449 closed

[2020-04-05 22:49] scholzj commented on #2370
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:49] #2370 closed

[2020-04-05 22:50] scholzj commented on #2327
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:50] #2327 closed

[2020-04-05 22:50] scholzj commented on #2318
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:50] #2318 closed

[2020-04-05 22:50] scholzj commented on #2285
This has ben done and released in 0.17.0.

[2020-04-05 22:50] #2285 closed

[2020-04-05 22:52] scholzj commented on #2252
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:52] #2252 closed

[2020-04-05 22:53] scholzj commented on #2280
I will close this since there was no update for more than 10 days. If you have something more feel free to open a new issue, reopen this one or get in touch with us on Slack or mailing list.

[2020-04-05 22:53] #2280 closed

[2020-04-05 22:58] scholzj commented on #2046
Strimzi doesn't use Cluster Roles because of cluster-wide access. In order to run Kafka reliably, some features such as rackawareness require us to read AZs from node labels. Since nodes are cluster wide resource, we need ClusterRole and ClusterRoleBinding to be able to use it. Similarly, for exosing Kafka cluster using node ports, we need to be able to read the nodes as well.

So basically, the d

[2020-04-05 22:58] #2046 closed

[2020-04-05 22:59] scholzj commented on #1994
@im-konge @tombentley Is this still valid? Or has it been solved?

[2020-04-05 23:02] scholzj commented on #1831
This should be now fixed by OPenShift.

[2020-04-05 23:02] #1831 closed

[2020-04-05 23:03] scholzj commented on #1719
Fixed in #2037

[2020-04-05 23:03] #1719 closed

[2020-04-06 01:32] weichuliu commented on #2251
Just want to thank you for your kind help.

We worked out this issue by mounting /tmp to the instance.

[2020-04-06 01:39] hguerrero opened #2788 "[Enhancement] Add the correct labels and annotations for better visualization"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I would like to have labels created for the zookeeper, kafka and operator deployments as well as annotations so I can use visualization tools for better grouping.

**Describe the solution you'd like**
A clear and concise description of what

[2020-04-06 06:07] ppatierno commented on #2788
So actually, the 0.17.0 release already has:

`app.kubernetes.io/instance`
`app.kubernetes.io/managed-by`
`app.kubernetes.io/name`

the `app.kubernetes.io/part-of` is in the master branch so it will be available in the next release.
Regarding the more specific `app.openshift.io/connects-to` it was mentioned here by @scholzj but it's not added but we agree that it could be a useful one.

[2020-04-06 07:06] im-konge commented on #1994
@scholzj this should be solved

[2020-04-06 07:23] #1994 closed

[2020-04-06 08:03] samuel-hawker commented on #2788
Agreed with @ppatierno
Though I might add `app.openshift.io/connects-to` is optional and would only need to be around if a user wanted to opt-in, and if this is the case, adding it to the `metadata.labels` of your `Kafka` custom resource should apply to all Strimzi resources the same label
https://github.com/strimzi/strimzi-kafka-operator/blob/1a2d6783dffe4db3931663cb4464e37a666f8a2f/operator-comm

[2020-04-06 08:08] scholzj commented on #2788
I think the question is if `app.openshift.io/connects-to` should be set automatically for Kafka -> Zoo and EO -> Kafka & Zoo.

[2020-04-06 08:11] samuel-hawker commented on #2788
Apologies that makes a lot more sense, agreed this looks like a great improvement.
The `app.kubernetes.io/name` labels are now `kafka` and `zookeeper` so it should just be a case of adding the above mentioned label. :)

[2020-04-06 08:34] hguerrero commented on #2788
What about `app.openshift.io/runtime`? I understand it will display the runtime logo in the future?

[2020-04-06 08:40] katheris commented on #2683
Ah it was option 5 that I was missing! Setting `template.pod.imagePullSecrets` to an empty array does the trick. I'll close the bug.

[2020-04-06 08:40] #2683 closed

[2020-04-06 09:10] klalafaryan commented on #2629
I have tried to use external bootstrap DNS ($KAFKA_EXTERNAL_BOOTSTRAP_DNS:9094) to connect to kafka from kafka-connect, and it works fine with:

[code]
As my kafka brokers and kafka connect running on the same cluster, I would prefer to use TLS listener (9093) to connect to broker, but I am getting exception.

**_Kafka configuration:_**

[code]

**_Kafka-connect configuration:_**

[code]

And I am

[2020-04-06 09:12] scholzj commented on #2788
So what runtime do we use in your opinion? I think it would be nice if you would be able to specify your own icon. But apart from that since we do not have any actual runtime to share I'm not sure it makes sense.

[2020-04-06 09:17] scholzj commented on #2629
Well, when you use in Connect the internal listener with port 9093, you do not go through the AWS certificates anymore. So the `trustedCertificates: []` is not enough enymore. You would need to use the Strimzi certificate:

[code]

---

The overrides apply only to the external listener. They do not affect the other listeners.

[2020-04-06 09:26] ppatierno commented on #2788
I agree about the icon and it seems that the `runtime` label is related to that. From the Hugo linked page, I read:

Icons in the node are defined by looking for matching icons using the app.openshift.io/runtime label, followed by the app.kubernetes.io/name label. This matching is done using a predefined set of icons.

my question is, where is this predefined set of icons?

[2020-04-06 10:06] stanlyDoge commented on #2697
If you want to scrape metrics directly from the pods, so you can use `role: pod`, cannot you?

[2020-04-06 10:17] scholzj commented on #2697
I think the problem is that Strimzi does not live alone in the cluster. And as far as I understood it, the annotations which are there out of the box lead to the metrics being scrapedregardless whether you want or not - for example by wrong Prometheus instance.

[2020-04-06 10:21] klalafaryan commented on #2629
ok thanks, with the cluster certificate now it works. I am just wondering how certificate renewal is done ?  I am not sure also I can find much in the documentation.

One more question, Is it possible to use `java-consumer` application with the same certificate (without AWS) ? If yes, how the renewal of the certificate should be handled ?

[2020-04-06 10:29] stanlyDoge commented on #2697
So you think we should use different (non prometheus) annotations to make it work for us? It should be just matter of changing these "selectors" https://github.com/strimzi/strimzi-kafka-operator/blob/d218ab79e93c88db5cb12b3ccb232671f32b66ed/examples/metrics/prometheus-additional-properties/prometheus-additional.yaml#L183

[2020-04-06 10:50] scholzj commented on #2697
Maybe ... TBH I do not completely know what the options are. Isn't the `ServiceMonitor` or the `PodMonitor` already configuring how our metrics are scraped in our Prometheus deployment?

[2020-04-06 11:11] stanlyDoge commented on #2697
It seems `kubernetes-services` could be transformed from additional properties to `ServiceMonitor`.

[2020-04-06 11:17] hguerrero commented on #2788
I'm using this [list](https://github.com/openshift/console/blob/master/frontend/public/components/catalog/catalog-item-icon.tsx) and it works for other runtimes. This team mentioned there will be one for Kafka in the near future.

[2020-04-06 11:26] scholzj commented on #2629
The certificates are automatically renewed. More about it should be int he docs here: https://strimzi.io/docs/latest/full.html#con-certificate-renewal-str

Yes, you can use the certificates with it. Here are some YAML files showing how to do it: https://github.com/strimzi/client-examples/tree/master/java/kafka

In the renewal, the pods will probably need to be restarted to reload new certificate.

[2020-04-06 14:00] klalafaryan commented on #2629
@scholzj  Thanks a lot for more details.

1. My understanding is that if I read the P12 certificate from the secret, this will be loaded only once when I start my java application. (in the very beginning)
But as soon as my certificate will expire, my application will not be healthy (will not be able to produce/consume), and I have to manually restart it.
Can you please elaborate more ?

2. And one

[2020-04-06 14:16] ppatierno commented on #2788
But we want to distinguish between Strimzi and Kafka and ZKs.
I would have Strimzi icon for CO and EO, Kafka icons on Kafka pods and finally ZK icon on ZK nodes.

[2020-04-06 15:37] jeffmontagna opened #2791 "[Question] Disable rolling of cluster on operator version update"
Is there a way to disable the automatic rolling of a cluster after the the operator is updated to a new version?

[2020-04-06 18:06] pashafirdous opened #2793 "[Failed to parse default container image configuration for Kafka from environment variable "STRIMZI_KAFKA_IMAGES"]"
I'm trying to deploy Strimzi  with helm, but i'm trying to separate the values.yaml references from the files in template.
when i run the **050-Deployment-strimzi-cluster-operator.yaml** file, i get error '
[code]

in the yaml file i'm passing the env as
[code]

i'm not able to deploy the kafka-operator file, need asssitance

### **steps taken**
create **CRB**
`kubectl create clusterrolebinding st

[2020-04-06 18:11] scholzj commented on #2793
The valud needs to contain an image for every Kafka version the release supports. In your case, it is missing image for version 2.4.0. It needs to look something like this:

[code]

(see https://github.com/strimzi/strimzi-kafka-operator/blob/a5a3089d1dfd7d0341e335944e14ba38c2a2f857/install/cluster-operator/050-Deployment-strimzi-cluster-operator.yaml#L42)

What does _separate the values.yaml refer

[2020-04-06 18:31] pashafirdous commented on #2793
hello,
thanks for quick response.

i guess the error fixed and i got another error
[code]

i am not able to find the map it is referring to.

please help!

[2020-04-06 18:34] scholzj commented on #2793
I would need to see the full YAML to find out hat the problem is. But in general as I said before - the env vars should be as in this file: https://github.com/strimzi/strimzi-kafka-operator/blob/a5a3089d1dfd7d0341e335944e14ba38c2a2f857/install/cluster-operator/050-Deployment-strimzi-cluster-operator.yaml or as if you would installed the original Helm Chart. And it looks like right now you are miss

[2020-04-06 18:37] pashafirdous commented on #2793
my file is below.

[code]

[2020-04-06 18:41] scholzj commented on #2793
Ok, so it looks like you are not editing the Helm Chart for the latest version. But you need to:
* Make sure all the vairables in the original one are defined
* In the maps you need to keep the original versions listed
* Linking to the `strimzi/operator:lates` image gives you the latest master build. That supports only Kafka 2.4.0 and 2.3.1 at this point. So these need to be in the maps. any other

[2020-04-06 18:57] pashafirdous commented on #2793
thanks Jakub.!!
i used the file referred by you, but i see there is new error now.

i am running the code in GKE, not openshift.

the code is failing in GKE. any guesses??
[code]

[2020-04-06 18:59] scholzj commented on #2793
Yeah:
* the HTTP 404 would mean you do not have the Custom Resource Definition files installed.
* the HTTP 403 means thet you didn't installed al lthe RBAC files (Clusterroles, RoleBindings, ClusterRoleBindings etc.)

[2020-04-06 19:32] KamalAman commented on #1206
Wonderful proposal! This is precisely the we are looking for a multi-tenant architecture. Now, 15 months later, I really hope this gets implemented.

[2020-04-06 19:55] pashafirdous commented on #2793
yes i guess, but still i am getting below.

[code]

[2020-04-06 20:01] scholzj commented on #2793
You configured the cluster operator to watch the whole namespace. But you seem to be still missing some ClusterRoleBindings for it. To watch the whole cluster, you need to change all RoleBndings to ClusterRoleBindings. So you should check that. More details about how to deploy the RBACs to watch the whole cluster can be found here: https://strimzi.io/docs/latest/full.html#deploying-cluster-operato

[2020-04-06 20:22] kyguy opened #2794 "[Enhancement] Refactor tls_prepare_certificates.sh scripts into one file"
**Is your feature request related to a problem? Please describe.**
We currently have three tls_prepare_certificates.sh scripts [1] [2] [3] which have similar functionality and could probably be neatly reduced to one file.

**Describe the solution you'd like**
Condense these  tls_prepare_certificates.sh scripts [1] [2] [3] into one script.

**Additional context**
[1] https://github.com/strimzi/stri

[2020-04-07 00:11] agrajm commented on #2269
@sudhirtataraju it sounds like permissions issue with the user you are trying to run this copy command with? Are you using a managed cluster(AKS, GKE, EKS) or something else. Can you try this with Kind or Minikube? I tried with AKS and a more detailed post is [here](https://medium.com/swlh/running-kafka-on-azure-kubernetes-service-d8d6882ade8)

[2020-04-07 18:30] armisz commented on #2546
The use case sounds very common. It would be handy to have it as an optional built in feature inside Strimzi. How do you feel about it @ajborley, @scholzj, @thpham  ?

[2020-04-08 08:44] #2643 closed

[2020-04-08 09:22] daxtergithub opened #2804 "Monitoring strimzi kafka cluster"
Hi

We are running a small stress test for the kafka. We have 3 node broker cluster with 3 partitions and replica set to 3. Is there a way we can validate the Kafka statistics i.e.:
1)   No. of messages (Count) published to the broker
2)   A message published to broker
This is to ensure that all the messages published from the producer have been successfully received by Kafka broker without any da

[2020-04-08 10:15] scholzj commented on #2804
TBH, I guess this is more Kafka than Strimzi question. I guess yuo could check the last offsets in the topic which should correspond to the messages roughly. But I think the only way to be really sure is to check with a consumer which verifies all the messages.

[2020-04-08 14:06] scholzj commented on #2793
@pashafirdous Did you managed to solve it?

[2020-04-08 14:07] scholzj commented on #2786
Did this help @sneerin?

[2020-04-08 14:11] scholzj opened #2806 "Make it possible to dynamically configure the Log4j configuration in Kafka brokers"
Since Kafka 2.4, there is an API for dynamically configuring log levels of loggers in Kafka brokers. This is delivered by [KIP-412](https://cwiki.apache.org/confluence/display/KAFKA/KIP-412%3A+Extend+Admin+API+to+support+dynamic+application+log+levels). We should make some use of it.

[2020-04-08 14:11] scholzj opened #2807 "Make it possible to dynamically configure the Log4j logging configuration in Kafka Connect"
Since Kafka 2.4 log levels in Kafka Connect can be configured dynamically over the REST API. Tis is done by [KIP-495](https://cwiki.apache.org/confluence/display/KAFKA/KIP-495%3A+Dynamically+Adjust+Log+Levels+in+Connect). We should make use of it to let users dynamically change log levels for Kafka Connect and possibly also for Kafka Mirror Maker 2.

[2020-04-08 14:11] scholzj opened #2808 "Make it possible to dynamically change the log levels in UO and TO"
We should make it possible to dynamically change the log levels for TO and UO. Since they are using Log4j2, that might be easier than with Kafka components.

Would enabling auto-reloading the logging config map using https://logging.apache.org/log4j/1.2/faq.html#a3.6 be enough? Or do we need to for example have a REST endpoint which will call something like `((org.apache.logging.log4j.core.LoggerC

[2020-04-08 14:11] scholzj opened #2809 "Make it possible to dynamically change the log levels in CO"
We should make it possible to dynamically change the log levels in CO. Since it is using Log4j2, that might be easier than with Kafka components.

Would having a config map with a log4j2.proeprties file and enabling auto-reloading the logging config map using https://logging.apache.org/log4j/1.2/faq.html#a3.6 be enough? Or do we need to for example have a REST endpoint which will call something li

[2020-04-08 14:11] scholzj opened #2810 "Make it possible to dynamically change log levels in HTTP Bridge"
We should make it possible to dynamically change the log levels in HTTP Bridge. Since it is using Log4j2, that might be easier than with Kafka components.

Would having a config map with a log4j2.proeprties file and enabling auto-reloading the logging config map using https://logging.apache.org/log4j/1.2/faq.html#a3.6 be enough? Or do we need to for example have a REST endpoint which will call som

[2020-04-08 14:13] scholzj commented on #765
I spawn some new issued to cover Kafka and Kafka Connect:
* #2806
* #2807

This issue should be kept for Zookeeper and Kafka Mirror Maker.

[2020-04-08 15:27] pashafirdous commented on #2793
Thanks a TONN!!
Jakub, this was helpful.

[2020-04-08 15:31] pashafirdous opened #2811 "Kafka unable to connect to zookeeper in a secluded environment"
Hi,

I am running the Oeprator in a secured GKE and i get the below error, where kafka is not able to connect with zookeeper.

for the below error it seems the kafka is trying to zookeeper connect on localhost?????
`INFO Socket connection established to localhost/127.0.0.1:2181, initiating session (org.apache.zookeeper.ClientCnxn) [main-SendThread(localhost:2181`

could you advice how to alter the

[2020-04-08 16:09] pashafirdous commented on #2793
Yes we referred to the CRD's from the master recent release.
that fixed the issue.

as you suggessted, we were actually referring to an old repo. there was teh problem

[2020-04-08 16:33] scholzj commented on #2793
Ok, so I take this issue can be closed, right?

[2020-04-08 16:33] #2793 closed

[2020-04-08 16:38] scholzj commented on #2811
This looks like it cannot connect to the Zookeeper cluster. But I cannot tell the reasons from jsut this log. I would need to have all the logs to be able to say more. If you can collect and provide them for example using this script: https://github.com/strimzi/strimzi-kafka-operator/blob/master/tools/report.sh

Given this problem can be in many parts, the logs from the Kafka pods (both containers

[2020-04-08 17:40] pashafirdous commented on #2811
Hi Jakub,

could you let me know if there is a pattern to run the script?

[2020-04-08 17:48] sneerin commented on #2786
Hi it works thanks, I was using the different manual that I was able to find online

[2020-04-08 17:48] scholzj commented on #2811
Oh, sorry. You should run omething like this: `report.sh --namespace=<namespace> --cluster=<cluster>` where `<cluster>` is the name of your Kafka CR and `<namespace>` is the namespace where the cluster is installed.

[2020-04-08 17:49] scholzj commented on #2786
Ok, great. So I will close the issue. Feel free to open a new one or reopen this one if you have comething more.

[2020-04-08 17:49] #2786 closed

[2020-04-09 08:36] daxtergithub commented on #2804
@scholzj  Thank you for your response.

Actually we have been trying to use below command to get the latest offset of the topic but it keeps complaining “Topic Doesn’t Exist”. But we have been able to publish and subscribe the messages for the very same topic without any issues. We are using Strimzi images for kafka installation.

bin/kafka-run-class.sh kafka.tools.GetOffsetShell --broker-list loc

[2020-04-09 13:41] scholzj commented on #2804
TBH, I never used `bin/kafka-run-class.sh kafka.tools.GetOffsetShell` and have no idea what it does. Sorry.

[2020-04-09 20:44] JoshBargar commented on #1720
Has anyone had success fixing this issue with a non-root user?

[2020-04-10 16:28] trinadsz opened #2819 "make docker_build failed in config-model-generator"
Hi,

I am trying to run docker_build to build image. However, I see this error below. mvn clean install worked fine.. Any pointers to what might be wrong?
make[1]: Leaving directory '/home/circleci/project/config-model'
make -C config-model-generator docker_build
make[1]: Entering directory '/home/circleci/project/config-model-generator'
./build-config-models.sh build
rm: cannot remove '../cluster

[2020-04-10 17:40] trinadsz commented on #2819
This was because I was using older version of yq. Updated to 3.2.1 and docker_build built successfully

[2020-04-10 17:40] #2819 closed

[2020-04-10 18:23] #2772 closed

[2020-04-11 16:26] avif opened #2821 "[Enhancement] Add support for ExternalKafka kind"
**Is your feature request related to a problem? Please describe.**
Strimzi kafka operator is great!
I would like to use it in some cases to operate on a managed kafka service (mainly: topic & user management via k8s resources), but that's a bit complicated right now...
You need to install the operator, deploy entity operator parts manually and manage certificates manually as well.

**Describe the

[2020-04-13 18:18] Ranger-X opened #2824 "[Bug] Kafka pod's cannot be created with custom (non-default) cluster domain"
**Describe the bug**
I try to create a Kafka cluster through strimzi-kafka-operator in minikube. When operator tried to connect to zookeeper (on kafka's pod-creation phase) it's failed with error:
[code]

I think that the operator cannot resolve the zookeeper's service name correctly, because it does not include the cluster domain suffix (in my environment it's a "yc.minik", not default "cluster.l

[2020-04-13 18:29] abhirockzz opened #2825 "Specify security.protocol for Kafka Connect"
While trying to use Kafka Connect with SASL PLAIN auth (as per https://strimzi.io/docs/latest/#sasl_based_plain_authentication). In the Kafka Connect logs, I saw this error:

[code]

In the logs, I noticed `security.protocol = SASL_PLAINTEXT`. I am using this with Azure Event Hubs where the `security.protocol` needs to be set to `SASL_SSL` (see https://docs.microsoft.com/en-us/azure/event-hubs/eve

[2020-04-13 18:52] scholzj commented on #2825
If you want the `security.protocol` to be `SASL_SSL` you have to configure not just the authentication but also encryption: https://strimzi.io/docs/latest/full.html#assembly-kafka-connect-tls-deployment-configuration-kafka-connect

If the KAfka broker where you want to connect uses certificates signed by a public CA already tusted by the JVM, you should be able to do something like this:

[code]

[2020-04-13 18:55] scholzj commented on #2824
The hostname `minikube-kafka-zookeeper-0.minikube-kafka-zookeeper-nodes.infra-kafka.svc` is just a DNS name configured through the hedless service. It should be resolvable even without the cluster suffix ragerdless whether it is `.cluster.local` or `.yc.minik`.

[2020-04-13 18:59] Ranger-X commented on #2824
Hmm. Thank you. I will look for problems in the minikube's DNS (mis)configuration.

[2020-04-13 19:30] mikekamornikov opened #2826 "[Enhancement] Is it possible to move KafkaConnect metrics to external ConfigMap?"
Currently `metrics` definition is like a `2/3` of my `KafkaConnect` resource. From one point of view it's handy to have everything in one place. But at the same time I want to focus on things like `config`, `externalConfiguration` and `resources`. These things may differ if I have several `KafkaConnect` resources. And as a `kustomize` user I prefer to keep base stuff in one place and manipulate li

[2020-04-13 19:38] scholzj commented on #2826
It is not possible today. You always have to add the metrics to the custom resource. But I can understand your point. Maybe we can change this to enhancement and make it possible in the future to just link to a config map with the metrics configuration if you want.

[2020-04-13 19:45] mikekamornikov commented on #2826
Yes, I look at it as a "nice to have". And it aligns with `spec.logging.type: external`.

[2020-04-13 23:03] scholzj commented on #2826
Ok, I changed the labels and the title. We will keep it in mind, bu TBH right now I do not have any date when we might get to it. Of course, PRs are always welcomed ;-).

[2020-04-14 00:58] abhirockzz commented on #2825
Thank you! Should have thought of that earlier ;-)

[2020-04-14 00:58] #2825 closed

[2020-04-14 08:50] #2774 closed

[2020-04-14 08:51] #2406 closed

[2020-04-14 09:10] scholzj commented on #2824
I had a look at this and I can confirm the issue. But it looks like Minikube issue to me. It does not seem to propagate the new cluster domain into the resolv.conf file:

[code]

Which has still `cluster.local` even when you changed the domain. I found this older bug https://github.com/kubernetes/minikube/issues/1674 which was closed by the ci-robot, so I'm not sure whether it is still valid.

[2020-04-14 10:04] Ranger-X commented on #2824
I also investigated this problem more deeply and agree that this is issue in the minikube.

For anybody who googled this page :-) I solved the issue by running minikube like this:
[code]
So, an important option is `--extra-config='kubelet.cluster-domain=yc.minik'`

@scholzj Thank you very much for the right direction about this issue :-)

[2020-04-14 10:04] #2824 closed

[2020-04-14 11:38] scholzj commented on #2824
Thanks for investigating anf updating the issue. Much appreciated!

[2020-04-14 13:40] dilox opened #2828 "Can I create user without creating/updating Secret?"
Hi Strimzi!
I am using this file to create KafkaUser, I would like to know if there is a way to say to the user-operator to not create/update the secret, since I manage it by the application.

[code]

[2020-04-14 13:44] scholzj commented on #2828
What do you mean with _I manage it by the application_? You can use something like this:

[code]

Which will not create the password and only set the ACLs. But you cannot create the SCRAM-HA user manually with that, because the operator would delete it. If you want to manage your users manually, you can just disable the User Operator and not use it.

[2020-04-14 13:51] daxtergithub opened #2829 "kafka monitoring issues"
HI

I have deployed Kafka in Openshiftt environment and enable monitoring  as example provided

and run Prometheus and grafana dashboard in a different namespace, however, Prometheus not collecting any Kafka metrics it only has default metrics available

 what would be the issue
is there any way I can make sure that Prometheus is picking up the metrics

Thanks

[2020-04-14 14:33] dilox commented on #2828
Hi scholz,
thanks for super fast reply.
My fault, I think I was confusing password and secrets...
I only need to create secret and kafkauser with the same name

[2020-04-14 14:34] scholzj commented on #2829
TBH, this is more Prometheus thing. Not sure anyone from the Strimzi team ever tried running it in different namespace. Checking this in the Prometheus docs might be the best way.

@stanlyDoge @ppatierno Or do you have any idea how to solve this?

[2020-04-14 14:37] scholzj commented on #2828
By default the operator will always generate new random passwords. But you should be able to create the password first before the KafkaUser resource and then the operator will just reuse the password from the secret. Just first create one user regularly to check the structure of the ecret, labels etc. But I think the password is stored under the `password` key.

[2020-04-14 15:17] dsouzat commented on #2761
we were able to get SASL_PLAINTEXT work for our project.

[2020-04-14 20:59] ludusrusso opened #2832 "[Question] KafkaUser ACLS with tls authentication"
Hi,
I'm having some issue with KafkaUser ACLS with tls authentication.

I've a kafka entity setup with external loadbalancer access with tls enabled:

[code]
I created a new KafkaUser as follow:

[code]

And I'm able to connect  to the cluster with strimzi generated certificate according to #1930

However, if I try to publish on topic test the client is able to public messages without errors, whil

[2020-04-14 21:54] scholzj commented on #2832
Have you enabled the authorization?The first YAML snippet just enabled authentication, but not authroization. So you might need to so something like this:

[code]

You can find more int he docs: https://strimzi.io/docs/latest/full.html#simple_authorization

[2020-04-15 07:02] ludusrusso commented on #2832
@scholzj thanks, I didn't enabled authorization!

[2020-04-15 07:02] #2832 closed

[2020-04-15 07:53] stanlyDoge commented on #2829
If you want to have all the metrics related resources (Prometheus, Grafana) in the other namespace, you have to adjust roles to have needed permissions. Watch patch bellow which is doing this.

[code]
With this we are able to scrape metrics from another namespace

[2020-04-15 08:37] schmichri opened #2834 "[Question] Is there a way to use Entity Operator with external clusters?"
Hi there,

is there a way to manage non-Strimzi-Operator Clusters with the Entity Operator (ACLs, Topics) and not installing the Kafka Operator?

At my current client we have a bunch of Clusters with "special" feature e.g. Kerberos and hard hostbindings. Nevertheless we require to manage the clusters  in a gitops manner and try to use the strimzi operator for that. Is this anyhow possible?

Lookin

[2020-04-15 09:15] scholzj commented on #2834
You can deploy the Topic Operator and User Operator in what we call _standalone_ mode:
* https://strimzi.io/docs/latest/full.html#deploying-the-topic-operator-standalone-deploying
* https://strimzi.io/docs/latest/full.html#proc-deploying-the-user-operator-standalone-deploying-uo

[2020-04-15 11:37] schmichri commented on #2834
Thats awesome. Thanks!

[2020-04-15 11:37] #2834 closed

[2020-04-15 18:41] superbeer opened #2842 "[Bug] ...kafka exporter crashloopbackoff"
when have more traffic in kafka. kafka expoter crashloopbackoff.
it is error form describe pod.
Liveness probe failed
Readiness probe failed:
i am assign more CPU and  RAM . but not work. i'm test limit and no limit  already.
node is more cpu and ram .

[2020-04-15 18:50] scholzj commented on #2842
Can you share your configuration? How many resources you gave it? Can you also share the logs from the exporter - ideally on a debug level?

[2020-04-15 19:01] superbeer commented on #2842
kafkaExporter:
    groupRegex: ".*"
    topicRegex: ".*"
    # resources:
    #   requests:
    #     limits:
    #     cpu: 2000m
    #     memory: 1128Mi
    logging: info
    enableSaramaLogging: true
    readinessProbe:
      initialDelaySeconds: 120
      timeoutSeconds: 30
    livenessProbe:
      initialDelaySeconds: 120
      timeoutSeconds: 30
    template:
      pod:
        tolerations:

[2020-04-16 03:10] daxtergithub commented on #2829
Thanks for your reply

Yes I did run all the component  in same project namespace however still not working

my environment is openshift 3.11 and it also configured openshift Prometheus and grafana on the openshift-monitoring namespace.
any Kafka metrics are not showing in Prometheus I check the logs no errors

is there any way I can check the kafka is publishing the metrics and Prometheus logs

T

[2020-04-16 05:57] stanlyDoge commented on #2829
If you changed Prometheus configuration you should be able to see a set of discovered targets under `Targets` tab in Prometheus UI. If nothing is there, something is set wrong.
Did you use Prometheus Operator or are you installing Prometheus manually?

[2020-04-16 06:02] ppatierno commented on #2829
You can also try to check if metrics are exposed from the Kafka pods.
Just do an `oc rsh` on one of the Kafka pod and run `curl http://localhost:9404/metrics` and check that the JMX exporter is exposing metrics starting with `kafka_`.

[2020-04-16 10:43] #1106 closed

[2020-04-16 13:02] jgray1206 commented on #2842
We have been having the same issue. No matter the time or resources we throw at the exporter, it always seems to stop working during periods of heavy load in Kafka.

[2020-04-18 09:11] carlosjgp commented on #2697
It depends on how you configure Prometheus and the annotations added to Kafka connect `POD` or `Service`

The most common configuration for Prometheus deployments are

[code]

This block is common for `POD` and `Service`. Meaning that Prometheus will discover and scrape any URL (endpoint) configured with that annotation
[code]

Currently, that annotation is added to Strimzi Kafka Connect cluster `

[2020-04-18 21:44] avif commented on #2358
I have an enhancement proposal for ExternalKafka CRD that is facing similar issues:
https://github.com/strimzi/strimzi-kafka-operator/issues/2821

I think that making the following change to the proposed solution would allow a bit more flexibility for secret management:
[code]

We could also have a wider solution which will allow in the future for CSR automation by splitting this CRD to two: Kafka

[2020-04-19 09:42] erikgb opened #2858 "[Bug] User Operator should be allowed to update kafkausers/status"
**Describe the bug**
I have [deployed the standalone User Operator](https://strimzi.io/docs/latest/#proc-deploying-the-user-operator-standalone-deploying-uo) using the YAML files in https://github.com/strimzi/strimzi-kafka-operator/tree/master/install/user-operator.
The operator creates the dependent resources for a KafkaUser, but is unable to create/update the status on the KafkaUser resource. It

[2020-04-19 10:13] ludusrusso commented on #1420
Hi, I was also looking for an integration of strimzi with ksql!
With a small effort I was able to manually install schema_registry and ksql on a strimzi cluster.
If you are interested on that I can work on the integration and open a WP Pull Request!

[2020-04-19 13:16] scholzj commented on #1420
@ludusrusso Thanks for the offer- But as desciebed above (and in other issues about for example the Schema Registry), we are not planning any support for KSQL due to the licensing issues:
- I do not think we can easily support KSQL given the propretary license which might not be compatible with our ASL2.0 license. This would certainly need some legal analysis. There is a big difference between usi

[2020-04-19 13:24] ludusrusso commented on #1420
@scholzj thanks for your reply and sorry for the request.
Anyway, it's quite easy to integrate ksql from confluent helm charts with strimzi :)

[2020-04-19 15:20] pashafirdous commented on #2811
The issue was internal to GCP.
it fixed without our fix.

[2020-04-20 06:51] ppatierno commented on #2821
If I got your proposal right, why do you think it's not useful just deploying the TO and UO in the standalone mode which we provide today? It's a matter of specifying ZooKeeper and Kafka brokers connections information in the Deployment declaration even with truststore or keystone necessary for encryption and authentication.

[2020-04-20 07:33] #2858 closed

[2020-04-20 07:51] kungfubamba opened #2861 "[Question] Failing to set Resource limits on Openshfit"
My team and I deployed the **strimzi-kafka-operator**, a **kafka-cluster** and a **kafka-bridge** on an Openshift platform following the guides we found on the Strimzi website while using the YAML files in the "examples" folder.

When we try to edit the resource limits after deployment of either the kafka-cluster or the kafka-bridge the deployment would rollback to a previous state, therefore not

[2020-04-20 08:02] ppatierno commented on #2861
Hi, so you should never edit the Kubernetes resources created by the operator because on next reconcile it will update them again based on what you have in the Strimzi custom resources (`Kafka`, `KafkaBridge` and so on).
You have to define the `resources` section in your custom resource. See the following example in the doc:

https://strimzi.io/docs/master/#ref-sample-kafka-resource-config-deploym

[2020-04-20 09:37] RdL87 commented on #2861
Hi @ppatierno. I noticed that scaling down the strimzi-cluster-operator to 0 it does not happen. I imagine that is this compoenent that controls the desired situation?
So i can modify the custom resource and if in in the future i want to modify it again i have always to modify the custom resource, right?

[2020-04-20 09:45] ppatierno commented on #2861
@RdL87 what's the value of using the operator pattern if you turn off the cluster operator.
The operator is in charge of reconciling periodically what you describe in the custom resources (`Kafka`, `KafkaBridge`, ...) and what's the reality running on the cluster (`Deployment`, `StatefulSet`, `Pod`...). For this reason I said that you should never touch the K8S resources created by the operator be

[2020-04-20 10:15] RdL87 commented on #2861
yes ppatierno i just did a try to be sure that the operator was responsible for this :)

[2020-04-20 12:57] stanlyDoge commented on #2842
There is an open PR which should improve Kafka Exporter's performance: https://github.com/danielqsj/kafka_exporter/pull/147

[2020-04-20 13:01] stanlyDoge commented on #2829
@daxtergithub Did you manage to get metrics from Kafka pods as Paolo suggested?

[2020-04-20 14:38] nimmichele commented on #2828
Sure, this is perfect.

[2020-04-20 15:23] kungfubamba commented on #2861
Thanks Paolo, that worked!

[2020-04-20 15:23] #2861 closed

[2020-04-20 18:28] scholzj commented on #2828
Great. I will close this issue than. If you have anything more, feel free to reopen it or open a new one. Thanks.

[2020-04-20 18:28] #2828 closed

[2020-04-20 20:38] mikekamornikov opened #2866 "[Enhancement] Allow external config for KafkaConnector"
**Is your feature request related to a problem? Please describe.**
We plan to implement a custom operator for entities which besides other things cause creation of `KafkaConnector` resources. These connectors have 40+ config settings each and 3/4 of that is usually a copy paste and can be considered a reasonable default. Supporting all possible values is hard to both implement and maintain. Additi

[2020-04-21 11:54] #1127 closed

[2020-04-21 21:36] pashafirdous commented on #2811
Hi Team,

Reopening the issue.

i am again facing the problem, and its not related to the GCP.

i am getting the error with some service account permissions logs are below.

please help!!

[code]

[2020-04-21 22:49] scholzj commented on #2811
This looks like some issue with the RBAC files. Are you sure that all the ClusterRoles, RoleBindings and ClusterRoleBindings from the installation fiels are installed? You should be able to check that with `kubectl get clusterroles`, `kubectl get clusterrolebindings` and `kubectl get rolebindings`.

In this case, the error would indicate problem with Cluster Role `strimzi-cluster-operator-namespac

[2020-04-22 05:32] pashafirdous commented on #2811
Hi Jakub,
I've installed the RBAC files.
we have modiied the files a bit.
just replaced strimzi-cluster with kafka in the rbac/sa files.

[2020-04-22 06:44] avif commented on #2866
Have you tried FileConfigProvider with a ConfigMap mounted as a volume?
https://strimzi.io/docs/master/#external_configuration_as_volumes

Also, you could probably implement some mechanism to read a ConfigMap from the k8s api, override some of it's values and apply that to whatever connector template you are applying with your operator.

[2020-04-22 07:05] avif commented on #2821
I think you got it right... I also do think it's useful to have the TO & UO available for standalone installation, but that has it's limitations:

- External Kafka & ZooKeeper configuration needs to be provided to both operators and kept in sync in a non centralized manner.
- Installing the operators is not automation friendly (needs a seprate `helm install` or embedding the deployment templates i

[2020-04-22 08:17] scholzj commented on #2811
For the operator it self, the role names or binding names are not important, so that should be fine. But the RBAC error suggests that maybe something went wrong during that?

[2020-04-22 08:30] scholzj commented on #2866
My understanding of the proposal correctly, I think it is basically asking for something liek this:

[code]

I think that is not a bad idea.

[2020-04-22 11:49] mikekamornikov commented on #2866
@scholzj I see it more like this:
[code]

[2020-04-22 11:55] SpeedEX commented on #2842
I feel that it will not merge and release any time soon. Any alternative to use ? How about https://github.com/lightbend/kafka-lag-exporter ?

[2020-04-22 11:58] mikekamornikov commented on #2866
I don't like `FileConfigProvider` as I have to mount everything in `KafkaConnect`. Imagine 10s of these mounts just to cover some common use cases. And it still leaves me with big hard to read `KafkaConnector` definition. This way it's even worse.
Regarding some custom mechanism and k8s api. Yes, most likely that's what I'm going to do in short term. Long term I think the definition ^^^ is better.

[2020-04-22 12:29] scholzj commented on #2842
The lag exporter is just as any other application at the end. So you should be able to connect it easily and give it a try.

[2020-04-22 12:44] scholzj commented on #2866
TBH I'm not sure I understand how it would work. How would we know how to combina 3 different config maps into one config? I also wonder if some GitOps tools can make it easier for you to combine the configurations into the KafkaConnector resources without adding the complexity.

Also, in the past, we intentionally didn't wanted to reference any config maps or secrets from KafkaConnector because i

[2020-04-22 13:14] mikekamornikov commented on #2866
We use `kustomize` tool to merge overlays. But patch / merge is done for specific resource name there. So it doesn't scale. Regarding how to combine. I'm not sure if yaml parser reorders items in array. If it's not then merging configs while parsing them 1 by 1 with inline config in the end should work. If reorder is possible having 1 source of external config is fine if it can be overriden by inl

[2020-04-22 13:17] mikekamornikov commented on #2866
If it's not possible from security / delegation of resposibilities POV then I'll try to implement it 1 level higher (in the code which creates these objects).

[2020-04-22 17:32] avif commented on #2866
I understand what the OP is asking, and I support his proposal - just offering a workaround :)

[2020-04-22 17:53] avif opened #2873 "[Question] Why is ZooKeeper required?"
I've been playing around with strimzi and various managed kafka services and I noticed ZooKeeper is a major obstacle for most of the functionality to be successful - something that most managed kafka services don't expose...

So I was looking around the repo to see how ZooKeeper is used and why, from what I understand the only usage is for "watching" configuration changes.

Can this be implemented

[2020-04-22 18:06] scholzj commented on #2873
The Zookeeper dependency is not Strimzi thing but Kafka thing. Kafka is using Zookeeper for different things:
* Keeping configuration
* Electing some leaders
* Keeping track of brokers which are alive (or not alive)
* Bootstraping the cluster

Kafka it self is the reason why we need to use Zookeeper. Strimzi it self uses it for the Topic Operator since it is already there, but Kafka is the main us

[2020-04-23 07:15] avif commented on #2873
Sorry I wasn't clear enough, i'm talking about components other than the Kafka cluster - Topic & User operator specifically.

[2020-04-23 08:14] scholzj commented on #2873
The User Operator is just using it configure Kafka. Some Kafka APIs still talk directly to Zookeeper - for example management of SCRAM users or quotas, for a long time also the ACLs- that is the only reason why UO needs Zookeeper access.

The TO uses it a bit more as a storage of some support data. Since we have to anyway have Zookeeper, why not use it from the Topic Operator as well. And it can b

[2020-04-23 08:41] pashafirdous commented on #2811
Hi Jakub,

thanks we could identify and fix the RBAC issue. thanks for directing right !!!

now we have another situation.

we have 2 deployments followed by kafka clusters in same cluster but in different namespaces.
the deployment is successfull but please the logs below.

[code]

the Strimzi operator gives error to unable to lock on kafka.

[code]

the error logs in one of the strimzi-cluster-o

[2020-04-23 09:07] scholzj commented on #2811
What exactly do you mean with the issue? The `Failed to acquire lock lock::kafka-operator-demo::Kafka::my-cluster within 10000ms.` messages?

From the log I can see one issue with your setup ... the log is from an operator watching namespace `*` => that means that it is watching the whole cluster. But from the list of pods above, I can see that you have two operators running. They will be both rec

[2020-04-23 10:11] glindstedt opened #2877 "[Bug] False diff when reconciling PVC size"
**Describe the bug**

Strimzi does not seem to convert between `Ti` and `Gi` when reconciling a StatefulSet's persistentVolumeClaimTemplate. We encountered this issue when deploying a Kafka cluster with the storage claim set to `3072Gi` which happens to be exactly equal to `3Ti`. It appears that kubernetes will realize this and convert it to the more terse `3Ti` when you query the manifest, howeve

[2020-04-23 11:18] roland-haeusler opened #2880 "[Enhancement] Add support for AclAuthorizer class for authorization"
**Is your feature request related to a problem? Please describe.**
Kafka 2.4.0 contains [KIP-504](https://cwiki.apache.org/confluence/display/KAFKA/KIP-504+-+Add+new+Java+Authorizer+Interface#KIP-504-AddnewJavaAuthorizerInterface-AclAuthorizer) which contains a new class AclAuthorizer to replace the SimpleAclAuthorizer class. Strimzi is currently using the [SimpleAclAuthorizer](https://strimzi.io/

[2020-04-23 15:00] carlosjgp opened #2884 "[Doc] Consequences and migration path for enabling KafkaConnectors CRDs is missing"
**Suggestion / Problem**
After enabling `KafkaConnectors` CRD through the annotation as described on the documentation
we lost all the configuration from the existing connectors configured through the REST API

Our expectation was that both could live together

**Documentation Link**
- https://strimzi.io/docs/master/#kafkaconnector_resources
- https://strimzi.io/docs/master/#con-creating-managing-

[2020-04-23 18:28] #2873 closed

[2020-04-24 14:54] josiemundi opened #2889 "Quickstart links for OKD and minikube lead to 404"
**Suggestion / Problem**
The quickstart guide links for OKD and minikube lead to a 404 error in the readme of this repo. It seems like they should just link to https://strimzi.io/quickstarts/ and then the user selects which install they want.

**Documentation Link**
https://github.com/strimzi/strimzi-kafka-operator/blob/master/README.md

[2020-04-24 15:31] scholzj commented on #2889
Thanks for reporting this. I will have a look.

[2020-04-25 09:03] scholzj commented on #2880
#2891 will remove support for KAfka 2.3.1. Afterwards, this can be done. It sounds like a good stating task.

[2020-04-25 12:55] scholzj opened #2895 "Add support for Helm 3"
We should add support for Helm 3. Ideally while also keeping Helm 2 support, since not everyone moved to Helm 3 yet. There is WiP PR which was enver finished which can be maybe resued: #2384

[2020-04-25 13:01] #2889 closed

[2020-04-26 08:02] enunio opened #2898 "Modify certificate default time"
When I modify the validitydays in clusterca, I find it doesn't work. What do I need to do to change the default validity period of the certificate to 10 years.

[2020-04-26 09:06] scholzj commented on #2898
That is intentional. The new value will be used only when the new certificate is being generated. You can trigger that manully using an annotation: https://strimzi.io/docs/latest/full.html#proc-renewing-ca-certs-manually-deployment-configuration-kafka

[2020-04-27 06:13] enunio commented on #2898
`clusterCa:
      generateCertificateAuthority: false
      validityDays: 3650
      renewalDays: 3650
    clientsCa:
      generateCertificateAuthority: false
      validityDays: 3650
      renewalDays: 3650`
I have set the above parameters and used the
kubectl annotate secret <cluster-name>-cluster-ca-cert strimzi.io/force-renew=true
to update the certificate，but it doesn't seem to work. The ren

[2020-04-27 07:15] scholzj commented on #2898
That does not look like the right configuration:
* `generateCertificateAuthority: false` tells the operator that it should not generate the certificate authority. When you set it, you have to provide the certificate authority your self.
* `validityDays: 3650` is ok, that say the certificate should be valid for 10 years. However, since you also said that you willbring your own certificate authority

[2020-04-27 08:24] enunio commented on #2898
Thank you very much. It's been a big help

[2020-04-27 08:25] enunio commented on #2898
Thank you very much. It's been a big help. @scholzj

[2020-04-27 12:09] yyaari opened #2900 "[Enhancement] Enable overriding ssl.principal.mapping.rules when not using User Operator"
When managing SSL users without using the User Operator, it is sometimes desired to be able to map a long SSL user (of the form: `"CN=writeuser,OU=Unknown,O=Unknown,L=Unknown,ST=Unknown,C=Unknown"`).
This is possible by setting the `ssl.principal.mapping.rules` property in the broker config file, however, this is currently not possible as the cluster operator is not allowing this.

I think that wh

[2020-04-27 13:51] daxtergithub opened #2901 "kafka connect issue"
Hi

I m deploying kafka cluser with OAUTH config using keycloak along with kafka connect howevet after deploying kafka cluster working fine with keycloak authorization but kafka connect gives following error

kafka connect logs

[code]

kafka-logs

[code]

This is my kafka cluster configuration and keycloak yaml

kafka external configuration
[code]
kafka connect configuaration

[code]

BOOTSTRAPSE

[2020-04-27 13:56] scholzj commented on #2901
The external loadbalancer listener has TLS enabled by default. So you either need to disable it (add `tls: false` to `Kafka.spec.kafka.listeners.external`) or configure the TLS in the Kafka Connect: https://strimzi.io/docs/latest/full.html#assembly-kafka-connect-tls-deployment-configuration-kafka-connect

[2020-04-27 18:46] iAnomaly opened #2902 "[Enhancement] MirrorMaker 2: Add Dedicated MM Cluster Support"
**Is your feature request related to a problem? Please describe.**
MirrorMaker (MM) 2.0 currently supports [4 runtime modes/topologies](https://cwiki.apache.org/confluence/display/KAFKA/KIP-382%3A+MirrorMaker+2.0#KIP-382:MirrorMaker2.0-Walkthrough:RunningMirrorMaker2.0). Ignoring the non-production and legacy modes, MM 2 can either run:
1. As a dedicated MirrorMaker cluster
2. As a standalone Conn

[2020-04-27 20:16] scholzj commented on #2902
TBH, I do not think we have the bandwidth to support the same thing in several different modes - all these features cost lot of effort not just on development but also on ongoing maintenance and tests. Given that the users doesn't have to do anything special to get the Connect cluster deployed - it is all handled by Strimzi transparently in the background - I do not understand why would this be wo

[2020-04-27 23:18] daxtergithub commented on #2901
Thanks @scholzj  I need to enable TLS in kafka connect, however which secret I need to mentioned here

[code]

the secret I mentioned above is keycloak secret not kafka broker secret ,
document is not mentioned that which secret I need to attached to this section

[2020-04-27 23:22] scholzj commented on #2901
Looking at the configuration you pasted above, it looks like you are just using the default Strimzi TLS setup. In that case, it should look something like this:

[code]

where `<kafka-cluster-name>` needs to be replaced by the name of the Kafka custom resource you used to deploy the Kafka cluster.

[2020-04-27 23:49] daxtergithub commented on #2901
Thanks @scholzj

I did the changes still got the same error

[code]
  name: my-connect-external
spec:
  version: 2.4.0
  replicas: 1
  bootstrapServers: 52.187.239.34:9094
  authentication:
    type: oauth
    tokenEndpointUri: https://52.237.193.160:8443/auth/realms/kafkarealm/protocol/openid-connect/token
    clientId: kafka-connect
    disableTlsHostnameVerification: true
    clientSecret:

[2020-04-28 01:08] daxtergithub commented on #2901
Thanks @scholzj I m able to make it work many thanks

[2020-04-28 02:23] #2898 closed

[2020-04-28 08:00] scholzj commented on #2901
Great, glad it works now. Can we close this issue as resolved?

[2020-04-28 10:43] gitvenkatibm commented on #1902
Hi,
We are facing same issue as this thread.. Kafka server on OCP does not have "Authentcation: TLS".

We followed this blog for extracting or certficate and creating trustore : https://strimzi.io/blog/2019/04/30/accessing-kafka-part-3/

We folllowed same steps as option#1 with below config in "Conduktor" application on MAC.

security.protocol=SSL
ssl.truststore.type=JKS
ssl.truststore.location=./

[2020-04-28 10:49] venkatji commented on #1902
Hi,
We are facing same issue as this thread.. Kafka server on OCP does not have "Authentication: TLS".

We followed this blog for extracting or certficate and creating trustore : https://strimzi.io/blog/2019/04/30/accessing-kafka-part-3/

We folllowed same steps as option#1 with below config in "Conduktor" application on MAC.

security.protocol=SSL
ssl.truststore.type=JKS
ssl.truststore.location=.

[2020-04-28 11:22] scholzj commented on #1902
Can you share the Kafka custom resource, and a full way how are you runnng the client? What bootstrap do you use etc.?

[2020-04-28 11:31] venkatji commented on #1902
Hi.. Kafka custom resource :

apiVersion: kafka.strimzi.io/v1alpha1
kind: Kafka
metadata:
  name: my-cluster
spec:
  kafka:
    replicas: 3
    listeners:
      plain: {}
      tls: {}
      external:
        type: route
    readinessProbe:
      initialDelaySeconds: 15
      timeoutSeconds: 5
    livenessProbe:
      initialDelaySeconds: 15
      timeoutSeconds: 5
    config:
      offsets.topic.

[2020-04-28 11:34] venkatji commented on #1902
Have created a external bootstrap route on the service (pointing to the 3 kafka nodes)..  with TLS as EDGE termination.
As per the blog above.. tried to use the parameters mentioned above.. to reach to the bootstrap server: 443 through the CONDUKTOR tool..

[2020-04-28 11:57] scholzj commented on #1902
When you specify
[code]

Strimzi will create its routes for you. You should use them. It will not work with edge termination. The Kafka traffic is TCP while the router supports only HTTP(S). So when you use edge termination, the Router will terminate TLS and find out there is no HTTP inside. That is probably causing the error. You need to use TLS Passthrough which hides the Kafka TCP traffic as HT

[2020-04-28 12:54] venkatji commented on #1902
It worked !! Thanks much.
Now, we are trying to have a Kafka connector from another cloud to reach this cluster (OCP) and see if it can work end to end with the desktop CONDUKTOR consumer. Will post here. Any tips, pls suggest, thanks.

[2020-04-28 17:52] AndrewJSchofield opened #2905 "[Enhancement] Add bootstrap servers list to Kafka CR status"
Kafka clients and tools usually work with a list of host:port pairs for providing connection information to a cluster. In a Kafka Java client, this is the "bootstrap.servers" configuration property. For Kafka Connect and the Kafka command-line tools, it's similar.

Strimzi provides the endpoint information in the Kafka CR status as an array of objects per listener in which the hostname and port nu

[2020-04-28 17:58] AndrewJSchofield commented on #2905
PR in progress.

[2020-04-28 18:46] zzztimbo opened #2907 "[Question] I see CrashLoopBackoff for the operator, how do I troubleshoot?"
[code]

[2020-04-28 18:55] scholzj commented on #2907
You need to check the log file from the pod (and share it). My guess would be incorrectly installed RBAC file - but it can be many different causes.

[2020-04-29 07:49] #2901 closed

[2020-04-29 07:49] daxtergithub commented on #2901
Thanks @scholzj

[2020-04-29 14:43] oassuncao opened #2916 "[Question] Zookeeper Connection Problem"
I have a cluster with 3 zookeepers, sometimes occur a problem with the connection of Zookeepers and my Kafka cluster going down.

I got the logs when the Zookeeper start the connection problem
[code]

After the first logs, my cluster doesn't work properly.
[code]

My cluster take a long time to goes up again and work properly

[2020-04-29 14:43] oassuncao commented on #2916
https://github.com/strimzi/strimzi-kafka-operator/issues/1934

[2020-04-29 14:57] scholzj commented on #2916
The log is really hard to read because it mixes 6 containers into one stream of messages. It might be more useful as 6 separate logs.

I do not see any obvious errors in there. Have you configured the memory and CPU request for the Zookeeper and Kafka pods? Also, what exactly does _Kafka cluster going down_ mean? The Kafka pods normally keep runnign even without Zookeeper.

[2020-04-29 15:07] oassuncao commented on #2916
I put all the log together to see the timeline of the logs

I have configured the Memory and CPU request.

Zookeeper resources:
[code]

Kafka resources:
[code]

My Kafka pods receive the error bellow:
[code]

[2020-04-29 15:13] oassuncao commented on #2916
The resource utilization of Zookeeper
![image](https://user-images.githubusercontent.com/3209775/80612643-9f026480-8a12-11ea-90d5-c11ee572f115.png)

The resource utilization of Kafka
![image](https://user-images.githubusercontent.com/3209775/80612708-b80b1580-8a12-11ea-9168-d40d1f14d9b5.png)

[2020-04-29 15:26] scholzj commented on #2916
Not saying it is related, but some notes to your config:
* The Kubernetes request is the guaranteed memory -> so that is what you should plan with in your pod. The pods can use the memeory up to the limit, the limit memory is not guaranteed and can be taken away which will not work well for something like Kafka or Zookeeper. So I in general recommend for Kafka and Zoo to not set the memory limit o

[2020-04-29 15:40] AndrewJSchofield commented on #2880
I'm happy to take this one on if no one else is working on it. I understand Kafka ACLs already which will be a help.

[2020-04-29 15:41] scholzj commented on #2880
Go for it - I assigned the issue to you.

[2020-04-29 16:05] oassuncao commented on #2916
I changed my memory requests and `-Xmx`.

I will check if the problem occurs after these changes

[2020-04-29 18:50] stchau4work opened #2919 "[Question] Not able to filter topic name with mirrorMaker2"
The issue I am facing is when I specify a very **specific** topic ("dev") with the mirrorMaker2, there is an infinite loop of heartbeat. Therefore, I would like to ask if anyone could be able to tell me what I am missing so that I can achieve a bidirectional replication please

<img width="586" alt="Screenshot 2020-04-30 at 2 44 06 AM" src="https://user-images.githubusercontent.com/27143465/806341

[2020-04-29 19:54] AndrewJSchofield commented on #2358
Since Kafka 2.4, it's been possible to use the `kafka-acls.sh` tool for managing ACLs with Strimzi. I wonder whether you've looked at that.

I quite like the idea of a KafkaAcl CR and I think it could be useful in situations where the identity is controlled externally but there's still a need for ACLs. Not so keen on mangling the KafkaUser CR so it doesn't manage a secret.

[2020-04-29 20:07] harjis opened #2920 "[Bug] Detection of Kuberetes version failed."
Hi!

I'm following the steps in quick start and they worked earlier this week but now for some reason cluster operator fails to start. I have tried to delete and re-create minikube but no luck so far.

**To Reproduce**
Steps to reproduce the behavior:
I have copied the yaml files here: https://github.com/harjis/strimzi-quick-start
I execute that repositories init.sh
[code]

**Expected behavior**
B

[2020-04-29 20:22] AndrewJSchofield commented on #2880
Looking more into this issue, it seems to me that the new AclAuthorizer is intended to be compatible with the previous SimpleAclAuthorizer, just using a new Java API rather than the previous Scala trait.

It would be possible to introduce a third type of authorisation to go alongside `simple` and `keycloak`, but I think that this new Authorizer is intended as the replacement of the SimpleAclAuthor

[2020-04-29 20:36] scholzj commented on #2358
I guess lookign back it might have made sense to have separate entitites for Users, ACLs and Quotas. We migth still get there, but it is not a trivial change.

[2020-04-29 20:39] scholzj commented on #2920
This looks like some environment issue. The error basically says that it failed to connect to the Kuebrnetes API server. Minikube normally works fine for me on MacOS. So TBH I have no idea what the problem could be.

[2020-04-29 20:40] scholzj commented on #2880
That is my understanding as well. It should be just rewritte to Java. So TBH the Pr should basically by just changing the class and testing that everything still works.

[2020-04-29 20:49] ajborley commented on #2919
I think the issue you have here is due to your interchangeable use of the aliases 'my-cluster-source' and 'my-cluster-target'. MM2 appends the source alias to the topic name when mirroring it to the target, and it avoids replicating topics that already have the target alias appended in the topic name so that cycles don't occur. By naming the source cluster 'my-cluster-source' in both CRs, the hear

[2020-04-30 00:41] ananthk01 opened #2922 "[Question] Kafka and Zookeeper without tls sidecar"
Hi,

I am using an istio sidecar in our pods along side our application containers in our cluster. I am looking to do the same with kafka and zookeeper pods. Using the strimzi operator, the sidecars are deployed by default. I read through the documentation and it offers me the ability to define some properties using tlsSidecar but there isn't one where I can prevent the sidecar from deploying at a

[2020-04-30 06:54] harjis commented on #2920
Thanks for the quick response! I suppose the problem might be with KubernetesClient and too new Kubernetes version. I tried to start minikube with an older version: `minikube start --kubernetes-version v1.15.3` and now everything is working as expected.

[2020-04-30 07:38] harjis commented on #2920
I'll close the issue as the problem doesn't seem to be in this library.

[2020-04-30 07:38] #2920 closed

[2020-04-30 07:47] scholzj commented on #2922
I do not think this is possible at the moment. I think that most users who use also Istio run the Kafka cluster outside of Istio and just connect to it from apps running in Istio.

[2020-04-30 07:49] scholzj commented on #2920
I'm using Strimzi without any problems with Kube 1.18.2. So I do not think that is a problem. From the error it looks more like some TCP issue. Have you tried just deting the Minikube and starting it again? Or giving it more cpu/memeory?

[2020-04-30 07:53] harjis commented on #2920
Yeah I tried `minikube delete` and `minikube start` many times but nothing changed.

[2020-04-30 07:56] harjis commented on #2920
Minikube has these resources:
[code]

If you think this is too little I can try out increasing them

[2020-04-30 08:04] harjis commented on #2920
I tried increasing the resources but I get the same error message:

[code]

[2020-04-30 08:42] stchau4work commented on #2919
@ajborley Thanks for the insightful response. The heartbeat issue is resolved.

However, I found out another issue that the **order** in alias does matter

so in your DC2 example, it should be

[code]

otherwise, a strange error related to "mirrormaker2-cluster-offset" cant not be create / found will occur

[2020-04-30 09:59] #2919 closed

[2020-04-30 12:56] scholzj opened #2927 "Synchronize the constant names in the configuration classes in model"
The `*Configuration` classes in the `cluster-operator` module, in package `io.strimzi.operator.cluster.model` seem to use the names `FORBIDDEN_OPTIONS` and `EXCEPTIONS` instead of the `FORBIDDEN_PREFIXES` and `FORBIDDEN_PREFIX_EXCEPTIONS` used in the `api` module. We should synchronize these names to the names used in `api` - i.e. rename them to `FORBIDDEN_PREFIXES` and `FORBIDDEN_PREFIX_EXCEPTION

[2020-04-30 15:41] scholzj opened #2929 "RollingUpdateST.testRecoveryDuringZookeeperRollingUpdate ST has a race condition"
This part:

[code]

seems to sometimes start when there are still 3 running pods and no pending pods. And that screws the test over, since one of the pod transitions after few seconds from Running to Pending and that takes down the whole test.

[2020-04-30 17:55] ananthk01 commented on #2922
Hi Jakub,

Thank you for your response. Is this a feature that is being considered in the near future?

If it's not in the plan, perhaps you can provide some guidance regarding the possibility of forking and modifying the code to achieve what I am hoping to do. Kafka is not going to be in a separate cluster. The plan now is running kafka in the same cluster as the application pods, just in a diffe

[2020-04-30 19:16] sgkiokas commented on #2895
@scholzj, I had a look to the aforementioned PR and it doesn't seem far off. The most important thing missing (which would be ideal to template somehow) is a bump up of the `apiVersion` from `v1` to `v2`.

I'd suggest, in order to provide the `Helm3` support as soon as possible, to have initially 2 maintained charts in separate folders, as @dalelane  mentioned, and in a second round of refactoring

[2020-04-30 19:58] #2905 closed

[2020-04-30 20:00] scholzj commented on #2922
I do not think this is planned for the near future. Istio is not widespread enough so that we can rely only on Istio. And I do not think we have enough regular contributors to be able to maintain it as an alternative.

TBH I'm not sure what kind of guidance you are expecting. In the root of this repository, you can find some general files about building Strimzi. If you want, you can also join the

[2020-04-30 23:54] prabhu-r-ramasamy opened #2931 "[Question] Kafka topic creation with underscore"
I am trying to create Kafka topic with underscore with the below spec. I am getting the below error. Am i missing any parameter here?.

apiVersion: kafka.strimzi.io/v1beta1
kind: KafkaTopic
metadata:
  name: my_topic
  labels:
    strimzi.io/cluster: my-cluster
spec:
  partitions: 3
  replicas: 1
  topicName: my_topic

Error Message:
The KafkaTopic "my_topic" is invalid: metadata.name: Invalid val

[2020-04-30 23:57] scholzj commented on #2931
Kubernetes resources - such as KafkaTopic - cannot contain `_` in the name. So you will need to name the resource differently. You can use the field `topicName` to work around it, but unless you really need the `_` in the name, you should just use some valid Kubernetes name for the topic and make your life easier.

More can be found int he docs: https://strimzi.io/docs/latest/full.html#topic-opera

[2020-05-01 00:15] prabhu-r-ramasamy commented on #2931
Thanks a lot. I am able to create topic with underscore using topicName.

[2020-05-01 00:15] #2931 closed

[2020-05-01 01:11] zzztimbo opened #2932 "[Question] Strimzi Operators Grafana dashboard not working"
I've installed my strimzi operator in ns: operators.
I've installed my prometheus/grafana in a different namespace.

Is this the reason why my grafana dashboard for the strimzi operator is blank?
How do I fix this?

[2020-05-01 01:19] ananthk01 commented on #2922
I see.

I saw the files about building Strimzi. That is clear.

Now that it's clear that it's not possible as is. I'm looking for guidance to use the operator without the tls sidecar - with code changes and attempting to run locally. All this without istio in the picture. Being able to inject istio is secondary and would not need help with that at this time.

I'm trying to understand if the tls si

[2020-05-01 07:26] tsyrfa commented on #2932
Can you be shure that prometheus pulling metrics? I think, you can check that in "targets" appeared your ServiceMonitor's name. I add picture with "targets" in prometheus
Example of service monitor: https://github.com/strimzi/strimzi-kafka-operator/blob/master/examples/metrics/prometheus-install/strimzi-service-monitor.yaml

![image](https://user-images.githubusercontent.com/54310392/80789672-5921

[2020-05-01 11:02] scholzj commented on #2922
The TLS sidecars are there for some reason - they help to secure the whole cluster. Removing them should be easy. But you will need to reconfigure lot of different things because because they would need to connect differently. So you will need to figure out how to configure the Zookeeper cluster to bootstrap without them, how to link Kafka with Zookeeper without them.

You have to keep in mind tha

[2020-05-01 12:13] scholzj commented on #2932
@zzztimbo The operators dashabord and the operators metrics are a new feature which will be released only in Strimzi 0.18. So unless you are using the master builds but some stable features, you will not have any of these features available yet.

[2020-05-01 18:59] AndrewJSchofield commented on #2880
Works nicely just replacing the old Authorizer with the new one. Of course there's the upgrade path to consider and I'm new to this so I'll proceed carefully. My guess is that I'll target 0.19 with this rather than try to rush it in to 0.18.

[2020-05-01 20:13] scholzj commented on #2880
Yeah, I think that is totally fine.It will also give us more time to test and catch any issues.

[2020-05-01 20:13] ananthk01 commented on #2922
With 2915, it solves my issue half-way. Although, there are some things that are not clear to me. Please engage me.

I thought, from the information provided, tls sidecar was for secure kafka <-> zookeeper communication. What exactly is the purpose of keeping the kafka sidecar, with the zookeeper sidecar out of the picture? Does the tls sidecar in kafka enable secure communication from external so

[2020-05-01 20:43] scholzj commented on #2922
Zookeeper 3.4 had no support for TLS. It has native support for TLS only since 3.5. Because Zookeeper didn't had the support, so doesn't have Kafka support for TLS in communication with Zookeeper (until 2.5.0). So the sidecar needs to be used on both places. The Zookeeper one can be already remvoed, the Kafka one not yet.

I run into some upgrade issues  in #2915 - I have to see how to deal with t

[2020-05-01 22:44] ananthk01 commented on #2922
Sure. Makes sense that it needed to be there in both places when it was there. Doesn't really explain the role of kafka's sidecar to still exist to me though. With kafka supporting tls for inter-broker communication, is that what is being used for currently and the sidecar for taking care of communication with external sources? This clarification should be good enough to bring this discussion to a

[2020-05-01 22:52] scholzj commented on #2922
Strimzi 0.18 will support Kafka 2.4.0, 2.4.1 and 2.5.0. The Zookeeper versions included in these now include the TLS support. But the Kafka brokers them self do not support TLS when connecting to Zookeeper. So that still needs to be done with the sidecar until all KAfka versions we support can do Zookeeper with TLS natively.

[2020-05-01 22:55] scholzj commented on #2895
Great, thanks a lot for looking into this! 👍

[2020-05-01 23:00] ananthk01 commented on #2922
Thank you for the clarification, Jakub. I will explore some options and come back if I have further questions after 0.18 is released. I will close this for now. I appreciate your comments.

[2020-05-01 23:00] #2922 closed

[2020-05-02 17:28] pashafirdous opened #2936 "[Can we add delay to pod startup?]"
Hi Folks!

With regards to [Designating Strimzi administrators](https://strimzi.io/docs/operators/master/using.html#adding-users-the-strimzi-admin-role-str) for `strimzi-admin`.
when i launch a cluster with `Cluster-role-binding` with below command, the operator gives error

```kubectl create clusterrolebinding cluster-admin-kafka --clusterrole=strimzi-admin --serviceaccount kafka-ns:kafka-sa```

[2020-05-02 18:25] scholzj commented on #2936
TBH, it is not completely clear to me what are you trying to do. The strimzi-admin roles are expected to be given to users who will be creating and manageging the Kafka resources (clusters, topics etc.). It has nothing to do with the operator it self. The log you shard is from the operator but suggests that the operator it self is missing some rights. The operator should be installed with the RBAC

[2020-05-02 18:47] sgkiokas commented on #2895
@scholzj, may I please ask you to assign that issue to me? I won't push anything yet, but I got the Operator installed via `helm3`:

[code]

I imagine the app/chart version will remain `0.1.0`, right?

[2020-05-02 19:07] scholzj commented on #2895
TBH, I have no idea abotu the real meaning of the chart version. I think it is 0.1.0 since beginning.

[2020-05-02 21:49] scholzj commented on #2900
I have been thinking abotu this. It is not so easy, since Strimzi is using TLS authentication internally. So if you change the way the user name is built, you will break it completely. So this needs to be done in a way that the internal listeners keep using the default mapping.

[2020-05-02 22:45] zzztimbo commented on #2932
@scholzj I believe I installed the operator using release 0.17.0, but I've been using the metrics example in master.

Should I reinstall the operator using master? or do you recommend waiting for the 0.18.0 release?

[2020-05-02 22:48] zzztimbo commented on #2907
@scholzj thank you for your recommendation, via email, to give the operator more memory. This seems to improve the situation.

[code]

For those that are experiencing a similar situation, you can manage resource limits in a values.yaml when you install the operator.

https://github.com/strimzi/strimzi-kafka-operator/blob/master/helm-charts/strimzi-kafka-operator/values.yaml#L110-L116

[2020-05-02 22:48] #2907 closed

[2020-05-02 22:51] scholzj commented on #2932
No, you should wait for the 0.18 to be released. You should not use master just because of that. It is always better to use everyhting from the release - I'm not sure if there were some other changes even for the other dashabords.

[2020-05-02 22:59] zzztimbo opened #2937 "[Question] How can I increase throughput of Mirror Maker 2"
I have a source cluster that is 1 node with a topic with 3 partitions.

The target cluster is 3 nodes. I've increased the number of replicas in my KMM2 config to be varying values, even as high as 10 or 20 and this does not seem to increase the messages/sec throughput of about 900 messages/sec. My calculations tell me that it will take 18 days before I'm caught up to current.

Also, is there a way

[2020-05-02 23:25] scholzj commented on #2937
I guess you can configure it to start from latest in the `sourceConnector` config section. But that applies only if there is no offset. When there is an offset. So IMHO the best would be if you set the consumer offset on the source cluster. Also if you have 3 partitions, there will be only maximum of 3 active consumers. So it makes no sense to have more than 3 Mirror Maker replicas since the other

[2020-05-03 05:14] yyaari commented on #2900
You can add the DEFAULT rule at the end of user provided rules so if all rules fails, kafka will resolve the ssl user by the subject like today

[2020-05-03 07:21] pashafirdous commented on #2936
Hello Jakub,

so i have a GKE cluster deployment of strimzi kafka.
the deployment is so managed that we need Designated Cluster roles to bind the SA **`kafka-ns:kafka-sa`** so it can perform the cluster admin activities.

so far we were using *`cluster-admin`* to provide the permissions. however when we are trying to leverage 'strimzi-admin' account in below command, we get the error as posted abo

[2020-05-03 10:53] scholzj commented on #2936
But as I said, the `strimzi-admin` roles are not supposed to be used by the operator. The operator has its own roles which it uses which are part of its own installation files. The `strimzi-admin` roles are there to give right to users to create and manage the Kafka clusters - not to the operator.

From your log it is clear that the cluster operator is no installed with its own RBAC files. It has

[2020-05-04 05:40] ppatierno opened #2939 "Add support for CORS configuration in the KafkaBridge resource"
When the https://github.com/strimzi/strimzi-kafka-bridge/pull/401 will be merged, we have to add support for CORS configuration in the `KafkaBridge` resource in the corresponding `http` section (where today we have just `port`).
Two possible solutions.

[code]

or

[code]

In both cases, new env vars have to be set for the bridge deployment:

[code]

[2020-05-04 06:12] vikas4cloud opened #2940 "[Question] ... Issue while accessing strimzi kafka with nginx ingress getting **ERROR Modification time of key store could not be obtained: ./truststore.jks (org.apache.kafka.common.security.ssl.SslEngineBuilder) java.nio.file.NoSuchFileException: ./truststore.jks**"
ERROR while testing via kafka-producer

_`kubectl run kafka-producer -ti --image=strimzi/kafka:latest-kafka-2.4.0 --rm=true --restart=Never -- bin/kafka-console-producer.sh --broker-list bootstrap.avi.monster:443 --topic my-topic --producer-property security.protocol=SSL --producer-property ssl.truststore.password=password --producer-property ssl.truststore.location=./truststore.jks`_
If you don't

[2020-05-04 07:39] scholzj commented on #2940
When you run a command like this:

[code]

You are telling Kubernetes to start a new pod and run the command inside. But that does not work with the TLS. Because it starts a fresh pod and you will not have the truststore there. If you created the truststore before running this command, you most probably did so locally, but the pod does not see / have access to your local files.

You you either nee

[2020-05-04 07:48] tsyrfa opened #2941 "[Question] Reccomendation about readness probe"
Hello!

I have a 3 kafka brockers with 3 partitions in topic and 10 producers in this topic. I make a load test, and in during it, when I make rolling update kafka brockers (for example by command `kubectl annotate statefulset kafka-cluster-kafka strimzi.io/manual-rolling-update=true`). I see that kafka lost part of messages. When I added 120 seconds initDelay in readness probe it been good.

I te

[2020-05-04 08:03] scholzj commented on #2941
Not sure what version of Strimzi you use, but if it is not completely old it should be checking the replicas. One way or another, if you have properly configured producer, the producer should not publish the data when the partition is under replicated regardless of what Strimzi does. So this is a weird.

For the record, the `acks=all` option needs to be set on producer - not sure if this is just a

[2020-05-04 08:25] tsyrfa commented on #2941
Of course - `acks = all` in the producer, sorry. I am using version 0.16.0.
And yes - maybe we misconfigured our producer. You mean it have to wait a few seconds and send the messages again? But I think there is no need to wait in the producer - if it is a system with a high load (for example, I tested at 5k rps), it can be difficult for the producer to keep the flowing stream for 30 seconds while

[2020-05-04 08:34] scholzj commented on #2941
I'm not really 100% sure how this works in Kafka. If you have producer configured to send the messages reliably, it should:
* Not be able to sucessfully produce any messages when your topic has less than two ISR replicas
* And either try to resend such messages later or give you an error

I do not think your code of the the producer has to intentionally wait for something. But the KafkaProducer sh

[2020-05-04 08:39] tsyrfa commented on #2941
Thanks for your answer! I will discuss about it with team.

"This is at the end not different from a situatin when you hit a bad luck and two broker pods crash at the same time from unrelated reasons." - it good argument, and we need to think about it

[2020-05-04 12:22] tsyrfa opened #2942 "[Question] Difference between rack.id and broker.rack"
Hello!

I put value to kafka-cluster in `spec.kafka.rack.topologyKey`
Now I see in kafka logs that I have a  `rack.id` but in `broker.rack` value is `null`.
And I don't found anythink about  `rack.id`  in kafka documentation
https://kafka.apache.org/documentation/

Is this same?

[2020-05-04 12:52] scholzj commented on #2942
Can you share the logs / configuration files? Also, what version of Strimzi are you using?

[2020-05-04 12:53] scholzj commented on #2942
I think this was a bug (basically a typo in the configuration file generator) in 0.16.0. It is now fixed in 0.17.0

[2020-05-04 13:10] tsyrfa commented on #2942
I using 0.16.0 version
This part of config of kafka (I changed some values, like replicas number or limits. We get values from varriables and it not readeble)
[kafka-config.txt](https://github.com/strimzi/strimzi-kafka-operator/files/4574788/kafka-config.txt)
And kafka's logs
[kafka-0.log](https://github.com/strimzi/strimzi-kafka-operator/files/4574810/kafka-0.log)

[2020-05-04 13:12] scholzj commented on #2942
Ok - yeah ... as I said above, this looks like a bug in 0.16 which is fixed in 0.17. Sorry.

[2020-05-04 13:13] tsyrfa commented on #2942
OK!
Thanks!
I think, I will update it

[2020-05-04 15:40] JoshBargar commented on #2680
This would be helpful. I have been struggling with this lately as well.

[2020-05-04 16:17] scholzj commented on #2263
This issue still seems to be valid. The original way to reproduce this does not happen because we now have additional affinity rules to schedule only to nodes which have given label. But it can be still reproduced when you for example modify the ClusterRole for the init container to get it crash-looping. I assume that similar situation could happen with an unesponsive broker.

The whole loop now t

[2020-05-04 19:28] scholzj opened #2948 "[PROPOSAL] Move to Java 11 - Runtime"
Following the [Move to Java 11 proposal](https://github.com/strimzi/strimzi-kafka-operator/blob/master/design/java-11.md), we should do the following steps as part of Strimzi 0.19.0:
* Change the runtime in the container images to OpenJDK 11
* Update the CI to push documentation, JARs and container images from the Java 11 build
* Update all build documentation (HACKING.md, etc.) with regards to th

[2020-05-04 19:30] scholzj opened #2949 "[PROPOSAL] Move to Java 11 - Language level"
Following the [Move to Java 11 proposal](https://github.com/strimzi/strimzi-kafka-operator/blob/master/design/java-11.md), we should do the following steps as part of Strimzi 0.21.0:
* Change the language level to Java 11
* Remove the Java 8 CI builds
* Update all build documentation (HACKING.md, etc.) with regards to the changes described above

[2020-05-05 05:33] vdinovi commented on #2927
Hi, I've been toying with strimzi and would really like to contribute. Mind if I take this one?

[2020-05-05 06:37] stanlyDoge commented on #2939
I like the second option.

[2020-05-05 07:17] scholzj commented on #2927
@vdinovi Sure, go for it.I assigned it to you so that nobody else starts working on this.

[2020-05-05 14:19] klalafaryan opened #2958 "[Question] Helm install is broken (Strimzi 0.17.0)"
Hello!

Currently we are using strimzi 0.16.2 which works perfectly fine, we have tried to upgrade to 0.17.0 and we are getting following, seems like there is an issue with helm:
[code]

Any ideas ?

Thanks!

[2020-05-05 21:04] scholzj commented on #2958
I don't think anyone reported any issues with the Helm Chart in 0.17.0. TBH I have no idea if the Helm Chart upgrade is in anyway special.

[2020-05-06 05:41] ananthk01 opened #2961 "Updating kafka broker properties after deployment"
Hi,

I currently have kafka running with a set of config properties which I would like to expand on.
[code]
I tried to add the properties to the kafka.yaml and apply that.

[code]
Describing the pods still shows the old set of properties.

[code]

I attempted to restart the kafka and zookeeper pods but it still doesn't take effect. Is it possible to have the new set of broker configuration propert

[2020-05-06 06:00] ppatierno commented on #2961
When you do something like this, the cluster operator should do a rolling update of the Kafka brokers, so actually restarting one by one with the updated configuration.
Which Strimzi version are you using? Can you paste the cluster operator log since the moment you apply the new changes?

[2020-05-06 06:22] ananthk01 commented on #2961
Thank you for your response Paolo. I apologize for hastily opening the incident. It just took a little longer than expected. For the question about the version, it's 0.14.

[2020-05-06 06:22] #2961 closed

[2020-05-06 12:55] scholzj opened #2964 "KafkaRoller blocks rolling update when topic with RF=1 and MIN-ISR=2 exists"
It looks like the KafkaRoller has a an issue with topics which have replication factor lower than the `min.insync.replicas` option. It will just wait until such topic can roll safely, but never really completes because such topic will be never safe to roll. Funny enough, it blocks the rolling update, so I cannot remove the `min.insync.replicas` from cluster config after I run into the issue.

I ru

[2020-05-06 13:03] scholzj opened #2965 "Make it possible to scale Kafka Mirror Maker 1 to zero replicas"
The PR #2897 made it possible to scale down KafkaConnect and KafkaConnectS2I to 0. We should make things consistent, so the same should be done to the Kafka Mirror Maker 1 as well. That should be a bit easier, since there is no connector operator involvement. So just make sure the readiness would pass and ensure the right options are set in the status.

[2020-05-06 13:03] scholzj opened #2966 "Make it possible to scale Kafka Mirror Maker 2 to zero replicas"
The PR #2897 made it possible to scale down KafkaConnect and KafkaConnectS2I to 0. We should make things consistent, so the same should be done to the Kafka Mirror Maker 2 as well. That should be a bit easier, since there is no connector operator involvement. So just make sure the readiness would pass and ensure the right options are set in the status.

[2020-05-06 13:03] scholzj opened #2967 "Make it possible to scale Kafka Bridge to zero replicas"
The PR #2897 made it possible to scale down KafkaConnect and KafkaConnectS2I to 0. We should make things consistent, so the same should be done to the Kafka Bridge as well. That should be a bit easier, since there is no connector operator involvement. So just make sure the readiness would pass and ensure the right options are set in the status.

[2020-05-06 14:37] klalafaryan commented on #2958
I have tried also with latest version of the helm (v2.16.7) but still getting the same error. By the way,  is helm 3 version supported ?

Seems like something related to mirrormaker which has been added in the strimzi 0.17.0 version.