[2016-05-14 13:03] ppatierno opened #1 "Remove lock mechanism with something better"
Think about a different mechanism than locking file in order to define the broker id for Kafka server on startup

[2016-05-17 15:55] ppatierno opened #2 "Using PetSets when available in the new Kubernetes release"
Consider to use PetSets when they'll be available in the new Kubernetes release [1] :

https://github.com/smarterclayton/kubernetes/blob/961f1f94c35d4979ac83bbad482090cb6c22781c/docs/proposals/petset.md

They are related to following :

https://github.com/kubernetes/kubernetes/issues/23794
https://github.com/kubernetes/kubernetes/issues/23804

[1] https://github.com/kubernetes/kubernetes/wiki/Rele

[2016-05-18 10:52] ppatierno opened #3 "Adding health check for Zookeeper and Kafka pods"

[2016-05-20 14:05] ppatierno opened #4 "Adding a Docker image and pods with the AMQP - Kafka bridge"

[2017-03-03 17:26] #4 closed

[2017-03-03 17:29] ppatierno opened #5 "Different images for Zookeeper and Kafka"
Think about having two different images for Zookeeper and Kafka removing the command to start from the YAML file and putting it into Dockerfile.

[2017-04-14 09:35] #2 closed

[2017-04-14 09:35] ppatierno commented on #1
No need to do that anymore, the Stateful Sets solution in available now.

[2017-04-14 09:35] #1 closed

[2017-08-23 01:45] kunallimaye opened #8 "kafka_run.sh script not found error"
`kafka-statefulsets/resources/openshift-template.yaml` on line 109 references a script `/opt/kafka_2.11-${KAFKA_VERSION}/kafka_run.sh` that doesn't exist.

The script should be updated to `/opt/kafka/kafka_run.sh`

[2017-08-25 10:44] ppatierno commented on #8
Closed with #9

[2017-08-29 13:12] goern commented on #5
good idea, and we should think about making zookeeper a ensemble... see https://zookeeper.apache.org/doc/r3.3.2/zookeeperAdmin.html#sc_zkMulitServerSetup

[2017-08-29 13:12] goern commented on #8
This issue could be closed :)

[2017-08-29 13:14] #8 closed

[2017-09-15 15:34] nj24 opened #10 "Error when publishing to Kafka when brokers scaled to 3"
I am trying to use the image with one change ...

Using ADVERTISED_LISTENERS and LISTENERS instead of hostname
Below are the configurations

advertised.listeners="EXTERNAL://stb-openshift..........:30062,INTERNAL://kafka:9094"
listeners="INTERNAL://:9094,EXTERNAL://:9092"

But when scaling up the pods there is error when publishing messages
Error as
"WARN Error while fetching metadata with correla

[2017-09-18 10:03] lghinet commented on #10
hello,
how did you solved it ?

[2017-09-28 10:22] gunnarmorling opened #11 "Add Kafka Connect support"
In order to use [Debezium](http://debezium.io/) on OpenShift via Barnabas, support for [Kafka Connect](https://docs.confluent.io/current/connect/index.html) will be needed. Debezium comes in form of a set of KC source connectors, so we'd need a way to add one or more of the Debezium connectors to the Connect image.

[2017-10-02 14:44] ppatierno opened #13 "Define a base Docker image"
It could be useful having a base Docker image with Kafka only.
In this way the Docker images for Kafka and Kafka Connect deployment can be based on that, with related differences (i.e. scripts to run).
It's useful for saving bandwidth on Docker pull as well.

[2017-10-03 11:29] jpechane opened #17 "Create a builder image from Connect image"
Most Connect images requires an addition of connectors that are used by the user. There are two approaches available
- mounting voulme with image jars
- create an image that derives from Connect image and add plugins to plugin dir

We propose a third way how to solve the problem. The Connect image should be able to support s2i build in form of [binary builds](https://docs.openshift.org/latest/dev_

[2017-10-05 08:17] scholzj commented on #5
@ppatierno Would you just separate the scripts for starting Zookeeper / Kafka? Or would you move to completely separate images - i.e. the Zookeeper image using standalone Zookeeper distribution instead of using the Zookeeper bundled with Kafka?

[2017-10-05 08:21] ppatierno commented on #5
@scholzj I think that we should have different images and using standalone Zookeeper distribution instead of the one bundled with Kafka. Wdyt ?

[2017-10-05 19:10] scholzj opened #19 ""Kafka version" parameter in OpenShift template"
The `openshift_tamplate.yaml` for Kafka Statefull set seems to contain following parameter which is not used:
[code]

We should clarify its purpose and either remove it or use it. Wa sit supposed to determine the image version?

[2017-10-06 16:01] tombentley opened #21 "Fix logging"
Currently we pull the Kafka distribution from Apache when building the image, and thus inherit the default log4j config, which logs to console and file. Since k8s/openshift will log what gets output to the console, we should fix the `log4j.properties` to not use a file logger.

[2017-10-09 10:51] scholzj opened #22 "Make it possible to run Zookeeper in HA"
Currently we run always only single instance of Zookeeper service. This is valid for both in-memory as well as for statefulset Kafka setups. We should add support for running Zookeeper ensembles with 3 and more nodes using stateful sets.

[2017-10-09 10:53] scholzj commented on #5
FYI: I raised a separate issue #22 to make the Zookeeper run as multi node ensemble. This issue will be used to separate the images.

[2017-10-09 13:44] scholzj commented on #13
This issue has been addressed by PR #20 and can be closed.

[2017-10-09 13:44] #13 closed

[2017-10-09 13:46] tombentley opened #23 "Fix CI"
Currently CI builds for PRs seem to consistently fail. The last one failed with:

[code]

[2017-10-09 13:47] scholzj commented on #5
Separation of Docker images for Kafka and Zookeeper has been addressed by PR #20. The same PR also removed the commands.

Since Zookeeper ensemble is covered by #22, I think this issue can be closed.

[2017-10-09 13:47] #5 closed

[2017-10-09 13:50] scholzj commented on #23
IMO the problem is that the PRs do not have the credentials for Docker available. This is intentional, since I could open PR which prints the credentials and hijack the account. However even in PRs the travis script runs make and tries to push to Docker Hub. We should probably modify the make files to:
* Build images (and run tests in the future) for PRs and direct commits

[2017-10-09 13:56] scholzj commented on #10
@nj24 Could you describe in a more detail what are you trying to achieve? Also, are you using the `inmemory` image or the `statefulset` images? Are you trying to have a Kafka cluster which will be using one interface for inter-broker communication and another interface for consumers / producers?

[2017-10-09 14:14] scholzj opened #24 "Future of the "inmemory" setup"
I would like to discuss the future of the `inmemory` setup. Currently there seem to be two main differences between the two setups:
* `inmemory` is using deployment instead of stateful set
* `inmemory` is using `emptyDir` as a storage instead of `PersistentVolumeClaim`

_Note: `inmemory` is actually not in memory as the name might siggest. It is still using disk but not persistent volume._

The pr

[2017-10-09 14:25] tombentley commented on #24
I understand @ppatierno finds/has found the inmemory image useful for testing and demos and such like. However, while it may be useful for those purposes, it's not clear to me that it should be a part of enmasse/barnabas. Assuming that is indeed the case then I would suggest we remove it from this repo and let it live somewhere else.

[2017-10-10 14:04] scholzj opened #26 "Kafka Connect sidecar container"
Currently we provide in Barnabas only distributed Kafka Connect cluster. In some cases users might be also interested in running standalone Kafka Connect. For example as a sidecar container which will be loading file records written by other container from the same Pod into Kafka (or from Kafka).

For this it would be great if we could provide a Docker image which would contain standalone Kafka Co

[2017-10-10 15:21] scholzj opened #27 "Enhance configuration possibilities of Kafka, Kafka Connect and Zookeeper"
Our Docker images currently accept only few environment variables to affect the configuration. Most of the different configuration options (for both Kafka brokers and Kafka Connect as well as for Zookeeper) are not exposed and are basically fixed to the default values. We should make it possible to configure all the different aspects.

Some ideas how to do it:

1. "Brute force approach"

We take a

[2017-10-11 06:14] ppatierno commented on #24
I agree with the second approach by @scholzj

[2017-10-11 06:36] scholzj commented on #24
@ppatierno Great, thanks. I think that would make few things easier. I will have a look at it.

[2017-10-11 13:36] ppatierno opened #29 "Providing a schema registry implementation"

[2017-10-11 14:08] scholzj commented on #17
This issue should be fixed now - I will close it.

@jpechane Feel free to reopen it if you think something is still missing or not working.

[2017-10-11 14:08] #17 closed

[2017-10-11 14:10] scholzj commented on #11
We have now basic support for [Kafka Connect](https://github.com/EnMasseProject/barnabas#kafka-connect) as well as the [S2I build support](https://github.com/EnMasseProject/barnabas#using-openshift-build-and-s2i-image). I think this issue is now fixed and can be closed.

@gunnarmorling Feel free to reopen it if you think something is still missing or not working.

[2017-10-11 14:10] #11 closed

[2017-10-11 16:17] scholzj opened #31 "Use code generation for the YAML files"
Currently we have several YAML files which are very similar in `kafka-statefulset` and `kafka-inmemory`. Having some simple code generator would be helpful, so that we can change the YAML definitions really only in single place.

[2017-10-11 16:55] tombentley opened #33 "Use `podAntiAffinity` so brokers don't accidentally run on the same machine"
We should use `podAntiAffinity` so brokers don't accidentally run on the same physical machine, because that would defeat the point of Kafka holding multiple replicas of partitions.

[2017-10-11 17:04] tombentley opened #34 "Automated testing"
We need automated tests for the configurations we're publishing. At a basic level, we should know that the deployments to OpenShift and Kubernetes actually work and don't produce errors, but we also need system-level testing with failure scenarios. https://fabric8.io/guide/testing.html might be a good place to start.

[2017-10-12 07:41] scholzj commented on #33
I'm not sure we should really use this *by default*. Some of my thoughts why ...

Kubernetes will try to schedule the pods of stateful set on separate nodes where possible on its own. So for the basic situations anti-affinity is not needed. The situation when it might not work perfectly is for example:
1. you have 3 node Kubernetes cluster
2. Kafka is deployed with 3 pods - one pod is scheduled pe

[2017-10-12 08:31] tombentley opened #35 "Single-file deployments"
Currently we have a file-per-entity for the zookeeper and kafka deployments. This makes instructions and examples (for example in the `README.md`) more verbose as we have to list and use multiple files. We could merge the entities into a single YAML file to alleviate this.

[2017-10-12 09:02] tombentley commented on #33
Is that true of `preferredDuringSchedulingIgnoredDuringExecution`, wouldn't it just ignore the affinity with that setting?

Can you open a separate issue for that, @scholzj?

I'm happy to defer this issue until we have such a controller.

[2017-10-12 11:19] tombentley commented on #21
This is not as simple as I first thought. By default kafka will produce a number of log files, each with a daily rolling and date-based file names:

* `server.log`
* `state-change.log`
* `kafka-request.log`
* `log-cleaner.log`
* `controller.log`
* `kafka-authorizer.log`

If we just send all these log events to stdout then we will end up with a combined log that's difficult to read. We'd end up nee

[2017-10-12 13:19] scholzj commented on #21
How does the output into the console look like? Normally you would use something such as Elasticsearch to "read" the logs. Can we send everything into console and just mark the records based on the stream they belong to? Everyone will be then able to filter through exactly what he wants in the Elasticsearch.

Or was you idea with the sidecar to send the basic log to Kafka stdout and use the sideca

[2017-10-12 13:24] tombentley commented on #21
I didn't think so, but I guess each of the appenders could just be to the console. Let's try that...

[2017-10-12 13:27] tombentley commented on #21
Ah, no. The problem is that to tag each line with the "logical log" it would have belonged to means I need an appender for each logical log. But if I have multiple appenders each going to stdout then I think I'll end up with duplicate log lines: a tagged one, plus the 'overall' one. We still need the overall one, because some messages won't be tagged.

[2017-10-12 13:37] scholzj commented on #21
And do we need to tag the lines? Isn't the content or the source class etc. enough to filter the content?

[2017-10-12 13:48] tombentley commented on #21
@scholzj yes, that would work, so long as we have/provide the tooling to post-process the unified log, elasticsearch or otherwise.

[2017-10-12 13:58] scholzj opened #36 "Add support for `broker.rack`"
Kafka has a concept of racks. They represent group Kafka nodes into different *segments* based on the probability that they will fail all together. E.g. all machines in single rack will fail when the rack fails - hence rack. But in in public cloud for example the role of the rack will be taken over by the availability zone. The idea is that when a topic has N replicas, the replicas should be sprea

[2017-10-12 14:12] scholzj commented on #33
You are right, `preferredDuringSchedulingIgnoredDuringExecution` should schedule all on Minikube and such (see, I don't know that much about Kubernetes and openShift ;-)). It is also interesting that the Kubernetes docu seems to talk about this even in connection to StatufulSets. I haven't seen any stateful set which would not follow the `preferredDuringSchedulingIgnoredDuringExecution` rule autom

[2017-10-12 14:23] scholzj commented on #21
That is normally something everyone does as one of the first things (at least in Kubernetes `kubectl logs` kind of sucks - for example you don't find logs for init containers, for removed pods etc.). So almost everyone installs EFK or ELK soon. I'm not sure whether there is something special on OpenShift and what is the usual practice there, but I would guess the same.

How would we do it with the

[2017-10-12 14:27] scholzj commented on #34
I never used Arquilian but the link you posted looks quite good. I was originally for a start thinking only about some simple tests written using Bash and [Bats](https://github.com/sstephenson/bats). But your suggestion might be better ;-).

[2017-10-12 14:55] #24 closed

[2017-10-12 15:01] ppatierno commented on #19
@goern what was your idea about it when you opened the PR for the OpenShift template ?

[2017-10-12 15:18] goern commented on #19
The idea was to select which version of Kafka to be deployed, but now it feels like we can skip it and just go with the latest all the time..

[2017-10-12 17:10] scholzj commented on #19
Ok. We have in the template parameters to override the Docker repository and the image name. So having another parameters for the versions would probably make sense as well.

[2017-10-12 20:49] #19 closed

[2017-10-13 08:40] tombentley opened #40 "Requirements for Controller"
We expect, eventually, to need some kind of controller which will use the k8s REST API to manage the zookeeper and kafka deployments. This issue is about trying to understand what the requirements for a controller would be (while related to #31 that would be a build-time process, whereas this is about doing something similar at runtime).

[2017-10-13 08:40] tombentley commented on #40
One requirement is that we can abstract across evolution of k8s APIs. For example apps/v1beta2 StatefulSet on Kubernetes 1.8, apps/v1beta1 StatefulSet on 1.7 and earlier and PetSet.

[2017-10-13 08:57] tombentley opened #41 "Multitennant ZK ensembles?"
It *may* be possible for a single ZK ensemble to support multiple Kafka clusters. To know whether that would be worthwhile we need a better understanding of:

1. How heavily utilised the ensemble is by a single cluster of a given size (in particular, peak utilisation), and thus some idea of "sharing ratio".
2. How we could migrate a Kafka cluster using a multi tennant ensemble to a dedicated one.

[2017-10-13 09:01] tombentley opened #42 "Explore options for metrics & monitoring"
How do we expose the Kafka and ZooKeeper metrics & monitoring within barnabas?

[2017-10-13 09:14] tombentley opened #43 "Use cases for authnz"
We're dealing with a number of systems each with their own authentication and authorisation:

* Kafka
* ZooKeeper
* k8s/OpenShift
* Any authnz that we give barnabas itself

We need use cases to motivate requirements for what we should support.

[2017-10-13 09:15] scholzj commented on #41
Some further points to consider / keep in mind:
* The weak security model should be taken into consideration
* The migration would IMHO not work without complete cluster shutdown
* What are the fixed costs for running ZK cluster versus the variable costs caused by the user (Kafka in this case). Since the pods can be vertically scaled we need to know how much more efficient is one big ZK cluster wi

[2017-10-13 09:21] tombentley commented on #41
ZK has per-znode ACLs. Or did you mean some other security aspect?

[2017-10-13 09:41] scholzj commented on #41
Well, the ACLs set up by Kafka are AFAIK only about write access, right? So everyone has read access. We either need to address this or use the multi-tenant ZK only in cases where it doesn't matter, such as:
* All tenants are the same customer, just different Kafka clusters. So the read access might not be a problem for them.
* Actual users have no access to ZK. They either manage things through K

[2017-10-13 10:09] tombentley commented on #21
Do we need to provide the ability to view the logs from within a barnabas console? If not then we should be as unopinionated as possible about how people consume the logs.

As I understand it, log rotation in non-java programs is done by sending the process a signal which causes it to start a new log file. Thus when to roll is triggered by a `logrotate` daemon. Java doesn't provide an API for sign

[2017-10-13 10:48] scholzj commented on #21
I think that unopinionated means in Kubernetes / OpenShift world something like "just dump it to output".

[2017-10-13 11:32] jpechane opened #44 "Replica count should be configurable for stafulset Kafka"
It is possible to configure the size of cluster in Connect template so it should be possible to do the same in https://github.com/EnMasseProject/barnabas/blob/master/kafka-statefulsets/resources/openshift-template.yaml for both ZooKeeper and Kafka broker

[2017-10-13 11:36] scholzj commented on #44
Zookeeper currently works only as single node (see issue #22). For Kafka this would be possible and would make sense. In the mean time, scaling the Kafka stateful set after it was deployed could be used as a workaround.

[2017-10-13 11:47] scholzj commented on #3
I fixed the Zookeeper healthcheck. That seemed to be quite easy and there seems to be only single solution used by almost everyone.

Kafka doesn't seem to have any obvious solutions. I saw several solutions using `bin/kafka-broker-api-versions.sh`. Do you think that is a good option? It seems better to me than just pinging the TCP port.

WDYT?

[2017-10-13 11:54] jpechane opened #45 "Mismatch between Connect s2i and Connect templates"
Connect s2i is able to build a Connect image with a requested plugin(s). The resulting image is stored in an image stream. Connect template on the other hand uses Kuberentes Deployment object that is able to consume plain images, not image streams.

I propose to extend s2i template with same deployment as is in connect template but enrich it with `alpha.image.policy.openshift.io/resolve-names: '*'

[2017-10-13 11:56] jpechane commented on #44
Is there any technical reasun why ZookKeeper can't run as a replicated service?

[2017-10-13 12:33] scholzj commented on #44
It is WIP. It is slightly harder to bootstrap Zookeeper cluster because it requires to know about the other cluster members. But I'm looking into it right now.

[2017-10-13 12:46] jpechane commented on #44
If it is about node id - when I was experimenting with it I extracted the id from `HOSTNAME` - the ordinal suffix. I passed the count of replicas into each instance so each instance genereated zoo.cfg with the list of instances.

[2017-10-13 12:49] scholzj commented on #44
Yes, that is how it is done.

[2017-10-13 12:54] tombentley commented on #3
The broker doesn't have to do much to return `ApiVersionsResponse` (it's basically just a static method), but it would test things a little more than just doing a TCP handshake. It would report OK when the broker was an a bad state e.g. unable to write records to disk.

Internally the `KafkaHealthCheck` uses an ephermal znode in zookeeper, and this is how other brokers know about the health of a b

[2017-10-13 16:33] #44 closed

[2017-10-13 16:36] scholzj commented on #22
This is now fixed (in a fairly primitive way), but it works :-). Please do not scale the ZK cluster once it is deployed :-o.

[2017-10-13 16:36] #22 closed

[2017-10-13 16:40] tombentley commented on #36
How many availability zones are there, typically, in a region?

[2017-10-14 12:48] scholzj commented on #36
It depends. In AWS this ranges from 2 to 6 - you can have a look [here](https://aws.amazon.com/about-aws/global-infrastructure/). [Google](https://cloud.google.com/compute/docs/regions-zones/) seems to be doing a bit better and most of their regions have 3+ zones. I expect that on premise many customers might have only two as well.

2 zones should not be such a big deal for Kafka. Zookeeper might

[2017-10-15 13:40] scholzj opened #50 "Kafka should use service DNS names and not Pod IP addresses as advertised host"
Kafka is currently using the pod IP address as the advertised host name. I think that is not correct, as the Pod IP address is not necessarily stable. It should be using either the IP address exposed through the headless service or probably even better the hostname exposed through the headless service.

I'm not sure in detail how the different Kafka clients work and how often they recheck the adve

[2017-10-16 09:26] tombentley commented on #36
[KIP-36](https://cwiki.apache.org/confluence/display/KAFKA/KIP-36+Rack+aware+replica+assignment) describes rack aware assignment, and explicitly says that "rack==availability zone" in AWS. It also says, when describing how the rack-aware assignment would work, "if the number of racks is less than the the number of replicas (which should happen very infrequently)..." If there are only 2 AZ in a reg

[2017-10-16 12:07] scholzj commented on #36
Yeah, it is a bit unfortunate that it cannot distribute the replicas equally across the racks when replicas > racks. But still better then nothing.

[2017-10-16 13:05] #3 closed

[2017-10-16 15:43] scholzj opened #54 "Kafka Connect workers should set advertised hostname"
Kafka Connect workers need to communicate with each other over the REST interface. The `rest.advertised.host.name` option should be used to facilitate this through some stable and reliable interface. Basically one of the workers act as a leader and  some of the requests (such as creating new connector are simply forwarded to the leader's REST from the non-leader).

There seem to be two options:
1)

[2017-10-16 16:09] scholzj opened #55 "Renaming services for Kafka and Zookeeper"
Both Kafka and Zookeeper have two separate services. The *headless* service which make sure that DNS records will be created for individual pods and access to them. In ZK this is needed to bootstrap the cluster. In Kafka this is needed to access the partition leaders directly etc.

Second service is a *ClusterIP* and does load balancing between available servers. For ZK this is used for client acc

[2017-10-16 18:47] scholzj opened #56 "Healthcheck doesn't work with advertised hostname using DNS"
The PR #52 and #51 don't seem to work together. The problem is that we advertise the hostname based on the headless service. But the default setting of the headless service is that until healthcheck passes the routing is disabled. However the `bin/kafka-broker-api-versions.sh` is configured through bootstrap server where it gets the advertised address and tries to connect over the advertised addre

[2017-10-16 19:16] scholzj opened #57 "Find better health check for Kafka"
As #56 shows (similar discussion was already in #3 ), `bin/kafka-broker-api-versions.sh` is not a good health check. In a long term, we should try to identify better healthcheck.

[2017-10-17 10:30] tombentley opened #59 "Better health check for zookeeper"
We're currently using `echo ruok | nc 127.0.0.1 2181`, but the [documentation](https://zookeeper.apache.org/doc/trunk/zookeeperAdmin.html#The+Four+Letter+Words) says this will return `imok` whether the zookeeper instance is in the quorum or not. We could do better with something like `echo stat  | nc 127.0.0.1 2181 | grep -qE 'Mode: (follower|leader)'`

[2017-10-17 12:58] scholzj commented on #59
I don't think I agree with this. The purpose of the healthcheck is not to validate the health of the whole Zookeeper cluster but only of the particular node. Mixing this with the cluster healthcheck would be wrong because it would send even the healthy Pods into restart loop just because the quorum is not achieved. As a result the cluster might have problem to start or recover from some issues.

I

[2017-10-17 13:07] tombentley commented on #59
You're right: this health check would depend on the other pods in the cluster which isn't really the right thing for a per-pod health check.

[2017-10-17 13:07] #59 closed

[2017-10-17 13:08] scholzj commented on #50
It looks like the change to DNS hostnames caused some problems to users who are using Kafka from outside of OpenShift since the hostnames don't resolve outside of OpenShift. We should rollback this change

This is still a valid issue but we should revisit it later when we have other ways how to make Kafka available outside of OpenShift.

[2017-10-17 13:37] scholzj commented on #56
After rolling back #50 this is not needed anymore and can be closed.

[2017-10-17 13:37] #56 closed

[2017-10-18 11:14] scholzj opened #61 "Unify all our Docker images to use the same ENTRYPOINT and CMD structure"
Currently our Docker images have each different ways how they use Docker ENTRYPOINT and CMD fields. We should agree on the *single right* approach and unify them. But first we need to clarify what the *right approach* actually is.

[2017-10-18 14:40] scholzj commented on #54
Kafka Connect currently uses the Pod IP as the advertised URL. The IPs are visible and the communication across Kafka Connect is only followers -> leader. So I don't think we really need to change this to stateful set and fix the names. When the leader changes, it has to announce its URL (through Kafka?) so *unstable* IP addresses should not matter.

However, it might be wise to configure the adve

[2017-10-18 18:31] #54 closed

[2017-10-19 12:03] ppatierno commented on #40
About K8S API evolution and maybe even related to OpenShift API evolution, it makes more sense if the "on premise" installation scenario is just "raw" Kafka deployment or even Kafka on OpenShift (on premise). In the latter case we should support more K8S/OpenShift versions.

[2017-10-19 13:47] scholzj commented on #45
@jpechane I had a look at this and did it a bit differently. I extended the S2I deployment to also contain a DeploymentConfig which is bound directly to the ImageStream. If you want to give it a try, you can have a look at the PR #63. The updated S2I Docker image is available as scholzj/kafka-connect-s2i:latest. It would be great to hear from you whether what I did works fine for you.

[2017-10-20 10:03] #45 closed

[2017-10-20 14:08] jpechane opened #64 "Kafka template should support configuration of replication factor params"
As it is possible to configure number of replicas for Kafka it would be also useful to configure default replication factors for
[code]
The default value for the first 5 is 3, for the last one is 1. So I propose to provide two parameters - one for the system topics and one for the default. The reason is that if you dpeloy cluster with less than 3 brokers (typically one for dev environment) it is b

[2017-10-20 14:35] scholzj commented on #64
@jpechane I'm a bit confused since my understanding is that some of these options are in Kafka:
* `offsets.topic.replication.factor`
* `transaction.state.log.replication.factor`
* `default.replication.factor`

And some are in Kafka Connect:
* `config.storage.replication.factor`
* `offset.storage.replication.factor`
* `status.storage.replication.factor`

Otherwise the requirement is valid. I had ru

[2017-10-20 15:25] scholzj commented on #61
Currently, our docker images have different setup:
* Kafka and Zookeeper have currently only `ENTRYPOINT` configuration and don't allow to run anything other than the default without overriding the `ENTRYPOINT`.
* Kafka Connect has `ENTRYPOINT` and `CMD`. The `ENTRYPOINT` currently allows to some extend command override and for example get into `bash`

It seems that in general two ways are used:
1

[2017-10-23 03:11] jpechane commented on #64
I am sorry for the confusion. Yes, you are right I've mixed both Kafka and Connect together. I agree with your propal as it makes sens to group the options as described.

[2017-10-23 10:21] #64 closed

[2017-10-23 10:23] scholzj commented on #64
After some further discussion in the PR, we decided to use separate parameter for each Kafka / Kafka Connect option.

[2017-10-25 10:39] tombentley commented on #42
A couple of monitoring idea from netflix: https://medium.com/netflix-techblog/kafka-inside-keystone-pipeline-dd5aeabaf6bb#1f2d

[2017-10-25 11:13] scholzj commented on #40
# Deployment controller / operator

The controller can follow the *operator* concept. It will watch for two kinds of ConfigMap / CRD resources. One for Zookeeper deployments and one for Kafka deployments. The config maps will identified by labels:
[code]
or
[code]

Inside the ConfigMap a detailed configuration of the requested deployment will be hidden. For example:
[code]

When the ConfigMap is c

[2017-10-25 11:52] tombentley commented on #40
I don't understand this sentence.

[2017-10-25 11:55] tombentley commented on #40
We really shouldn't require users to create such topics. There can be many such topics and it's pointless work. A "single button import" facility to create them would be better, but I still prefer going the whole hog and just automatically creating ConfigMaps for ropics created outside of the controller.

[2017-10-25 12:00] scholzj commented on #40
@tombentley Basically, imagine following scenario:
1. The controller crashes
2. User deletes the ConfigMap
3. Controller is started again
=> The controller will not find out that the ConfigMap was deleted and will consider the topic as unmanaged and let it exist in Kafka.

If the controller does reconciliation, it will at least recreate the ConfigMap again and make this more visible to the user.

[2017-10-25 12:00] ppatierno commented on #40
There are some topics that the user doesn't know about them. For example the "state store" topics for stateful transformation (to re-build a RockDB database) and even "repartitioning" topic (i.e. when group by key is used) in Kafka Stream.

The same for the ___consumer_offsets topic as well.

[2017-10-25 13:49] scholzj commented on #40
I think it is best to leave the `__` topics out of the management. They have specific names, so that should be easy.

[2017-10-25 13:54] tombentley commented on #40
@scholzj thanks, I understand the scenario now. This makes me think about the controller being HA.

[2017-10-25 14:13] scholzj commented on #40
I think you would need some active - passive locking mechanism (using Zookeeper to deploy Zookeeper??? :-o) so that you don't have two or more instances trying to do the same.

But if we implement it properly and really also create the ConfigMaps for the topics created directly in Kafka we should not need it.

[2017-10-26 13:13] #23 closed

[2017-10-26 15:52] komljen commented on #50
I agree that pod IP is not a good choice and something like `${HOSTNAME}.kafka-headless` is probably more suitable. Hostname in StatefulSet is stable.

[2017-10-26 16:08] ppatierno opened #67 "Describe the Kubernetes/OpenShift cluster creation"
It would be better having a first chapter explaining how to provision a Kubernetes/OpenShift cluster instead of having such thing for every deployment chapter.

[2017-10-26 16:30] scholzj commented on #50
@komljen It was causing some issues when trying to access Kafka from outside of OpenShift. Basically, if you start the OpenShift cluster on Linux using `oc cluster up` you can access the pods directly trhough IP address also from local applications not running on OpenShift. When the advertised hostnames are changed from Pod IP address to DNS names, these DNS names are not resolved outside of OpenS

[2017-10-30 13:38] ppatierno commented on #67
Closed by #68

[2017-10-30 13:38] #67 closed

[2017-10-31 02:41] leenux opened #72 "Can't work on kubernetes/minikube"
[code]
after insert kafka-statefulsets/resources/cluster-volumes.yaml by editor
[code]
###    accessModes:
###      - ReadWriteOnce
[code]
###    accessModes:
###      - ReadWriteOnce
[code]
this yaml work fine.
but run `kubectl apply -f kafka-statefulsets/resources/zookeeper.yaml`
`error: error converting YAML to JSON: yaml: line 34: did not find expected key`
and I swap between `name: clientport

[2017-10-31 06:51] luksa commented on #72
I've fixed both issues:
- https://github.com/EnMasseProject/barnabas/commit/d281eb9c2ec89d0db999ea77cd2298b707cc14d6
- https://github.com/EnMasseProject/barnabas/commit/260d36511a284354b43a0ef9d81e66665b87bc71

[2017-10-31 06:51] #72 closed

[2017-10-31 11:40] leenux commented on #72
@luksa
Thank you.

[2017-11-01 01:00] leenux opened #73 "Is it okay to make sure it's all right?"
`kafka-statefulsets/resources/zookeeper.yaml`
[code]
The 1st line is `- name: clientport` and 2nd line is `containerPort: 2181`

The 4th line is  `- containerPort: 2888` and 5th line is `name: clustering`

The 7th line is `- containerPort: 3888` and 8th line is `name: leaderelection`

[2017-11-01 07:30] scholzj commented on #73
@leenux I'm not sure I understand what the problem is ... is it the different order of the fields for each port?

[2017-11-01 08:21] scholzj commented on #10
Since there was no feedback for some time I will close this issue. Feel free to reopen it if you think it is still relevant. Thanks.

[2017-11-01 08:21] #10 closed

[2017-11-01 11:04] jpechane opened #75 "Schema support is disabled in Connect"
Connect image by default disables schema support - https://github.com/EnMasseProject/barnabas/blob/d281eb9c2ec89d0db999ea77cd2298b707cc14d6/kafka-connect/scripts/kafka_connect_run.sh#L52-L53

It should be possible to override the setting. Also it is probably better solution to have schemas enabled by default.

[2017-11-01 11:57] scholzj commented on #75
@jpechane Two questions ...

1) I don't remeber it exactly and would need to try it out. But I believe that when I simply set it to true it will require also some other parameters to be specified. Can I really just set this to true and not change anything else?
2) What about `internal.key.converter.schemas.enable` and `internal.value.converter.schemas.enable`?

[2017-11-01 12:46] jpechane commented on #75
1. It should just work. Only when Avro serializers are used then schema registry has to be provided.
2. The are almost never changed so you can keep them as is.

[2017-11-01 13:29] #73 closed

[2017-11-01 14:15] scholzj commented on #75
@jpechane Yeah, it seems you are right. It probably matters only once some connector is deployed.

[2017-11-01 15:31] #75 closed

[2017-11-01 19:51] lulf commented on #40
@tombentley @scholzj Some comments on this approach. The notion of a topic controller is very similar to the concept of the address controller in enmasse.

There is some overlap in the topic-controller and the address-controller I think. Basically, the address config as called in enmasse would map to the topic configmap. If this topic-controller understands the address config format, it can be plu

[2017-11-01 20:05] gunnarmorling commented on #75
Sweet, thanks for the quick fix, @scholzj!

[2017-11-01 20:52] tombentley commented on #40
Thanks @lulf

Is there any documentation/description of that format? Is the enmasse address controller using a CRD, or plain configmaps?

For Kafka we have the problem that clients (such as Kafka Streams) can create topics outside of the control of any operator, and it seems likely that we're going to need to reflect these as k8s resources (ConfigMap or CRD), so there's a need for bidirectional re

[2017-11-01 21:01] lulf commented on #40
@tombentley Just updated my previous comment :rofl: with more details.

See http://enmasse.io/documentation/master/tenant/#creating_addresses for the format of addresses. Though somewhat simplified in this example, it shows the different types we support for the 'standard' address space. The proposal for kafka would be to have a 'kafka' type, along with a 'properties' entry in the spec for describ

[2017-11-01 21:15] scholzj commented on #40
@lulf With Kafka, ideally we want to provide multiple tiers.
* Integration of Kafka within EnMasse (not just via the AMQP Kafka bridge but really in the way you suggested).
* But we also want to make it possible to run just Kafka on OpenShift. There are many users who are on the Kafka train and want to simply run Kafka on OpenShift with a different amount of additional management tools.

I think t

[2017-11-01 21:26] lulf commented on #40
@scholzj I think those tiers make sense, and agreed that running just Kafka on OpenShift is an important use case. Do you see the topic-controller as something that would be used in a 'standalone' kafka deployment as well? I'd like to understand more the scope of that tier and what 'just Kafka' means :)

The restapi is not the OpenShift API, but I would hope for it to evolve into a proper kubernet

[2017-11-01 22:18] scholzj commented on #40
@lulf I haven't looked into the details, but CRD validation should be a new feature in Kubernetes 1.8 via OpenAPI schema ... so over the time it will get also into OpenShift etc.

We discussed more or less three tiers:
1) Just Kafka on Openshift: This should include only the Kafka deployment it self (that will probably still need the *cluster controller* to deploy and configure the cluster properl

[2017-11-02 08:39] lulf commented on #40
This has been added since I looked last time, that is great news! This means that we could rely on CRD instead of config maps eventually. The downside AFAIK is that you need cluster-admin role to be able to create the CRD definition.

I think this needs a wider discussion, but personally I think it would be good if we discussed the pros and cons of making them the same. Maybe the concept of addres

[2017-11-02 09:57] scholzj opened #78 "Cleanup images on Docker Hub?"
We have currently serveral Docker images on Docker Hub which are not used anymore and not updated anymore:
* [kafka-inmemory](https://hub.docker.com/r/enmasseproject/kafka-inmemory/)
* [kafka-persistent](https://hub.docker.com/r/enmasseproject/kafka-persisted/)

We should think what to do with them (e.g. delete them from Docker Hub?).

[2017-11-02 10:09] tombentley commented on #78
Do we know if anyone is using them?

Presumably an alternative would be to provide a description to say they're unsupported, deprecated and point to the current images. That way we're at least not spoiling anyone's day.

[2017-11-02 10:27] ppatierno commented on #78
I'm pretty sure that no-one is using the kafka-persisted. I don't know about the kafka-inmemory. I think that all main people who know about "barnabas" project are using the kafka-statefulsets.

[2017-11-02 10:33] scholzj commented on #78
@tombentley They have quite a lot of pulls - lot more than kafka-statfulsets image. But it is hard to say whether this number is still raising.

An alternative which comes to my mind is to push the kafka-statefulsets image also under these two other names. But that seems to just shift the problem into the future and not really solve it.

[2017-11-02 10:59] ppatierno commented on #78
@scholzj I think that people should expect these problems when a platform/framework/project isn't released yet. I think we can just delete them and if someone will complain about that we can explain that.

[2017-11-02 11:51] tombentley commented on #40
I've spent some time experimenting with an ConfigMap <-> topic operator, using fabric8, the Kafka AdminClient and ZooKeeper. It:

* Uses a watch on k8s ConfigMaps with appropriate labels, creating/deleting topics when CMs are created/deleted
* Uses a watch on the `/brokers/topics` znode to know about topics created outside of the operator. In this case it creates/deletes ConfigMaps to keep things

[2017-11-02 12:07] lulf commented on #40
@tombentley

Be careful relying on k8s watches only. They are not reliable in the same way as ZK watches are, and should be combined with relistings even though you can watch from a given resource version. We do a periodic poll of the CMs in addition to watching. See https://github.com/EnMasseProject/enmasse/blob/master/k8s-api/src/main/java/io/enmasse/k8s/api/ResourceController.java

and

https:/

[2017-11-02 12:09] lulf commented on #40
@tombentley

FWIW, our config map names are independent of the 'address'  name (as you can see in my previous comment) for this exact reason. In the REST API we do a sanitize on the address to make sure it is a legal kube id: https://github.com/EnMasseProject/enmasse/blob/master/k8s-api/src/main/java/io/enmasse/k8s/api/KubeUtil.java#L22

[2017-11-02 12:33] scholzj commented on #40
This can utlimately always happen. Even with HA controllers you can just minimize the probability of this occuring but you never eliminate it completely. I think we should prefer keeping the topics instead of deleting them by mistake (i.e. we just recreate the config map). It should be IMHO quite rare.

What would be more interesting is what to do when the configuration between ZK and the ConfigMa

[2017-11-02 12:58] tombentley commented on #40
Oh and another thing...

### Partition reassignment

I've only really experimented with creation/deletion, not looking at modification yet. There is no AdminClient API for partition reassignment yet (see [KIP-179](https://cwiki.apache.org/confluence/display/KAFKA/KIP-179+-+Change+ReassignPartitionsCommand+to+use+AdminClient)), so *if* partition assignment is configurable via a topic operator then:

[2017-11-02 12:59] tombentley commented on #40
Definitely.

[2017-11-02 13:36] tombentley commented on #78
I've updated the long and short descriptions of the images on Dockerhub, with a proposed deletion date of 2018/12/31, and setup a reminder to delete those image on that date.

[2017-11-02 13:36] #78 closed

[2017-11-02 13:42] scholzj commented on #35
I think we have two options:
1) Merge all into single file
2) Place them into separate subdirectory (e.g. `resources/kubernetes`) and the whole directory can be created with one command. This will allow us to keep separate files.

[2017-11-02 13:44] ppatierno commented on #35
I'm for option 2. I like the idea to have different files for resources. But it's just my opinion ...

[2017-11-02 13:51] tombentley commented on #35
One advantage of a single file is that it makes sense if the resources are meant to be deployed together. i.e. if it's useless to have the statefulset without the services then why give people to possibility to deploy one without the other?

That said, I could live with option 2 if that's what you both prefer.

[2017-11-02 14:05] ppatierno commented on #35
@scholzj is there something that could make sense having under `openshift` or `kubernetes` directories but that isn't a resource itself (i.e. YAML file) ? If not I'm ok on removing `resources` directory.

[2017-11-02 14:11] scholzj commented on #35
@ppatierno Well, looking into it ... we have the cluster-volumes.yaml ... I guess these in theory belong to both Kubernetes and OpenShift. We also still have the hostPath provisioner which also affects both AFAIK. So we probably cannot remove the resources directory

[2017-11-02 14:16] tombentley commented on #35
But if `openshift_template.yaml` lives in resources I can't simply say `kubectl create -f path/to/resources`, without getting an ugly error (I assume `kubectl` would carry on creating the rest of the resources, so it wouldn't be the end of the world, but it's not pretty).

[2017-11-02 14:17] scholzj commented on #35
@tombentley No, you will `kubectl create -f path/to/resources/kubernetes`

[2017-11-02 14:20] ppatierno commented on #35
@scholzj providing a directory to the `create` command, what's the order `kubectl` processes the YAML files ? could it be a problem ?

[2017-11-02 14:21] scholzj commented on #35
@ppatierno Good question. But I think it should work fine regardless of the order.

[2017-11-02 14:24] ppatierno commented on #35
@scholzj but what happens if the `cluster-volumes.yaml` is processed as tha last file ? it should be the first one. Maybe just some pods restarting due to no volumes for providing storage ?

[2017-11-02 14:31] ppatierno commented on #40
I was just wondering if it makes sense having the ConfigMap mechanism for Barnabas.
I mean, afaik (but @lulf  can be more precise than me), EnMasse uses the CM files as storage for addresses because there is no other storage to put their information.
With Kafka we have Zookeeper for that under the `broker/topics` znode which contains all metadata about a topic.
Maybe does handling both mechanisms

[2017-11-02 14:33] scholzj commented on #35
@ppatierno As I said before - I see the `cluster-volumes.yaml` as something what should stay in `resources` since it is kind of optional and should not be needed in most cases. Would you see that in the `kubernetes` folder?

But even if we include it into the kubernetes directory it will work fine. The Pods who need the storage will wait until they have assigned PV. You can try that already now. M

[2017-11-02 14:41] ppatierno commented on #35
@scholzj sorry you mentioned that :-(

Btw because using a single YAML file, the resources are applied/created in the order they appear in the file itself, I think we should enforce something like that even having separate files. The workaround could be the naming ... but it doesn't convince me too much. What if we need to add a resource that should be deployed "in the middle" ? With a single file

[2017-11-02 14:55] scholzj commented on #35
@ppatierno I can live with single file. And @tombentley actually prefered it AFAIK. So we can go for it.

This is not a change which someone will be working on for days ... we can probably change our decision faster than what we invested into this discussion :-D.

[2017-11-02 15:03] ppatierno commented on #35
@scholzj go ahead !

[2017-11-02 16:14] ppatierno commented on #40
@lulf having properties for the address space (other than for addresses) could be a way for bringing Kafka broker configuration during the cluster deployment. It can be used for configuring broker in the "brokered" space as primary purpose but the application to the Kafka address space makes more sense.

[2017-11-02 16:19] lulf commented on #40
@ppatierno After thinking more about this, I think the address space plan is the appropriate place to configure this. A plan is basically a template with configuration parameters. The broker configuration would therefore be controlled by the service admin (who configures the available plans), and not the tenant, which I think is how it should be. If you want full control, you can be your own servi

[2017-11-02 16:34] tombentley commented on #40
@ppatierno so you're suggesting something like an aggregated apiserver where we provide an API façade of resources backed by the Kafka/ZooKeeper topic metadata?

[2017-11-02 16:37] ppatierno commented on #40
@tombentley in some way ... yes. As I said I guess that the main reason for using CM files in EnMasse was to chose a way for storing address information in a centralized source (so using CM files).
In our case we already have such source (Zookeeper) why we should have duplicates ?

Kubernetes uses etcd for backing such resources right ? Our API facade will use Zookeeper :-)

[2017-11-02 16:40] ppatierno commented on #40
If the service admin is from the customers team then yes. What is the difference with the tenant at this point ?

[2017-11-02 16:44] lulf commented on #40
If the service admin is OpenShift Online, then the available plans will be selected by the team that runs that service.  If someone starts a 'freemessaging.com' service, they decide what plans etc. Any tenant using those services will only be able to select the plans availabe. If a customer runs their own openshift cluster/enmasse instance, then they can decide what plans they have.

Now, when I s

[2017-11-02 16:45] ppatierno commented on #40
Well I'm thinking that even using OpenShift Online, the customer should be able to change the configuration parameters on the brokers. For the Kafka address space it has to be possible.

[2017-11-02 16:50] lulf commented on #40
I always thought that use case would be solved by 'Just kafka on OpenShift'. Also, an address space does not necessarily map to an isolated cluster. However, there is some level of flexibility in a plan if we allow it to have parameters (we don't currently, but it would be a simple extension to the current model). For plans that provide an 'isolated kafka' address space, one could expose configura

[2017-11-02 17:11] #35 closed

[2017-11-02 17:45] scholzj opened #80 "Future of HostPath provisioner"
Currently, we have a hostPath provisioner in `kafka-statefulsets/resources`. Since minishift and minikube now provide storage on their own this doesn't seem to be needed anymore. We should decide what to do with it.

To me it sounds like:
* Users without a lot of Kubernetes / OpenShift experience will use minishift / Minikube and not need it
* Experienced users with some more production like clust

[2017-11-02 17:53] #80 closed

[2017-11-03 08:45] ppatierno commented on #40
Well with "just Kafka on OpenShift" I expect to have brokers configurable in one of the possible ways described by @scholzj https://github.com/EnMasseProject/barnabas/issues/27.

With Kafka address space I think that having address space parameter could be the solution.

[2017-11-03 12:36] tombentley commented on #40
Thinking more about @ppatierno's suggestion around an aggregated server. I find it quite attractive because *conceptually* it's quite simple.

Cons:

* Installing an aggregated apiserver [isn't trivial](https://kubernetes.io/docs/tasks/access-kubernetes-api/setup-extension-api-server/). This hinders experimentation with this approach.
* An aggrgated apiserver seems to be a cluster-wide thing, requ

[2017-11-03 14:10] scholzj commented on #40
We need to be sure that users can try this easily. If the aggregated server is enabled by default it should be fine. If they would need to reconfigure the API server nobody will bother give it a try.

[Here is what seems to be a nice example](https://github.com/kubernetes/sample-apiserver) (however in Golang). Not sure whether the Java client from Fabric8 offers some builerplate for the API server

[2017-11-03 15:32] tombentley commented on #40
I don't think it does. AFAIK, they only provide a client for an apiserver. And it wouldn't even help with interacting with our apiserver, because their typesafe API is generated at compile time, so it wouldn't know about our API.

Enmasse seems to be using a vertx/resteasy/jackson/swagger stack, which seems reasonable enough.

My reading of https://github.com/kubernetes/community/blob/master/contr

[2017-11-03 15:47] scholzj commented on #40
This might be still kind of complicated because you will need to store somewhere some addiiotnal mapping. Because when I create resource with name `jakub` containing topic `myTopic1` you will need to remember this relationship and I'm not sure you can inject it into Kafka's ZK nodes.

Another problem with such resource is when I create resource with name `jakub` containing topic `myTopic1` and aft

[2017-11-03 16:04] tombentley commented on #40
Kafka wouldn't care if you added extra keys in the JSON in the `/brokers/topics/myTopic1` znode, but they'd get removed when it updated the znode. What you could do, though, is to store the mapping in the same zookeeper ensemble. A benefit of doing that is you're having to worry about keeping ZK healthy/backedup *anyway*.

Another problem is around discovery: You list the topics and you get `jakub

[2017-11-03 16:16] scholzj commented on #40
Good point, since we already have to run Zookeeper we can also use ti for storing other things.

This might cause many problems for anyone who already has some apps using such names.

[2017-11-03 17:49] tombentley commented on #40
Thinking more about that, we could use name-based UUIDs (version 3 or 5), and use a name that's based on the czxid of the /brokers/topics/${topic} znode possibly combined with the data of the `/cluster/id` znode.

Thinking more about that, if I have two clusters in a namespace they have distinct sets of topics, but we only have one space of object names. So supporting > 1 Kafka cluster/namespace w

[2017-11-06 10:26] tombentley commented on #40
We could use this idea for the `ConfigMap` operator too. When reconciling we would fetch all three versions of the topic, `k8s`, `kafka` and `ours`, and deal with the possible combinations as follows:

* If `ours` doesn't exist:
    * If `k8s` doesn't exist, we reason the topic's been created in Kafka and we create it `k8s` from `kafka`
    * If `kafka` doesn't exist, we reason it's been created i

[2017-11-06 10:35] scholzj commented on #40
@tombentley This sounds reasonable.

[2017-11-06 11:25] lulf commented on #40
@tombentley There is an implicit assumption about synchronized clocks on zk and k8s nodes here, could that pose a problem or do you think it would be ok in practice?

[2017-11-06 11:38] tombentley commented on #40
@lulf You're referring to the "most recent modification time" part, right? Yes I realise this assumes both zk and k8s nodes have mythical synchronized clocks. I don't think it's a problem in practice because I think it unlikely that both the k8s ConfigMap and the Kafka topic would both be modified at around the same time *and in different ways*. (Obviously our own operator could modify both ends a

[2017-11-07 17:09] ppatierno commented on #40
TBH ... I haven't a solution right now and It will be a great discussion but ...

- in order to support CMs we are moving from 2 (`k8s` and `kafka`) to 3 copies (`k8s`, `kafka` and `ours`) of topics information
- we rely on "timing" on not sync components .... and sometimes it's a "dark hole" :-)

When we speak about Kafka created topics so not by operator or CM files are you speaking about "inter

[2017-11-08 16:12] scholzj opened #87 "Zookeeper address/service should not be hard coded"
The Kafka images currently always connect to a Zookeeper service named `zookeeper`. This means the we currently cannot rename the deployments / run multiple deployments in one namespace. The Zookeeper address should be configurable to make things more flexible.

[2017-11-08 17:46] tombentley opened #88 "Include `ps` in the images?"
I noticed that the images currently lack `ps`. This can make life slightly harder if you have to `oc exec -ti bash -li` into the nodes (you have to poke around in `/proc` instead), and also means that the `(kafka|zookeeper)-stop-server.sh` scripts wouldn't work (not that they're used). Is it worth installing `procps-ng`?

[2017-11-08 17:49] scholzj commented on #88
Any examples what would you use `ps` for? Just curious ...

[2017-11-08 17:51] tombentley commented on #88
@scholzj I wanted to see the command line args of the kafka connect JVM. I could have done this using `/proc`, as I said, but `ps` is the first thing I reach for.

[2017-11-08 17:53] scholzj commented on #88
@tombentley Yeah, that makes sense.

[2017-11-09 13:05] #21 closed

[2017-11-09 16:41] tombentley opened #91 "Configurable logging level"
Right now, the logging level is hard coded in the images. It would be better to make it configurable (via env vars) so changing the logging level at least wouldn't require a new image.

[2017-11-10 10:28] scholzj opened #93 "Define the Pod Management Policy"
Currently, out stateful sets use the default `OrderedReady` `podManagementPolicy` for both Kafka and Zookeeper.

`OrderedReady` means that the pods will be started one by one as they become ready. And deleted one by one. This can cause the startup to take longer (because of the readiness initial delay etc.) and shutdown to take longer (waiting for each broker to shutdown etc.). Using a `Parallel`

[2017-11-10 10:34] tombentley commented on #93
It might be worth checking if such work is already in the pipeline, and if not we could propose it.

[2017-11-10 19:40] #87 closed

[2017-11-16 10:33] #91 closed

[2017-11-17 16:48] ppatierno commented on #42
After some exploration, following what I have learned about this topic.

As you already know we can use the JMX Exporter for Prometheus in order to get Kafka JMX metrics. Such exporter can be used in two different ways :

- as Java agent : it means that in each Kafka broker pod we have one container with both Kafka running and the related agent connected to the JVM for getting all system and Kafka

[2017-11-17 16:58] scholzj commented on #42
Things to consider from my side ...
* How many resources does the sidecar need? If it is not significantly more expensive than the agent, we should probably use the sidecar.
* Does Prometheus really need us to create some services? I expected that it is able to find the pods  directly. But if needed we should be able to create the services.
* Is it only Pod CPU and memory metrics we are missing wh

[2017-11-17 17:09] ppatierno commented on #42
I think that the sidecar should be really light. Just the exporter which exposes a simple HTTP server but I have to dig into it for having some numbers.

Well the Prometheus server, using the "kubernetes_sd_configs" section in the config file can set "role: pods" so maybe it is what we want but even in this case the user should be able to filter other pods in some way or at least at namespace leve

[2017-11-17 17:31] tombentley commented on #42
The sidecar approach means at least another JVM (I assume the out-of-process exporter is a java program) with its footprint. With the agent approach the JVM is shared, so I'd expect that to use fewer resources. It would be useful to get an idea what the difference is.

[2017-11-17 17:35] ppatierno commented on #42
Yes that's true I'm only scared about having some other "process" in the same container as the Kafka broker which could kill the broker itself if such "process" fails in the same JVM. Btw I'll dig into it ;)

[2017-11-17 18:18] tombentley commented on #42
Yes, that *is* a possibility. What does their issue tracker look like (if it's full of bugs about the agent crashing the JVM then that's decision made, but if not then we should at least experiment a little with the agent). There is, perhaps, another upside to using the agent: If the process in the sidecar crashes won't we need to take special action to restart it? But if the broker crashes (becau

[2017-11-17 19:35] scholzj commented on #42
For Kubernetes there is no hierarchy between the containers - both containers will have the same value for Kubernetes and will be treated the same way. So there will be no need for a special code to restart the sidecar.

[2017-11-20 15:40] ppatierno commented on #42
@scholzj @tombentley about having the JMX exporter running inside a "sidecar" container so in the standalong HTTP server mode (as they called it), take a look to this issue and this PR :

https://github.com/prometheus/jmx_exporter/issues/111

https://github.com/prometheus/jmx_exporter/pull/204

They were just updated about 10 days ago. The main committer seems to be not so supportive and he discou

[2017-11-27 17:34] ppatierno commented on #42
I had no clues from the main committer on why using the standalone mode is discouraged so I have decided to start adding metrics using the agent mode and it means that :

- the Kafka base and Zookeeper Docker images are improved downloading the JMX exporter other than exposing a port for metrics (I used 9404 which I found as a sort of JMX exporter default port from Prometheus WiKi)
- an agent conf

[2017-11-27 17:44] scholzj commented on #42
I would start with providing a default YAML file and that is it. Do we need to improve the default file to export some Kafka specific metrics (not just the JVM stuff which is the same for every Java application).

As a part of _cluster controller_ work we should decide how to pass some other than default value to the Pod. Config map or environment variable being our likely options.. What kind of c

[2017-11-28 08:10] scholzj commented on #42
I would assume that we can easily switch the metrics on/off depending on whether we deploy the cluster balancer. However this also means that we probably cannot give the user completely free hand to configure the exporter - because that might affect the metrics that the cluster balancer needs.

I wonder what is the difference between exporting some metrics and exporting all metrics in resource com

[2017-11-28 13:46] ppatierno commented on #42
The only way for Prometheus to "filter" metrics when the exporter provides the full "box" is just dropping and not storing them; it's not an ideal solution I think.

As discussed the solution could be :
- providing the JMX exporter configuration through a ConfigMap which is mapped to volume in order to have the configuration accessible by the java agent
- the repo will provide a ConfigMap with som

[2017-11-28 19:11] scholzj opened #96 "Kafka standalone installation guide"
List of remaining TODOs for the Kafka standalone installation guide:

- [x] Logging for Zookeeper
- [x] Logging for Kafka
- [ ] Kafka Connect
- [ ] Sample configuration files

[2017-12-07 10:14] scholzj commented on #93
The way I addressed this in the cluster controller so far:
* Use the `Parallel` policy as default
* Scale up using the parallel policy (i.e. start multiple images at the same time)
* Scale down one by one - e.g. scale down from 6 to 3 pods is done in smaller steps ... 6-> 5 -> 4 -> 3 and basically overrides the parallel policy.

The scale down should be probably improved by interacting with Kafka

[2017-12-07 10:35] ppatierno opened #101 "Adding Kafka Connect metrics"
Other than getting metrics from Kafka brokers and Zookeeper, we should add metrics support for Kafka Connect as well. Maybe it's something already provided by the Debezium project ? We should check on the project itself and with @gunnarmorling ?

[2017-12-13 10:17] gunnarmorling commented on #101
As a starting point, Kafka Connect provides rather [basic status info](https://docs.confluent.io/current/connect/managing.html#connector-and-task-status) through its REST API. It doesn't tell you very much though beyond a status (RUNNING/PAUSED/FAILED etc.) and in case of failures the last exception.

More interesting is [KIP-196](https://cwiki.apache.org/confluence/display/KAFKA/KIP-196%3A+Add+me

[2018-01-02 14:18] scholzj opened #113 "Update Docker images to Fedora 27"
Our Docker images seem to be still using Fedora 26. We should update to Fedora 27 which has been released or consider moving to CentOS which is a bit more *enterprise friendly*.

[2018-01-04 09:27] scholzj commented on #93
This seems to be addressed in the cluster controller and should be closed.

[2018-01-04 09:27] #93 closed

[2018-01-04 10:08] scholzj commented on #42
This has been mostly implemented and can be closed. Any remaining parts should be addressed in separate issues (such as #101).

[2018-01-04 10:08] #42 closed

[2018-01-04 10:22] scholzj commented on #40
The prototypes of the Topic Controller and Cluster Controller are already done. This issue should be closed and the followups should be done in separate issues.

[2018-01-04 10:22] #40 closed

[2018-01-04 10:25] scholzj commented on #31
The biggest amount of YAML files is not generated by the Cluster Controller from the Java code. I think this issue is not needed anymore.

[2018-01-04 10:25] #31 closed

[2018-01-04 10:37] scholzj commented on #41
The cluster controller currently deploys both Kafka and Zookeeper from single ConfigMap. In order to make ZK multitenant, we would need to split the ConfigMap into two - one for Kafka and one for Zookeeper and add a "link" to the zookeeper node to the Kafka config map.

[2018-01-04 10:44] scholzj commented on #43
This should be split into smaller issues. I will close this and open more specific issues instead.

[2018-01-04 10:44] #43 closed

[2018-01-04 14:06] scholzj opened #116 "Add support for Persistent volumes creation"
Cluster Controller should have support for deploying cluster with Persistent volume claims. By default, the volume claims should be created using the default StorageClass, but it should be possible to define a specific storage class to be used (since it can be expected that some might choose faster disks for Kafka etc.).

[2018-01-04 14:06] scholzj opened #117 "Add support for Local type volumes"
In some cases it might be useful to use local disks for Kafka storage but not "non-persistent" local disks such as emptyDir volumes. The "local" type volume should be designed for this purpose (https://kubernetes.io/docs/concepts/storage/volumes/#local). However as of right now, the local volumes do not support dynamic provisioning. So it needs to be investigated how to make them work with Statefu

[2018-01-04 14:06] scholzj opened #118 "Deploy Kafka only once Zookeeper is ready"
Currently, both Zookeeper and Kafka are deployed asynchronously one after another. This causes that some Kafka pods are restarted few times before the Zookeeper gets ready and they are able to run. We should add a check for the Zookeeper to be ready before deploying Kafka to avoid this kind of behavior.

[2018-01-04 14:06] scholzj opened #119 "Deploy topic controller automatically with the cluster"
Currently the Topic Controller has to be deployed on its own. We should make it possible to deploy it automatically through the Cluster Controller.

[2018-01-04 14:06] scholzj opened #120 "Log message cleanup"
Currently, most of the log messages are logged on the INFO level. That is not so practical in real live. We should go through them and move some of them to DEBUG or TRACE levels.

[2018-01-04 14:07] scholzj opened #121 "Add Unit tests"
Unit tests should be added to Cluster Controller. This should be probably split into multiple smaller subtasks.

[2018-01-04 14:07] scholzj opened #122 "Handle Label modifications"
Cluster Controller should be able to handle situations when labels are changed on the source config map. Either change the labels on the managed resources as well or intentionally ignore it.

[2018-01-04 14:07] scholzj opened #123 "Add Kafka Connect S2I integration"
Cluster Controller should be able to deploy the Kafka Connect with the S2I support, for building custom Docker images with additional plugins.

[2018-01-04 14:07] scholzj opened #124 "Do update when add is called on existing cluster"
When the "add" event is triggered on existing cluster (for example during controller restart) it is currently ignored. We should instead in such situation change the event to "update" and do a cluster update. This might allow to detect faster changes to the underlying ConfigMaps.

[2018-01-04 14:08] scholzj opened #125 "Work accross namespaces"
Currently, the Cluster controller works only within one namespace. We should make it possible to run a single Cluster Controller but deploy clusters into multiple namespaces. In the ideal case, we should make it optional to be able to work with different security levels (cross namespace access will need more right than staying within the namespace).

[2018-01-04 14:08] scholzj opened #126 "Zookeeper scaleup should be done in steps"
The current implementation of Zookeeper scale up goes directly to the final number of nodes. This can be a problem. For example when the scale up would be from 3 nodes to 7 nodes, the existing cluster would loose quorum. So the Zookeeper scale-up should be probably done in smaller steps. This should apply only to Zookeeper. Kafka should not need this for scaling up.

[2018-01-04 14:09] scholzj opened #127 "Rolling update timeout"
The rolling update is currently using a Watch to make sure the pod has been deleted. The watch has no timeout. So if it is for whatever reason started only after the Pod is deleted, it would wait forever. We should probably add some timeout and cancel / restart the rolling update if the Pod is not deleted within the timeout.

[2018-01-04 14:09] scholzj opened #128 "Expose Kafka to the outside world"
It should be possible to expose Kafka to the outside of OpenShift / Kubernetes world.

---

Search term boost: broker external IP external-ip address addresses port ports ingress

[2018-01-04 14:09] scholzj opened #129 "Expose Zookeeper to the outside world"
It should be possible to expose Zookeeper to the outside of OpenShift / Kubernetes world.

[2018-01-04 14:09] scholzj opened #130 "Expose Kafka Connect REST API to the outside world"
It should be possible to expose Kafka Connect to the outside of OpenShift / Kubernetes world.

[2018-01-04 14:14] scholzj opened #131 "Make it run inside OpenShift and Kubernetes"
Finish the wiring which would allow Topic Controller to run directly within OpenShift / Kubernetes when needed and not just as a process outside of the cluster.

[2018-01-04 14:15] scholzj opened #132 "Make it configurable who has priority when resolving conflicts"
Make it configurable who will have higher priority when resolving conflicts in topic configurations - whether Kafka or ConfigMap (curently hardcoded).

[2018-01-04 14:45] scholzj opened #133 "Check Kafka topic in-sync replicas during scaledown"
Kafka scale-down is currently done node by node. But it doesn't check the state of topic replication. Therefore it can in theory happen that we run into situations such as:
* We have 6 node Kafka cluster
* TopicX has 3 in-sync replicas on nodes 4, 5 and 6
* Cluster scale down from 6 to 3 nodes is triggered
* The scale down is done node by node, but because topicX is big, the replicas which are rea

[2018-01-04 16:36] ppatierno commented on #116
This issue is related on what we have today in the cluster-controller, the support only for `emptyDir` which maps which is the `kafka-inmemory` deployment (from master).
So the cluster-controller needs a way to get information from the cluster ConfigMap in order to use an `emptyDir` or a `persistentVolume`.
Such information could be put into the `data` section of the cluster CM.

We could have one

[2018-01-04 16:57] ppatierno commented on #116
We could even think about only one `storage` field with a JSON value configuring about information but if possible I would avoid JSON in this case (we need it for the metrics due to JMX exporter but don't think that we need it here).

[2018-01-04 16:58] scholzj commented on #116
@ppatierno
* `emptyDir` has technically nothing to do with "in-memory". It is not in-memory, it is even not completely non-persisitent. So maybe we should just call it by the volume type `emptyDir` or maybe `temp` (it is basically temporary storage).
* Persistent Volume can be probably called as a `pvc`, `volumeclaim` or `persistentvolumeclaim` ... it should be able to support everything what can

[2018-01-04 17:02] ppatierno commented on #116
From the K8S API doc (https://v1-8.docs.kubernetes.io/docs/api-reference/v1.8/#persistentvolumeclaimspec-v1-core) you can specify some labels for asking for persistent volumes with such labels. More info even on OpenShift doc here (https://docs.openshift.org/latest/install_config/storage_examples/binding_pv_by_label.html#binding-pv-by-label-pv-with-labels)

[2018-01-04 17:03] ppatierno commented on #116
@tombentley wdyt about this issue and on how to define the structure for storage information ?

[2018-01-04 17:11] scholzj commented on #116
@ppatierno Thanks for the `storage-selector` explanation. Makes sense to support it.

BTW: we should start slowly writing the docu - at least in the form of some notes documenting all these options and how to use them.

[2018-01-05 05:57] ppatierno opened #134 "Add cluster-controller documentation"
Adding a README file with information about how the cluster-controller works and how the related configuration works as well.

[2018-01-05 09:05] ppatierno opened #135 "Add Prometheus annotations"
The cluster-controller doesn't add the following Prometheus annotations when the StatefulSets is created :

prometheus.io/scrape: "true"
prometheus.io/path: "/metrics"
prometheus.io/port: "9404"

[2018-01-05 09:26] ppatierno commented on #116
@scholzj regarding `storage-type` what do you think about :

- `temp` (as you suggested) for the `emptyDir`
- `persistent-claim` for all claimed stuff
- `local` for a future local storage

[2018-01-05 09:30] tombentley commented on #116
@ppatierno about how to configure it, I think we should seriously consider a CRD to support configuring this. We are only going to be adding more config to the cluster controller as we progress, and when we switch to using a CRD all the configs written in tests etc will need to be rewritten as the custom resource.

As for the rest of the issue, it seems to make sense; I've not got enough expereien

[2018-01-05 09:37] ppatierno commented on #116
@tombentley but using CRD means having storage description outside of the cluster CM so we should deal with a different YAML file which should be deployed before the cluster CM one in order to have the cluster-controller finding the CRD while getting configuration from the cluster CM.

[2018-01-05 09:40] tombentley commented on #116
Sorry I wasn't too clear: what I meant was that the cluster CM should be a cluster CRD.

[2018-01-05 10:11] ppatierno commented on #116
@tombentley so as discussed offline let's investigate on CRDs usage for the future (even about the fabric8 support) but let's stay using JSON as value for configuring the storage information.
It means that the cluster CM will have just one field named `storage` with a JSON structure which could be something like this :

`
{
type= temp | persistent-claim | local,
size= <size>,
class= <storage-class

[2018-01-05 10:17] tombentley commented on #116
Using a single key with a json value is fine with me. I'd be interested if we can write down a OpenAPI Schema (https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#schema-object) for the value (even though we won't actually use the schema at this point), as doing that could make a future move to CRD less painful as the value would then map directly.

We should open a separate

[2018-01-05 10:49] ppatierno commented on #116
Actually we need two keys in the cluster CM for Kafka and Zookeeper, so something like `kafka-storage` and `zookeeper-storage`.

[2018-01-05 12:37] scholzj commented on #116
@ppatierno +1. Makes sense to have `kafka-storage` and `zookeeper-storage` with the structure as described above. Maybe we can use `temporary` instead of `temp` since the other name is also long. But that is just a very very minor detail.

[2018-01-05 12:54] ppatierno commented on #116
@scholzj If you could see my code (but it's not committed so just on my laptop) you would see it defined as "temporary" (I changed my mind but not updating the issue) ... you can read in my mind !

[2018-01-05 12:56] scholzj commented on #116
@ppatierno reading mind on such a long distance would be black magic ... this is just awesome teamwork! :-D

[2018-01-08 18:55] tombentley opened #137 "Watch partitions"
The topic operator needs to know about changes in #partitions and replication factor so it can keep the config map up to date. We can do that by setting a zookeeper data watch on `/brokers/topics/${topic}`.

[2018-01-08 19:00] tombentley opened #138 "unidirectional mode"
Some deployment use cases might not need bidirectional reconciliation. It might be worthwhile being able to configure a reconciliation mode. This might be per-topic, or per controller and would free us from having to have two zk watches per topic (one for topic config and another for topic partitions/replicas)

[2018-01-08 19:07] tombentley opened #139 "Prevent multiple configmaps trying to manage the same topic"
Because the rules for valid topic names differ from the rules for config map names, the configmap supports a `name` key to give the name of the topic. This opens the possibility that two configmaps could both try to manage the same key. We should prevent this.

[2018-01-08 19:09] tombentley opened #140 "Define semantics for configmap name key changes"
We need to define the semantics of a change in configmap `name` key. Should we prevent it (i.e. log an error, and maybe change it back), or treat it as a topic deletion and creation?

[2018-01-08 19:11] tombentley opened #141 "Test `Session`"
Some code exists for reconfiguring the topic controller when its configmap changes, but it's untested and could probably be simplified.

[2018-01-08 19:20] tombentley opened #142 "Replication factor changes"
Related to #137, we need an abstraction for performing replication factor changes.

In the presence of a cluster balancer, replication factor changes will need to be done through that (because it will be able to figure out the best brokers to host the replicas). It might be that the cluster balancer does the reassignment for the topic controller, or it might be the topic controller just asks for t

[2018-01-08 19:31] tombentley commented on #131
The topic-controller2 branch is a WIP which implement this. We need to define what more is necessary beyond what's currently implemented. Off the topic of my head, I guess we could add health and readiness checks.

[2018-01-09 14:47] ppatierno opened #143 "Add readiness and liveness probe to Cluster controller"

[2018-01-10 08:15] ppatierno opened #145 "Add support for Persistent volumes deletion"
If storage with "persistent-claim" type is used when the cluster is deleted (removing the corresponding cluster ConfigMap), the corresponding PVCs should not be deleted in order to avoid data loss.
In same cases it could be useful to force PVCs deletion.
In order to do that, a new JSON field (i.e. `deleteClaimOnClusterDeletion`) can be added to the "storage" configuration for forcing PVCs deletion

[2018-01-10 13:21] scholzj commented on #141
Do we want to configure it though the config map? Wouldn't it be easier to configure it through the environment variables? The reloading of configuration on the fly seems to be a bit wasted effort given how much we invest to make sure it deals well with restarts. And that would be probably the only value we get from using ConfigMap. Or?

[2018-01-10 13:52] tombentley commented on #141
The ConfigMap way seemed like a good idea at the time, but it is true that currently we could configure everything we need from the environment.

In any case, the point is that there is some non-trival code which configures things from some config which is currently untested. It is also responsible for correctly shutting down the controller and the associated connections (which is important for no

[2018-01-10 14:03] scholzj commented on #141
Ok, valid point. What I don§t like in particular about the config map is that I'm not sure we want to end up with configmap which is taken by controller which creates config map taken by another controller. It was just the first think which came to my mind when I saw this issue.

[2018-01-11 13:17] scholzj opened #147 "Create Zookeeper Docker image from Kafka dist files"
We should use single container for both Apache Kafka and Apache Zookeeper. This is will make it easier to use only Apache Kafka binary, since that contains already Zookeeper.

[2018-01-11 17:04] ppatierno opened #148 "Add application domain to labels"
This issue is about adding the "strimzi.io" domain for labels used in every K8S/OS resources related to topic and cluster controller.
It means that :

- `kind` label will be `strimzi.io/kind`
- `app` label won't be necessary anymore because now we have a domain in the label for representing the application when it comes to watch resources from "strimzi"

[2018-01-15 09:08] scholzj commented on #116
@ppatierno Are we still missing something for this issue? I think it can be closed, or?

[2018-01-15 09:09] scholzj commented on #148
@ppatierno @tombentley I think this has now been implemented in both CC and TC and can be closed, or?

[2018-01-15 09:11] ppatierno commented on #116
@scholzj I haven't added the "selector" handling yet. I was wondering if a new issue could be better for this. Wdyt ?

[2018-01-15 09:12] ppatierno commented on #148
@scholzj fine with me on the CC side.

[2018-01-15 09:15] scholzj commented on #116
@ppatierno Ah, ok ... I will leave that up to you to decide.

[2018-01-15 09:22] tombentley commented on #148
This is done in the topic-controller2 branch. I guess we should wait until that's merged into cluster-controller before actually closing this.

[2018-01-15 09:24] scholzj commented on #148
Ok, in that case lets assign it to you so that you can close it after merging.

[2018-01-15 10:17] scholzj opened #151 "Add healthcheck for the Topic Controller deployment"
The Topic Controller dpeloyment currently doesn't have any healtcheck. It should be added

[2018-01-15 10:18] ppatierno opened #152 "Add support for Persistent volumes updates"
Support for handling the cluster configmap update and how it works on the PVCs side.

[2018-01-15 11:31] tombentley opened #153 "Scaling the topic controller"
The topic controller uses zookeeper watches to know when config, replication factor and number of partitions changes. We need to understand how well this scales in zookeeper when there are many topics and/or partitions. If we find a practical limit which is less than a reasonable number of topics we need to investigate mitigations.

[2018-01-15 14:04] tombentley commented on #139
There are actually several name-based issues tied up in this, and it's difficult to deal with them piecemeal without having some bigger picture of how this should work. So let me spec something out here.

The starting facts are:

1. A valid configmap name must match the regex `[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*` and be shorter than 253 characters. See also: [this](http

[2018-01-15 14:23] ppatierno opened #156 "Add support for "match expressions" selector when using Persistent volumes"
The current "persistent" storage configuration using PVCs supported by the cluster controller allows to specify a selector with only "match labels". We should add the support for "match expressions" as well.

[2018-01-15 15:21] tombentley commented on #139
Here are some examples of that the encoded names would look like in a few cases:

Topic name | ConfigMap name
--------------|----------------------
foo         | foo
Foo         | foo---201a6b3053cc1422d2c3670b62616221d2290929
FOO         | foo---feab40e1fca77c7360ccca1481bb8ba5f919ce3a
foo.bar     | foo.bar
foo.BAR     | foo.bar---2b539a9cb49ce7280d7ebfb93b08540a6535ba35
foo-bar.baz | foo-bar.baz

[2018-01-15 17:25] ppatierno opened #158 "Inconsistent "cluster-name" and "name" labels values"
Currently we have a couple of labels which are `cluster-name` and `name` which :

1. don't follow the "new" format with Strimzi domain
2. they get wrong values in some cases

For point 1) we have to move to have `strimzi.io/cluster` (instead of just `cluster-name`) and `strimzi.io/name` (instead of just `name`)

For point 2) the `cluster-name` needs to be always the name of the cluster specified i

[2018-01-15 18:20] tombentley commented on #139
In practice, it appears that it's not possible to change a ConfigMap's name

[code]

Which at least removes some possible test scenarios.

[2018-01-16 07:51] ppatierno commented on #158
This is a bug we have currently in the cluster controller. It doesn't make sense they are different.

Do you mean, why not just selecting using `metadata.name` ? Metadata info can't be used for selection, only labels can be used for that.

Because service selector works on label, it can be called as you want but in my experience `name` label is mostly used for this. Btw if you think from service t

[2018-01-16 08:42] scholzj commented on #158
AFAIK the selectors work only against labels. So they cannot user metadata.name. Also right now, the `metadata.name` is not always the same as the label, because the `metadata.name` often uses something as `kafka-zookeeper-1` where the label is only `kafka-zookeeper`. (The selectors are not only in services, they are also in StatefulSets (AFAIK mandatory from v1 etc.)

Maybe we can replace `strimz

[2018-01-16 08:56] ppatierno commented on #158
I have taken a look at how we assign the `name` label today for different resources.
Following SS = StatefulSets, PODS, SVC = Services, CM = ConfigMap and <CN> is the ClusterName so `metadata.name` in the cluster ConfigMap.

SS Kafka = <CN>
SS Zookeeper = <CN>-zookeeper
PODS Kafka = <CN>-x (where x is the index assigned by K8S/OS)
PODS Zookeeper = <CN>-zookeeper-x
SVC Kafka = <CN>
SVC Kafka headle

[2018-01-16 09:27] scholzj commented on #158
@ppatierno I think it depends on the name for the cluster. `my-cluster-kafka` sounds good. `my-kafka-kafka` or `kafka-kafka` looks strange. What about using `-broker` as suffix for Kafka instread of `-kafka`?

[2018-01-16 09:29] tombentley commented on #158
The inconsistency here (and the double zookeeper) is ugly.

[2018-01-16 09:29] ppatierno commented on #158
@scholzj fine with me about using `-broker`, the main point to me is not just using `my-cluster` to identify the Kafka cluster.

[2018-01-16 10:36] ppatierno commented on #158
@tombentley the first part (so XXXX-storage) is related to the volumeClaimTemplate used in the StatefulSets which is the volume name. The rest should be added automatically from the StatefulSets in relation to the Pod (names) which will use the volume.

[2018-01-16 10:54] tombentley commented on #158
@ppatierno so the asymmetry originates here:

? Maybe we should change the Kafka SS name to "[CN]-kf" (and zookeeper one to "[CN]-zk"), so it's more consistent: I mean there's no particular reason to priviledge the kafka SS, is there?

We also need to bear in mind that we'll end up with some topic controller pods, so I guess we could add:

PODS Topic-controller = [CN]-tc-x

wdty?

[2018-01-16 11:10] ppatierno commented on #158
@tombentley  it's exactly what I was suggesting in the previous comment :

then @scholzj mentioned the following :

[2018-01-16 11:12] matzew opened #159 "Use release tags/versions for images"
the actual value of the tag/release (e.g. 0.1.0) is missing in the released / tagged files, like here:
 https://github.com/strimzi/strimzi/blob/0.1.0/kafka-statefulsets/resources/openshift-template.yaml#L46

they point to `latest`, instead of the actual release

[2018-01-16 12:47] scholzj commented on #159
Yeah, this seems like a valid point. I will have a look at it.

[2018-01-16 12:56] scholzj commented on #158
@tombentley Actually, it is. We do Kafka as a service, not Zookeeper as a service. Zookeeper is there only because it is a dependency for Kafka. So that builds in my view some kind of hierarchy. It is similar to the discussion we had yesterday about the one release package (Kafka) instead of 2 release packages (Kafka + Zookeeper).

But I'm fine with the suffix for both. But we should think it thro

[2018-01-16 13:24] tombentley commented on #158
* That's true today, but perhaps not always.
* Personally, I would prefer consistency and the self-describing nature of [CN]-kafka over [CN]

I don't find that a particularly strong argument, because:

* It's avoidable with good documentation
* Even if/when it does happen it's hardly the end of the world

I think the consistency in naming that this brings elsewhere would be more valuable.

I can l

[2018-01-16 14:05] tombentley commented on #139
Given than you can't rename a CM, the problem to solve here is how can an admin fix this situation? To make room for the new topic "foo" they will have to change the name of the CM "foo", but if they delete it that will delete the topic "bar". I guess to allow them to do this we need a way for them to stop the controller from managing the CM "foo", then they can delete it safely (without the topic

[2018-01-16 14:19] scholzj commented on #139
I'm not sure what kind of ehavior would the `strimzi.io/managed=false` label trigger. Would it make you ignore the ConfigMap? Wouldn't you then create a new one? Or will it be somehow used to say "don't touch the topic names in this config map"?

Anyway, if renaming the ConfigMap is not possible (which makes sense) then it is hard to work around it. Depending on how you treat two config maps for t

[2018-01-16 14:39] tombentley commented on #139
The idea is that the sequence of operations "strimzi.io/managed=false", "delete CM" would allow the CM to be deleted without deleting the topic. You could then create a new one CM (with the correct name, and with just a `data.name`), and the new one's `data` would get populated according to the topic. It is, in effect, a poor-man's rename.

I guess we could make that work iff we could rely on k8s

[2018-01-16 14:42] tombentley commented on #139
We could also do this using timers within the controller, so when we see a create or delete we wait N seconds for a matching delete/create before proceeding. But that's seriously nasty!

[2018-01-16 15:15] scholzj commented on #139
This sounds strange to me.
* First issue might be the synchronization here - you will need to make sure these eventy are properly synchronized.
* Second I'm not sure what would it exactly mean to stop managing the topic. You would need to maintain some list of "unmanaged" topics which would be fine. But than you would need to somehow "start managing" the topic again. This could be manual creation

[2018-01-16 15:27] tombentley commented on #139
Yeah, I agree that I'm obsessing about a corner case here (given that neither end supports renaming anyway). It's only really a problem if the user creates a CM with a name which the user later wants to use as a topic name. Because of the need to sanitize topic names, we should in any case be making a recommendation to users on how they name their topics and CMs. Such a recommendation would go a l

[2018-01-16 16:16] scholzj commented on #159
@ppatierno In https://github.com/strimzi/strimzi/blob/master/metrics/grafana/kubernetes.yaml we refer to Docker image strimzi/grafana ... where is the source for this image? Currently we do not have `strimzi/metrics:latest` nor `strimzi/latest:0.1.0`

[2018-01-16 16:22] scholzj commented on #159
@matzew The tag should be updated now. It seems that we still have some minor issue (see the previous comment), but as long as you are not using the grafana deployment it should be fine for you now.

[2018-01-17 07:44] ppatierno commented on #159
@scholzj we are using this project for building the image in OpenShift (https://github.com/OpenShiftDemos/grafana-openshift) and we decided to use just the Dockerfile for building the image used in Kubernetes. We should build it locally and pushing the image to Dockerhub under strimzi/grafana:XXXX. It was under EnMasseproject on Dockerhub, maybe I forgot to push on Strimzi Dockerhub.

[2018-01-17 08:27] ppatierno opened #160 "Use official Grafana image and provide OpenShift template"
Instead of relaying on this [project](https://github.com/OpenShiftDemos/grafana-openshift) for providing a Grafana image on Kubernetes and OpenShift (with a template), it could be worth to try the [official Grafana image](https://hub.docker.com/r/grafana/grafana/) and providing OpenShift template from Strimzi repo.

[2018-01-17 08:57] ppatierno opened #161 "Add labels to the metrics ConfigMap resources"
When the metrics ConfigMap resources are created, no labels (with information about the cluster) are defined.

[2018-01-17 09:29] scholzj commented on #159
I pulled and rataged the enmasseproject/grafana:latest Docker image, so all should be now fine for 0.1.0 and master. The issue with the Grafana image and how to continue with it should be dealt with in issue #160.

@matzew Thanks for noticing and reporting this. It should be fixed now. I will close this issue. Feel free to reopen it in case you still find something.

[2018-01-17 09:29] #159 closed

[2018-01-17 09:33] ppatierno commented on #158
@scholzj @tombentley I'm going to use long name and `-kafka` (I think it's clearer than just `-broker`, as we are using `-zookeeper`) as a suffix for now. If it won't work it will be just a matter of changing a constant in the code ;)

[2018-01-17 09:41] scholzj commented on #158
@ppatierno What about the KAfka Connect? I think you should deal with that as well ... perhaps with `-connect` or `-kafka-connect`.

[2018-01-17 09:52] ppatierno commented on #158
@scholzj I would go just for `-connect` in this case.

[2018-01-17 10:31] matzew commented on #159
would automatic builds help?

e.g. as soon commits are pushed to MASTER, the different repos build the dh
:latest
if a release is done (e.g. a GH tag is pushed), the dh builds the :tag

?

On Wed, Jan 17, 2018 at 8:44 AM, Paolo Patierno <notifications@github.com>
wrote:

--
Matthias Wessendorf

github: https://github.com/matzew
twitter: http://twitter.com/mwessendorf

[2018-01-17 10:36] scholzj commented on #159
@matzew We are building the Docker images automatically through TravisCI. But the Grafana image is not build from our sources - so we have to decide whether to include its sources or not..

[2018-01-17 11:49] tombentley opened #162 "Topic-controller should work with chrooted zookeeper"
The topic controller should be able to work with kafka whose connection to zookeeper has a chroot.

[2018-01-18 08:12] ppatierno commented on #158
Closed by #163

[2018-01-18 08:12] #158 closed

[2018-01-18 09:16] ppatierno commented on #116
Closed by #136

[2018-01-18 09:16] #116 closed

[2018-01-18 09:17] ppatierno commented on #145
Closed by #146

[2018-01-18 09:17] #145 closed

[2018-01-18 10:26] ppatierno opened #164 "Add configurable periodic reconciliation interval"
As already happens with the topic controller, it's useful making the interval for the periodic reconciliation in the cluster controller configurable as well.

[2018-01-18 13:14] ppatierno opened #165 "Add more fluent API to the Cluster Controller resources"
Instead of having all `void setXXX(..)` methods on all the cluster controller resources (`AbstractCluster`, `KafkaCluster` and so on) a more fluent API could be provided with `XXXCluster withYYY(..)` methods.

[2018-01-18 13:48] ppatierno commented on #152
Thinking more about this feature, taking into account the current `storage` data field configuration (in JSON format) in the cluster ConfigMap, following my thoughts ...

The user could want to switch `type` from `ephemeral` to `persistent-claim`. It means that from the current "emptyDir", he wants to switch to use a persistent volume so that a PersistentVolumeClaim is needed. It's possible updati

[2018-01-18 14:26] ppatierno commented on #152
After talking on the public official Strimzi [IRC](https://webchat.freenode.net/?randomnick=1&channels=strimzi&uio=d4) channel we agree that :

- switching the `type` means having a complicated migration of the data from a volume to another and for the time being it's not a feature we need, as real use case.
- the only reasonable change to support is the `delete-claim` flag switching if the user c

[2018-01-18 15:21] ppatierno commented on #139
@tombentley @scholzj I have to admit that even after reading this issue a couple of times the conclusion isn't so clear to me. Is there a document where the "logic" applied by the topic controller is described ? Such a document could be useful to the user as well ...

[2018-01-18 16:09] tombentley commented on #139
@ppatierno the summary is:

1. Trying to create a 2nd CM to manage a single topic will result in an k8s warning event, and the 2nd CM will basically be ignored.
2. Neither k8s nor kafka supports renaming (of CM, topics respectively). Additionally the controller will detect changes to a CM's data.name, create a Warning event and ignore any other changes to the CM.
3. It won't be possible to delete

[2018-01-19 08:37] ppatierno commented on #152
Starting to develop this, it turned out that updating the `delete-claim` flag is not a matter of updating the related annotation in the PersistentVolumeClaim but we need to update the annotation in the VolumeClaimTemplate. Consider the following simple scenario :

- we start with `delete-claim` = true
- annotation in VolumeClaimTemplate is true and so the annotation in the related PersistentVolume

[2018-01-19 08:43] scholzj commented on #152
These _forbidden: updates to statefulset spec ..._ mesages are strange ... we already update much more than this :-)

I think you would be able to change the code to recover this setting not from the VolumeClaimTemplate but directly from PersistentVolumeClaim. But we would still need to update the template because of the situation when you change the `delete-claim` field and afterwards do scale up

[2018-01-19 09:59] ppatierno commented on #152
Yes it was my first idea but in any case the StatefulSets needed to be update to be consistent with the PVCs as you said.

Yes I think so

[2018-01-19 13:35] ppatierno opened #171 "Check for NPE when reconciliation starts during an ongoing cluster deletion operation"
When the cluster ConfigMap is deleted in order to delete the entire cluster, before starting the delete operation it's needed to stop the timer for the reconcile. It could happen that while deleting the reconcile jump in and some resources are already gone (I got some `NullPointerException`)

[2018-01-19 13:39] scholzj commented on #171
I'm not sure stopping the reconcile timer is the best thing to do. Isn't it better to check for the NPEs? The locking mechanism should make sure that there are no delete operations running in parallel for the same resource, so I would expect that it should not be that complicated to prevent the NPE.

While writing the prototype I was considering to have some mechanism to say that with given resour

[2018-01-19 13:43] ppatierno commented on #171
Agree with you that checking for NPE is important but what the reason of having the timer still running while I'm deleting the cluster ? Maybe it's just because the cluster-controller could handle more than one cluster and the reconciliation is needed of the others ?

[2018-01-19 13:52] scholzj commented on #171
Exactly ... the controller is not per cluster ... so you would stop reconciliation for other clusters.

[2018-01-19 13:59] tombentley commented on #171
FWIW, there's a similar situation in the topic-controller. There I created a dedicated class (`Inflight`) which tracks reconciliations on a per-topic basis (it's complicated by the fact that each reconciliation involves lots of vertx calls, and we're interested in the overall reconciliation). But `Inflight` lets you queue another reconciliation for when the current one has finished, or runs the re

[2018-01-19 14:32] tombentley opened #172 "Factor out common things between the controllers"
There are some common classes which both controllers could use. We should move these into a new maven module which both controllers depend on.

Candidates from the topic controller include:

* `LabelPredicate`
* `MapName`
* `Controller.Event`
* `Config`

[2018-01-19 14:34] scholzj commented on #172
What is MapName?

I think this whole things is heading towards a common K8s / OpenShift  API, or?

[2018-01-19 14:46] tombentley commented on #172
@scholzj it's the name of a configmap, but if I were refactoring it for common usage I would rename it `ResourceName`, since really I think all k8s resource names have the same rules. To be honest it's not much more than a String+validation, but for the topic controller I wanted to use type safety to avoid conflating map and topic names.

[2018-01-19 16:11] tombentley opened #174 "CI test with kubernetes"
The topic controller has a `ControllerIntegrationTest` which currently:

* does an `oc cluster status` and aborts if a cluster is already running
* does an `oc cluster up`,
* does admin login and creates roles and rolebindings, the does developer login
* runs tests against the cluster
* finishes with an `oc cluster down`

This works nicely on my development machine, but wouldn't work on CI because

[2018-01-19 17:51] #148 closed

[2018-01-19 17:52] #141 closed

[2018-01-19 20:09] ppatierno commented on #152
The forbidden updates drive to a problem.
The user updates the cluster CM, for example he sets `type` from `persistent-claim` to `ephemeral` but the cluster controller rejects this change without patching any resources but just logging a warning message.
The actual problem is that now the cluster CM is updated and not aligned with the real resources status in the cluster (i.e. cluster CM says `sto

[2018-01-19 20:41] scholzj commented on #152
My view ... I don't think we should update the config maps. That fixes the problem of being out of sync but doesn't give the feedback to the user. We need the user to fix the config map. Its not an easy task but I think we should log the message, we should raise the event, we might be able to show it in some console later. But this is not the topic controller where we synchronise the operator acti

[2018-01-19 21:06] ppatierno commented on #152
The initial storage configuration with which the cluster was assembled is available through the Statefulsets and eventually the related VolumeClaimTemplate. What's the annotation you are talking about ? The only annotation used now is for the delete-claim in the StatefulSets as you suggested.

[2018-01-19 21:09] scholzj commented on #152
Yeah ... we have already the `delete-claim` annotation. We can in theory put the whole config map into an annotation.

[2018-01-19 21:30] ppatierno commented on #152
But when the cluster controller rejects the changes from the configmap, the "valid state" is still in the Statefulsets (delete-claim annotation) and the related VolumeClaimTemplate (size, storage class, selector) if "persistent". Sorry but I can't understand the reason for storing the entire storage configuration in an annotation :(

[2018-01-19 21:36] scholzj commented on #152
Well, you would have it in some easily readable form ... even fairly readable for human. But as I said ... I'm not clear about the usage for that ... its not something for this issue for sure. It just a thought, idea.

I think right now we should just log error since we do not have anything better. Firing an event as topic controller does should be also quite easy to do.

[2018-01-20 13:32] ppatierno commented on #152
I have just opened a PR for this issue, do we want to take into account firing Kubernetes events now or opening an issue for the future ?

[2018-01-20 13:34] scholzj commented on #152
I would say to leave it for separate issue - but I don't know how much effort it is (I assume its non-trivial effort).

[2018-01-20 13:42] ppatierno commented on #152
I would leave it for a separate issue in order to try to use common code from topic-controller. It could be one of the starting points for sharing code. Otherwise we can work on the new issue in any case. I'm going to open it.

[2018-01-20 13:44] ppatierno opened #177 "Fire Kubernetes/OpenShift events on forbidden storage update"
Currently, the cluster controller just logs a warning when the use change the cluster ConfigMap with forbidden changes (i.e. changing `type`, `size` and so on).
It could be useful having the cluster controller firing a Kubernetes/OpenShift event as well which will be visible on the console.

[2018-01-20 13:47] scholzj commented on #152
Yeah, it could. Also when we work on that we can add that to some more places I guess, not only here.

[2018-01-20 13:49] ppatierno commented on #152
Agree.

[2018-01-20 13:51] ppatierno commented on #152
Closed by #176

[2018-01-20 13:51] #152 closed

[2018-01-22 11:04] tombentley commented on #137
This should basically be quite similar to how we're handling changes in topic config via the `TopicConfigsWatcher`.

[2018-01-22 13:11] ppatierno commented on #143
I'm thinking about exposing an HTTP endpoint from the cluster-controller (maybe using Vert.x Health Checks component for that).

Regarding the readiness probe, we know that the cluster-controller is ready when the watcher for the ConfigMap is created successfully so it's able to watch for cluster CM to interact with.

Regarding the liveness probe I have two different ideas (the first one is simple

[2018-01-22 13:14] scholzj commented on #143
Yeah, the readiness could be after the watch is setup. In theory you could setup some check that reconciliation is successfully passing etc.

For the liveness - you should normally just return 200 OK. No need to anything elaborate. I should just say that the image is up and running ind is able to respond.

[2018-01-22 13:17] ppatierno commented on #143
But if for any reasons the CM watcher isn't working, it's not true that the cluster-controller is able to respond to the requests (new cluster CM is created). We can have the image up and running but it's useless; the health check is always OK but the cluster-controller isn't really "live" imho.

[2018-01-22 13:23] scholzj commented on #143
That should be IMHO a part of the readiness probe ... the app will be alive, only not ready. I don't think we should create any artificial config map to test it. That can trigger some monitorings etc.

[2018-01-22 13:29] ppatierno commented on #143
@scholzj if the configmap watcher is created it should mean that the cluster-controller is able to get CM changes ... so it's ready and can receive "requests". At this point the readiness isn't raised anymore. After that the liveness probe enters into action to check that after 1 min, 2 min or ... the watcher is still working.

@tombentley checking the reconciliation could be an addition (making s

[2018-01-22 13:36] #135 closed

[2018-01-22 13:37] scholzj commented on #143
AFAIK the readiness probe is called periodically ... it is for example used to add endpoints for services etc. It should not be one off thing.

[2018-01-22 13:49] ppatierno commented on #143
@scholzj yes sorry you are right but thinking more ...

When a readiness probe fails, K8S stops to send requests to a pod behind a service for example until the readiness probe returns ok. It doesn't restart the pod in any case afaik.
When a liveness probe fails, the K8S restarts the pod : isn't a problem with the watcher a condition which should trigger a restart ?
I mean our cluster-controller i

[2018-01-22 14:11] scholzj commented on #143
Yeah ... we might not need the readiness probe so much right now - although it might be useful for monitoring.

[2018-01-22 14:42] ppatierno commented on #143
so at this point it seems that having an HTTP endpoint active only when the ConfigMap watcher is created successfully is enough for now.
In any case I'll expose readiness and liveness on two different HTTP paths (i.e. `/health` and `/ready`) but just returning OK for now but leaving opened the door for having different logics behind them.

[2018-01-22 14:52] scholzj commented on #143
Ok, sounds good to me.

[2018-01-22 14:58] #139 closed

[2018-01-22 14:59] #140 closed

[2018-01-23 08:14] ppatierno commented on #143
Closed by #185

[2018-01-23 08:14] #143 closed

[2018-01-23 11:43] ppatierno opened #187 "Wrong env vars for building Zookeeper and Kafka "connection string""
The current `KAFKA_BOOTSTRAP_SERVERS` and `ZOOKEEPER_CONNECT` are built in this way :

`public static final Value<String> KAFKA_BOOTSTRAP_SERVERS = new Value(TC_KAFKA_BOOTSTRAP_SERVERS, STRING,getenv("KAFKA_SERVICE_HOST") + ":" + getenv("KAFKA_SERVICE_PORT"), "A comma-separated list of kafka bootstrap servers.");
`
and

`
public static final Value<String> ZOOKEEPER_CONNECT = new Value(TC_ZK_CONNEC

[2018-01-23 15:06] ppatierno commented on #187
Closed by #188

[2018-01-23 15:06] #187 closed

[2018-01-23 16:25] scholzj commented on #123
Fixed by PR #178

[2018-01-23 16:25] #123 closed

[2018-01-24 14:11] tombentley commented on #172
I have added `Config` to the list for consideration.

[2018-01-24 16:13] tombentley opened #191 "Topic Operator: Changing replication factor"
Currently the topic controller supports ConfigMaps having a `replicas` key, which is used to declare the replication factor of a topic. This is only partially supported currently: changes to the `replicas` in the CM and changes to the partition assignment in Kafka don't get mirrored.

Kafka doesn't really support "replication factor" as a first class concept. It's basically used only when creating

[2018-01-24 16:17] ppatierno commented on #137
We agree on addressing only the partitions side in this issue. The separated #191 issue will address the replication factor problem.

[2018-01-24 20:13] scholzj commented on #191
I think that configuring the replication is important. We need to have it in some form. If integer `replicas` doesn't work, can we use the replica assignment instead? I.e. have an object / map in he config map which would describe the desired replication?

I don't think this would work well. We should minimize overwriting he config maps to minimum. This can lead to issues such as overwriting the c

[2018-01-25 10:04] ppatierno opened #192 "NPE on topic-controller restart after changing topic partitions number"
So following the steps for reproducing the error ...

- Start the topic controller and create a new topic ConfigMap describing a topic with just 1 partition. All works fine and ConfigMap, Kafka and Strimzi Zk store are aligned

- Use the `kafka-topics.sh` tool for altering the topic increasing the number of partitions, i.e. :

`bin/kafka-topics.sh --zookeeper 172.30.29.40:2181 --alter --topic orde

[2018-01-25 14:21] #131 closed

[2018-01-29 17:28] ppatierno commented on #137
Closed by #195

[2018-01-29 17:28] #137 closed

[2018-01-30 23:01] #61 closed

[2018-01-30 23:01] #113 closed

[2018-01-30 23:01] #147 closed

[2018-01-30 23:02] scholzj commented on #88
This has been fixed with #197 .

[2018-01-30 23:02] #88 closed

[2018-02-01 12:53] ppatierno opened #201 "Cluster controller creates Zookeeper metrics ConfigMap but they are disabled through JMXDISABLED"
Running the master I noticed that executing :

`oc exec -it my-cluster-zookeeper-0 -- curl http://localhost:9404`

the metrics wasn't exposed anymore (the HTTP address ins't accessible).
Taking a look at this commit f1daef48dfe68c88a570498dd085efd13a312476 , it seems that the `JMXDISABLED` env var is true in order to disable Zookeeper metrics.
In any case the cluster controller is creating the met

[2018-02-01 12:56] ppatierno commented on #192
Fixed by 8c5f267a9b9f90994bcde24b549c1f0f49e236f5

[2018-02-01 12:56] #192 closed

[2018-02-01 14:27] scholzj commented on #201
@ppatierno We should probably just enable it, or? You did the metrics ... do we need to enable / disable it conditionally? IIRC we decided to enable the metrics all the time and only the user configuration is optional, or? So we should probably just set it to `TRUE`.

[2018-02-01 14:31] ppatierno commented on #201
@scholzj what was the rational for disabling metrics when you did the commit. I'm quite sure you had a good reason for doing that. For me the metrics should be enabled by default as we agreed leaving the user the possibility to update the config.

Do you mean setting it to FALSE :-) ... it's JMXDISABLED

If you are ok I can do that coming back to the initial metrics situation.

[2018-02-01 14:58] scholzj commented on #201
This is a commit from October. At that time we didn't had metrics yet. So that is why we disabled it. You added the metrics only later. What surprised me that it didn't got noticed earlier. But we probably focused on Kafka metrics more than on Zookeeper.

Yeah, my fault. I meant `FALSE` of course.

[2018-02-01 15:04] ppatierno commented on #201
What I remember is that while implementing the metrics I always tested the Kafka and Zookeeper ones using `curl` on a pod for accessing the `http://localhost:9404`. I did the same while developing metrics support in the cluster controller. It's strange ...
Btw I'm going to re-enable them, just deleting such `JMXDISABLED` set. I don't think we need having that and set it to FALSE

[2018-02-01 15:10] scholzj commented on #201
Yeah, go for it.

[2018-02-01 15:22] ppatierno commented on #201
Closed by 7f979460a25c1f123cc8d9c028a6fff777bc9156

[2018-02-01 15:22] #201 closed

[2018-02-11 22:52] scholzj opened #210 "operationType seems to be always `create`"
`operationType` in seems to be always `create`. In all cluster operations. Thjis results in incorrect log messages. See for example:
https://github.com/strimzi/strimzi/blob/02d24989137420537423c01899294aa603dd80b9/cluster-controller/src/main/java/io/strimzi/controller/cluster/operations/cluster/KafkaClusterOperations.java#L45

@tombentley Do you remember what was your original intention with this?

[2018-02-12 09:34] scholzj commented on #121
First unit tests are now added to cluster controller.

[2018-02-12 09:34] #121 closed

[2018-02-13 10:49] ppatierno commented on #164
Closed by #213

[2018-02-13 10:49] #164 closed

[2018-02-13 14:18] ppatierno commented on #119
Because the topic controller needs to connect to Zookeeper and Kafka cluster, I guess that this issue can be fixed after the #118 because the cluster controller has to be sure that Zookeeper is running in order to deploy Kafka cluster (for avoiding pods restarts) and then deploying the topic controller when the Zookeeper+Kafka cluster is ready.

@scholzj @tombentley wdyt ?

[2018-02-13 15:20] ppatierno commented on #151
Closed by #215

[2018-02-13 15:20] #151 closed

[2018-02-13 15:27] scholzj commented on #119
@ppatierno Yeah, lets wait for #118

[2018-02-14 17:54] tombentley commented on #125
Currently the cluster controller takes the namespace to watch and reconcile from its environment. Should it simply be configured with a list of such namespaces from the environment?

[2018-02-14 21:10] scholzj commented on #41
This idea has been abandoned as there is currently no need for it. I will close it and we can raise a new one later if needed.

[2018-02-14 21:10] #41 closed

[2018-02-14 21:15] scholzj commented on #125
Yeah, interesting question. My idea was more or less following:
- If no namespace specified, look for config maps in all namespaces
- If namespace specified, use only the selected namespace

Having a list of namespaces might be useful. But it can be replaced by having controller per namespace. I would say that if it can be implemented for free, why not. If it needs some effort, lets wait for some

[2018-02-15 11:11] ppatierno commented on #125
Not an expert of how the service broker works but as far as I understood, when we'll add the support for the service broker, we'll have the API implemented in the cluster controller which in that case should be able to deploy and watch a cluster in a different namespace where the controller is running.
Is my understanding right ?

[2018-02-15 14:01] #118 closed

[2018-02-15 14:05] scholzj commented on #125
I do not think the Service Broker is relevant to this. The service broker will get some kind of HTTP/REST inputs AFAIK. Not watch for ConfigMaps

Ultimately this is only about the watch ... the watch needs to watch for ConfigMaps ... once it gets the config map, the cluster will be deployed into the same namaspace as the configmap is in.

[2018-02-15 14:15] ppatierno commented on #125
Yes the ConfigMap to watch and the related deployed cluster will be in the same namespace but the cluster controller could run in a different one right ? It's what we are saying or ?
So in relation to the Service Broker, the cluster controller should be already deployed in a namespace making available itself to the Service Broker through HTTP/REST API.
This is the reason why I was thinking that th

[2018-02-15 14:19] tombentley commented on #125
With [this API](https://github.com/kubernetes/kubernetes/pull/48051) I believe we could detect when we were running with permissions to watch+list CMs in all namespaces and in that case we could use a single watcher for multi-namespace support. Lacking that we need a watcher for each namespace.

[2018-02-15 14:28] scholzj commented on #125
@tombentley You mean to setup a watch for all namespaces and filter the _enabled_ namespaces afterwards inside our code? That should work fine ... but I'm not sure we should overcomplicate it given we have no real use case for _some namespaces_ ... so pick one solution and go for it.

[2018-02-15 16:08] ppatierno opened #225 "Add documentation about Kafka Connect S2I"
We should have a dedicated page or eventually a section in the cluster-controller page for describing what Kafka Connect S2I is.
My inclination is to have dedicated page and having the cluster controller page focused on mentioning that in order to use the Kafka Connect S2I, the user needs to set a different "type" of cluster but not digging into details about S2I.

[2018-02-15 17:06] ppatierno commented on #134
Closed by #219

[2018-02-15 17:06] #134 closed

[2018-02-16 18:44] tombentley opened #228 "POM dependency management"
We're currently defining dependency versions in `<properties>`. It would be slightly less verbose to use `<dependencyManagement>`.

[2018-02-16 19:57] scholzj commented on #228
TBH I'm not sure how easier that would be. But most important - can the PME work manipulate such pom file?

[2018-02-19 15:11] ppatierno commented on #119
I have started to take a look into this issue, following some thoughts about configuring the TC.

The TC (deployed by CC) needs some configuration parameters that are provided by env vars in the current YAML file. This env vars should be "filled" by CC when it's going to create the `Deployment` for the TC in the following way :

- `STRIMZI_NAMESPACE` should be the same where the Kafka + Zk cluster

[2018-02-19 15:27] tombentley commented on #119
The CC one is the label(s) defining which labels select CC CMs. The TC has its own CMs, so needs its own selector, no?

If we take this approach would that mean that every time we want a new config in the TC we have to also add support in the CC? I suppose you could treat such config as opaque to the CC (which is what we do for metrics), but that means validation only happens when we get to the TC

[2018-02-19 15:32] ppatierno commented on #119
@tombentley what I meant is that TC labels to watch are well defined as `strimzi.io/kind=topic` so no need for an external configuration or ... we could provide a way to change it to the user so configuration is needed as well.

[2018-02-19 15:35] scholzj commented on #119
Yeah, I think having the possibility to switch it on/off should be there. An additional configuration similar to storage might make sense (Docker image, timeouts, namespace? etc.).

The question is how do we deal with the namespaces and roles. Should the user be able to configure in which namespace to watch for topics / create topics? Should these namespaces be different from the CC namespaces?

I

[2018-02-19 15:41] ppatierno commented on #119
Using the storage approach could provides what @tombentley asked, so a validation before having parameters passed to the TC.

If the CC is configured to watch for one or more namespaces, the user could create CMs for these namespaces and a new Kafka + Zk cluster is deployed for each of them; as far as I understood we want a TC for each namespace so yes ... the namespaces should be the same as the

[2018-02-19 15:56] scholzj commented on #119
We will not pass the entire TC configuration through the CC config map. Just some of the things. As I mentioned, following things come to my mind:
* Docker image
* Mamespace to watch
* ZK timeout / reconciliation interval
* namespaces???

But we would not allow to configure things like:
* Labels
* ZK URL
* Bootstrap URL

Well ... I can imagine that I want to run my Kafka cluster in namespace `proc

[2018-02-19 16:01] ppatierno commented on #119
@scholzj yes agree maybe it wasn't clear that we are on the same page :-) PS : is "Namespace to watch" something different from "namespaces???". ?

So you mean having the TC deployed in the same namespace as the Kafka + Zk cluster but watching for CMs in different namespaces right ?

[2018-02-19 16:05] scholzj commented on #119
Yeah, it might need to be more namespaces, but just once. It seems that I'm creating duplicates and damaging payload :-).

Yeah, the TC should run in the namespace where the cluster runs. That could be probably hardcoded. But the namespace(s) to watch might be different. Sorry for not being precise.

[2018-02-19 16:40] ppatierno commented on #119
So regarding configurable parameters for the topic controller using the JSON (as for storage) is the way to go but instead of re-write something similar to the `Storage` class it could be helpful to re-use the `Config` class from the topic-controller maybe adding methods for handling the JSON format. @tombentley wdyt about that ?

Finally, regarding cluster roles I would start using the same servi

[2018-02-19 16:43] scholzj commented on #119
The parameters will be different ... so you IMHO cannot reuse anything from TC.

[2018-02-19 16:46] ppatierno commented on #119
Zookeeper connect timeout, reconciliation, namespaces are there ... Docker image is not there and it should not be in the `Config` TC class but maybe we could derive a new class to use in the CC. Just thinking aloud to avoid duplication ...

[2018-02-19 17:34] ppatierno commented on #119
Deploying the topic-controller is part of the `KafkaClusterOperations` as it already happens to Zookeeper. After deploying Zookeeper and the Kafka, the operations should deploy the topic controller.

In order to have the topic-controller deployment fitting into the current cluster-controller architecture we should think the topic-controller to be implemented as a possible derived class from `Abstr

[2018-02-19 17:41] scholzj commented on #119
My original implementation of S2I had a resource which was not extending `AbstractCluster`. It simply had the methods to generate the OpenShift resources, to diff and to instantiate from JSON (i.e. the sub-section from the kafka cluster config map) or from OpenShift directly. And than it had its own Operation.

But I felt it was not that straight forward to use it. So maybe integrating it directly

[2018-02-19 17:51] ppatierno commented on #119
It's a possibility but I see the topic controller deployment closely related to the Kafka cluster in this way. It's true for the Zookeeper cluster as well but it maintains a sort of "independence" thanks to the 'ZookeeperCluster` and related operations classes that we have still there. In both cases, the Kafka operations orchestrate their deployment.

I would have something like that so separated

[2018-02-19 17:54] tombentley commented on #119
I agree the term Cluster isn't really right in the AbstractClusterOperations hierarchy. Really those higher-level operations are about coordinating a collection of lower levels resources. It happens that until now those some of those resources have been clusters. `Component` doesn't seem an ideal fit, but is perhaps better than `Deployment`, which would cause too much confusion if we overloaded it

[2018-02-19 18:16] ppatierno commented on #119
Agree that `Deployment` doesn't fit great due to the K8S deployment resources ... `Component` should work better.
So in order to avoid a big PR with a log of changes I'll open a PR with these naming changes first, moving from "Cluster" to "Component" for all the classes.
Then the topic controller will follow the new `AbstractComponent` hierarchy and its deployment will be handled as the Zookeeper

[2018-02-20 09:48] ppatierno opened #233 "Renaming AbstractCluster and related operations hierarchy"
Adding the topic controller deployment from the cluster controller #119 some classes like `AbstractCluster` and `AbstractClusterOperations` could not make sense anymore because topic controller is not a cluster.
With this issue I'd like to trace the classes that should be renamed and then opening a PR for that.

In order to use the `CompositeOperation` class, a class derived from `AbstractCluster`

[2018-02-20 14:24] tombentley opened #234 "Sensible errors with empty or purely bogus CM data"
Currently the CC produces unhelpful error messages when a kafka, connect or s2i CM is created with empty or purely bogus elements.

[code]

The error message should explain which CM (name+namespace) has the bad data, which key is problematic and what is wrong with that key.

[2018-02-20 14:53] tombentley commented on #210
@scholzj this got fixed during the CC refactoring; the `AbstractClusterOperations.execute()` now takes an `operationType` parameters, and suitable arguments are being passed.

[2018-02-20 14:53] #210 closed

[2018-02-20 14:54] tombentley commented on #174
We now have CI tests with minikube, so I think we can close this.

[2018-02-20 14:54] #174 closed

[2018-02-20 14:59] scholzj commented on #210
Yeah, I agree, I remember reviewing the fix, we just didn't closed this issue (until now).

[2018-02-21 16:15] serrss opened #238 "Unhandled exception during updating value for zookeeper-healthcheck-delay in Config Map"
Step to reproduce:

1. Clone and open Strimzi sources https://github.com/strimzi/strimzi
2. Up cluster
`$ oc clucter up`
3. Login as admin
`$ oc login -u system:admin`
4. Deploy Cluster Controller
`$ oc create -f resources/openshift/cluster-controller-with-template.yaml`
5. Deploy Topic Controller
`$ oc create -f resources/openshift/topic-controller-with-template.yaml`
6. Login to OpenShift https:

[2018-02-21 16:21] scholzj commented on #238
You have only single node ZK - that is not HA. What happens is follwing:
- You change the healtcheck
- CC has to do rolling update of ZK. That means shutdown the only pod and start it again
- When the pod restarts, it is not ready, so it is disconnected from the ZK service
- Since ZK service has no ready endpoints, it is not ready either
- When service is not ready, it doesn't propagate DNS hostna

[2018-02-22 14:38] serrss opened #239 "Unhandled NPE during reconciliation"
## **Step to reproduce:**

1. Clone and open Strimzi sources https://github.com/strimzi/strimzi
2. Up cluster
`$ oc clucter up`
3. Login as admin
`$ oc login -u system:admin`
4. Deploy Cluster Controller
`$ oc create -f resources/openshift/cluster-controller-with-template.yaml`
5. Deploy Topic Controller
`$ oc create -f resources/openshift/topic-controller-with-template.yaml`
6. Login to OpenShift

[2018-02-23 17:57] ppatierno opened #241 "Handling KubernetesClientException when the DNS server is not available"
If the Kubernetes DNS server is not available, the cluster controller (but in general any other component connecting to the API server, so the topic controller as well) raises the following exception which we have to handle in some way (for example exiting and leave Kubernetes restarting the container).

Exception in thread "main" io.fabric8.kubernetes.client.KubernetesClientException: An error ha

[2018-02-26 07:25] ron1 opened #244 "Add Kafka minimalist SASL/PLAIN auth to OCP deployment w/annotated secret"
Add Kafka minimalist SASL/PLAIN auth to OCP deployment w/annotated secret. In many OpenShift environments, IPSEC encryption is already in place (see https://access.redhat.com/documentation/en-us/openshift_container_platform/3.7/html/cluster_administration/admin-guide-ipsec) which makes TLS encryption unnecessary. Secret and parameter definitions should be similar to the following:

objects:
    {

[2018-02-26 07:33] ron1 opened #245 "Generate new 0.x release with CentOS7 base image instead of Fedora26"
Generate new 0.x release with CentOS7 base image instead of Fedora26 since the CentOS7 base image is more common and more stable.

[2018-02-26 08:05] scholzj commented on #245
In master, we already updated to CentOS 7. We hope to do a 0.2.0 release towards the end of this week / beginning of next week. You can follow our us on GitHub or on our [mailing list](https://www.redhat.com/mailman/listinfo/strimzi) to be informed about the release.

Out of curiosity - did you had any problems using our Fedora based images in 0.1.0? Or was this just a general comment?

[2018-02-26 09:50] tombentley opened #246 "Periodic reconciliations should be interval-based"
The periodic reconciliations in both topic cluster and topic controllers use a periodic timer, which fires at a fixed rate. This means it's possible for another reconciliation to start before the last one has finished. They should instead use a fixed delay between reconciliations.

[2018-02-26 10:00] ppatierno opened #247 "Fixing way to pass operations to KafkaClusterOperations"
It seems that creating a `KafkaClusterOperations` needs a long line for passing all the operations to the constructor. At same time, when adding a new operation requires quite a lot of changes through all tests, ... can we fix that ?

[2018-02-26 10:03] ppatierno opened #248 "The waitUntilReady doesn't really wait"
The `waitUntilReady` method in the `AbstractOperations` class doesn't really "wait" but returns a `Future` so maybe it has a wrong name.

[2018-02-26 10:07] ppatierno opened #249 "Refactoring Future composition in the composite operations"
Most of the `CompositeOperation` (i.e. createKafka, createZk, ...) join a bunch of `Future`.
An idea from @tombentley was :

[2018-02-26 10:13] ppatierno opened #250 "Avoid to get container instance more times but saving reference locally"
Most of the cluster controller code uses this following line :

`dep.getSpec().getTemplate().getSpec().getContainers().get(0)`

which is repeated more times. It could be useful to save the container reference in a local variable using it in the following instructions which use such a container.

[2018-02-26 10:16] ppatierno opened #251 "Factoring out an utility method for Env vars to Map conversion"
There is the need for converting the Env Vars from a Kubernetes resource (Statefulset, Deployment, ...) to a Map in different parts of the cluster controller using the following instruction :

`Map<String, String> vars = dep.getSpec().getTemplate().getSpec().getContainers().get(0).getEnv().stream().collect(Collectors.toMap(EnvVar::getName, EnvVar::getValue));`

We could factor out an utility metho

[2018-02-26 11:12] asorokhtey opened #252 "Wrong cluster name on Results page during cluster creation"
1. Clone and open Strimzi sources https://github.com/strimzi/strimzi
2. Up cluster
$ oc clucter up
3. Login as admin
$ oc login -u system:admin
4. Deploy Cluster Controller
$ oc create -f resources/openshift/cluster-controller-with-template.yaml
5. Login to OpenShift https://127.0.0.1:8443
6. Create "Apache Kafka (Persistent or Ephemeral storage)"
6.1 Click "Add to project"
6.2 Click "Select from

[2018-02-26 11:32] ppatierno opened #253 "Splitting health check parameters for liveness and readiness probes"
Currently the `AbstractCluster` class provides health check fields which are in common between readiness and liveness probes. It could be useful (and needed for the current `TopicController` implementation) having two groups of parameters for setting path, timeout and so on for both liveness and readiness probes.
It comes from following discussion :

https://github.com/strimzi/strimzi/pull/237#dis

[2018-02-26 16:03] tombentley opened #255 "Document labels"
It is starting to get confusing which labels are applied to, and consumed by, what things in the architecture. We should ensure this is documented for users as well as ourselves.

[2018-02-26 17:58] ron1 commented on #245
I had no problems with the Fedora-based image. It's just that CentOS7-based images are often preferred over Fedora-based images in many environments.

Will the 0.2.0 release continue to support deployment of traditional kubernetes/openshift artifacts as in 0.1.0?

[2018-02-26 18:15] ppatierno commented on #245
The 0.2.0 release will provide a way to deploy the Kafka cluster through the "operator" approach. A cluster controller needs to be deployed in the Kubernetes/OpenShift cluster and then providing a single ConfigMap with the Kafka cluster configuration, it's able to deploy such a cluster (the same for deploying a Kafka Connect cluster). Alongside with the cluster controller, a topic controller is de

[2018-02-26 19:19] scholzj commented on #245
I agree ... this is exactly why I changed it to CentOS :-)

[2018-02-26 19:31] ppatierno commented on #119
closed by #237

[2018-02-26 19:31] #119 closed

[2018-02-26 19:31] serrss opened #256 "IllegalStateException during config map deletion"
### Step to reproduce:
1. Clone and open Strimzi sources https://github.com/strimzi/strimzi
2. Up cluster
`$ oc clucter up`
3. Login as admin
`$ oc login -u system:admin`
4. Deploy Cluster Controller
`$ oc create -f resources/openshift/cluster-controller-with-template.yaml`
5. Deploy Topic Controller
`$ oc create -f resources/openshift/topic-controller-with-template.yaml`
6. Login to OpenShift htt

[2018-02-26 19:50] serrss opened #257 "MaxAttemptsExceededException during Kafka Connect creation"
### Step to reproduce:
1. Clone and open Strimzi sources https://github.com/strimzi/strimzi
2. Up cluster
`$ oc clucter up`
3. Login as admin
`$ oc login -u system:admin`
4. Deploy Cluster Controller
`$ oc create -f resources/openshift/cluster-controller-with-template.yaml`
5. Deploy Topic Controller
`$ oc create -f resources/openshift/topic-controller-with-template.yaml`
6. Login to OpenShift htt

[2018-02-26 19:52] ron1 commented on #245
The "operator" approach is a much-welcomed feature but I would like to give it significant time to mature before I use it for real work. In the meantime, can either 0.2.0 be made to support the traditional deployment model or can a CentOS7-based 0.1.1 version be released that continues to support the traditional deployment model?

[2018-02-26 19:56] serrss opened #258 "EntityExistsException during Kafka Connect creation"
### Step to reproduce:
1. Clone and open Strimzi sources https://github.com/strimzi/strimzi
2. Up cluster
`$ oc clucter up`
3. Login as admin
`$ oc login -u system:admin`
4. Deploy Cluster Controller
`$ oc create -f resources/openshift/cluster-controller-with-template.yaml`
5. Deploy Topic Controller
`$ oc create -f resources/openshift/topic-controller-with-template.yaml`
6. Login to OpenShift htt

[2018-02-26 22:17] scholzj commented on #245
To be honest I'm not sure whether it is worth doing 0.1.1 if you actually don't have any problems with Fedora.

[2018-02-27 08:49] ppatierno commented on #171
I reproduced it with following log :

2018-02-27 09:46:46 INFO  ClusterController:145 - Deleted ConfigMap my-cluster in namespace myproject
2018-02-27 09:46:46 INFO  AbstractClusterOperations:209 - Deleting Kafka cluster my-cluster in namespace myproject
2018-02-27 09:46:46 INFO  AbstractClusterOperations:151 - delete topic-controller cluster my-cluster-topic-controller in namespace myproject
2018

[2018-02-27 13:30] tombentley commented on #125
This has been done.

[2018-02-27 13:30] #125 closed

[2018-02-27 16:49] tombentley opened #260 "TC health server should be stopped in Session.stop()"
This is causing `BindExceptions` during tests, which don't cause the tests to fail, but it's definitely the case that once the verticle has been stopped the TC is no longer alive.

[2018-02-27 17:25] #252 closed

[2018-02-28 08:14] scholzj commented on #124
@ppatierno @tombentley I guess this will be resolved with #171 or? When we call reconcile for each Watch event it should be handled.

[2018-02-28 08:31] tombentley commented on #124
That's my expectation, yes

[2018-02-28 08:34] scholzj commented on #124
Ok. I will assign it to @ppatierno so that he can close it when he is finished with it.

[2018-02-28 08:49] #250 closed

[2018-02-28 11:57] scholzj opened #264 "Improve Cluster Controller resiliency"
Cluster Controller today cannot handle situations when some of the resources are deleted after the cluster was created. It seems that it cannot handle this neither when updating cluster nor when deleting them. We should improve the resilience:
- Delete should work in all cases
- Update should be ideally able to recreate the resources

[2018-02-28 13:07] ppatierno commented on #171
closed by #263

[2018-02-28 13:07] #171 closed

[2018-02-28 13:07] ppatierno commented on #124
closed by #263

[2018-02-28 13:07] #124 closed

[2018-02-28 15:21] scholzj commented on #127
Do not add timeout only:
- reuse waitUntilReady
- make it non-blocking
- add deadline which causes error

[2018-02-28 17:37] #248 closed

[2018-02-28 20:27] tombentley opened #270 "Unify documentation for k8s, OS, document templates separately"
Now that the YAML examples have been reorganized the documentation for installing and using the Operators is more or less the same on both kubernetes and openshift. The only real difference is that the openshift examples usually use the templates.

We could document the templates separately, and switch to using the "static" example configmaps for the bulk of the documentation, which would mean les

[2018-03-01 21:16] scholzj commented on #34
@tombentley Hmm, funny enough ... we discussed Arquilian already in October :-).

BTW: I think you can close this issue when you merge the Smoke Tests.

[2018-03-02 00:30] bbrowning opened #272 "Pod readiness checks should have configurable timeout values"
In some environments (Travis CI, in my case), it can take longer than the hardcoded 60 seconds for the zookeeper and/or kafka pods to become available. This may be due to network slowness in downloading the container images or just general slowness of the cluster.

It would be great if these values were configurable in the Kubernetes/OpenShift yml definitions.

[2018-03-02 07:55] scholzj commented on #272
What version of Strimzi are you using? 0.1.0? Or the master which is using the operator approach? In both cases it should be possible to configure the initial delay and timeout. It is just a bit cryptically named as _healthcheck_.

In 0.1.0, you can use following template parameters to configure it:
- `ZOOKEEPER_HEALTHCHECK_DELAY`
- `ZOOKEEPER_HEALTHCHECK_TIMEOUT`
- `KAFKA_HEALTHCHECK_DELAY`
- `KA

[2018-03-02 07:58] ppatierno commented on #272
Hi @scholzj I guess that @bbrowning is referring to the 60 secs that we have hardcoded here :

https://github.com/strimzi/strimzi/blob/master/cluster-controller/src/main/java/io/strimzi/controller/cluster/operations/cluster/KafkaClusterOperations.java#L143

If pulling image from Docker repo takes more than that, it fails. Or ?

[2018-03-02 08:03] scholzj commented on #272
Hmm, ok. Maybe we can actually use the `kafka-healthcheck-delay` / `zookeeper-healthcheck-delay` timeouts here as a basis for some calculation (e.g. 2*`kafka-healthcheck-delay`), because these are obviously kind of connected together.

[2018-03-02 12:26] bbrowning commented on #272
I am deploying from Strimzi master and referring to the hardcoded 60 seconds linked above as well as when waiting for the ZK pods to come up. Travis can be a bit slow when running OpenShift clusters and even when I pre-emptively `docker pull` the strimzi images ahead of time, it can still take more than 60 seconds for the ZK pods to be ready in a Travis job.

I'm not sure if these timeout values s

[2018-03-02 12:41] scholzj commented on #272
Ok, thanks a lot for the explanation .You are right that binding it to the healthcheck delay doesn't make sense because they start at different point. At the same time, I don't think hardcoding it to some long timeout like 10 minutes is a good idea, because it could delay problem detection in regular environments. So I agree that we should make this configurable.

The NPE and the fact that it actu

[2018-03-02 19:03] tombentley opened #275 "System test pod logs"
When a system test fails (in particular on CI) it's not always easy to figure out what when wrong from the test logs. What would help would be logs from the pod(s) which experienced/caused the error. Or, if there is no pod, a record of the cluster state at the time of the failure.

[2018-03-02 19:29] bbrowning commented on #275
If you need inspiration, we do this in our Travis build with an `after_failure` hook at https://github.com/projectodd/openwhisk-openshift/blob/aecbb71d8e2bc61fac130ab1e33dbd08092a290b/.travis.yml#L24-L25 that calls the script https://github.com/projectodd/openwhisk-openshift/blob/aecbb71d8e2bc61fac130ab1e33dbd08092a290b/tools/travis/collect-logs.sh . Basically, you can use `oc`/`kubectl` to print

[2018-03-04 15:11] scholzj commented on #272
I opened a PR #276 for this. I will merge it after it passes the review.

[2018-03-04 15:32] scholzj opened #277 "Unit tests should be executable individually in IDE"
All unit tests should be executable one by one from the IDE. This currently doesn't seem to be possible. As an example, trying to run test `testReconcile` in `KafkaClusterOperationsTest` in IntelliJ IDEA seems to end with following error:

[code]

[2018-03-04 17:12] scholzj opened #278 "Reconcile doesn't properly handle releasing of locks"
The `reconcile` method in `AbstractClusterOperations` doesn't properly handle releasing the acquired lock. It releases it at the end of the `reconcile` method it self instead of releasing it when the cluster action (`create`, `update`, etc.) is taken. As a result, reconciliation can easily trigger update into cluster which is still being created etc. This can cause NPE in the best case.

[2018-03-05 10:16] #278 closed

[2018-03-05 10:49] tombentley commented on #277
This is because `KafkaClusterOperationsTest` is a parameterized test, and the IDE's runner doesn't understand how to run it with a particular set of parameters. We could make it a normal (unparameterized) test, but to retain the existing coverage that would require expanding out the 2×2×3×3=36 different parameter combinations. Now certainly those parameters happen to be more or less orthogonal, bu

[2018-03-05 13:06] scholzj commented on #277
Is there really now way how to setup some default parameters or something like that? That sounds like a quite omission. :-(

But if we cannot do anything with it, the value of testing with different parameters is for sure higher than running these tests individually.

[2018-03-05 13:53] serrss commented on #256
This bug was fixed with https://github.com/strimzi/strimzi/issues/171
Checked build - https://travis-ci.org/strimzi/strimzi/builds/349229157

[2018-03-05 13:53] #256 closed

[2018-03-05 14:03] scholzj opened #282 "Unify configuration between CC and TC"
Currently, the TC and CC has two different ways of configuration. CC accepts values in MS only. TC accepts values with time unit. We should consider unifiying this. Unfortunately, after the 0.2.0 it would break the compatibility. So we should maybe do it rather sooner than later.

[2018-03-05 14:07] #272 closed

[2018-03-05 16:08] tombentley commented on #282
Which of the two styles do we want to consolidate on?

[2018-03-05 16:14] scholzj commented on #282
I think that the CC style requires less effort and can cause less problems. But I'm quite flexible.

[2018-03-05 18:05] tombentley commented on #277
I believe Eclipse can do it, but it seem intellij cannot, which is a shame.

[2018-03-05 18:05] #277 closed

[2018-03-05 23:18] bbrowning commented on #272
Great - thanks for the quick fix!

[2018-03-06 08:26] ppatierno commented on #282
My inclination is to use the CC way without any timeunit in the configuration String but just using ms.

[2018-03-06 08:51] scholzj opened #286 "Strimzi doesn't work in RBAC enabled Kubernetes clusters"
The cluster controller fails in RBAC enabled Kubernetes clusters because it tries to get the `/` path and this is not allowed by default. This is caused by the `isAdaptable` method which is called from `Main.java` to find out if we run on OpenShift or not.

[2018-03-06 08:54] scholzj opened #287 "Systems tests should run against RBAC enabled Minikube"
Minikube has RBAC disabled by default. This leaves a huge area of things which can go wrong even when the system tests pass. One such example is #286. We should run the tests against Minikube with RBAC enabled (should be `minikube start --extra-config=apiserver.Authorization.Mode=RBAC` AFAIK).

_Note: This should be done only after #286 which would break the tests immediately ;-)_

[2018-03-06 09:11] scholzj opened #288 "Kafka Connect S2I cluster reconciliation shouldn't be triggered on Kubernetes"
Cluster Controller currently triggers reconciliation of Kafka Connect S2I clusters even on Kubernetes. That seems to cause NPE:
[code]

S2I reconciliation should be triggered only on OpenShift.

[2018-03-06 09:27] scholzj commented on #282
@ppatierno Too late ... this should have been closed by #284

[2018-03-06 09:27] #282 closed

[2018-03-06 09:29] ppatierno commented on #282
@scholzj but the #284 went into the direction I like :-)

[2018-03-06 10:06] #288 closed

[2018-03-06 11:17] ppatierno opened #290 "Release lock when all resources are deleted"
During deletion operations (see `reconcile` method in the `AbstractClusterOperations`) the `lock` is released for each completed delete. It may end up with a reconcile running while "overall" cluster deletion is in progress which is something that don't have to happen.
The `lock` has to be released when all resources are deleted.

[2018-03-06 12:41] asorokhtey commented on #264
I've found an issue and it can be related to this one.
Steps to reproduce:
1. Clone and open Strimzi sources https://github.com/strimzi/strimzi
Up cluster
$ oc clucter up
2. Login as admin
$ oc login -u system:admin
3. Deploy Cluster Controller
$ oc create -f examples/install/cluster-controller
$ oc create -f examples/templates/cluster-controller
4. Set STRIMZI_FULL_RECONCILIATION_INTERVAL_MS vari

[2018-03-06 12:50] scholzj commented on #264
@asorokhtey I think that the log is too short to say for sure that it is related. To you have the full log?

[2018-03-06 12:56] asorokhtey commented on #264
@scholzj here is full log file [logfile.txt](https://github.com/strimzi/strimzi/files/1785029/logfile.txt)

[2018-03-06 12:57] scholzj commented on #264
Yep, this is the same issue:
[code]

[2018-03-06 13:09] scholzj opened #292 "When required configuration is missing the Cluster Controller keeps hanging"
When the Cluster Controller is started without all required options being specified, it reports an error, but keeps hanging. It should shutdown instead.

[code]

[2018-03-06 13:33] #290 closed

[2018-03-06 14:06] #286 closed

[2018-03-06 15:26] scholzj opened #294 "Persistent Volume name too long"
The persistent volume name seems to be limited to 63 characters. It usually consists of several pieces:
- Prefix from the storage provider, e.g. `glusterfs-dynamic-`
- Name of the storage template. In our case `zookeeper-storage` or `kafka-storage`
- The pod name section. E.g. `-strimzi-openwhisk-zookeeper-0`

To make the names shorter, the most obvious part to change is the middle section. The in

[2018-03-06 17:15] ppatierno opened #296 "Release lock when periodic reconcile is freed after ongoing deletion"
If the periodic reconcile is triggered but it can't acquire the lock because there is an ongoing deletion, it will be freed when the deletion will finish releasing the lock.
In this scenario, the freed periodic reconcile finds `cm == null` (the ConfigMap was deleted) and `resources.size() == 0` (all resources were deleted) : the result is the reconcile method ends but the lock isn't released anymo

[2018-03-06 17:29] #296 closed

[2018-03-06 17:30] #294 closed

[2018-03-07 22:58] scholzj opened #303 "Null pointer exception when deleting cluster"
We still seem to have some NPEs:

[code]

[2018-03-07 23:40] scholzj opened #304 "NPEs wile deleting Kafka cluster"
[code]

[2018-03-08 15:00] ppatierno commented on #239
@serrss I tried but what I see after 15 minutes (x 2) is the following :

[code]

so no exception :-(

It's clear thet in the `Controller` at line 342 the `ar.result()` is null as reason for the NPE you saw (so something failed) but I cannot reproduce it right now.

[2018-03-09 11:52] ppatierno commented on #239
I was able to reproduce the issue but creating a topic before scaling down Kafka is mandatory otherwise no reconcile is started and the code where the mentioned NPE should happen is not involved. I am going into it.

[2018-03-09 13:31] ppatierno commented on #239
So the problem is the following ...

In the steps provided by @serrss it's needed to create a new topic using a ConfigMap for example (so let's say 8.1 step). Only after that it's possible to scale down the Kafka broker for having the issue.

Scaling down the broker drives the Admin Client having some problems on reconnecting to the last alive broker (maybe it's another issue). If you delete the t

[2018-03-12 09:05] ppatierno opened #306 "Admin Client failures but topic created"
Following a "strange" situation I saw using Strimzi.

Starting with a Kafka cluster with 3 Kafka broker nodes which get following IP addresses.

[code]

From the TC trace, it seems that the Admin Client (used for handling topics) is working fine. Its bootstrap list is made by the `my-cluster-kafka` service so it sends metadata request to it. In my case with IP : `172.30.78.141:9092`. After that du

[2018-03-12 09:30] ppatierno commented on #306
To confirm, the topic is created thanks to the reconcile (I increased the period) :

[code]

Still the forbidden to create events and a `TopicStore$EntityExistsException` to investigate I guess.

[2018-03-12 10:03] ppatierno commented on #239
Closed by #305

[2018-03-12 10:07] tombentley opened #307 "Topic controller's AdminClient config"
The topic controller should set `client.id` in its AdminClient config, so Kafka logging has a bit more contextual info for connections from the TC.

See https://kafka.apache.org/documentation/#adminclientconfigs

[2018-03-12 10:19] ppatierno commented on #239
@serrss It should be fixed by #305 . Give it a new try.

[2018-03-12 11:07] #161 closed

[2018-03-12 11:27] ppatierno opened #309 "System tests for Topic Controller"
As pointed out by @tombentley in the #308 we have to add system tests for the Topic Controller as well.

[2018-03-12 11:48] ppatierno commented on #257
I wasn't able to reproduce the issue maybe I was lucky or the default timeout worked fine for me.
Making it configurable means doing that for the `BackOff` class but I guess that we don't want to expose outside all three main parameters to be configurable (`scaleMs`, `base` and `maxAttempts`).
I guess that just making it configurable through `maxAttempts` could be enough. Wdyt @tombentley @scholzj

[2018-03-12 12:55] serrss opened #310 "Assertions for Broker configuration"
It will be nice to have some way to check the configuration of broker in system tests. As a solution, we can execute the command `> bin/kafka-configs.sh --describe --zookeeper localhost:2181 --entity-type brokers` but this command can't return dynamic configurations.

[2018-03-12 13:01] tombentley commented on #310
The problem is that `bin/kafka-configs.sh` seems to *only* return the dynamic configs, not the static ones, and for these assertions it's the static ones we're interested in.

Rather than spending time coming up with a way around this now, I propose we defer these extra assertions until strimzi is able to support connection to brokers from outside the k8s cluster, and at that point we can use the

[2018-03-12 16:54] ppatierno commented on #306
We should investigate about how Kafka upstream Admin Client handles stale metadata in order to recover quickly when a Kafka broker dies (due to a scaling down).
At same time we should think about starts a reconciliation immediately when errors happen with the Admin Client in order to avoid the reconciliation period (as described) for creating the topic.

[2018-03-13 10:40] ppatierno opened #312 "Remove assertion usage in the Backoff class"
The current `BackOff` class implementation uses `assert` for checking parameter values in the constructor.
It means that TC and CC need to be run with `-ea` option on the command line.
In order to do that, it's better having the checking logic encapsulated into the code not relying on "external" options.
The issue is about moving away from `assert` usage and having `if / throw` checks instead.
At

[2018-03-13 11:28] serrss opened #313 "Unhandled exception during scale down zookeeper instances"
There is an exception in TC during scaling down the number of instances of a zookeeper. An exception appears when the connection is lost for path: /brokers/topics.

### Step to reproduce:
1.Create "Apache Kafka (Persistent storage)"
1.1 Click "Add to project"
1.2 Click "Select from project"
2.3 Select "Apache Kafka (Persistent storage)" and click "Next"
1.4 Use default configurations:
_Number of Z

[2018-03-13 11:30] serrss commented on #313
Added all log file for this issue - [TC-log-file.txt](https://github.com/strimzi/strimzi/files/1806680/TC-log-file.txt)

[2018-03-13 13:01] tombentley commented on #241
This can be tested on minikube by deleting the kube-dns deployment while performing various operations (such as creating the CC, creating a kafka cluster, creating a kafka topic).

### No `kube-dns` when CC starts

I found no problems when doing `kubectl delete deployment --namespace=kube-system kube-dns && kubectl create -f examples/install/cluster-controller/`.

### No `kube-dns` on Cluster CM C

[2018-03-13 15:46] serrss commented on #239
@ppatierno issue was fixed

[2018-03-13 15:46] #239 closed

[2018-03-13 17:25] ppatierno commented on #257
@serrss it should be fixed by #311 . Can you give it a try please ?

[2018-03-13 20:14] franjo-piskur opened #316 "Openshift Online and Strimzi 0.2.0 - my-cluster-kafka OOM killed"
Hello,

i tried to deploy Strimzi 0.2.0 in Openshift Online.

First, i'm not running cluster controller under ServiceAccount because in Online you cant change cluster part of roles, so i deployed cluster and topic controller manually.

After that (and importing templates) cluster-controller deployed my-cluster-kafka and my-cluster-zookeeper stateful sets correctly.

Then i relaized that once in ho

[2018-03-13 20:24] scholzj commented on #316
To be honest, I think nobody from us tried to run it on the OpenShift Online yet. Is there some specific reason why you want to use it on OpenShift Online? I think that given its limited resources of the Starter plan it might be challenging to do there anything useful, because you would need to run there Zookeeper cluster, Kafka cluster and clients (since right now we haven't implemented exposing

[2018-03-13 20:37] franjo-piskur commented on #316
OOM kills it just like that. In that moment kafka-cluster is just deployed and have zero topics, zero consumers, zero producers.

The reason why we use Online is because we are in procedure to buy new hardware and Openshift Enterprise, so in meantime we thought to use Online just for PoC and develoment purposes.

When i'm trying to run /opt/kafka/kafka_healthcheck.sh script in the pod, after a few

[2018-03-13 21:02] scholzj commented on #316
To be honest ... unless you have only a Chromebook or thin client or something similar ... using it for development purposes locally with something like Minishift or "oc cluster up" might give you a better experience.

But it would be cool if it could somehow work in OpenShift Online at least in some limited form, so I will anyway have a look at it. But no promises.

[2018-03-13 22:07] scholzj commented on #316
After a brief look, the first step would be to make the resource requests and limits configurable. Without that it would be hard to move forward without editing all YAMLs etc.

[2018-03-14 07:58] scholzj commented on #264
I think there are two problems:
1) If a some resource exists (for example some left-over service) when a cluster is being created, the creation process will never update it. I.e. for any already existing resource, create has to make sure that the resources is either deleted and recreated or updated.
2) If update is missing some resource, it will fail to update it, but not create it.

Unfortunately

[2018-03-14 08:11] franjo-piskur commented on #316
I agree with you, it would be great to have this parameters in cluster configmap, so cluster controller would set it when creating stateful sets.

There would be problem with this if any customer is a tenant and have default quota and limits, not just in Openshift Online but also at any OpenShift Cloud provider.

[2018-03-14 08:56] ppatierno commented on #264
I agree on the overall idea so ...

1.  `create` + `update` should "fix" already existing K8S resourcers (as you mentioned a left-over service for example)

1.  `update` + `create` should "fix" scenarios where the initial creation went wrong (i.e. the typical case we are having with ZK deployed but then operation timeout ... and Kafka is not created) but the next reconcile is able to update what a

[2018-03-14 10:05] scholzj commented on #264
@ppatierno I think retrying outside of reconciliation would just introduce complexity without helping the cause too much. See it like this ... right now our default reconciliation timeout is 2 minutes. The creation timeout is 5 minutes.

So at least two reconciliations would be started while waiting for the creation. In many cases, one would be already waiting for the lock and thus start immediate

[2018-03-14 10:05] jihed opened #317 "cluster-controller doesn't respect the storage config for the storageclass."
Hello,

I am using the version 0.2.0 to deploy my cluster kafka on gcp.
I have four types of storage class:
oc get sc
NAME                     TYPE
ssd                      kubernetes.io/gce-pd
ssd-xfs                  kubernetes.io/gce-pd
standard                 kubernetes.io/gce-pd
standard-xfs (default)   kubernetes.io/gce-pd

I wanted to update my cluster kafka (kafka and zookeeper) to use th

[2018-03-14 10:13] scholzj commented on #317
Does that mean that your cluster was already running, and only than you changed the storage class? The way it works right now is that you cannot change the storage configuration once the cluster is deployed because it would cause a data loss. So the only way to do this is to delete the cluster and create a new one with the correct storage class. You should see some warning message in the cluster c

[2018-03-14 10:26] ppatierno commented on #264
I didn't take a look to the real numbers, it makes sense.

[2018-03-14 10:32] jihed commented on #317
Thanks Jakub, Awesome job !

[2018-03-14 10:35] #317 closed

[2018-03-14 11:22] tombentley commented on #264
I agree with the basic idea @scholzj. I think we should pay attention to some important details:

* `AbstractOptionations.create()` has a test-then-createOrReplace strategy, which means there's a race (at least in principle). I'm not sure what happens if we replace a statefulset or deployment (as part of an improved update I mean): Would it result in a rolling update? Perhaps we should do a create

[2018-03-14 11:58] scholzj commented on #264
For unconditional create we would need to check what it actually does. The unconditional delete sounds good, although at some point we might need to _synchronize_ the deletion and than it would matter again.

TBH, I do not want to disregard your scenarios ... they are all real and might cause some problems. But I think we need to plug the big holes first and leave the small ones (with fairly low p

[2018-03-14 12:29] tombentley commented on #264
I don't see major issues with them, and I agree they're smaller holes.

What bothers me is that we're using the periodic reconciliation as a crutch, hoping it will make things right next time it runs, when in fact the problem is in the way we're trying to update the cluster. We've forced ourselves into a pattern where we compute this coarse-grained monlithic diff and then act on that, and we have

[2018-03-15 16:48] serrss commented on #257
@ppatierno Issue was fixed. I can't reproduce this bug after PR #311 was merged.
TC log:

[code]

[2018-03-15 16:48] #257 closed

[2018-03-19 12:53] ron1 opened #319 "Allow disabling operator to achieve a traditional, more customizable deployment"
At least until a feature-complete, production-ready, operator-based Strimzi release is available, allow disabling Strimzi Kafka operator to achieve a traditional, more customizable deployment. When this new OPERATOR_DISABLED ConfigMap property is set, the Kafka/Zookeeper deployment will be orchestrated by the user using Kubernetes/OpenShift primitives as was done in the Strimzi 0.1.0 release. This

[2018-03-19 12:54] ron1 commented on #245
Obsoleted by issue https://github.com/strimzi/strimzi/issues/319.

[2018-03-19 12:54] #245 closed

[2018-03-21 09:30] scholzj commented on #319
I'm not sure I understand what disabling the operator means. You can disable the operator by not running the Cluster Controller. But then there is obviously nobody to deploy your cluster based on the ConfigMap.

I general we would prefer to focus on rolling out the features to actually make Strimzi useful (such as security and configuration) than spend the time on allowing some hacks but delaying

[2018-03-22 07:37] scholzj commented on #160
The investigation of the official Grafana image has been done by @serrss in #318 ... the image doesn't work properly on OpenShift for us due to permission issues.

In the same PR we also decided that since Prometheus and Grafana are not official deliveries for us, we should not maintain the templates for them and have just simple YAML files. This issue can be closed.

[2018-03-22 07:37] #160 closed

[2018-03-22 07:43] scholzj commented on #251
@tombentley @ppatierno I have the feeling that we did this in some PR as part of some other changes (I remember we had a discussion whether the method should be `getEnvironment` or `getEnvVar`). Do we still need this or can this be closed?

[2018-03-22 07:47] ppatierno commented on #251
@scholzj yes I remember that @tombentley did that.

[2018-03-22 07:55] #251 closed

[2018-03-22 07:56] scholzj opened #325 "Allow configuring memory and CPU limits and requests for Zookeeper, Kafka and Kafka Connect"
Currently, we deploy all components without any memory and CPU limits and requests. That means that the user cannot configure how much memory/CPU will be reserved to the pods and when the OoM killer comes and kills it. In cases where the LimitRange is configured it can also result in very small allocations being added.

The configuration should be separate for Kafka, Zookeeper and Kafka Connect.

[2018-03-22 07:58] scholzj opened #326 "Add Memory and CPU requests and limits for the Cluster Controller deployment YAML files"
Currently the YAML files for deploying Cluster Controller do not set and CPU and Memory limits / requests. We should probably set some reasonable defaults.

[2018-03-22 08:01] scholzj opened #327 "Add memory and CPU requests and limits to Topic Controller deployment"
The Topic Controller should have memory and CPU limits and requests. These should be set in both YAML files for direct deployment as well as used when deploying TC from CC.

In the case ... do we need them configurable? Might be needed if someone wants to play with it somewhere in Minishift where requesting memory and CPU might cause issues.

[2018-03-22 08:06] scholzj opened #328 "Make it possible to configure JVM heap memory etc. for Kafka, Zookeeper and Kafka Connect"
We should make it possible to fine tune the memory aspects of the JVM for Kafka, Kafka connect and Zookeeper.

As part of this task we should probably first investigate what are the options which should be configurable and what their relation is to memory request / limits. My assumption is that max heap size for Kafka brokers is the minimum needed. But might be more.

[2018-03-23 08:43] #260 closed

[2018-03-23 09:33] serrss commented on #258
@ppatierno Issue was fixed!

[2018-03-23 09:33] #258 closed

[2018-03-26 08:34] scholzj commented on #241
The Cluster controller behaves as expected: When the DNS is not available and it cannot connect to the Kubernetes API, it will loop in restarts (which is what we want). If it looses the DNS while already running, the connection tot he Kubernetes API remains working.

[2018-03-26 08:34] #241 closed

[2018-03-27 05:07] tombentley opened #333 "Storage docs are (too) hard to find"
I went to http://strimzi.io/docs/master/ looking for docs on the storage. There's nothing in the ToC. I guessed and went to http://strimzi.io/docs/master/#kafka_config_map_details and although the bullet list there does give `kafka-storage` it says to see the related section (no link direct to it, so I don't know where it is, before or after where I am in the doc?) I guessed again and a few pages

[2018-03-27 05:21] tombentley opened #334 "type=local storage is not documented"
http://strimzi.io/docs/master/ makes no mention of the `type=local` storage

[2018-03-27 06:50] scholzj commented on #333
This should be fairly trivial. Just a change of the config in docu.adoc.

Where would you link to it from?

For this you will need to play with the CSS styles of the website. Or we would need to choose some other style for the documentation and not frame it into the website design.

[2018-03-27 08:05] ppatierno commented on #238
I tried to reproduce it and I see something different. Following the trace from the Topic Controller ...

[code]

In any case the worst thing is that when the ZK pod comes up, the Kafka brokers aren't able to connect to it and the cluster is unusable.

The ZK log has a lot of these lines as attempts from Kafka brokers to connect ...

[code]

each Kafka broker has log lines as the following trying

[2018-03-27 08:20] scholzj commented on #238
I expected that Kafka will be able to deal with the ZK being cleaned out. It is strange that it doesn't. But I'm not sure this is worth investing too much time. Running single node with ephemeral storage doesn't really give you any guarantees. Maybe we should just make it more clear in the what the consequences are for different storage configurations and different number of nodes.

[2018-03-27 08:22] ppatierno commented on #238
It works fine using "persistent" storage so it confirms what we suppose about a lost state in ZK and Kafka that seems not be able to deal with it. Of course it needs further investigation but maybe it doesn't make sense to do.

[2018-03-27 12:09] maropak opened #336 "java.net.NoRouteToHostException: No route to host"
Hi,
I have received

_WARN Session 0x0 for server null, unexpected error, closing socket connection and attempting reconnect (org.apache.zookeeper.ClientCnxn)
java.net.NoRouteToHostException: No route to host
        at sun.nio.ch.SocketChannelImpl.checkConnect(Native Method)
        at sun.nio.ch.SocketChannelImpl.finishConnect(SocketChannelImpl.java:717)
        at org.apache.zookeeper.ClientCnx

[2018-03-27 12:11] ppatierno opened #337 "Warning events when a cluster configuration can drive to failure"
Because deploying a cluster with only one Zookeeper node and "ephemeral" storage drives to the failure described by #238, it could be useful to generate a "warning" event (at Kubernetes/OpenShift) level from the cluster controller when such a configuration is detected (or maybe some other similar configuration that could drive to other failures).

[2018-03-27 12:59] scholzj commented on #336
`kafka-topics.sh` is connecting to Zookeeper. So you have to supply an IP address of the Zookeeper service (Should be something like `MY_CLUSTER_ZOOKEEPER_PORT_2181_TCP_ADDR`). You should be also able to use the DNS - `my-cluster-zookeeper:2181`.

You can run only one node Kafka cluster (at least for some playing it should be fine). But the KAfka configuration contains some parameters for configur

[2018-03-27 14:06] maropak commented on #336
Thanks for quick response :)
In 1)
I should notice that 2181 is zookeeper port, my oversight - sorry for problem
In 2)
After changes flags to 1 in config map problem is solved and I can publish/subcribe
In 3)
Exception appeared when zookeper/kafka pod was starting, it could not start and all I saw in logs was

_Exception in thread "main" java.lang.IllegalStateException: Failed to create cache dir

[2018-03-27 14:12] scholzj commented on #336
Sorry, we currently don't support this. But it is on our roadmap, we will get to it sooner or later.

[2018-03-27 14:12] scholzj commented on #336
@tombentley @ppatierno It looks like the Vert.x exception is from Topic Controller which you know better than me. Could you have a look?

[2018-03-27 14:28] maropak commented on #336
Thanks for help.

Agree,
When I received exception during cluster-controller start I added

VertxOptions options = new VertxOptions().setFileResolverCachingEnabled(false);
        System.setProperty("vertx.disableFileCPResolving", "true");
        Vertx vertx = Vertx.vertx(options);

In io.strimzi.controller.cluster.Main

and the same later during topic-controller start -  io.strimzi.controller.to

[2018-03-27 14:39] tombentley commented on #336
It looks like vertx is not able to create `./.vertx/file-cache-${UUID}` for some new UUID. I assume this is a file permissions thing. If so, we can set system property `vertx.cacheDirBase` to somewhere writeable and it should work.

[2018-03-27 14:40] ppatierno commented on #336
I had this problem in the past deploying Vert.x application on OpenShift but the current Docker image should prevent this one. It's related to the permissions that Vert.x app doesn't have in order to create content in a ".vertx" folder. It's really strange that it's happened now. I'm using it without problem.

[2018-03-27 14:43] ppatierno commented on #336
@tombentley the following line [here](https://github.com/strimzi/java-docker-base/blob/master/scripts/launch_java.sh) should already deal with it :

[code]

the `-Dvertx.cacheDirBase=/tmp `

[2018-03-27 14:45] ppatierno commented on #336
Running the 0.2.0 version I have no problems with the topic-controller.
@maropak do you have more info about that ? are you using 0.2.0 ?

[2018-03-27 15:35] ppatierno opened #339 "Session expired on Zookeeper node restart : not able to create topics"
Let's consider the following scenario ...

A cluster with 1 Zookeeper node and 3 Kafka brokers (but they can be more or just one) is deployed using "persistent" storage.
Update the cluster ConfigMap in order to have a rolling update started for the ZK node (i.e. healthcheck initial delay parameter). The running ZK pod is killed and a new one is created. As opposed to what happen with "ephemeral" s

[2018-03-27 17:59] maropak commented on #336
I'm using current master, but can switch to 0.2.0 and check there.
I will check master with -Dvertx.cacheDirBase=/tmp and let you know.

Thanks for help

[2018-03-27 18:29] maropak commented on #336
Checked with -Dvertx.cacheDirBase=/tmp and master code and is working fine now
If you want I can try with 0.2.0 and without JAVA_OPTS change.
If this is the same code like in master I will close issue.
Thanks a lot :)

[2018-03-27 19:57] maropak commented on #336
Additional information which can be useful
I'm using as base docker image redhat7 with jdk:1.8.0_131, not your FROM strimzi/java-base:8-3.

[2018-03-27 20:06] ppatierno commented on #336
This explain why the Vert.x parameter is missing so the exception you provided here. I think that we can close this issue now, or ?

[2018-03-28 05:12] maropak commented on #336
Of course, I will close,
thanks once again :)

[2018-03-28 05:12] #336 closed

[2018-03-28 08:18] #238 closed

[2018-04-03 08:15] #287 closed

[2018-04-03 18:59] #34 closed

[2018-04-04 07:43] tombentley opened #345 "System tests should be named *IT not *Test"
Although they are system tests, they "more like" integration tests, and naming them like this means `mvn verify -DskipITs` will run checkstyle, compile, run the unit tests, and run findbugs without running any of the (slow) integration tests.

[2018-04-04 09:45] tombentley opened #348 "Corner case with claim deletion"
We use the `cluster.controller.strimzi.io/delete-claim` label on StatefulSets to record whether the claim should be deleted when the cluster is deleted. It's a corner case, but if the SS doesn't exist when we come to deleting the assembly when we don't know whether to delete the claim.

We could avoid this by putting the label on the claim itself. Then when deleting the assembly we would either de

[2018-04-04 09:49] tombentley opened #349 "Synchronous delete"
When we delete the Kafka or Zookeeper resources we just delete the resources. We don't wait for dependent resources (like pods and endpoints) to definitely be removed. We need to be sure those resources have definitely been removed before we consider the overall deletion complete.

[2018-04-04 09:54] tombentley opened #350 "Blocking in restartPod()"
In `StatefulSetOperator.restartPod()` we call `podOperations.watch()`. That's a blocking operation, in what should be a non-blocking method (it returns a `Future`).

[2018-04-04 09:54] tombentley opened #351 "Timeout in restartPod()"
In `StatefulSetOperator.restartPod()` although we now use a vertx timer to wait for the pod to be ready this doesn't have any timeout. It should, otherwise the rolling update will never complete and the lock never released.

[2018-04-04 09:57] tombentley opened #352 "Corner case in rollingUpdate"
The code in `StatefulSetOperator.rollingUpdate()` gets the number of replicas and tries to restart each pod. If the #replicas in the SS is modified directly while this happens the code will break! Since rolling update takes a long time the window for this race is large.

[2018-04-04 10:02] tombentley opened #353 "Tests with invalid cluster CMs"
The should have tests for the AssemblyOperators where they try to reconcile with an invalid CM (e.g. absent storage key, or storage lacking a type). In each case we at least need a meaningful log message at ERROR level. Optionally we might want to publish a K8s `Event`.

[2018-04-04 14:37] gunnarmorling opened #354 "Add link to issue tracker to the website"
It could go under "Contributing" for instance:

* Report bugs or feature requests: https://github.com/strimzi/strimzi/issues

[2018-04-04 14:38] gunnarmorling opened #355 "Describe download step in set-up instructions"
The "Getting Started" section of the docs assumes that Strimzi has been downloaded and extracted. This step should be described first.

[2018-04-04 14:40] gunnarmorling opened #356 "Add "Download" link to landing page"
It took me a while to figure that the info is under "Releases", I was looking for a "Download Strimzi" link.

[2018-04-04 14:59] #264 closed

[2018-04-04 14:59] #304 closed

[2018-04-04 15:00] tombentley commented on #233
This has been fixed.

[2018-04-04 15:00] #233 closed

[2018-04-04 15:00] tombentley commented on #120
This has been fixed.

[2018-04-04 15:00] #120 closed

[2018-04-04 15:01] tombentley commented on #303
This should now be fixed.

[2018-04-04 15:01] #303 closed

[2018-04-04 16:45] #312 closed

[2018-04-06 08:24] #292 closed

[2018-04-06 09:11] tombentley commented on #55
I agree the current names are unclear, and so we should change them.

I have a couple of thoughts about the suggested names:
* Calling the zookeeper headless service `zookeeper` doesn't really convey that it's an internal ZK concern. But since the only clients should be other strimzi components, I guess that doesn't really matter much.
* I also wonder if `kafka-brokers` for the headless service is

[2018-04-06 12:27] scholzj opened #363 "Rolling update will not complete if CC is restarted in the middle"
When CC crashes or is restarted in the middle of Rolling Update, it will never finish it after restart. We need to track rolling updates and be able to complete them in such situations.

[2018-04-06 16:50] tombentley commented on #345
@serrss @asorokhtey this would be great to do when it is convenient for you, it would make it so much easier for run just the unit tests.

[2018-04-07 22:46] scholzj opened #368 "Log levels in CC and TC should be configurable through environment variables"
Currently, the log level of both controllers is configurable only in the file before building the Docker image. It should be possible to change the log level using environment variable.

[2018-04-08 19:50] scholzj opened #369 "Topic Controller should work across multiple namespaces"
The Topic Controller can currently handle config maps only within a single namespace. It should be possible to configure Topic Controller to monitor multiple namespaces at once.

[2018-04-09 20:44] scholzj opened #371 "Cluster Controller should be more robust with regards to incorrect Config Map data"
Cluster Controller should be more robust with regards to incorrect Config Map data. For example a typo in the storage type for an existing cluster seems to cause following error and cuts the reconciliation short:

[code]

Since storage cannot be changed anyway, this could be better handled.

[2018-04-09 20:49] scholzj opened #372 "Storage changes for running clusters should be handled better"
Currently, the storage changes for existing cluster are not possible. They are dealt with in `ZookeeperSetOperator`, `KafkaSetoperator` and `StatefulSetOperator` classes, where the desired stateful set is patched with some parts of the current stateful set to avoid changing the topic. This is suboptimal and will be hard to maintain in long term (as we add more storage, config map and secret volume

[2018-04-10 11:03] scholzj commented on #372
FYI: Slightly similar problems seems to be described in #373 regarding BuildConfig and DeploymentConfig. See the discussion there.

[2018-04-10 16:01] scholzj opened #374 "Use the same operation timeout everywhere"
Operation timeouts in CC should be configured through the STRIMZI_OPERATION_TIMEOUT_MS env. variable. However, it seems that some parts are using different timeouts (for example [here](https://github.com/strimzi/strimzi/blob/b0021ff0e3406715c4eab99a9ccfc3ce30d1f150/cluster-controller/src/main/java/io/strimzi/controller/cluster/operator/resource/StatefulSetOperator.java#L215)).

Apart from being in

[2018-04-10 20:22] scholzj opened #375 "Travis build doesn't handle building of Docker images properly"
When building Docker images on Travis (mainly the Kafka, Zookeeper etc. images) we do not patch the `FROM` field. As a result, all images including releases are building from :latest. This includes releases.

[2018-04-11 09:46] tombentley opened #376 "Log environment on startup"
It would be useful when reading logs if the cluster controller and topic controller logged all the `STRIMZI_*` env vars (or possibly just the whole environment) when they started. Note that this isn't quite the same thing as logging their "configuration" – even though they're configured via env vars – because it's possible for env vars to be consumed anywhere in the application.

[2018-04-12 17:34] mbogoevici opened #380 "Bind listeners to all interfaces"
The current startup script used in the Kafka docker images sets the `listeners` property to use the default interface, e.g.:

[code]

On certain environments, this results in the broker not being bound to `localhost`, and subsequently the current health check to fail, as it uses `localhost`:

[code]
The exact behaviour is environment-dependent, but I've encountered this on OpenShift running on a M

[2018-04-16 08:45] #246 closed

[2018-04-16 13:26] ppatierno opened #383 "Vert.x event loop blocked due to no connection with Zookeeper"
Let's consider the following scenario ...

Deploy the CC and then provide a cluster ConfigMap for deploying a Kafka cluster. The ZK StatefulSet is deployed with the Kafka StatefulSet as well but just after that you delete the ZK StatefulSet. The CC continues with deploying the TC which fails with current exception :

[code]
the Vert.x event loop is blocked due to a failing connection to ZK.

[2018-04-16 13:33] ppatierno commented on #383
In some cases it could not happen (Vert.x event loop blocked) but the following retries which should be something right ...

[code]

[2018-04-16 13:47] tombentley commented on #383
I would expect this to eventually recover, because the CC periodic reconciliation would kick-in and the ZK cluster would get created, and the TC should recover once it can connect to the ZK ensemble.

Obviously It's not desirable to block the even loop while this happens, but as currently set up (single verticle deployed, happens when starting that verticle) blocking the event look shouldn't be *h

[2018-04-16 14:28] ppatierno commented on #383
Well ....

I think that we should avoid to fill the log with the blocked thread messages from Vert.x.
It seems to recover when the ZK instance is re-created on CC reconcile but it still doesn't work ...

[code]

as we see from #339 the ZK session/reconnection doesn't work properly or we are handling that in a bad way.

[2018-04-17 08:32] tombentley commented on #368
AFAICS this is really awkward to achieve using log4j 1.2, because is only supports property substitution using system properties, not environment variables. So we would end up jumping through hoops to set `JAVA_OPTS` (consumed by `launch_java.sh`) with a `-D` option. I think it might just be cleaner to switch to a logging implementation that supported env var interpolation OOTB (both logback and l

[2018-04-17 13:06] #374 closed

[2018-04-17 13:14] #375 closed

[2018-04-17 21:44] tombentley commented on #326
If we're allowing to set limits and requests, it might make sense to allow configuration of the Kafka heap size too. Right now I think it defaults to 1G. It would be a shame to be able to use lots more memory than that but be forced to use it for page cache. Likewise a memory limit of less than that would end in disappointment.

[2018-04-17 21:49] scholzj commented on #326
@tombentley That is what we have #328 for. It didn't fit into the current sprint anymore. We will need to come up with some reasonable default for the JVM / heap, since we need users to configure it, but still leave some space for the disk cache. For Zookeeper and Connect I would assume that we can just derive JVM memory from the limit.

This makes me think whether we actually need both request an

[2018-04-18 08:26] tombentley commented on #328
The `kafka-server-start.sh` script has a `KAFKA_HEAP_OPTS` env var, defaulting to `"-Xmx1G -Xms1G"`. The zookeeper script has the same env var, with half those defaults. The [Kafka docs](https://kafka.apache.org/documentation/#java) say LinkedIn use (at least at the time of writing):

[code]

but that's obviously optimized for their use case and on bare metal.

[Confluent suggest](https://docs.con

[2018-04-18 10:16] #380 closed

[2018-04-18 22:45] scholzj commented on #334
Is it actually properly implemented and tested? I don't think so.

[2018-04-19 08:08] scholzj commented on #354
The link to GitHub issues has been added to the _Contributing_ section. This issue can be now closed.

[2018-04-19 08:08] #354 closed

[2018-04-19 09:56] tombentley commented on #328
The KAFKA_HEAP_OPTS used for the connect script defaults to `"-Xms256M -Xmx2G"`, so unlike Kafka has different initial and maximum heaps. Should we just slavishly reflect this inconsistency in the ConfigMaps, I wonder, with the connect CM supporting two configs, but the Kafka and ZK ones supporting only one?

[2018-04-19 13:39] scholzj commented on #328
I don't know ... I'm fine with setting the same `-Xms` and `-Xmx` for all. It might make the configuration easier and mean that we have less to explain in docu.

[2018-04-20 06:39] tombentley opened #392 "Allow use of a CRD to express the desired configuration of Kafka and Kafka Connect clusters"
## Benefits of using CRDs

Using a CRD would have a number of benefits:

* A hierarchical representation would allow a more natural way to group related configurations together.
* Since Kubernetes v1.9 there is support for some [server-side validation](https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-custom-resource-definitions/#validation). No validation is possible with ConfigMa

[2018-04-20 06:56] tombentley commented on #392
One (the obvious?) way to achieve this is to base the CM keys on corresponding paths in the JSON representation. For example, stopping at the 2nd level we'd have something like:

* `kafka/replicas` → `kafka-replicas` key with an int value
* `kafka/image` → `kafka-image` key with an int value
* `kafka/resources` → `kafka-resource` key with a JSON value

We'd have to decide:

* that stopping at the

[2018-04-20 09:04] scholzj commented on #392
@tombentley I think this looks good ... are you going to implement it over the weekend? :-) Just some notes from my side ...

Brand new in 1.10 is support for [subresources in CRD](https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-custom-resource-definitions/#subresources). It should allow to do not only basic CRUD stuff but also more specialised stuff like scale. It is probably no

[2018-04-20 12:13] tombentley commented on #392
Another area of inconsistency is wrt units:

* k8s resources are measured in bytes and support a bunch of suffixes that's different from those supported by java's `-Xmx` etc. It will look jarring in the CRD if things don't have consistent units. In this case I think we should support the K8s style.
* Simiarly the health probes in k8s have timeouts etc which are in seconds. In kafka they have stand

[2018-04-23 09:51] gunnarmorling commented on #356
Yeah, it's more clear now. You might even consider to name that section just "Download" and drop the "/ Releases" part.

In terms of which downloads to offer, one question is for how long to prominently show all earlier versions. E.g. you might just show the current one on the landing page (as that's the one you want people to grab), and show all earlier ones on a separate page named "archive", "e

[2018-04-23 10:01] serrss commented on #345
@tombentley @asorokhtey  It seems like a good idea to rename ST in order to be able to filter tests by type.

[2018-04-23 14:31] #345 closed

[2018-04-24 09:19] tombentley opened #397 "Review thread pooling configuration of dependencies"
We are using libs in the controllers which will have their own thread pools. Some of those are probably configuring themselves in a container un-aware way (i.e. parameterized by host #cpus, not container). We should review these libs to determine if they are doing this, and open futerh issues for configuring them in a container-aware way.

[2018-04-24 09:30] scholzj commented on #27
PR #394 implemented this for Kafka. Kafka Connect and Zookeeper still TODO.

[2018-04-26 14:54] #325 closed

[2018-04-26 16:15] tombentley commented on #327
Still to do: Setting them in the yaml files.

[2018-04-26 16:15] #328 closed

[2018-04-27 06:47] #376 closed

[2018-04-29 21:11] donovanmuller opened #407 "Topic ConfigMap example is missing strimzi.io/cluster label"
I'm following the [Documentation](http://strimzi.io/docs/0.3.0) for 0.3.0 for OpenShift, using the supplied example commands (no manual deploys) and using the example ConfigMap for a Topic [here (4.4 Example)](http://strimzi.io/docs/0.3.0/#_example) and the Topic does not get created.

Only after looking at the `STRIMZI_CONFIGMAP_LABELS` environment did I realise that I needed the `strimzi.io/clus

[2018-04-30 08:33] #407 closed

[2018-04-30 08:34] scholzj commented on #407
Thanks for raising this. This should be now fixed in the master documentation and will be released together with 0.4.0.

[2018-05-01 09:11] tombentley opened #410 "Improve monitoring"
Currently it is difficult to look inside a JVM running in a pod to understand things like garbage collection. The story is inconsistent between different images:

* For kafka, zookeeper and kafka connect images we provide the JMX exporter, which _if_ users install prometheus would give then visibility of JVM metrics.
* Kafka, zookeeper and kafka connect images have gc logging enabled.
* For TC and

[2018-05-02 10:55] ppatierno opened #414 "Add more testing about watched namespace"
After merging #413 , it's useful to add more testing around watched namespace in the topic controller.

[2018-05-02 16:03] #326 closed

[2018-05-02 16:03] #327 closed

[2018-05-04 08:02] scholzj commented on #356
I updated the website to contain standalone pages for all downloads / relases and docu. The main page now contains links only for the latest. I think this issue can be closed.

[2018-05-04 08:02] #356 closed

[2018-05-04 12:15] ppatierno opened #422 "NotControllerException when creating a new topic configmap"
When a new topic configmap is created, it could happen the following exception in the topic controller.

[code]

[2018-05-04 12:17] scholzj commented on #422
Isn't this already covered somewhere? BEcasue we already had a discussion about old metadata in TO.

[2018-05-08 08:04] tombentley commented on #422
There's [KAFKA-6299](https://issues.apache.org/jira/projects/KAFKA/issues/KAFKA-6299?filter=allopenissues) for this in Kafka. When that's fixed NotControllerException shouldn't propagate out of the AdminClient.

[2018-05-08 10:28] #27 closed

[2018-05-09 13:54] scholzj opened #430 "Add GC logging to Cluster Operator"
The cluster controller has currently no GC logging. We should add GC logging to have a better overview of what it does and how it handles memory.

[2018-05-14 10:30] ppatierno opened #436 "Lock not released when "insufficient memory" for pod"
When the resources memory "request" cannot be handled due to insufficient memory, the lock is not released and the cluster operator stuck.
Scenario ...
Create a cluster with default configuration.
Update the cluster config map adding a `kafka-resources` with a memory request too high for the current available memory.
The cluster operator starts rolling update, shuts down the first kafka broker and

[2018-05-14 11:32] #436 closed

[2018-05-15 09:46] ppatierno commented on #36
After digging more into node affinity and pod affinity/anti-affinity ...

We need to have brokers spread across different zones/racks as much as possible and it can be provided by the `podAntiAffinity`. It should use `preferredDuringSchedulingIgnoreDuringExecution` so that if not enough zones are available to spread brokers across all of them, the scheduler is allowed to put two brokers in the sam

[2018-05-15 10:26] scholzj commented on #36
I'm not sure we need this. What is the use case you can see in selecting only some zones? Even if there is such usecase, it should be part of general node selector, not as the `broker.rack` implementation IMHO.

Yeah, right ... so, do we actually need to make this configurable? Or can we just _hardcode_ the affinity into the stateful sets / deployments?

---

One other problem which comes to my mi

[2018-05-15 10:32] ppatierno commented on #36
Ok I I misunderstood then. We don't want the user to specify "some" zones in the configmap but the node label to use for "selecting" nodes so that it should not be the hard coded `failure-domain.beta.kubernetes.io/zone` (as default) but a different one. Am I right ?

[2018-05-15 10:36] scholzj commented on #36
Well, I actually haven't though about it before either. But you are right that `failure-domain.beta.kubernetes.io/zone` is well defined label which should specify the _racks_. And with the affinity being "optional" (i.e. only when the zones are available) I actually don't see any harm in setting this by default.

My expectation (which might be of course wrong) is that people usually do not have mo

[2018-05-15 10:52] ppatierno commented on #36
It seems that the issue is broader than supporting the rack feature.

In bare metal Kafka, the user can specify the `broker.rack` property for each broker which is something that he cannot do using a Kubernetes/OpenShift deployment because we have replicas from a StatefulSets created from same Pod template.
For this reason spreading the pod/replicas across different zones/racks can be done via `po

[2018-05-15 10:55] scholzj commented on #36
Sorry if I confused you. The node selectors are separate issue and not necessarily needed for the `broker.rack` support. But they can IMHO be used as a way to select only some zones in case that is really needed. So I'm just saying that IMHO we do not need the configuration of selected zones as mentioned on the beginning.

[2018-05-15 12:02] datngoews opened #439 "No way to set the debug level up"
Is there any way to set the `ZOOKEEPER_LOG_LEVEL` env?

https://github.com/strimzi/strimzi/blob/5d395aeb1ba55a4299fcdccf357cd6d0c418c167/docker-images/zookeeper/scripts/zookeeper_run.sh#L32

Same issue for the `KAFKA_LOG_LEVEL`

[2018-05-15 12:05] scholzj commented on #439
Good point. We have it supported in the containers it self, but not exposed this as user configurable to the users. Thanks for raising this issue - we will add it to our backlog.

[2018-05-15 13:19] ppatierno commented on #36
It's a valid point but ...

I don't see a solution because if in AWS the range is from 2 to 6 zones and let's consider having 2 for example but you want to deploy a 3 brokers Kafka cluster, the only way is to use `preferred` otherwise with `required` the third broker cannot be deployed at all (as far as I understood on how it works with `required` vs `preferred`). Is that something that we can avo

[2018-05-15 13:26] scholzj commented on #36
Yeah, AFAIK this is a Paolo says - with required, you will not be able to deploy more brokers than we have zones.

Whether the pods change the zone or not depends also on other factors. For example EBS storage will not move the zone and the pod with persistent EBS volume will be bound to the zone through the volume. I'm not sure how for example GlusterFS deals with this. I would say we should go f

[2018-05-15 13:26] khannz commented on #128
@scholzj, hi there. Any ideas, when issue can be closed or maybe there is already known workaround for exposing Strimzi?

[2018-05-15 13:45] scholzj commented on #128
To be honest, this is currently not our highest priority at this point. We want to get first security working (encryption, authentication and authorization) and then we will probably get to this.

But PRs from community are of course always welcomed ;-).

[2018-05-15 13:57] tombentley commented on #36
It seems we've got two pieces here:

* Using the zone node label as the broker rack. I don't think this is contentious, really, since that's pretty much what it is.
* Then it's a question of scheduling and the right thing here depends on external factors:
    * For EBS, @scholzj asserts that pod anti affinity should work.
    * For other storage options it might not

Looking forward there are othe

[2018-05-15 14:30] tombentley commented on #36
That's the scenario @scholzj, but the problem is in the "someone will need to reschedule the brokers and possibly reassign the topics" part. If that step doesn't happen the cluster appears to be working but the users expectation around redundancy has been broken. For sure we don't have to solve that in this issue, but it would be good to have some mitigation.

[2018-05-15 15:01] scholzj commented on #36
Yeah ... well ... I think we should document this until we have a better solution. Rescheduling the pods can be in theory done by CO. For reassigning the topics we would need the cluster balancer.

[2018-05-15 18:13] prune998 opened #440 "Topic Controler not created in 0.4.0"
Hi,

I had a working config to create a cluster + topics using 0.2.0, and trying to move to 0.4.0-rc1 the Topic controler is not started anymore.

Cluster configmap :
[code]

and the topic Configmap :

[code]

Am I missing something ?

[2018-05-15 18:18] scholzj commented on #440
How did you deployed the Cluster Operator? Using the YAML files from `examples`?

[2018-05-15 18:28] prune998 commented on #440
Damn it, it was due to the ServiceAccount name change. No pod was created for Topic-Controler, but the Deployment was there.
I'm sorry. It's working as expected !

[2018-05-15 18:29] #440 closed

[2018-05-15 18:29] scholzj commented on #440
I tried the same config maps as you copy pasted into the issues with Cluster Operator deployed with the 0.4:0-rc1 examples. It works completely fine - it deployed the Topic Operator and when I created the topic config map it created the topic. I'm running it on OpenShift Origin 3.9 (started using `oc cluster up`).

So I guess the interesting point is ...
* what kind of OpenShift / Kubernetes do yo

[2018-05-15 18:30] prune998 commented on #439
@scholzj or @ppatierno anything in the pipe on your side or is it worth I take a look right now ?

[2018-05-15 18:31] scholzj commented on #440
Oh, you were faster and found the issue :-).

I'm sorry for the breaking changes. Strimzi is still in quite early phase and I guess there will be few more over the next releases. But we will try to document them better. I'm already writing better release notes for the final 0.4.0 release.

[2018-05-15 18:32] prune998 commented on #440
any plan to move to real K8s Custom Ressouces use ?

[2018-05-15 18:35] scholzj commented on #440
Yeah, we plan that as well. There are some pros and cons ... The main advantage of Config Maps is that they can be used also in environments where people do not have cluster admin rights etc. To deploy Strimzi with CRDs, one would need to be cluster admin (or something similar). That is why we haven't jumped on that from the beginning.

[2018-05-15 18:46] ppatierno commented on #439
@prune998 it isn't high priority on our side so if you want, a PR will be really welcomed! :)

[2018-05-15 19:40] Dec- opened #441 "Error "Found a corrupted index file corresponding to log file /var/lib/kafka/kafka-logx/""
Hi,

On all of my brokers i got the same error:

2018-05-15 19:20:49,646 ERROR [KafkaServer id=0] Fatal error during KafkaServer shutdown. (kafka.server.KafkaServer) [kafka-shutdown-hook]
java.lang.IllegalStateException: Kafka server is still starting up, cannot shut down!
 at kafka.server.KafkaServer.shutdown(KafkaServer.scala:550)
 at kafka.server.KafkaServerStartable.shutdown(KafkaServerStartab