[2018-05-15 19:46] khannz commented on #128
d'oh... @scholzj deadlines kick hard so possibly PR wouldn't be mine ;]

In case I finally got what is wrong with kafka expose via PortNode in my env (also trying [Yolean](https://github.com/Yolean/kubernetes-kafka)) - I think I'll figure out how it could be implemented in Strimzi.

[2018-05-16 08:53] scholzj commented on #441
I never saw this kind of error before. It is quite strange that it happened on all brokers. What kind of storage do you use?

[2018-05-16 09:00] #234 closed

[2018-05-16 09:03] Dec- commented on #441
We are using NFS

[2018-05-16 09:10] #371 closed

[2018-05-16 09:13] scholzj commented on #441
Ok. I wonder if that might be the problem. TBH I never tried Kafka with NFS, so I do not know how well it works. How are the NFS volumes provisioned for the different pods? Are you sure that each broker instance has its own NFS volume / its own path on shared volume? I was wondering if they are not overwriting each others files.

[2018-05-16 12:46] prune998 commented on #439
Well, the way I was thinking of this was :
- change the startup script in the Docker image to template the log4j.properties file
- change the controler to set an ENV VAR with the needed log level, which is used by the startup script.

Any better thought ?

[2018-05-16 15:49] keslerm opened #443 "Passing environmental variables to Connect"
Maybe a very specific use case for this but something I'm running into.

We utilize the Connect S3 Sink and are required to provide some kind of credentials to the authenicator. In general this means passing AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY environmental variables from a K8S secret into the pod, but there is no way to do this via a ConfigMap.

Curious if it's possible just to pass user

[2018-05-16 19:57] ppatierno commented on #443
Currently there is no support for something like that. Off the top of my mind a solution could be ...
Because you are adding your connector, it means that you are building a new Docker image from the Strimzi Kafka Connect one as described in the doc. At that point you could define the env var at image level but I know that it's not ideal. @scholzj any more thoughts ?

[2018-05-16 21:12] scholzj commented on #443
Well, this would work ... and it should be quite easy:

[code]

This is something what could work immediately. But it is obviously not exactly secure baking the credentials into the image. Ideally these should be baked into secrets. But we do not have a solution for this right now. I wonder if [this](https://cwiki.apache.org/confluence/display/KAFKA/KIP-297%3A+Externalizing+Secrets+for+Connect+Con

[2018-05-17 21:51] scholzj commented on #439
Yeah, I think that would be a good start. I think in a long term there might be a need for more flexibility than just log level. But that can be done later.

[2018-05-18 07:44] stanlyDoge commented on #333
@scholzj The link is added in your PR (https://github.com/strimzi/strimzi/pull/394). Can be this closed?

[2018-05-18 07:59] scholzj commented on #333
Well, @tombentley had some other comments as well ... about the styling and the ToC depth. I think that I increased the ToC depth as part of the branding PR. In master, storage is now in the ToC.

So the styling is the only point left. The _Storage_ title is still in a font with half the size. I suggested to stop embeding the docu because the styled asciidoc output is more readable. But @ppatierno

[2018-05-18 08:00] scholzj commented on #316
The resource limits and requests are now implemented and released. We even published a [blog post](http://strimzi.io/2018/05/17/running-strimzi-on-openshift-online.html) about running Strimzi on OpenShift Online. I think this issue can be closed.

If you think we still missed something, please let me know.

[2018-05-18 08:00] #316 closed

[2018-05-18 09:22] ppatierno opened #448 "Add service account and role for Topic Operator"
Currently the Topic Operator is using the same service account as the Cluster Operator (and the same role + binding as well).
It's better having separation between them and creating a new service account for the Topic Controller with new role + binding which needs just watching config maps and nothing more.

[2018-05-18 09:31] Dec- commented on #441
So what kind of storage you recommend?

[2018-05-18 10:52] stanlyDoge commented on #333
I have enlarged H5 font in another PR (strimzi.github.io repository).

[2018-05-18 12:29] scholzj commented on #333
@tombentley please have a look at it (when you have time) ... I think it can be closed.

[2018-05-18 13:40] scholzj commented on #441
I guess it depends what do you have available :-). Local storage is one of the options - the availability can be handled by replication. In AWS for example, the EBS volumes should work reasonably well.

[2018-05-18 16:10] #355 closed

[2018-05-20 22:05] Dec- commented on #441
Still the same problem with the new version (0.4.0). Can it be a configuration problem? Or we realy need to use Gluster as storage?

[2018-05-21 20:49] scholzj commented on #441
AFAIK we have other users using Gluster. So if you have it available, you can definitely give it a try. I tried some googling, but found [these slides](https://www.slideshare.net/HadoopSummit/apache-kafka-best-practices) which list NFS issues. From my experience, NFS is not good match for this kind of system performance wise, but I wouldn't have expected any errors like this. Unfortunately, I do n

[2018-05-21 21:16] Dec- commented on #441
We tried with local disk and we got the same error. Can it be configuration problem?

[2018-05-21 21:22] scholzj commented on #441
That is strange. Could you please share the ConfigMaps you use to deploy the cluster?

[2018-05-21 21:45] Dec- commented on #441
Here it is

`apiVersion: v1
data:
  kafka-config: |-
    {
      "default.replication.factor": 1,
      "offsets.topic.replication.factor": 3,
      "transaction.state.log.replication.factor": 3
    }
  kafka-healthcheck-delay: '15'
  kafka-healthcheck-timeout: '5'
  kafka-metrics-config: |-
    {
      "lowercaseOutputName": true,
      "rules": [
          {
            "pattern": "kafka.server<

[2018-05-21 21:48] Dec- commented on #441
And one more question do we really need log dir? Can we let fluend do his job and disable loging on file system?

[2018-05-21 21:51] scholzj commented on #441
This looks completely normal ... :-(
* What do you run it on? OpenShift? Kubernetes? What version?
* Do you use some standard storage provisioner / storage class for the persistent claim storage?
* When you said that you tried it with local disk - did you meant the `ephemeral` storage type?

As for the other question ... the log dir referred here is not for logs as in log files which fluentd consu

[2018-05-21 21:55] Dec- commented on #441
We are using OpenShift on-prem 3.9, we tried standard provisioning with NFS and than (https://docs.openshift.com/container-platform/3.7/install_config/configuring_local.html)

[2018-05-21 22:00] Dec- commented on #441
One more thing we find out is that a few minutes before broker is down, there is big spike in memory, from 2Gb to 9Gb, Can it be connected? :)

Btw Thx for helping. :+1:

[2018-05-22 13:34] ppatierno opened #459 "Making Prometheus annotations level configurable than just on Pods"
Currently the Prometheus annotations are set at Pod level.
It could be useful to have such a level as configurable (i.e. at Service level as well).

[2018-05-25 12:50] #363 closed

[2018-05-25 20:46] Dec- commented on #441
It looks like we just didn't have enough memory on the system... :)
Our kafka brokers constantly using 12Gb of memory is there a way to optimized it?

[2018-05-26 17:40] scholzj commented on #441
I'm sorry ... I was travelling and didn't got to this yet.

You should be able to configure the Kubernetes resources in the config map: [http://strimzi.io/docs/0.4.0/#resources_json_config](http://strimzi.io/docs/0.4.0/#resources_json_config). You can also configure the JMV `-Xmx` and `-Xms` options: [http://strimzi.io/docs/0.4.0/#jvm_json_config](http://strimzi.io/docs/0.4.0/#jvm_json_config).

T

[2018-05-27 20:39] Dec- commented on #441
Jup, JMV memory helped. :+1:
Can we set this options to?
KAFKA_JVM_PERFORMANCE_OPTS="-server -XX:+UseCompressedOops -XX:+UseParNewGC -XX:+UseConcMarkSweepGC -XX:+CMSClassUnloadingEnabled -XX:+CMSScavengeBeforeRemark -XX:+DisableExplicitGC -Djava.awt.headless=true"

[2018-05-27 21:04] scholzj commented on #441
Well, configuring the `KAFKA_JVM_PERFORMANCE_OPTS` is currently not possible. But I agree it might make sense. Wanna open a PR? ;-)

@tombentley I think you already mentioned you have been thinking about this. Any plans how to implement it?

[2018-05-29 21:05] scholzj commented on #333
I'm closing this issue since no feedback has been received for more than 10 days. Feel free to reopen it if you still feel like something is missing.

[2018-05-29 21:05] #333 closed

[2018-05-30 05:49] vinu commented on #33
hey anything on this yet? -
what is the best way to have podaffinity and antiaffnity with strimzi
thanks

[2018-05-30 06:04] ppatierno commented on #33
Hi @vinu this feature is planned for the current sprint so it will be available at the end of the next 3 weeks.

[2018-06-01 08:40] scholzj opened #472 "Topic Operator doesn't work properly when ConfigMap name conflicts with a topic name"
There seems to be a bug in TO caused by the conflict between topic name and topic ConfigMap name. To reproduce, try this scenario:

1) Create following topic:
[code]
2) Connect into Kafka and create a topic named `my-topic` directly in Kafka
3) Check TO logs for exceptions
4) Give it some time (wait for reconciliation???) or restart TO
5) Check the topics in Kafka: `npj-topic` has been deleted and

[2018-06-01 11:21] kunallimaye opened #474 "Example command(s) to grant RBAC permissions to a user"
# Overview
Last paragraph of _2.2 Prerequisites_ mentions highlights that user should have appropriate rights.

It would be good to update the documentation to outline sample commands to grant user appropriate rights.

Hopefully the user trying to deploy `strimzi` doesn't require `cluster-admin` rights?

[2018-06-01 11:49] scholzj commented on #474
I'm not sure there is only _one way_ how to do it. The way how to get the required rights might be very different for different clusters.

On OpenShift, you normally require cluster admin rights to deploy the Roles, because this cannot be done by the namespace / project admin. In the future this will be also needed to deploy the CRDs into the cluster.

Once these things are set up by the cluster a

[2018-06-01 12:15] ppatierno commented on #474
@kunallimaye Maybe that sentence can be misleading?
As @scholzj already said, the admin rights are needed for manage RBAC resources so during the "first" step which is deploying role and rolebinding related to service account(s). Then the cluster operator deployment doesn't need admin rights and the same for templates.
Of course the user without any admin rights is able to deploy the cluster Confi

[2018-06-02 08:41] kunallimaye commented on #474
Don't disagree, but a sample set to get started for a _standard_ installation would allow users to get on with it.  Instead of fishing around to see how to get the required rights.  And I agree there is no _standard_ K8S/OpenShift install, but aim should be to get the user started as quickly as possible.  Even a simple `oc adm policy add-cluster-role-to-user cluster-admin <user>` is better than ho

[2018-06-02 13:57] scholzj opened #476 "PVCs should not be deleted based on StatefulSet but on its own"
Currently, the PVCs are deleted when the `delete-claim` options has been set to `true`. However, their deletion is heavily based on the existence of the StatefulSet. I think that following changes should be done to the PVC handling:

* Can the annotation be moved to the PVC level? (This would require to annotate the PVCs directly. This is because while initial annotation can be set through PVC tem

[2018-06-02 20:57] sneko opened #477 "PersistentVolumes not all created when using custom StorageClass"
Hi!

I'm facing a weird issue, I try to use my own StorageClass that is defined like this:
[code]

But when applying my cluster.yaml which specifies:
[code]

Something goes totally randomly, just a part of all PersistentVolumes are created. That means my pods are stuck because PVC are in Pending status since there is no PV to link.

First time it was 2/3 of all that were created, second time just

[2018-06-02 21:00] scholzj commented on #474
I agree there is a lot to improve. And PRs are always welcome ;-). We can probably list few of these in the docu.

At least on OpenShift, you cannot create Roles as project admin. You need to be cluster admin. I'm not sure it is the same on Kubernetes.

Well, you are completely right. But we do not needs these right just for fun. I'm not aware of any rights which we need for which we do not have a

[2018-06-02 21:08] scholzj commented on #477
Just a wild guess. But your StorageClass is configured only for zones `us-central1-a` and `us-central1-b`. Are you sure your Kubernetes cluster is running only in these two zones (GCE `us-central-1` has 4 zones in total)? Because if your cluster runs in more than just these two zones, it can schedule the pods into one of these other zones where your StorageClass cannot create the volumes because i

[2018-06-02 23:33] sneko commented on #477
Indeed there was a difference between my nodes' zones and StorageClass ones 😄 ! By changing them it works well now so thank you very much @scholzj you were very reactive 👍 !

While closing, I would ask you a question: since I'm using "allowVolumeExpansion: true" for my PV, does Strimzi is able to manage increasing PVC when the PV becomes full or does it plans to?

Thanks 😃

[2018-06-02 23:33] #477 closed

[2018-06-03 06:27] scholzj commented on #477
I'm afraid this is not in our immediate plans. The main priority now is to get security working. But we will for sure have a look at it in the long term.

Also ... PRs are always welcome ;-)

[2018-06-04 04:54] kunallimaye commented on #474
Thanks - appreciate your feedback.

probably list few of these in the docu.

Happy to submit `oc adm policy add-cluster-role-to-user cluster-admin
<user-id>` if that is the right one.

fun.

Am not suggesting you do.
Is it worth considering splitting creation of roles (operators) into a
separate task so that it can be performed by _cluster-admin_?

On Sun, Jun 3, 2018 at 7:00 AM, Jakub Scholz <not

[2018-06-05 02:48] sneko opened #480 "How to change the log level?"
Hi everyone 😀

I was wondering if there is a way with the Strimzi operator to define the log level of each Kafka component (kafka cluster, zookeeper, connect)?

For example Zookeeper write several logs per second and that's not really helpful since they are just TRACE/DEBUG logs.

Thank you 👍

[2018-06-05 07:14] sneko commented on #480
While looking for a solution I found it's possible to pass configuration to Zookeeper to:
https://github.com/strimzi/strimzi/search?utf8=%E2%9C%93&q=zookeeper-config&type=

I found that the log level could potentially be set like described in these links:
- https://github.com/strimzi/strimzi/blob/master/docker-images/zookeeper/config/log4j.properties
- https://github.com/apache/zookeeper/blob/mast

[2018-06-05 16:32] scholzj commented on #480
We have this on our TODO list, but didn't got to it yet. Setting the options in kafka-config and zookeeper-config will not work - these are just for Kafka and Zookeeper configuration, not the variables used in the log properties file.

In the meantime we can probably look into why does Zookeeper have `DEBUG` as default. I would expect more something like `INFO`.

@tombentley Do you remember why do

[2018-06-06 06:12] tombentley commented on #480
Iirc, I just took the upstream logging config and modified it as minimal as
possible to parameterise the root logger level. I.e. the upstream had
showier logging at debug level.

Ultimately I think we should have the ability to configure an entire
logging config, not just change levels of a hard coded config.

On Tue, 5 Jun 2018, 18:33 Jakub Scholz, <notifications@github.com> wrote:

[2018-06-06 09:45] scholzj commented on #441
@Dec- I added the options to configure these parameters to master. I think we can now close this issue, right?

[2018-06-06 09:45] #441 closed

[2018-06-06 09:50] scholzj commented on #348
This is related to #476 which lists also some other issues.

[2018-06-06 09:50] scholzj commented on #476
This is related to #348 which lists also some other issues.

[2018-06-06 15:55] scholzj opened #482 "Add support for JBOD storage"
Users should be able to configure Kafka clusters with JBOD storage - setting up multiple disks for a single node which will be configured in Kafka to be used in parallel.

[2018-06-09 23:08] sneko commented on #480
@scholzj @tombentley Since several days I was trying to solve an issue: why some nodes of my cluster randomly go down... 😀

I figured out that all these DEBUG(+INFO) logs were requiring a lot of resources to my logs collector (Fluentd) and my ElasticSearch storage (moreover there are 3 instances of Zookeeper).

The more appropriate solution for now is filtering Zookeeper logs by default by Fluentd

[2018-06-12 07:43] #33 closed

[2018-06-13 09:16] tombentley commented on #392
I've spent the last couple of days looking in more detail at how we can use CRDs, which has highlighted a number of more detailed questions. I'll enumerate these here, but probably open separate issues for them.

### CRD Validation Schema is relatively weak

A `CustomResourceDefinition` can specify a `openAPIV3Schema` for validation. This is supposedly an [OpenAPI Schema](https://github.com/OAI/Op

[2018-06-13 09:56] tombentley opened #490 "Kafka CRD Schema + Java Marshalling"
We need to decide on the schema for a Kafka CRD. This includes:

* the validation schema used in the `CustomResourceDefinition`
* the marshalling on instance resources to and from a POJO representation
* tests for the above

It does not include refactoring the operator to actually use the POJO representation.

[2018-06-13 09:58] tombentley opened #491 "KafkaConnect+S2I CRD Schema + Java Marshalling"
We need to decide on the schema for KafkaConnect and KafkaConnectS2I CRDs. This includes:

    the validation schema used in the CustomResourceDefinition
    the marshalling on instance resources to and from a POJO representation
    tests for the above

It does not include refactoring the operator to actually use the POJO representation.

[2018-06-13 09:59] tombentley opened #492 "Topic CRD Schema + Java Marshalling"
We need to decide on the schema for a Topic CRD. This includes:

    the validation schema used in the CustomResourceDefinition
    the marshalling on instance resources to and from a POJO representation
    tests for the above

It does not include refactoring the operator to actually use the POJO representation.

[2018-06-13 10:12] tombentley opened #493 "Refactor KafkaAssemblyOperator for Kafka CRD"
Once #490 is done we will need to refactor the Operator to actually use the CRD.

This includes:

* Updating the tests, IT + ST and the resources in the `examples/` directory.

It does not include:

* Updating the user documentation (in `documentation/`)

[2018-06-13 10:14] tombentley opened #494 "Refactor KafkaConnectAssemblyOperator+S2I for KafkaConnect+S2I CRD"
Once #491 is done we will need to refactor the Operator to actually use the CRD.

This includes:

    Updating the tests, IT + ST and the resources in the examples/ directory.

It does not include:

    Updating the user documentation (in documentation/)

[2018-06-13 10:15] tombentley opened #495 "Refactor TopicOperator for Topic CRD"
Once #492 is done we will need to refactor the Operator to actually use the CRD.

This includes:

    Updating the tests, IT + ST and the resources in the examples/ directory.

It does not include:

    Updating the user documentation (in documentation/)

[2018-06-13 10:19] franjo-piskur opened #496 "Strimzi metric not collecting for all pods in Prometheus"
Hello,

we deployed 3 node Kafka and 3 node Zookeeper cluster. After some time we tested and added one more node to Kafka cluster.

We have prometheus deployed in seperate project and we already using it. Yesterday we added strimzi metric configuration to Prometheus. It started collecting strimzi metrics with some issues.

All zookeepers metrics are visible in prometheus, but kafka metric is only

[2018-06-13 10:31] tombentley opened #497 "Facility to generate user documentation from CRD schema info"
We should try generating reference user about the structure of our CRDs from the POJOs/CRD validation schema, rather than documenting the structure "by hand" in the user docs.

[2018-06-13 10:33] tombentley opened #498 "User documentation for Kafka CRD"
Once #490 and #497 are done we will need to update the user documentation to describe everything in terms of the Kafka CRD.

[2018-06-13 10:35] tombentley opened #499 "User documentation for KafkaConnect+S2I CRD"
Once #491 and #497 are done we will need to update the user documentation to describe everything in terms of the KafkaConnect CRD.

[2018-06-13 10:36] tombentley opened #500 "User documentation for Topic CRD"
Once #492 and #497 are done we will need to update the user documentation to describe everything in terms of the Topic CRD.

[2018-06-13 15:32] Dec- commented on #496
Hello Franjo,

you can fix it by increasing scraper timeout. Here is example:

- job_name: 'kafka_pod_job'
  **scrape_timeout: 60s**
  kubernetes_sd_configs:
  - role: pod
  relabel_configs:
  - source_labels: [__meta_kubernetes_pod_container_port_name]
    action: keep
    regex: kafkametrics.*
  - source_labels: [__meta_kubernetes_pod_name]
    action: replace
    target_label: kubernetes_pod_na

[2018-06-13 16:56] valdar opened #501 "In getting started guide for Openshift mention that system:admin or a priviledge account is needed"
In https://github.com/strimzi/strimzi-kafka-operator/blob/master/documentation/book/getting-started.adoc#deploying-to-openshiftname specify that a privileged account is needed; running the commands with a normal account (i.e. for example user `developer` in minishift) results in the following error:
[code]
I think that for the average user coming from a fresh installation of `minishift` and logged

[2018-06-13 20:27] valdar commented on #501
A possible example in https://github.com/strimzi/strimzi-kafka-operator/pull/502

[2018-06-13 21:56] valdar commented on #501
Fix #502 accepted.

[2018-06-13 21:56] #501 closed

[2018-06-14 14:35] scholzj commented on #117
The `Local` type persistent volumes are currently being provisioned throu PersistentVolumeClaims and StorageClass. So there is nothing to be implemented here and this issue can be closed.

[2018-06-14 14:35] #117 closed

[2018-06-14 16:09] #101 closed

[2018-06-14 23:13] valdar opened #504 "Provide a way to easely discover kafka service (and route when they will be available) deployed in an Openshift cluster"
Would be nice to have an easy "discovery mechanism" to get all the Kafka services (and routes when they will be available) deployed in an Openshift cluster.

This would be useful to user friendly configure clients running inside the same Openshift cluster by providing a list of available Kafka broker.

I would have done this by k8s resource filtering but, given the current set of labels applied to

[2018-06-14 23:42] valdar commented on #504
I had a go to a possible implementation here https://github.com/strimzi/strimzi-kafka-operator/pull/505

[2018-06-15 06:45] tombentley commented on #504
The CO itself just uses the name convention to find the various subresources, but I can see that this is less helpful for users than being able to express it with label selectors. I guess a question to ask is whether users need to be able to select any of the subresources, or if they're really just interested the resources they need in order to interact with the cluster (such as the bootstrap serv

[2018-06-15 07:34] scholzj commented on #504
@valdar I agree with Tom. Could you provide some user stories when you think it would be useful? We actually had something similar on the beginning, but it turned out it brought in more complications to maintain it while not being useful for anything.

The bootstrap service is currently the only think which comes to my mind as being important for discovery. In the future, users will not be allowed

[2018-06-15 08:03] valdar commented on #504
@scholzj The user story we have to cover in syndesis needs only the Kafka url for connecting clients see: https://github.com/syndesisio/syndesis/issues/2765

I have provided in the PR a different label for each service for completeness, and being future proof.
At the end of the day one label more is not a big deal, but if you want to have that only in the Kakfa service or if you want to restructur

[2018-06-17 00:52] kyguy commented on #430
https://github.com/strimzi/java-docker-base/pull/2

[2018-06-17 00:52] #430 closed

[2018-06-17 09:51] scholzj commented on #430
I think we will still need to rebuild the base image and push it to Docker Hub, so that it gets used.

@ppatierno You did that just last week while adding OpenSSL - can you do it here as well?

[2018-06-17 09:52] scholzj commented on #480
we are working on this. I expect that the log configuration for Kafka, Zookeeper etc. should land in master next week. Thanks for your patience.

[2018-06-17 15:38] scholzj opened #507 "Add a way to manually trigger rolling update"
Sometimes, it might be useful to trigger rolling update of an deployment manually. For example when the system is malfunctioning etc.

One of the ideas how to do it might be by adding a special annotations to the stateful set / deployment. This annotation would be noticed by the operator which will trigger the rolling update and remove the annotation.

[2018-06-17 15:39] scholzj opened #508 "Add a way to manually delete and recreate a cluster node"
Sometimes, it might be useful to trigger a full deletion of a node. For example when the persistent storage is damanged.

One of the ideas how to do it might be by adding a special annotations to the pod which should be removed. This annotation would be noticed by the operator which will delete the pod (and the PVC and PV where applicable) and let the stateful set / deployment to recreate it.

[2018-06-17 17:32] scholzj opened #509 "Improve affinity documentation"
We added support for affinity. But the documentation largely links to the Kubernetes docu. Which doesn't make it completely clear how to use it with Strimzi.

We should add some basic examples how to do it. For example:
* Avoid (or ensure) co-hosting Kafka and Zoo on the same nodes
* Distribute Zookeeper or Connect across zones
* Schedule Kafka to nodes with _fast network_

[2018-06-17 17:34] scholzj opened #510 "Add support for tolerations"
We already have support for affinity which allows pod scheduling to nodes. But to be able to setup truly dedicated nodes for Kafka, we need to add support for [_tolerations_](https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/).

[2018-06-20 10:55] stanlyDoge commented on #480
Hi. There is PR for this feature.
https://github.com/strimzi/strimzi-kafka-operator/pull/512

[2018-06-21 00:10] msample commented on #29
This would be appreciated. I tried setting up a Kub Service & Deployment of the Schema Registry using the confluentinc/cp-schema-registry:4.1.1-2 image with bootstrap servers (vs ZK).

I got past complaints about PLAINTEXT not matching broker setup by adding:
        - name: SCHEMA_REGISTRY_KAFKASTORE_SECURITY_PROTOCOL
          value: SSL

[2018-06-21 15:39] msample commented on #29
Thanks.  Seems to work now with the following env vars on the Deployment spec:

[code]

[2018-06-21 23:18] moadqassem opened #514 "Upgrade kafka version from 1.1.0 to 2.0.0"
Is there any clear plan for upgrading the current Kafka version from 1.1.0 to 2.0.0?
http://kafka.apache.org/20/documentation.html#upgrade

Thanks in progress.

[2018-06-22 06:56] scholzj commented on #514
I don't think that for 2.0.0 we will provide and automatic update mechanism for running clusters. Although this is of course also on our backlog, we have right now bigger priorities around security. But Strimzi will of course add support for Kafka 2.0.0 once it is released (the documentation has been published on the site, but currently Kafka 2.0 is only in Release Candidate stage).

While and aut

[2018-06-22 08:36] moadqassem commented on #514
Alright thank you very much, I would then close this issue now.

[2018-06-22 08:36] #514 closed

[2018-06-22 10:10] ppatierno opened #515 "Using ArgumentCaptur consistently between tests"
The `KafkaAssemblyOperatorTest` has different tests which use `createCluster` and `deleteCluster` where the ArgumentCaptur is done in different ways (i.e. getting the Resource and then a map for getting the name instead of getting the name directly).
For example in the `createCluster` :

`ArgumentCaptor<StatefulSet> ssCaptor = ArgumentCaptor.forClass(StatefulSet.class);`

instead of the following

[2018-06-22 10:11] ppatierno opened #516 "Cleaning useless test in KafkaAssemblyOperatorMockTest"
There is the `testResumePartialRoll` which seems to be useless. Maybe it was started and not developed anymore?

[2018-06-22 12:28] scholzj commented on #516
This suggests that our review standards are poor :-(.

@tombentley Git blames you for it :-o. Could you advice what to do about it? Should it be completed? Or just deleted because it is tested else where? It loooks to me as if you are testing this in `PartialRollingUpdateTest` and this test can be simply removed.

[2018-06-22 13:17] tombentley commented on #516
When it comes to reviewing tests we *do* need to improve. We need to treat test code as first-class code, which should be improved and refactored for its own sake. It would also be good if we had a test coverage report.

I think I started on `testResumePartialRoll()` and then decided the dedicated `PartialRollingUpdateTest` was necessary. If you both agree that `PartialRollingUpdateTest` has suffi

[2018-06-22 21:10] Dec- opened #518 "Kafka Unhealthy"
Hi,

on big load on ur kafka cluster ur readiness and liveness probe failed with error:

`Liveness probe failed: Exception in thread "main" java.lang.RuntimeException: Request METADATA failed on brokers List(localhost:9092 (id: -1 rack: null)) at kafka.admin.AdminClient.sendAnyNode(AdminClient.scala:107) at kafka.admin.AdminClient.findAllBrokers(AdminClient.scala:165) at kafka.admin.AdminClient.aw

[2018-06-22 21:35] scholzj commented on #518
Thanks for raising this. I think we might need to fine tune the configuration. But we should probably also think about some more lightweight healthcheck.

When you experienced these problems ... did you experienced also some similar problems in your clients which were connected and creating the load?

[2018-06-24 00:27] Dec- commented on #518
It looks like if one of the broker fails probe test all of my broker become unavailable? Really strange behavior.

[2018-06-24 15:43] Dec- commented on #518
So what I did next is i removed all probes from kafka-brokers and everything works fine for like 30min, after that my kafka-producer can't connect to my strimzi cluster (timeout).

Can some1 help?

[2018-06-24 15:50] scholzj commented on #518
How did you removed the probes? The Cluster Operator should normally recreate them. If the client cannot connect, you might want to check:
* The Pod readiness
* The service endpoints

Are the Pods ready and do the services have the brokers as endpoints?

[2018-06-24 16:30] Dec- commented on #518
We put down the cluster operator just for test. Then removed Liveness and Readiness probe. After that pods are available. At that point we manually went to every pod and executed healthcheck, and everything was OK on every pod. Then we started creating topics (20k of them in 20 minutes). Topic are created and we can see them in Zookeeper. After some period of time pods are not restarted but unavai

[2018-06-25 08:00] serrss opened #520 "Unstable test for reconciliation"
Test `
io.strimzi.operator.cluster.operator.assembly.KafkaConnectAssemblyOperatorTest.testReconcile` is unstable on CI side. Also, if execute this test on local environment 10 times, 2-3 times will be failed.

Cause of failure:
`java.lang.AssertionError: Not equals : [bar, foo] != [foo]`

Log:
[log_reconciliation.txt](https://github.com/strimzi/strimzi-kafka-operator/files/2132206/log_reconciliati

[2018-06-28 10:13] tombentley opened #524 "Better document affinity for ZK"
Currently it's not obvious in the docs that you can configure affinity for ZK pods too.

[2018-06-28 11:13] tombentley opened #525 "Testing for concurrency problems using MockKube"
We have unit tests which use `MockKube` which are also testing functionality that relies on vertx. By configuring MockKube to add delays (`Thread.sleep()`) we should be able to detect things like blocking on the event loop thread much more easily, and thoroughly that we can via system testing.

[2018-06-28 15:17] ppatierno opened #526 "Investigate how to enable "copy extensions" for CSR with Subject Alternative Names"
When creating a CSR for getting a signed certificate, the subject alternative names are not transferred automatically from the CSR to the final certificate. The "copy_extensions" option is involved but it seems it's a risk to enable it (and it needs a configuration file for it) That's true for the "openssl req" command we are using for the CSR creation.
It seems that "openssl ca" command provides

[2018-06-28 15:36] scholzj commented on #526
So ...
* if we are missing the alt subjects, what does it mean for Strimzi? Does it mean that the TLS stuff doesn't have trust and doesn't work properly?
* What do you mean with _The "copy_extensions" option is involved but it seems it's a risk to enable it_?
* what do you mean with `openssl ca` is a different tool?

[2018-07-02 14:01] ppatierno opened #528 "Create "internal-ca" certificate per cluster and not for namespace"
Currently, the cluster operator generate an internal-ca certificate (used for signing brokers certs for internal communication) for each namespace where it's watching for cluster ConfigMap (see `STRIMZI_NAMESPACE` env var).
It should be one certificate per cluster because we could deploy more than one cluster in the same namespace and they should not share the same internal-ca certificate.

[2018-07-02 21:05] sherl0cks commented on #422
Just hit this myself. Looks like https://issues.apache.org/jira/projects/KAFKA/issues/KAFKA-6299?filter=allopenissues is resolved, but in kafka 2.0.0 which is still on release candidate. Once we see 2.0.0 ga, should that change propagate here?

Deleting and recreating the topic config map resolved the issue. Is that the correct fix for now?

[2018-07-02 21:48] scholzj commented on #422
Once 2.0.0 is released, we will update to it. Until then the workaround you mentioned is probably the best one.

[2018-07-02 21:57] sherl0cks commented on #422
Thanks @scholzj

[2018-07-03 09:08] #480 closed

[2018-07-03 16:18] sherl0cks opened #534 "Discrepancy Between Grafana and OpenShift Memory Metrics"
I'm seeing wildly different memory metrics between OpenShift console and Grafana. The grafana dashboard was created from https://github.com/strimzi/strimzi-kafka-operator/blob/0.4.0/metrics/examples/grafana/kafka-dashboard.json. Both screenshots below are at 1 hr. I'm inclined to view the OpenShift ones as accurate, as they reflect usage (or lack there of in this case, the cluster is idle).

![scr

[2018-07-03 16:29] sherl0cks commented on #534
I'm new to grafan, but perhaps `sum` isn't the operation we are looking for here: https://github.com/strimzi/strimzi-kafka-operator/blob/0.4.0/metrics/examples/grafana/kafka-dashboard.json#L166

[2018-07-03 16:39] tombentley opened #535 "Stub CertManager in unit tests"
The unit tests run much more slowing following the merge of #487 the CO unit tests run much more slowly because they create a lot of clusters, and we generate certs for each one. To keep the unit tests fast we should use a different impl of `CertManager` for the unit tests which aren't testing TLS-related functionality.

[2018-07-03 16:39] scholzj commented on #534
@ppatierno Do you have any idea?

[2018-07-03 17:08] tombentley commented on #534
One reason is that I think the grafana graph is showing used memory rather than committed memory (see https://docs.oracle.com/javase/9/docs/api/java/lang/management/MemoryUsage.html). I assume the openshift graph is showing how much memory the container is using, which will include the committed memory of the JVM.

[2018-07-03 18:45] sneko commented on #480
@stanlyDoge thank you very much for working on this issue! I really appreciate and I will test this merge as soon as possible 😃

[2018-07-04 08:32] #535 closed

[2018-07-04 17:17] ppatierno opened #538 "Running kafka-topics.sh on a Pod raises a FileNotFoundException related to log4j.properties file"
Trying to run the 'kafka-topics.sh` tool which I use for testing when a new topic is created by TO (so to check that it successfully) I got the following exception even if the command is executed and returns the result.

`[ppatiern@new-host-2 ~]$ oc exec -it my-cluster-kafka-0 -- bin/kafka-topics.sh --zookeeper my-cluster-zookeeper:2181 --describe
log4j:ERROR Could not read configuration file from

[2018-07-04 17:19] seglo opened #539 "Support Helm Chart bundling to deploy operator"
Helm Charts are a useful way of bundling and versioning configuration resources in Kubernetes.  The only reference I could find to helm support is found in issue #42 which mentions:

If this is not already on your immediate backlog I would like to propose adding a Helm Chart target to your build & release process that can generate a standalone tarball artifact.

In addition once chart bundling is

[2018-07-04 17:31] ppatierno commented on #539
Hi Sean,
your contribution about adding Helm Charts is really welcome!
As you noticed from #42, it's on our backlog but not as high priority but having a contribution could be awesome.
So ... +1 from me (and I guess from all other contributors) ... and thanks! ;)

[2018-07-04 17:37] seglo commented on #539
Great!  I'll follow up when I have something to review.

[2018-07-05 08:14] #538 closed

[2018-07-05 10:43] ppatierno opened #542 "Regenerate certificates when the internal CA one is deleted by accident"
If the "internal-ca" certificate is delete by accident, the CO regenerates it during the coming reconciliation.
It means that the current Kafka brokers and Zookeeper nodes certificates are signed with a not existing internal CA certificate so they cannot be valid anymore.
When the CO regenerates the internal CA certificate, it needs to start the generations of new certificates (signed with the new

[2018-07-05 23:19] sneko commented on #480
@stanlyDoge just a question, do you know when the 0.5.0 will be released please? (approximately)

[2018-07-06 00:11] EricGregMiller commented on #422
I'm getting org.apache.kafka.common.errors.NotControllerException when I try to create a topic. I don't understand the work around. How does one delete and recreate the topic config map?

[2018-07-06 00:19] sherl0cks commented on #422
[code]

you can then just recreate it after you delete it with

`$ oc create -f <your config map>`

[2018-07-06 09:59] arunkjn opened #544 "Error in operator when running on k8s"
Hi ,

I am running v0.4 of operator in k8s cluster. It is getting the below error and restarting -

DefaultChannelPipeline:151 - An exceptionCaught() event was fired, and it reached at the tail of the pipeline. It usually means the last handler in the pipeline did not handle the exception.
io.netty.handler.codec.DecoderException: javax.net.ssl.SSLHandshakeException: General SSLEngine problem
	at i

[2018-07-06 11:50] tombentley commented on #544
@scholzj can you help?

[2018-07-06 22:17] #544 closed

[2018-07-09 17:17] #490 closed

[2018-07-09 17:17] #392 closed

[2018-07-09 17:22] #491 closed

[2018-07-09 17:22] #493 closed

[2018-07-09 17:22] #494 closed

[2018-07-09 17:22] #497 closed

[2018-07-09 17:22] #498 closed

[2018-07-09 17:22] #499 closed

[2018-07-10 07:35] scholzj commented on #368
Most of the work has been already done. The only missing thing is to add support for configuring Topic Operator log level from the Kafka cluster CRD.

[2018-07-10 07:36] scholzj commented on #539
@seglo I assigned this issue to you so that nobody else starts working on it.

[2018-07-10 07:38] scholzj commented on #459
@ppatierno @stanlyDoge Did we solved this by removing the annotations? Can this be closed now?

[2018-07-10 07:41] arunkjn commented on #544
thanks @scholzj. Do you guys have any timeline for releasing 0.5?

[2018-07-10 07:42] scholzj commented on #334
The `type=local` storage has been removed in #475 as it was not used.

[2018-07-10 07:42] #334 closed

[2018-07-10 07:45] scholzj commented on #350
@tombentley I think this has been addressed in #462 - I will close this. Feel free to reopen it again if I'm wrong.

[2018-07-10 07:45] #350 closed

[2018-07-10 07:45] scholzj commented on #351
@tombentley I think this has been addressed in #462 - I will close this. Feel free to reopen it again if I'm wrong.

[2018-07-10 07:48] scholzj commented on #55
Did we moved anywhere since last time? Is this the final version how it should be renamed?

* `kafka` -> `kafka-bootstrap`
* `kafka-headless` -> `kafka-brokers`
* `zookeeper` -> `zookeeper-client`
* `zookeeper-headless` -> `zookeeper-nodes`

Or do we want to close this? The later we do this, the more disruption it will cause.

[2018-07-10 07:49] scholzj commented on #165
@ppatierno @tombentley Do we still see this as useful? Or should we close this?

[2018-07-10 07:50] ppatierno commented on #459
yes you can close it.

[2018-07-10 07:52] scholzj commented on #439
This has been now implemented through a different issue and can be closed.

[2018-07-10 07:52] #439 closed

[2018-07-10 07:52] #459 closed

[2018-07-10 07:55] scholzj commented on #310
@serrss Was this addressed by #283 ? Or should it still remain open?

[2018-07-10 07:56] scholzj commented on #142
Is this duplicate with #191?

[2018-07-10 07:56] scholzj commented on #191
Is this duplicate with #142?

[2018-07-10 08:20] tombentley commented on #55
I'm +1 on renaming these to the names you suggest @scholzj and I agree we basically have to do this _now_, or never.

[2018-07-10 08:20] tombentley commented on #165
I think we should close this.

[2018-07-10 09:57] ppatierno commented on #55
So referring to the methods we have for generating Secrets we agree to use "brokers" for Kafka and "nodes" for Zookeeper :-)

[2018-07-10 09:58] scholzj commented on #55
@ppatierno I'm just trying to move this forward by accepting your suggestions ... my original suggestion was different. ;-)

[2018-07-10 15:17] #165 closed

[2018-07-10 16:54] tombentley opened #566 "Remove AssemblyType"
Now we have CRDs and thus have proper kinds, the `AssemblyType` enum in the cluster controller is redundant. We should remove it.

[2018-07-10 16:57] tombentley opened #567 "Refactor Deserializers"
The way we use `MemoryDeserializer` and `MilliCpuDeserialize` has changed no we have CRDs. They're no used as deserializers any more. We only use the static methods for parse and format strings. We should tidy this up, probably by removing the classes and shifting the static methods to somewhere else. Or disinheriting the baseclass and removing the non-static methods.

[2018-07-10 17:47] serrss opened #569 "Use new user in system tests for deploying Kafka and Kafka Connect."
After `CRD` changes we need to do deploy Kafka and Kafka Connect in `StrimziRunner`  by a new user with specific access rights

[2018-07-10 20:07] scholzj commented on #544
@arunkjn Hopefully next week.

[2018-07-13 07:56] ppatierno opened #584 "Making Zookeeper TLS sidecar resources configurable"
Currently, the TLS sidecar resources for Zookeeper are hard coded. It's better having them as configurable through the CR.
The idea is having a `tlsSidecar` field with `image` (moved from the current `tlsSidecarImage` field) and `resources` fields.

[2018-07-13 12:05] artur-chylek opened #585 "Services should have Prometheus annotations"
In previous version of Strimzi Pods used to have Prometheus specific annotations like: prometheus.io/port: '9404', prometheus.io/scrape: 'true' and prometheus.io/path: '/metrics'. Currently a Service exposes 9404 port which provides access to Pods' metrics. This is fine, however I believe Prometheus specific annotations should still be included in the Service as they are somewhat convention and ex

[2018-07-13 15:02] #584 closed

[2018-07-13 22:05] #585 closed

[2018-07-16 07:52] #55 closed

[2018-07-16 13:10] scholzj commented on #518
FYI: I changed the health check to be just TCP socket probe. IT should be more lightweight and that should help at least with some of these problem.

[2018-07-18 08:10] artur-chylek opened #602 "NPE when creating project from templates (master)"
When creating project from either _ephemeral-template.yaml_ or _persistent-template.yaml_ from master, ClusterOperator throws NPE:

[code]

It looks like the they are missing *resources* section or defaults on the server side should be applied.

[2018-07-18 10:54] #602 closed

[2018-07-18 12:04] ppietruch opened #605 "Unable to successfully run unit tests on Windows (excluding IT tests)"
Unable to successfully run basic unit tests (excluding IT tests) on Windows development environment.

Please see attached build logs for details.

Command executed was: `mvn -q clean install -DskipITs` (-X added for api module)

[crd-generator.txt](https://github.com/strimzi/strimzi-kafka-operator/files/2205617/crd-generator.txt)
[api.txt](https://github.com/strimzi/strimzi-kafka-operator/files/22

[2018-07-18 12:39] tombentley commented on #605
The crd-generator.txt test failures might be due, in part to differing line endings between the expected and actual output of the `CrdGenerator` tool. The expected output is stored in a classpath resource in `/src/test/java`. We can probably just replace windows line endings with unix prior to making the assertion.

The api failure looks like it's a problem with running the crd generator from the

[2018-07-18 20:36] scholzj opened #607 "DCG: SME reviews"
The DCG should define:
* Who is SME and how to find one
* What things need SME reviews and which dont't

Raised in review comments in #598

[2018-07-18 20:36] scholzj opened #608 "Documentation: Use monospace for all Kubernetes/OpenShift resource kinds"
Raised in review comments in #598

[2018-07-18 20:36] scholzj opened #609 "DCG: Add example how to document Kubernetes/OpenShift resource kinds"
Raised in review comments in #598

[2018-07-19 08:34] ppietruch commented on #605
Opened a PR which addresses issues in `crd-generator` and `api` modules: https://github.com/strimzi/strimzi-kafka-operator/pull/615

Once that modifications are applied TopicOperator fails in a new way. It depends on execution of reassign.sh script which obviously fails on Windows.

Attached new logs from TopicOperator's build.

[topic-operator2.txt](https://github.com/strimzi/strimzi-kafka-operat

[2018-07-19 09:15] tombentley commented on #605
@ppietruch thanks for the PR (now merged).

The tests using `reassign.sh` are about checking we handle correctly all the error cases when running an external command (which will be done by the TO, which we expect to be running in a pod running linux). Thus there's no point having an equivalent test for windows. And therefore I think those tests can be ignored when running on anything that's not li

[2018-07-20 06:11] tombentley opened #617 "Customise how CRs are printed"
In k8s >= 1.11 it's possible to [customise how your custom resources are displayed via `kubectl get`](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#additional-printer-columns). We should support this for our custom resources. For example it would be nice if `kubectl get kafkatopics` showed the name, #replicas and #partitions.

This is current

[2018-07-20 09:14] #448 closed

[2018-07-20 10:39] #528 closed

[2018-07-20 21:44] scholzj opened #622 "Logging issues in Kafka"
When following logging configuration is used in Kafka CR:
[code]

The following happens:
* The log4j.properties file seems to have the right content
[code]
* But the log output contains only following warnings:
[code]
* Apart from these warnings, only GC logs are printed and nothing else.

Is this caused by the order of the records? Please investigate also the same for other components.

[2018-07-20 21:44] scholzj commented on #622
@stanlyDoge Can you have a look at this please on Monday?

[2018-07-22 14:23] scholzj opened #629 "Add AppVeyor integration to make sure we can build on Windows"
Since we have developers using Windows, we should try to keep the project working reasonably well under Windows (for development purposes). Once the Windows support is fixed (#605) we should make sure that we don't break it again. One of the ways how to do it would be to integrate with AppVeyor and build regularly on Windows as part of our CI.

[2018-07-23 07:00] stanlyDoge commented on #622
Sure

[2018-07-23 07:48] #510 closed

[2018-07-23 11:21] stanlyDoge commented on #622
I think `log4j.rootLogger` needs also appender to be set. This configuration should be ok:
[code]

[2018-07-23 11:39] scholzj commented on #622
Hmm ... is that documented anywhere? Can we make it easier and set the appender in the default file on separate line?

[2018-07-23 14:26] tombentley opened #636 "run asciidoctor with -v"
The `-v` switch will enable checking for broken internal references, which we should definitely do.

[2018-07-24 11:49] scholzj commented on #605
Closing as suggested in #628

[2018-07-24 11:49] #605 closed

[2018-07-24 14:38] serrss commented on #310
@scholzj This is another type of assertions that we still need to implement

[2018-07-24 23:02] msample opened #646 "Document exposing brokers to clients outside the Kubernetes cluster"
What is the recommended practice for allowing Kafka producers and consumers outside of the Kubernetes cluster (that don't use Zk for offsets etc) to see the bootstrap brokers in a relatively stable, configuration-friendly way?

[2018-07-25 08:33] scholzj commented on #646
This is currently not possible. But we have it in our backlog (#128 ).

[2018-07-25 10:10] #622 closed

[2018-07-25 10:30] scholzj opened #648 "Specifying CPU resources as 1000m triggers rolling updates"
When CPU request or limit is specified as `1000m` it seems to cause constant rolling update:

[code]

[2018-07-25 10:38] ppatierno commented on #526
it seems that a workaround could be this one ... https://mta.openssl.org/pipermail/openssl-users/2016-January/002764.html
I'm going to try it.

[2018-07-25 16:10] #648 closed

[2018-07-25 16:56] #636 closed

[2018-07-25 17:23] msample commented on #646
Thanks. Pardon the duplicate.   Search term boost: broker external IP external-ip address addresses port ports ingress

[2018-07-25 17:36] scholzj commented on #646
No need to apologise ... there is a lot of issues and its not always easy to find the right one. Lets add the keywords to the description of the original issue. Is it ok to close this issue now?

[2018-07-25 17:40] msample commented on #646
yes, please close this one.

[2018-07-25 17:57] #646 closed

[2018-07-27 06:14] #492 closed

[2018-07-27 15:44] simaxis opened #664 "Fix kubectl command in "getting started" section on how to deploy a cluster operator in Strimzi Docs."
In the the section **2.3.1. Deploying to Kubernetes** found at http://strimzi.io/docs/0.5.0/#getting_started the command:
``kubectl create -f examples/install/cluster-operator``
should actually read:
``kubectl apply -f examples/install/cluster-operator``
otherwise, you will end up with the strimzi-cluster-operator deployment crashing as the RBAC rules were not applied.

[2018-07-28 13:04] #526 closed

[2018-07-30 09:15] franjo-piskur opened #673 "Strimzi 0.5.0 Zookeeper bin shell scripts not working"
Hello,

when we want to execute script on zookeeper pods we get errors.

Example:
`bin/kafka-topics.sh --list --zookeeper localhost:2181`

How can we solve this, is it because of tls internal communication?

Best regards,

Franjo

[2018-07-30 14:10] tombentley commented on #567
I did this when fixing the `1000m` cpu problem.

[2018-07-30 14:10] #567 closed

[2018-07-30 18:25] #539 closed

[2018-07-31 11:02] #414 closed

[2018-07-31 20:30] seglo opened #686 "Host a Helm Repository to manage Strimzi chart releases"
Create a helm repo on the strimzi website.  You can generate a Helm Repository with the helm CLI tool and host it using github pages.  This will let you release the chart in a more formal way.  The way the chart is bundled now, users will have to download the release artifact to install it, or install it as a standalone artifact via a URL.

[code]

If we create the repo then the user could add it

[2018-07-31 20:31] seglo opened #687 "Create a Helm Chart for standalone deployment of the Topic and User operators"
Create a standalone `strimzi-topic-operator` chart.  This allows users to install the topic operator standalone without having to use the examples resource files directly.  It will also bring consistency with how the resource files are templated and managed as part of the release workflow.

[2018-07-31 20:37] seglo opened #688 "Submit Helm Charts to kubeapps incubator repository"
Submit the Helm Charts to the central kubeapps `incubator` repository.

The current implementation simply bundles the chart into the release process by calling `helm package` to create a tarball that's available as its own artifact as part of a release.  The chart is also available in its unarchived form in the `./charts/` dir of the release artifact.  We could also publish this to the central kub

[2018-07-31 20:41] seglo opened #689 "Multi datacenter support with MirrorMaker operator"
Provide an easy way to let users create Active/Active or Active/Passive synchronizations between Kafka clusters.  Apache Kafka bundles Mirror Maker which can be managed in a similar way as how topics are managed by the topic operator.

To fully realize this feature some pre-requisites include

* External access to brokers outside K8s cluster.  Broker ingress.
* TLS and auth support for Mirror Make

[2018-07-31 21:38] scholzj commented on #686
@seglo How do we get the repo there? Do we just copy the `helm-charts/strimzi-kafka-operator` directory to `http://strimzi.io/helm/`? How would we handle master versus different releases?

[2018-08-01 06:27] ppatierno commented on #689
@seglo if you confirm that you would like to volunteer, I can assign this issue to you :-)

[2018-08-01 06:28] ppatierno commented on #688
@seglo As far as I understood you are already working on it right? Can I assign this issue to you?

[2018-08-01 07:01] ppatierno commented on #673
Starting from 0.5.0, the communication with Zookeeper is encrypted via TLS. The simple way for running a command like this is executing it directly on a Zookeeper pod in the following way:

`bin/kafka-topics.sh --list --zookeeper localhost:2181X`

where X is the index number of the Zookeeper pod you are using, so for example if using the pod `my-cluster-zookeeper-0` you have to run the above comma

[2018-08-01 09:31] asorokhtey opened #691 "NullPointerException after update of replicas count for topic"
Steps to Reproduce:
- Start Kafka cluster
- Create topic: oc create -f examples/topic/kafka-topic.yaml
- Edit replicas count for topic: oc edit kafkatopic my-topic
- Check topic operator logs

[code]

[2018-08-01 09:38] ppatierno commented on #691
From the log I even see "Number of partitions cannot be decreased", are you changing "replicas" field or "partitions" ... or both in this test? :-)

[2018-08-01 09:55] asorokhtey commented on #691
@ppatierno I'm changing replicas from 1 to 2

[2018-08-01 13:43] seglo commented on #689
@ppatierno yes I can begin working on this after some other tasks I have on my plate.  I expect to have something to show in August.  If that changes I'll let you know.

[2018-08-01 13:45] seglo commented on #689
Thanks! :)

[2018-08-01 13:49] seglo commented on #688
@ppatierno I haven't started on this yet.  @tombentley mentioned in another thread he was looking into the review guidelines.  I was thinking about getting #687 done first and then someone could submit both at the same time.

It may also make sense to wait until the next release in case any issues arise with the chart.  My original thinking was that the chart could be submitted to kubeapps per Str

[2018-08-01 13:50] seglo commented on #687
@ppatierno You can assign this one to me if you like.

[2018-08-01 13:51] ppatierno commented on #689
Thanks to you! ;)

[2018-08-01 14:07] seglo commented on #686
@scholzj Good questions.  The way I think it works is that each release we would copy the chart release tarball generated by the `make release` process (i.e. `strimzi-kafka-operator-0.6.0.tgz`) into a directory on the website.  It would be cumulative.  Each release you generate a new `index.yaml` that encodes metadata about the charts and its versions into a file to be read by the helm CLI tool.

[2018-08-02 13:03] ppatierno opened #699 "Editing Kafka CR adding labels doesn't reflect all labels to all resources"
Deploying a Kafka cluster adding a user label in the Kafka CR works. So having the following snippet :
[code]
all the deployed resources will have that label.

[code]

when editing the CR adding a new "mynewlabel: mynewvalue", it's applied only to Zookeeper related services :

[code]

[2018-08-02 22:41] scholzj commented on #699
I expect that the reason why you got the new labels only on these two services is because the operator gets stuck on the statefulset selectors and didn't therefore managed to change the labels everywhere. I opened a PR to fix this.

[2018-08-02 23:04] scholzj opened #706 "Topic Operatro runs into NPE when no topic configuration is specified"
The topic operator seems to have issues handling KafkaTopic obnjects without any `config` sections:

[code]

It seems to run into NPE:

[code]

[2018-08-03 11:41] #122 closed

[2018-08-03 11:41] #699 closed

[2018-08-03 11:41] scholzj commented on #122
This has been addressed by #705

[2018-08-03 12:14] #706 closed

[2018-08-03 12:24] stanlyDoge commented on #673
I have a theoretical question. What if we have 10+ zookeeper nodes? Should not be better to say it is `21810 + $number_of_node`?

[2018-08-03 12:28] ppatierno commented on #673
@stanlyDoge yes the real formula is `2181 * 10 + $number_of_node` ... but I think that I'll have cluster with maximum 5/7 zookeeper nodes or at least I have never heard about more than that.

[2018-08-03 12:31] stanlyDoge commented on #673
Thank you @ppatierno.

[2018-08-03 20:24] scholzj opened #714 "MockCertManager and its usage in tests is leaking files"
MockCertManager is creating temporary files with certificates. It seems that nether the tests nor MockCertManager are cleaning these files. After a while developing Strimzi you will suddenly fine out you have 500000 of such files in `/tmp`. We should make sure these files are cleaned properly.

[2018-08-05 07:42] thbeh opened #717 "testing strimzi"
Hi, I did a quick test with Strimzi (following the docs) in kubernetes and use the following to test - _kubectl exec -it my-cluster-kafka-0 -- bin/kafka-topics.sh --zookeeper my-cluster-zookeeper-client:2181 --list_ but showing errors like below:

_[2018-08-05 06:38:22,559] WARN Session 0x0 for server my-cluster-zookeeper-client.default.svc.cluster.local/10.108.93.48:2181, unexpected error, closin

[2018-08-05 08:06] ppatierno commented on #717
Hi, are you working with master or 0.5.0? In both cases, the Zookeeper connection on port 2181 is encrypted. Due to the fact that the Zookeeper version distributed with Kafka doesn't support TLS, it's provided with an "stunnel" sidecar container running alongside the Zookeeper one. The sidecar is listening on port 2181.
For using the `kafka-topics.sh` script I suggest to use the following command:

[2018-08-05 19:43] thbeh commented on #717
Regarding the Zookeeper above, in that case would using an external zookeeper cluster makes more sense?

[2018-08-06 09:25] ppatierno opened #720 "Required fields not generated for KafkaConnectTls"
The `KafkaConnectTls` class has the `private List<CertSecretSource> trustedCertificates` field.
The used `CertSecretSource` class has two "required" fields (`secretName` and `certficate`).
This api design isn't reflected in the generated CRD YAML which is the following:

[code]

It's worth noticing that the `KafkaConnectAuthenticationTls` class has the `private CertAndKeySecretSource certificateAn

[2018-08-06 10:41] ppatierno commented on #717
For Kafka clients connecting from inside the OpenShift/Kubernetes cluster (because Kafka isn't exposed outside yet) you can follow the guidelines here :

http://strimzi.io/docs/0.5.0/#kafka_client_connections_via_tls

[2018-08-06 21:41] scholzj opened #721 "Add integration tests for SimpleAclOperator"
The `SImpleAclOperator` class has currently a good unit test coverage implemented using mocked `SimpleAclAuthorizer` class. It would be good to add some integration tests which would take it through paces also against an actual Kafka cluster. We have already IT tests using Kafka cluster in the topic operator. We can use the same mechanism to start the Kafka cluster for these tests here as well. Al

[2018-08-06 21:43] scholzj opened #722 "Add support for TransactionalID resource"
Currently the ACL support in User Oerator supports only following three resource types:
* Cluster
* Topic
* Group

It would be good to add support also for TransactionalID resources.

[2018-08-06 21:45] scholzj opened #723 "Run `SimpleAclAuthorizer` calls as blocking"
The current version of the `SimpleAcloperator` is simply calling the methods offered by `SimpleAclAuthorizer` directly. While they are in general fast and we haven't experienced any problems or warnings about blocked threads, I suspect that the calls can in some situations block. Therefore it would be good to wrap them into `executeBlocking` and run them on the shared worker threads pool.

[2018-08-06 21:48] scholzj opened #724 "Use grouping by resource when managing Acl rules"
The `SimpleAclAuthorizer` accepts the rules which are created / removed in following format `Map<Resource, Set<Acl>>`. It allows to group the ACLs per resource and call the KAfka methods only few times.

In the User Operator we currently call this separately for every single Acl rule (i.e. our `Set<Acl>` has always size 1). I wonder if there might be some speedup in organizing the Acl rules per re

[2018-08-07 06:48] thbeh commented on #717
is it possible to share strimzi/kafka-connect:0.5.0 Dockerfile?

[2018-08-07 06:55] ppatierno commented on #717
what do you mean by "sharing". The source is in the repo at https://github.com/strimzi/strimzi-kafka-operator/blob/master/docker-images/kafka-connect/Dockerfile

[2018-08-07 20:03] thbeh commented on #717
my apologies, I missed that.
i see in the documentation in OpenShift there's OpenShift Build to add additional connectors, I guess to add connectors in k8s is through re building the Dockerfile, am I correct?

[2018-08-07 20:36] ppatierno commented on #717
Yes it's mostly explained in the documentation http://strimzi.io/docs/0.5.0/#using_kafka_connect_with_additional_plugins

[2018-08-07 22:00] thbeh commented on #717
Strimzi development being part of Redhat , would there be features bias on OpenShift compare to native Kubernetes. Advice?

[2018-08-08 07:32] ppatierno commented on #717
No, it will not be biased. You can also notice that all system tests on Travis CI run on `minikube` :-) and now we have Helm charts integration as well.
The only part which is related to OpenShift is the possibility to add more connectors to Kafka Connect image using the S2I feature provided by OpenShift.

[2018-08-08 23:17] thbeh commented on #717
is there a way to get into root user in any of the images?

[2018-08-09 06:32] #717 closed

[2018-08-09 06:38] thbeh opened #730 "kafka connect"
I used the example in v0.5 doc to create kafka-connect like the following
_apiVersion: kafka.strimzi.io/v1alpha1
kind: KafkaConnect
metadata:
  name: my-connect-cluster
spec:
  nodes: 1
  image: strimzi/kafka-connect:0.5.0
  readinessProbe:
    initialDelaySeconds: 60
    timeoutSeconds: 5
  livenessProbe:
    initialDelaySeconds: 60
    timeoutSeconds: 5
  config:
    bootstrap.servers: my-cluste

[2018-08-09 06:45] ppatierno commented on #730
The example seems to be wrong, the correct field is `replicas` instead of `nodes`.

[2018-08-09 06:56] thbeh commented on #730
Thanks, will change to replicas.

[2018-08-09 19:35] AlbertoOS commented on #544
Hello @scholzj, how can I set this `KUBERNETES_TRUST_CERTIFICATES` config for the kafka cluster?
I've tried to edit some resources but wasn't able to keep this setting.
For example I've tried editing a statefulset of Kafka kind to have this setting as a environment variable but it gets overwritten after a while and I'm not getting why right now.

[2018-08-09 20:06] ppatierno commented on #544
The env var should be set in the YAML file with the cluster operator deployment. This env var is for the fabric8 library used by cluster operator to interact with Kubernetes.
So it's not an env var to set for the Kafka cluster but for the cluster operator.

[2018-08-10 05:57] ppatierno commented on #730
@thbeh can I close this issue? Did the suggestion work for you?

[2018-08-13 11:19] #730 closed

[2018-08-13 14:42] ppatierno opened #745 "Making probes configurable in Topic and User operators"
The new deployment of Topic and User operators through the Entity operator doesn't allow to customize liveness and readiness probes (which already happened with the "old" Topic operator deployment).
We should make it possible because today the HTTP probes is hardcoded on port 8080 for the Topic operator and port 8081 for the User operator.

[2018-08-13 17:28] taylorsmithgg commented on #128
Any ETA on this?

[2018-08-13 20:32] scholzj commented on #128
@taylorsmithgg I hope to get to it during September. (no promisses, just hopes ;-))

[2018-08-14 07:02] #720 closed

[2018-08-14 22:13] taylorsmithgg commented on #128
@scholzj Sounds great. I'd love to see it working with Nginx Ingress Controller as well!

[2018-08-14 23:26] scholzj commented on #128
TBH, I'm not sure what is the latest state of TCP / TLS passthrough in Nginx Ingress. If that is solved it should be possible to make it work even through Ingress. Although to be honest I expect the Ingress to take some price on the performance. So I guess ideally we should have a choice ... node ports for more performant setup which is a bit more complicated and Inrgess for _slower_ but easier to

[2018-08-16 08:59] #714 closed

[2018-08-16 09:09] #723 closed

[2018-08-16 14:33] ncbaratta opened #759 "Docs: Security Chapter Product Name References"
The Security Chapter: https://github.com/strimzi/strimzi-kafka-operator/blob/master/documentation/book/security.adoc has references to Strimzi instead of using the {ProductName} attribute.

[2018-08-16 18:35] scholzj opened #762 "Docs: Document how to use your own TLS certificates with Kafka"
We should have a procedure documenting how to do _Bring your own certificates_ with Strimzi.

[2018-08-16 18:36] scholzj opened #763 "Docs: Document how to use the broker public key and user certificates from User Operator"
Document how to use / mount the `cluster-ca-cert` with broker CA or the secret from User Operator.

[2018-08-16 18:37] scholzj opened #764 "Docs: Document how to undeploy / uninstall things"
We should have procedure documenting how to undeploy clusters / delete CO.

[2018-08-16 20:19] scholzj opened #765 "Logging for Kafka Mirror Maker Zookeeper and Co should be changeable without rolling update"
Logging for Kafka, Zookeeper and Co should be changeable without rolling update - because you often want to increse log levels on the fly - without restarting the brokers etc. This could be critical for users to help us debug issues.

[2018-08-16 20:24] tombentley opened #766 "TO and UO should have same defaults"
For things like reconciliation interval, zk session timeout etc.

[2018-08-16 21:00] franjo-piskur opened #767 "Kafka Broker - Cache and buffer memory on application node"
Hello,

We deployed Strimzi with 5 Kafka brokers. Over the time we realized that Brokers consumed all free memory on application node for caching. That cause some isseues with other pods running on same node. On OpenShift we dindn't see any event messages, but we realized that two brokers  had different age than the others (this two were 1 day old and the others were 10 day old). After that we wer

[2018-08-16 21:03] scholzj commented on #767
I'm not sure what cache exactly do you have in mind. Is that the disk cache? Or some Kafka's internal cache?

[2018-08-16 21:42] franjo-piskur commented on #767
I would say Kafka internal cache, because after i executed on application node:

i saw in hawkular metrics that memory usage on that broker significantly dropped (from 40+Gib to 8 Gib), and also that memory freed on application node.

I see that also some people have similar issues when running Kafka on Openshift:

[https://stackoverflow.com/questions/45300985/openshift-resource-limit-and-pagecach

[2018-08-17 14:01] asorokhtey opened #770 "Please update documentation for Update user"
We can move this part separately
[code]

Basically, you have to prepare YAML file and then run command
`oc apply -f  user.yaml`
Or run command
`oc edit kafkauser my-user` and then in the command line edit yaml and save changes

Now in documentation looks like we have to execute both steps.

[2018-08-17 16:29] ncbaratta opened #772 "Use 'standalone' consistently in docs"
Sergey Romanov [7:06 AM]
questions about word ordering... Why do we have in `Deploying the standalone User Operator` the word `standalone` before noun and in `Deploying the Topic Operator standalone` we have `standalone` after noun?

Nicole Baratta [7:19 AM]
@Sergey Romanov we should be consistent and I think it should be used as an adjective - and be standalone Topic Operator as well

[2018-08-17 22:47] amreshakim opened #773 "Allow passing imagePullSecrets to operator as an env variable"
If one needs to deploy an operator with the custom Kafka and/or ZK images which for one or another reason have to be pulled from the private repo, there is no way to do it without changing the code I believe.

It would be nice to be able to specify imagePullSecrets (even if it is for both zk and kafka images) in the operator `Deployment` similar to how it allows to define a kafka image via `STRIMZ

[2018-08-18 08:49] stanlyDoge commented on #765
There is `monitorInterval` attribute which should reload `log4j.properties` file automatically. I was trying this with `log4j2` and that didn't seem to work :( I will try this with `log4j`.

[2018-08-20 05:55] dmuntima commented on #772
I have raised a PR https://github.com/strimzi/strimzi-kafka-operator/pull/777  to ensure the consistent usage of 'standalone'.

[2018-08-20 07:26] scholzj opened #778 "Operators should check spec for being null in CRs"
All operators should check for the spec for being a null to avoid NPEs. The `Spec` section is not required.

[2018-08-20 08:04] dmuntima opened #779 "Rename the title of the "Configuring container images" reference topic"
Rename the title of the  "Configuring container images" reference topic in sections 3.15, 3.2.11, 3.3.11

[2018-08-20 20:39] chrisjschultz commented on #128
@khannz - did you have any examples you can share for external cluster access? ta!

[2018-08-21 05:04] dmuntima commented on #772
PR https://github.com/strimzi/strimzi-kafka-operator/pull/777 addressed this issue.

[2018-08-21 05:04] #772 closed

[2018-08-21 05:59] dmuntima commented on #770
@asorokhtey, I have raised https://github.com/strimzi/strimzi-kafka-operator/pull/780 PR as a fix for this issue.

[2018-08-21 06:36] dmuntima opened #786 "Add User Operator as the AMQ Streams main component in the Overview section"

[2018-08-21 09:54] dmuntima commented on #786
Raised https://github.com/strimzi/strimzi-kafka-operator/pull/787 PR to fix this issue.

[2018-08-21 09:54] #786 closed

[2018-08-21 16:57] alberttwong opened #788 "Errors with RHOCS/CNS and Kafka on OpenShift"
Has anyone seen this?

[code]

[2018-08-21 19:13] ncbaratta opened #791 "Docs: Fix references to defaults picked for container images"
In relation to ref-configuring-container-images.adoc

This means we should number these options as 1 and 2 and reword that statement, as it's not priority, it's in the order in which they appear below.

[2018-08-22 01:37] chrisjschultz commented on #128
@scholzj - I am far from a K8n/OSE expert, but I am about to deploy this and plan to use External IP addresses on OSE rather that node ports (have not started the work yet). Do you think this is viable?

[2018-08-22 19:30] seglo commented on #687
I was discussing with @scholzj in Slack if this effort was worth it.  I don't have a need for these standalone charts and the only reason I suggested it was if you had many users that preferred this standalone operator model.

If the rest of you agree that it's not a priority (@tombentley , @ppatierno , or anyone else with an opinion), then I suggest we close this issue.

[2018-08-22 19:39] seglo commented on #686
I'm working on this.

[2018-08-23 04:33] dmuntima commented on #779
Fixed the issue: https://github.com/strimzi/strimzi-kafka-operator/pull/785

[2018-08-23 04:33] #779 closed

[2018-08-23 07:32] tombentley commented on #687
I've unassigned you @seglo. I agree it's not a priority. I don't think we should close the issue though. Afterall, if someone did a PR we would most likely merge it.

[2018-08-23 11:45] tombentley opened #800 "set `ssl.secure.random.implementation=SHA1PRNG` by default"
We should set `ssl.secure.random.implementation=SHA1PRNG` by default. It is currently a "forbidden option", so uses cannot set this for themselves.

[2018-08-24 09:21] scholzj opened #804 "Running two versions of Strimzi in parallel"
Currently, it is quite hard to run two versions of Strimzi in parallel. This is mainly because the `ClusterRoles` and `ClusterRoleBindings` as global objects share the same names. So they cannot be easily deployed in parallel.

There are two possible solutions I can see right now - either name the global resources after the version to avoid these conflicts. But this adds complicates with renaming

[2018-08-24 14:05] #686 closed

[2018-08-26 22:29] scholzj commented on #368
This should be now done for both Topic and User Operators. I will close this issue.

[2018-08-26 22:29] #368 closed

[2018-08-26 22:30] #351 closed

[2018-08-26 22:32] scholzj commented on #309
I think we have this now covered. Right @serrss and @asorokhtey ? I will close this. Feel free to reopen this if you think we are still missing something.

[2018-08-26 22:32] #309 closed

[2018-08-26 22:33] scholzj commented on #369
For the time being this idea was rejected. Since there is no good support for namespacing in Kafka, namespacing topics is hard. I will close this issue.

[2018-08-26 22:33] #369 closed

[2018-08-26 22:39] scholzj commented on #253
I believe we have now separate options in the CRDs for liveness probe and readiness probe. I think this could be closed. Feel free to reopen it if you think we are still missing something.

[2018-08-26 22:39] #253 closed

[2018-08-26 22:40] scholzj commented on #36
This should be now all implemented. I will close this issue.

[2018-08-26 22:40] #36 closed

[2018-08-26 22:42] scholzj commented on #244
@ron1 I'm sorry, we didn't got to implement this. But we have now the [user operator](http://strimzi.io/docs/master/full.html#assembly-using-the-user-operator-str) which should cover the same areas although using the SASL SCRAM-SHA implementation instead of SASL PLAIN. Do you think this is still needed? Or can we close this as _resolved by the User Operator_?

[2018-08-27 12:53] #800 closed

[2018-08-27 15:00] ron1 commented on #244
I agree that SASL SCRAM-SHA support in the user operator satisfies the requirement. When is SASL SCRAM-SHA support expected to hit the master branch?

[2018-08-27 15:16] scholzj commented on #244
We have the PRs already opened (#755 and #795 ). The last things to finish there it polish some tests and merge it. So I think it will get to master this week.

[2018-08-27 22:54] amreshakim opened #810 "Allow adding custom labels to kafka and zookeeper pod templates"
Currently, the only way to add custom labels to kafka and zookeeper pods is via kafka CRD.

However, these labels would be inherited by all resources. In some cases (e.g., Istio, Cilium), it is desirable or even required to add specific custom labels to pods based on the service these pods belong to.

For example, something like this:

[code]

[2018-08-28 05:51] Mikedu1988 opened #812 "How to expose kafka to outside world"
Hi,
I recently deployed strimzi-0.5.0 in openshift-origin-3.10.
And I cant expose kafka to outside world.
I've tried LoadBalancer, and no luck

Any help is appreciated.

[2018-08-28 06:50] scholzj commented on #812
I'm afraid that this is not yet supported - see #128. I hope to have some time to work on this during September.

[2018-08-29 01:52] Mikedu1988 commented on #812
Ok, then I'm closing this. wait for your good news

[2018-08-29 01:52] #812 closed

[2018-08-29 07:47] dmuntima commented on #770
This issue is now fixed (PR #780).

[2018-08-29 07:47] #770 closed

[2018-08-29 07:50] scholzj opened #814 "Reloading metrics "on the fly""
It should be possible to reload metrics configuration on the fly without rolling update. AFAIK the JMX-Prometheus exporter is able to reload the configuration from disk. So it should be enough to change it in the config map. Rolling update should not be needed.

[2018-08-29 11:47] dmuntima commented on #791
Fixed this issue: https://github.com/strimzi/strimzi-kafka-operator/pull/815

[2018-08-29 11:47] #791 closed

[2018-08-30 13:27] jrefi opened #817 "Add ability to add annotations to deployed resources"
First of all, thank you for this project. It is exactly what I have been searching for.

In order to fully integrate Strimzi into our cluster, we need the ability to append custom annotations to deployed resources.

Some use cases include:
- Adding annotation to service to enable external dns.
- Adding annotation to KafkaConnect deployment to allow kiam roles.

I am interested in contributing to t

[2018-08-30 16:35] tombentley opened #819 "Mount TLS keys not world readable"
The TLS keys are world-readable:

[code]

This seems to be the cause of these warnings in the logs:

[code]

It is possible to specify the `defaultMode` on the SecretVolume to avoid this.

[2018-08-31 08:41] scholzj opened #821 "Use Owner References to track objects related to the cluster"
We should use [Owner References](https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/) to track the ownership link between the CRs and the resources belonging to a cluster.

[2018-08-31 21:39] scholzj commented on #817
@strimzi/developers I think we have two similar and related requests for adding metadata to the resources we create. This one for annotations and #810 for labels. We had also similar discussion in relation to Istio. We should probably think about the best way to fit this into the CRDs so that we don't have to change it later.

[2018-08-31 21:45] scholzj commented on #817
@jrefi I think this is a reasonable request which we had already few times in some discussions.

The kiam annotation sounds reasonable - this is actually one of the problems we have been thinking about as well ... how to pass things such as AWS credentials securely.

I'm a bit curious what is your plan for annotation. Exposing Kafka outside of Kubernetes is currently not supported (see #128 for mo

[2018-09-02 15:13] ppatierno commented on #817
My 2 cents...not ad CRD guru...
I don't have a different solution right now and I have to think about that but with this proposal I think that we are exposing Kubernetes concepts too much: StatefulSets, Pods, Services and so on.
Having a Kafka resource means hiding "implementation" details to me where "implementation" details means what kind of Kubernetes native resources we are using. Of corse, t

[2018-09-02 16:28] tombentley commented on #817
Since the StatefulSets, Services and Pods are there for all to see, there's very little hiding that can be done. And the fact is that to handle these use cases we need to end up with labels & annotations on Pods and Services, so it seems to me that this has to be expressed in the CR somehow and the only question then is how to do that.

Are there any use cases which require labelling the StatefulS

[2018-09-02 17:38] scholzj commented on #817
That would be fine for me.

Might be. But I think especially resources should be something everyone configures. It is not a niche option for few use cases. So this would make it more hidden and complicated to configure. It would also mean compatibility change.

I'm not sure I heard anything. But if we do it we can do it all.

[2018-09-02 22:59] jrefi commented on #817
@scholzj Yeah I discovered that limitation about exposing Kafka after I put the issue in. I might still want to expose other components of the cluster though, specifically KafkaConnect. Our K8 cluster requires annotations on services for our Ingress controller to correctly configure everything.

[2018-09-03 09:42] tombentley opened #825 "KafkaPrincipal names vs KafkaUser names and ACLs"
Following on from [this conversation](https://github.com/strimzi/strimzi-kafka-operator/pull/795#issuecomment-415151013) we need to decide what to do about ACLs if a `KafkaUser` gets changed from SCRAM-SHA to TLS or vice versa.

Currently a `KafkaUser` setup for TLS authn gets a `KafkaPrincipal` named like `CN=jakub`, whereas one setup for SCRAM-SHA authn get named like `jakub`. This means that th

[2018-09-03 14:00] ppatierno opened #826 "Add health checks for TLS sidecars"
All the TLS sidecars for Kafka, Zookeeper, Entity Operator and so on don't have health checks (liveness and readiness probes).
We should add a socket check for that.

[2018-09-03 15:21] grecuionut opened #827 "Operator service account requires permissions to create/delete ClusterRoleBindings"
Hi all,

In the current version, the Operator service account requires permissions to create/delete/update ClusterRoleBindings. The `strimzi-cluster-operator` cluster role includes the above permissions along side others.

This raises security concerns, because the service account the Operator is running as, can modify/delete existing ClusterRoleBindings (including the system ones).

Is it possibl

[2018-09-03 16:15] scholzj commented on #827
I actually just opened a PR which does some of this - #828. However, I'm afraid that we cannot get rid of the `ClusterRoleBindings` completely. We need access to the nodes for the Kafka rack awareness feature. And because the nodes are cluster-wide resource, it needs `ClusterRoleBinding` to grant the access. And therefore we need to keep the possibility to create the `ClusterRoleBindings`.

We mig

[2018-09-04 10:15] grecuionut commented on #827
That's great. Do you have an estimated date for the 0.7.0 release?

[2018-09-04 12:05] scholzj commented on #827
To be honest, there is not so much new features so far. Do you want a new release because of the RBAC changes? If that is the reason, you can also have a look at [this branch](https://github.com/strimzi/strimzi-kafka-operator/tree/role-bindings-instead-of-cluster-bindings/examples/install/cluster-operator), where the change from the PR #828 is also available for the 0.6.0 release RBACs.

[2018-09-07 08:17] scholzj opened #840 "Regenerate certificates when external addresses change"
When the external addresses change / are added, we should regenerate the broker certificates to make sure they will still work.

[2018-09-07 09:13] #827 closed

[2018-09-08 16:25] ron1 opened #844 "Integrate with Service Catalog provisioning and binding"
Service Catalog should be able to provision/deprovision Strimzi Kafka Operator. Also, consider integrating User Operator-based user management with Service Catalog binding. Would it make sense to start with a helm2bundle-based Strimzi APB?

[2018-09-09 20:52] scholzj commented on #844
TBH, I do not think this is currently high on our TODO list. I do not think the service broker really fits that well currently with the operator concept. What advantages would you expect from it?

There is already an existing version of  a Strimzi APB - [](https://github.com/matzew/strimzi-apb). But I'm not sure how up to date it is. I think it also doesn't support binding of users or topics to ap

[2018-09-10 01:44] cameronbraid opened #847 "Please add support for annotating the kafka/zookeper sets from configuration"
My use case is that I configure prometheus to scrape all pods using a path name based on an annotation like the following :

[code]

Therefore it would be nice it the kafka/zookeeper resource definitions provided an annotations configuration option

[2018-09-10 01:50] ron1 commented on #844
At a minimum, I'm looking for a standard way to provision the Strimzi Operator just like I provision other services. I prefer to use the Service Catalog for this purpose rather than Helm/Tiller or pre-processing templates with sed commands. The Service Catalog provides a nice UX to locate available services, provision those services, and capture service provisioning parameters. I think the instruc

[2018-09-10 08:08] scholzj commented on #844
Ok, thanks for your explanation. I appreciate it. Lets keep this open and see when we get to it.

[2018-09-10 08:10] scholzj commented on #847
I think we currently support these annotations on services. So you can configure your Prometheus to scrape the services based on these annotations. There is also an existing issue #817 which should allow you to add custom annotations or labels to most of our resources. I think that should help in the future as well.

[2018-09-10 13:07] stanlyDoge opened #848 "Example for the Prometheus does not work"
Steps described [here](http://strimzi.io/docs/master/#prometheus) do not lead to successful data scrapping.

[2018-09-10 13:11] ppatierno commented on #848
Because it worked in the past it could be interesting to know what is changed and how to update the doc.

[2018-09-10 14:13] jihed opened #851 "Pods failed to start. version 0.6.0"
Hello team,

I am trying to deploy the kafka operator on OCP over GCP using persistent template.
Pair of kafka/zk keep crashing and rebooting. It complains that the pv was not mount.

oc describe pod my-cluster-kafka-2
 3h            1m              100     kubelet, ocp-app-0                      Warning         FailedMount             Unable to mount volumes for pod "my-cluster-kafka-2_strimzi-06

[2018-09-10 14:37] scholzj commented on #851
This sounds more like some OCP or GCP issue TBH. From the event it sounds like OpenShift doesn't start the pod because the volume is not mounted. The mounting of the volumes is fully up to OpenShift and GCP. We just use the OpenShift resources to tell them what we want.

Could you try to reboot the node?

[2018-09-10 14:51] jihed commented on #851
It's the same behavior evern with rebooting the node.
GCP created the disk and attached to the node where the pod is runnig.
OCP bond the pvc/pv and I see the pv is available inside the pod.

[2018-09-10 17:39] sneko opened #852 "Helm chart parameter to custom the watched namespaces"
Hi!

I noticed in the new Helm Chart that there is no possibility to custom the STRIMZI_NAMESPACE environment variable:
https://github.com/strimzi/strimzi-kafka-operator/blob/master/helm-charts/strimzi-kafka-operator/templates/050-Deployment-strimzi-cluster-operator.yaml#L27

I think it could be really useful. For example, in my case I don't put my Kafka clusters in the same namespace than the ope

[2018-09-11 07:20] matzew opened #853 "release artifacts"
The release artifacts contain `strimzi-0.6.0.tar.gz`, which includes _everything_, like install templates and or samples (e.g. for `kind: KafkaTopic` CR).

There is also a `strimzi-kafka-operator-0.6.0.tgz` which contains _only_ install files for the kafka-operator itself.

I am wondering if there should be two more artifacts, in the release section on GH:
* `strimzi-topic-operator-0.6.0.tgz`
* `s

[2018-09-11 07:26] scholzj commented on #853
The naming is probably unfortunate. But `strimzi-kafka-operator-0.6.0.tgz` isn't the install for cluster operator from `strimzi-0.6.0.tar.gz`. It is the Helm Chart for installing Strimzi using Helm. We currently don't have Helm Charts for user or topic operators. We should probably name the artifact better for next release, such as `strimzi-helm-chart-0.7.0.tgz` or something like that.

[2018-09-11 08:29] matzew commented on #853
were are you creating the release artifacts ? happy to send a PR for this, @scholzj :smile:

[2018-09-11 08:41] scholzj commented on #853
I think the archive name actually comes from the Helm tool it self. We should probably rename it in the [Makefile in the `helm_pkg` task](https://github.com/strimzi/strimzi-kafka-operator/blob/4def3422fdbe586ab6c6ae1d53337e0120c5b31e/Makefile#L54).

PR is of course always welcomed. :-) But I can also easily fix it when doing the next release.

[2018-09-15 15:09] #821 closed

[2018-09-17 13:04] #128 closed

[2018-09-18 06:28] ron1 commented on #844
Note that Service Catalog PodPresetBindings are under development here: https://github.com/jpeeler/podpresetbinding-crd. The goal for PodPresetBindings CRD ..."is to provide an easy method for synchronizing a given deployment with binding credentials that are eventually made ready by service-catalog." ..."The reconcile loop in this repository is responsible for handling creation and updates of pod

[2018-09-18 11:51] Tombar opened #870 "Kafka brokers certificates doesn't have the alternative name $serviceName.$namespace"
(although i still need to test it with 0.7.0), when trying to connect from one NS with Kafka connect to another NS (cp-bkit-qb-kafka-cluster) running Kafka, I’m having the following TLS cert error

[code]

Looks like the CERT created doesn't have the alternative name $serviceName.$namepsace

Can you confirm this is the case?  I would try this again with 0.7.0-rc1 just in case it changed

Regards

[2018-09-18 13:17] ppatierno opened #872 "Kafka resource not rejected if "type" for "external" listener is missing"
Trying to deploy a Kafka cluster which is exposed outside but without specifying the `type` of `external` listener, I got this exception :

[code]

Discussing with @tombentley , the api server should reject a Kafka resource without the `type` for the `external` listener but it turned out that while `@JsonTypeInfo` => required, there's also an explicit `@JsonIgnore`. We should try to remove that fi

[2018-09-18 16:02] ppatierno opened #873 "Hostname verification doesn't work with IP address"
While testing the Kafka cluster external access using `loadbalancer` on AKS, it turned out that the hostname verification doesn't work with IP addresses (as for the current status).
The AKS load balancer doesn't have an assigned hostname but an IP address which is used on the client side for connecting to the Kafka cluster.
In this case, the hostname verification fails.
It's due to the wrong way w

[2018-09-19 05:54] #870 closed

[2018-09-19 10:34] laidan6000 opened #874 "DCG: Python included in list of dependencies for contributing to Strimzi docs"
In the [Strimzi Documentation Contributor Guide](http://strimzi.io/contributing/guide/#dependencies), in the Dependencies section, Phython is incorrectly listed as a dependency for contributing to the Strimzi docs.

We should add Ruby as a dependency because it's required to install Asciidoctor. We could add a link to the Asciidoctor user manual for the supported versions - https://asciidoctor.org

[2018-09-19 11:56] matzew opened #875 "release API JAR to Maven Central"
The `strimzi-api` JAR contains useful classes like:

* https://github.com/strimzi/strimzi-kafka-operator/blob/29fe7a9b3dc97c592786a817694790bce5d8e98f/api/src/main/java/io/strimzi/api/kafka/model/KafkaTopic.java

those could be used by other projects, e.g. for generating resources, without duplicating code.

Would be nice to seem them on maven central

[2018-09-19 17:37] seglo opened #876 "Flexible JVM heap memory setting when running pods without limits"
When a cgroup limit (pod spec resource request/limit) isn't defined in the `Kafka` resource for Kafka and ZooKeeper the cluster operator and `dynamic-resources.sh` script in the `kafka-base` docker image will attempt to calculate the appropriate settings for `-Xms` and `-Xmx` so that it uses some fraction of the total memory available to the container.  The formula to calculate the setting is `max

[2018-09-19 17:37] seglo commented on #876
You can assign this task to me to investigate.

[2018-09-20 11:39] ppietruch commented on #875
We need it as well in our project. I'd be great to get it from Maven central instead of from our private repo.

[2018-09-20 13:27] matzew commented on #875
Sonatype it is, I can follow up w/ a JIRA there, for getting the
`io.strimzi` group-id

On Thu, Sep 20, 2018 at 3:25 PM Jakub Scholz <notifications@github.com>
wrote:

--
Matthias Wessendorf

github: https://github.com/matzew
twitter: http://twitter.com/mwessendorf

[2018-09-20 17:47] cameronbraid opened #878 "how to gracefully shutdown a node"
I had to restart a node and used the typical openshift procedure - mark node unschedulable, drain and reboot.

The kafka-kafka-1 pod remained after doing the drain operation, so I deleted it, assuming that it would trap the term signal and gracefully shutdown.

However the kafka pod came back with the following error logs

[code]

The data loss is not a problem this time, however I would like to k

[2018-09-20 17:50] cameronbraid commented on #878
I looked in the logs immediately after deleting it and I get the following
[code]

Is there something mis-configured ?

[2018-09-20 18:30] scholzj commented on #878
What is your configuration? How many Zookeeper nodes do you have? AFAIK SIGTERM is the usual way how Kafka stops it self (see [kafka-server-stop.sh](https://github.com/apache/kafka/blob/trunk/bin/kafka-server-stop.sh)). The problem from your log seems to be that the broker lost connection to Zoo and that caused that it didn't shutdown properly. I'm not on 100% sure whether this is even a bug - bec

[2018-09-20 20:46] Tombar opened #879 "Topic and User Operators can currently watch only a single namespace"
Moving our slack talk into an issue, for more context (https://strimzi.slack.com/archives/CBNKX522Z/p1537231193000100)

@scholzj:

The problem I see with this is, strimzi operator can watch over multiple NS and create KafkaClusters or KafkaConnect in them, this is great :slightly_smiling_face:  but when trying to use this combined with authZ & authN in this scenario all secrets are created in the

[2018-09-21 03:30] cameronbraid commented on #878
Running on Openshift Origin  3.,7

Pretry straight forward, using local-provisioned ssd storage
*  3 Zookeeper replicas one on node01, one on node02 and one on node03
* 3 Kafka replicas one on node01, and one onnode02 and and one onnode03

[code]

[2018-09-21 07:10] scholzj commented on #878
Hmm, I guess the problem might not be Zookeeper it self but the TLS sidecar whcih maybe shutdown before Kafka. I will have a look if we can do something about it.

[2018-09-21 08:00] matzew opened #882 "Update to latest k8s/openshift client and k8s model"
Hi,

I noticed that currently some older versions of the following APIs are used:
https://github.com/strimzi/strimzi-kafka-operator/blob/master/pom.xml#L28-L30

While `k8s-client` and `openshift-clients` are on different `3.1.x` versions, the model is on an older `2.0.4` version.

The _latest_ for the clients is `4.0.4` and for the model is `3.0.3`.

I wonder if it is worth trying to update those?

[2018-09-21 08:32] cameronbraid commented on #878
Yeah, good point about the TLS sidecar, that could be a likely cause.

One thing that I don't understand, that since only 1 kafka pod shutdown, there are two others, and the replication factor for all my topics is 3, wouldn't the same data be committed on the other 2 nodes so there should not have been any data loss (apart from any un-acked writes), even if it was kill-9-ed

[2018-09-21 08:35] cameronbraid commented on #878
For example one topic went from 1g on (according to kafka_server_brokertopicmetrics_bytesin_total) to 670mb

[2018-09-21 08:40] scholzj commented on #878
So, to be honest, I do not think the message about rebuilding the index on its own necessarily means a data loss. I think it more or less only means that the index file was not closed cleanly and it will be rebuilt.

The replication factor 3 will not guarantee no data lost on its own. To make sure there is no data loss, you need to make sure that:
* You always have at least 2 in-sync replicas (`mi

[2018-09-21 08:48] cameronbraid commented on #878
Thanks for your quick reply and that all makes sense.  I appreciate the help and clarification.

[2018-09-21 09:46] scholzj commented on #817
This would require us to have a separate objects for ZK and Kafka ... as ZK has no bootstrap and brokers service. Are we fine with it?

[2018-09-21 09:55] tombentley commented on #817
Yes, I'm fine with that. I wish this wasn't quite so verbose though, but I can't think of anything better.

[2018-09-21 10:08] #814 closed

[2018-09-21 11:02] stanlyDoge commented on #819
https://github.com/strimzi/strimzi-kafka-operator/pull/884

[2018-09-21 12:09] seglo commented on #689
I was scanning PR's and noticed this work already got picked up, great! Feel free to re-assign this task to @stanlyDoge #862

[2018-09-21 12:14] ppatierno commented on #689
@seglo yeah sorry for that, me and @stanlyDoge are already working on that.

[2018-09-21 12:18] seglo commented on #689
Totally fine! 😁

[2018-09-26 12:13] #876 closed

[2018-09-27 04:44] ron1 commented on #844
An alternative way to use the Service Catalog with Strimzi embraces your suggestion that "...I do not think the service broker really fits that well currently with the operator concept." Here, the Service Catalog "provision" action would simply deploy the strimzi-kafka-operator, duplicating the exact same functionality as provided by the existing helm-chart install. The ServiceInstance would be as

[2018-09-27 11:57] serrss opened #903 "The certificate generator script must fail if there are no certificates"
Certificate generator should be failed and it should not start operators If there are no certificates.

`2018-09-27 11:36:26 INFO  Main:42 - UserOperator is starting`
`Exception in thread "main" io.strimzi.operator.common.InvalidConfigurationException: STRIMZI_CA_NAME cannot be null`
`at io.strimzi.operator.user.UserOperatorConfig.fromMap(UserOperatorConfig.java:99)         at io.strimzi.operator.

[2018-09-28 10:07] tombentley opened #909 "Don't delete user defined secrets"
When the user configures the CAs to not use generated certs those secrets should then be considered owned by the user. In particular, we should not apply the owner reference to them so that they are not deleted when the CR is deleted.

Don't forget to update the docs for deleting the CR to tell the user that they might also want to delete these secrets.

[2018-09-28 15:19] donovanmuller opened #912 "Zookeeper Pod being killed, getting 'fsGroup: Invalid value'"
On a local minishift instance with OKD 3.10 I can successfully bring up a cluster using `0.7.0` release. However, after the Zookeeper Pod dies for whatever reason, I'm getting the following events for the StatefulSet when trying to scale the Zookeeper StatefulSet back up:

[code]

![screen shot 2018-09-28 at 16 54 12](https://user-images.githubusercontent.com/1175891/46217768-2f625a00-c343-11e8-91

[2018-09-28 15:35] donovanmuller commented on #912
The only way to get the cluster back into a health state is to delete the cluster as well as the pvc's and then recreating:

[code]

[2018-09-29 11:04] scholzj commented on #912
You mean that you can deploy the cluster and it works fine as long as the pods are running. But once you stop the pod, you run into this issue? Can you share the exact Minishift version on which it happens?

[2018-09-30 15:08] scholzj commented on #848
@ppatierno @stanlyDoge Shouldn't this be fixed now?

[2018-09-30 15:09] #853 closed

[2018-09-30 15:10] scholzj commented on #852
This should be addressed by the PR #868. I will close this issue. If you think there is still some problem, feel free to reopen or open new issue.

[2018-09-30 15:10] #852 closed

[2018-09-30 15:10] #848 closed

[2018-09-30 15:12] #244 closed

[2018-09-30 15:12] scholzj commented on #762
Addressed in #908 ?

[2018-09-30 17:49] seglo commented on #476
@scholzj can you assign this and #348 to me?  I'm troubleshooting this issue now.

[2018-09-30 19:15] scholzj commented on #476
@seglo Sorry, I don't think I can assign you issues which you haven't opened. Or at least I don't know how. :-( I guess just write into the comments that you are working on it. I don't think anyone looked at it so far.

[2018-09-30 20:09] jimmyjones2 opened #916 "limits documentation incorrect?"
In section 3.2.6:

Unless I've misunderstanding something, the Kubernetes docs say that setting a limit equal to the requests results in a guaranteed QoS. Additionally setting a limit but no requests automatically sets the requests to the limit, hence guaranteed QoS.

Doesn't this make the docs above incorrect, plus shouldn't people be running Kafka with a guaranteed QoS to avoid instability?

[2018-10-01 05:43] donovanmuller commented on #912
[code]

It seems to happen more if one of the Zookeeper Pods gets deleted or when starting the minishift VM again after stopping. Unfortunately this is not 100% reproducible everytime...

[2018-10-01 07:32] tombentley commented on #762
In theory, yes. But maybe @serrss or @asorokhtey can close this when they've tested #908.

[2018-10-01 14:45] seglo commented on #476
@scholzj Ok, no problem.

FYI @ppatierno

[2018-10-01 14:46] seglo commented on #348
I'm working on this case and #476

[2018-10-01 18:27] donovanmuller commented on #912
Just happened again, macOS unexpectedly shutdown and on restart and starting minishift again, now have the same error.

[2018-10-02 06:44] himmatb opened #920 "External client connectivity with Kafka amq running on Openshift"
Hi Team,

I am facing issue regarding connectivity with Redhat amq kafka connectivity from external client using Nodeport service type.

Strimzi Version : strimzi-0.7.0
openshift Version : 3.9

Below Configuration changes done for enabling NodePort in configuration:
kafka_strimzi-0.7.0/strimzi-0.7.0/examples/kafka/kafka-ephemeral.yaml

spec:
  kafka:
    replicas: 1
    listeners:
      plain: {}

[2018-10-02 15:03] #689 closed

[2018-10-02 19:35] christian-posta opened #925 "We should clarify the installation of topic and user operator"
It's not clear based on the getting started documentation whether to install the topic and user operator. Right now, it takes up quite a big chunk of the Table of Contents but in reality it sounds like those operators are really geared toward operating an existing and possibly external Kafka cluster. We should move that to a section specifically identified as "operating an external cluster".

[2018-10-02 22:53] gnunn1 opened #926 "Prometheus showing "context deadline exceeded""
A bit of a weird issue and I'm not sure what the problem is. I am running Strimzi 0.70 in an OpenShift 3.10 environment running on AWS (1 master, 3 app nodes). When I first deployed strimzi along with Prometheus, following the instructions in the Strimzi documentation, it all worked fine and is able to pull metrics. When I stop the cluster in AWS by stopping the VMs and then restarting the metrics

[2018-10-03 02:32] gnunn1 commented on #926
I notice this may be due to a documentation issue. The section at the end that details how to install Prometheus uses a reference to the master rather then release-0.7.x. Making that change and redeploying prometheus I can see there is a different scrape being used, namely kubernetes-pods instead of kubernetes-services.

I will re-open if this continues to be an issue.

[2018-10-03 02:32] #926 closed

[2018-10-03 10:27] #873 closed

[2018-10-03 11:11] tombentley opened #928 "Include example fragments in doc for "CO deploys (TO|UO)""
In the documentation [here](http://strimzi.io/docs/0.7.0/#deploying-the-topic-operator-using-the-cluster-operator-str) and similarly for the UO case, we should include an example fragment of the `Kafka` resource rather than just referring by the path `Kafka.spec.entityOperator.topicOperator` to what the `Kafka` resource needs to include for it to deploy the TO/UO.

[2018-10-03 14:56] sharafcmr opened #929 "Include vault integration for cert generation by the cluster operator"
Should be able to retrieve or generate certs from vault rather then using self signed certificates for Kafka client. Can we utilise PKI secrets engine from vault for cert management

[2018-10-04 11:45] serrss opened #932 "Print logs from resources if test was failed"
`Resources` or StrimziRunner need to print logs in the console if some of the tests were failed.

[2018-10-04 13:49] kyguy opened #933 "Ability to mount secrets into Kafka Connect"
Kafka Connect needs the ability to mount secrets ( containing the proper certificates) in order to communicate with encrypted services.

[2018-10-04 16:12] ppatierno opened #934 "Mirror Maker doesn't support user provided configuration"
The current `KafkaMirrorMakerCluster` doesn't handle the user provided configuration. It's exposed in the related CRD as `KafkaMirrorMaker.spec.consumer.config` and `KafkaMirrorMaker.spec.producer.config` and the Mirror Maker has env vars for that. What's missing is the `KafkaMirrorMakerCluster` getting the configs and filling the env var.

[2018-10-04 16:30] matzew opened #935 "Strimzi release yaml file"
It would be handy if the `strimzi-x.y.z.tar.gz` file would contain a release yaml file. and also that we have a hosted version online.

Currently the cluster-operator, for instance, is installed by applying a bunch (17?) of yaml files:
https://github.com/strimzi/strimzi-kafka-operator/tree/master/examples/install/cluster-operator

While this is handy for development, keeping them separate, it migh

[2018-10-04 19:32] scholzj commented on #935
I think having multiple files is handy also for most installations. It makes is much more transparent what do you actually install. And it also makes it easy to install only some part of it for example for watching multiple namespaces.

But there is probably nothing what would prevent us from offering both.

[2018-10-05 11:29] #934 closed

[2018-10-05 15:45] ppatierno opened #940 "Add documentation for resources short names"
There are short names defined for resources (i.e. `k` for `Kafka`, `kc` for `KafkaConnect`, `kt` for `KafkaTopic` and so on).
We should add documentation for that, maybe as an appendix.

[2018-10-06 22:10] scholzj commented on #935
@matzew I opened a PR for this. I do not think we need to add it to the release archive. But we should upload the files to the GitHub releases so that you can download them and link to them if needed. Feel free to review if you want.

[2018-10-08 07:48] matzew commented on #935
Thanks! I will give it a look

[2018-10-08 12:12] #935 closed

[2018-10-09 07:53] scholzj commented on #920
Judging by the `EOFError` ... I wonder if you configured TLS in Fluentd. In 0.7.0, all the external connections are always encrypted with TLS. In master and upcomming 0.8.0 it will be possible to use nodeports or loadbalancers also without TLS (Routes will keep using TLS to mask the TCP traffic as HTTPS :-o).

[2018-10-09 13:42] gunnarmorling opened #951 "Link to example Grafana dashboard is broken"
In http://strimzi.io/docs/0.7.0/#grafana_dashboard, there's a link to https://github.com/strimzi/strimzi-kafka-operator/blob/master/metrics/examples/grafana/kafka-dashboard.json. But this file doesn't exist. Which one should it be instead?

I tried https://github.com/strimzi/strimzi-kafka-operator/blob/master/metrics/examples/grafana/strimzi-kafka.json, but this gives me an empty dashboard (OpenSh

[2018-10-09 13:47] scholzj commented on #951
Unfortunately it seems that the dashboard links are currently not versioned. You can find the old dashboard here: [https://github.com/strimzi/strimzi-kafka-operator/blob/0.7.0/metrics/examples/grafana/kafka-dashboard.json](https://github.com/strimzi/strimzi-kafka-operator/blob/0.7.0/metrics/examples/grafana/kafka-dashboard.json).

The new dashboard is IMHO much nicer - it should be paired with the

[2018-10-09 13:52] seglo commented on #951
@scholzj Correct!

[2018-10-09 14:02] gunnarmorling commented on #951
Copy where exactly? Is this to say that the instructions from master (http://strimzi.io/docs/master/#grafana_dashboard) work with 0.7.0, too? And yes, the new dashboard looks very nice indeed!

[2018-10-09 14:07] gunnarmorling commented on #951
Btw. in http://strimzi.io/docs/master/#grafana_dashboard (i.e. master) there's also a broken link to https://raw.githubusercontent.com/strimzi/strimzi-kafka-operator/latest/metrics/examples/kafka/kafka-metrics.yaml (section D1).

[2018-10-09 14:15] gunnarmorling commented on #951
Hum hum, so I've imported the 0.7.0 dashboard into Grafana, but all I'm getting is "No data points" for all the metrics. Any idea what could be going on? That said, I'd love to try out the new dashboard, so if you have instructions handy for explaining how this can be used with 0.7.0, that'd be great. Thanks for all your help!

[2018-10-09 14:29] seglo commented on #951
@gunnarmorling Have you set the variables at the top?  You need to define at least a namespace and strimzi cluster name.

[2018-10-09 14:43] gunnarmorling commented on #951
Hey, sorry, I'm lacking some context here :( "At the top" where? Within Grafana? I've been following the steps from the 0.7.0 docs.

Sounds reasonable; where do I need to do this, though?

[2018-10-09 14:48] seglo commented on #951
Once you load the dashboard in Grafana you'll see 5 dropdowns at the top.  The first two are for Namespace and Cluster Name respectively.

http://strimzi.io/docs/master/#kafka_dashboard

[2018-10-09 14:59] gunnarmorling commented on #951
Is this with the new dashboard by any chance? Note I'm trying to import the existing one from 0.7.0. Here's what I'm seeing, no dropdowns there:

<img width="1375" alt="screen shot 2018-10-09 at 16 58 29" src="https://user-images.githubusercontent.com/28612/46678308-a79f0a00-cbe4-11e8-8d47-526af0115486.png">

[2018-10-09 15:01] seglo commented on #951
No, those are the old dashboards.  The new dashboards have not been released yet and are only available in master.  If you follow the instructions using the Strimzi master documentation then it _should_ work.

http://strimzi.io/docs/master/#metrics-str

[2018-10-09 15:05] gunnarmorling commented on #951
Sorry, we might be cross-talking. For now I'd be fine using the old dashboard, so to not rely on unused features. Hence I'm following the instructions from http://strimzi.io/docs/0.7.0/#grafana_dashboard, but I don't see any data points in there. Looking at the master docs I see now that you're talking about the new dashboard. I _could_ try out that, too, but it's not clear to me whether/how that

[2018-10-09 15:09] seglo commented on #951
Ah I see.  The new dashboards will have no problem working with Strimzi 0.7.0.

But in any case, the usual reason for not seeing data points in Grafana is that the metrics aren't available to Prometheus, or your Grafana to Prometheus datasource isn't setup correctly.  Another issue could be that Prometheus JVM Exporter rules haven't been defined and metrics aren't being served to Grafana.  Can you

[2018-10-09 15:16] gunnarmorling commented on #951
Good question :) How would I do that? If it's not part of the description of http://strimzi.io/docs/0.7.0/#metrics-str, I likely haven't done it :)

Sure:

[code]

It's the result of `oc apply -f examples/kafka/kafka-ephemeral.yaml`.

[2018-10-09 15:50] seglo commented on #951
It looks like you have rules defined (`spec.metrics.rules`).  AFAIK those are compatible with the old Grafana dashboard.

As a next step I would confirm that prometheus is picking up Kafka metrics.  Create a `port-forward` to the Prometheus pod, goto the `/graph` endpoint.  If you start typing `kafka_server_` you should start seeing metrics in the drop down.  If you don't, then for some reason Pro

[2018-10-10 00:50] Tombar commented on #933
Hello, if the strimzi kafka connect cluster can support this https://docs.confluent.io/current/connect/security.html#externalizing-secrets

what would be needed is to only support mounting config map as secrets into the created clusters

[2018-10-10 03:20] ron1 opened #954 "Kafka User Resource document (section 6.8) should describe SCRAM-SHA authentication"
Kafka User Resource currently states "... the only supported authentication mechanism is the TLS Client Authentication mechanism." This section needs to be updated to also describe SCRAM-SHA authentication and provide examples of KafkaUser with enabled SCRAM-SHA authentication.

[2018-10-10 06:07] #840 closed

[2018-10-10 12:29] #954 closed

[2018-10-10 13:21] ron1 opened #958 "KafkaUser SCRAM-SHA-512 Secret should also contain ca.crt needed for TLS encryption"
The KafkaUser SCRAM-SHA-512 Secret should also contain the Public key of the Clients CA, i.e., the ca.crt. The client needs the ca.crt in order to establish an encrypted TLS connection with the server.

[2018-10-10 13:35] scholzj commented on #958
The ca.crt in the user secrets if from the Clients CA. It cannot be used to authenticate the server. For that you need to use the ca.crt from the `_cluster-name_-cluster-ca-cert` secret.

[2018-10-10 13:54] ppatierno opened #959 "Wrong leveloffset for Security chapter"
The Security chapter seems to have a wrong leveloffset because it doesn't show the chapter number 7, instead it's showed by the next one (Certificates).

[2018-10-10 15:30] #959 closed

[2018-10-10 19:24] scholzj opened #965 "User Operator doesn't scale"
The User Operator doesn't scale when used with amount of users. It tries to start multiple processes and starts running out of memory. It should be probably changed to avoid starting new JVM processes to manage the SCRAM users.

[code]

[2018-10-10 19:27] #872 closed

[2018-10-11 07:57] #825 closed

[2018-10-11 09:28] #819 closed

[2018-10-11 11:23] gunnarmorling opened #968 "Incorrect URL reported when creating Kafka Connect resource via S2I"
[code]

All is good, only in the output it says:

The URL should be debezium-connect-api:8083 instead.

[2018-10-11 12:42] #968 closed

[2018-10-11 14:59] Ihjaz opened #971 "Creating Kafka topic with standalone Topic Operator"
Hi,

What should be the label used when creating a kafka topic with standalone Topic Operator?

If I use the name of my kubernetes cluster which is not created using Cluster Operator then topic operator is not picking it up.

[code]
I saw that the label used for topics created outside the operator is "strimzi.io/kind: topic".
If I use the label as "strimzi.io/kind: topic" then topic operator is ge

[2018-10-11 20:30] scholzj commented on #971
Hi,

You should be able to set the labels using the environment variable `STRIMZI_RESOURCE_LABELS` where you can specify the labels which should be used on the KafkaTopic resource to be picked up. I would expect that by default it should be empty.

Sadly, it seems that the deployment configuration is not up-to-date and has still the old variable `STRIMZI_CONFIGMAP_LABELS` which should not work in

[2018-10-11 21:25] scholzj opened #972 "User Operator shouldn't print SASL passwords in its logs"
It seems that the User operator is currently printing SASL passwords into its log:

[code]

We should mask the passwords in the log output.

[2018-10-11 22:14] tombentley opened #974 "Fix TO Deployment and default for STRIMZI_RESOURCE_LABELS"
The TO has an out-dated default for `STRIMZI_RESOURCE_LABELS`. We also need to fix the example `Deployment` for it, since it's not setting the right env var.

[2018-10-11 22:15] tombentley commented on #971
On Thu, Oct 11, 2018 at 9:30 PM Jakub Scholz <notifications@github.com>
wrote:

The default seems to be strimzi.io/kind=topic, which really is a hang-over
from when this operator was consuming configmaps. We should fix that as
well as the deployment config. I've opened
https://github.com/strimzi/strimzi-kafka-operator/issues/974 for this.

I agree these restarts sound like a different problem.

[2018-10-11 23:10] #972 closed

[2018-10-12 06:48] gunnarmorling opened #977 "Put memory limitations in place in templates and sample resources"
We just noticed that Kafka uses lots of memory when following the 0.7.0 set-up instructions (applying the sample resource files). This is because no resource limitations are put in place in the default resources and templates. I think this should be changed so it just uses 1 G or perhaps even 512 MB by default. Otherwise it might be an unexpected surprise for many users starting with Strimzi. Also

[2018-10-12 10:33] Ihjaz commented on #971
Hi,

It seems like pod restarts were due to some connectivity issue between the nodes on my cluster. I'm not seeing it anymore.

Also please consider updating the document with a sample KafkaTopic definition with appropriate label that can be used with a standalone TopicOperator deployment.

[2018-10-13 09:52] stanlyDoge opened #983 "Mirror Maker template confinguration"
Mirror maker template should contain some more options. For example, the user may want to change the topic offset setting.

[2018-10-13 14:30] scholzj commented on #875
* The API jar for 0.8.0 should be now in Maven: https://search.maven.org/artifact/io.strimzi/api/0.8.0/jar
* The snaphsots JARs seem to be now deploying from master as well: https://oss.sonatype.org/content/repositories/snapshots/io/strimzi/api/0.9.0-SNAPSHOT/

So I think we can close this. Feel free to reopen it if you are still missing something or if you think something is wrong.

[2018-10-13 14:30] #875 closed

[2018-10-14 08:12] matzew opened #986 "strimzi-pom missing in maven central"
Hi,

when declaring:

[code]

in a build, its' missing the pom file:

[code]

[2018-10-14 16:17] #920 closed

[2018-10-15 05:50] Mikedu1988 opened #987 "Can't deploy to OKD 3.10"
I tried to deploy strimzi-0.7.0 to OKD 3.10, I followed the instruction to create kafla cluster from template, I got following exception:
Some resources will not be created.The following resource versions are not supported by the server: API version kafka.strimzi.io/v1alpha1 for kind kafka

![image](https://user-images.githubusercontent.com/24424690/46932212-3696a100-d081-11e8-962e-e7bf1f16b91b.pn

[2018-10-15 07:31] tombentley commented on #987
It appears that you didn't install the CRD resources, so when trying to create a custom resource OKD doesn't know about the definition. Did you successfully install _all_ the files in examples/install/cluster-operator before you encountered this problem?

[2018-10-15 15:14] Ihjaz opened #990 "Creating KafkaTopic with replication factor more than available brokers"
Hi,

If I create a kafkatopic with replicas as 3 while I have only one kafka broker then the topic-operator pod keeps restarting with the below error:

[code]
I was expecting the kafkatopic creation command to fail saying "replica is more than the number of brokers" but the command is going through and the pod is failing.

[2018-10-15 16:41] scholzj commented on #990
Well, the Topic Operator shouldn't be restarting.

However, the `kubectl create ...` command you use is actually talking only with Kubernetes. Not with the Topic Operator. So we cannot fail it. We would need to use aggregated API server for that which would be more complicated to setup etc.

[2018-10-16 15:42] davecaplinger commented on #544
@scholzj, @ppatierno - I have a similar issue - I added `KUBERNETES_TRUST_CERTIFICATES` to the cluster operator yaml (`install/cluster-operator/050-Deployment-strimzi-cluster-operator.yaml`) and was able to successfully start `examples/kafka/kafka-ephemeral.yaml`, but the cluster-entity-operator pod that results appears to be in CrashLoopBackOff because its containers do not have the `KUBERNETES_T

[2018-10-16 16:39] davecaplinger opened #993 "cluster-entity-operator does not inherit KUBERNETES_TRUST_CERTIFICATES env var"
Per the recommendation in #544 I added `KUBERNETES_TRUST_CERTIFICATES` to the cluster operator yaml (`install/cluster-operator/050-Deployment-strimzi-cluster-operator.yaml`) and was able to successfully start `examples/kafka/kafka-ephemeral.yaml`, but the cluster-entity-operator pod that results appears to be in CrashLoopBackOff because its containers do not have the `KUBERNETES_TRUST_CERTIFICATES

[2018-10-16 16:40] davecaplinger commented on #544
No problem, #993 opened.

[2018-10-16 17:03] scholzj commented on #544
Thanks a lot.

[2018-10-17 06:31] tombentley opened #995 "FAQ: Explain the permissions required for installation and runtime"
A number of people have wanted to know more detail about why the cluster operator appears to need cluster admin rights. We should write a FAQ entry for this.

[2018-10-17 07:42] #778 closed

[2018-10-18 08:34] tombentley opened #1001 "ZooKeeper rolling update should deal with unready pods"
Further to my comments on #969 I think there's an extra problem with how we're handling zookeeper rolling, based on what I've observed looking at Strimzi upgrading.

Even if the readiness is based on `stat` and looking for `leader`, `follower` (or `standalone`) in the output we can still break the cluster. The problem is that if there is a problem in the node that was restarted we wait for it to b

[2018-10-21 11:30] matzew opened #1007 "Quick install ?"
Hi,

do you think it's good to have a quick install, like:

[code]

this instance is directly usable, even from apps not running inside Openshift?

Happy to add that to the docs? Or would it be somewhere else better ?

[2018-10-21 16:42] scholzj commented on #986
_Update:_ It should be now deploying including the parent pom for snapshots. Hopefully this will now work well for the 0.9.0. It might be too complicated to backport this to 0.8.1. I will see if I find the time for it.

[2018-10-21 19:34] matzew commented on #986
0.9 is fine!

Thanks!!!

On Sun 21. Oct 2018 at 18:42, Jakub Scholz <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2018-10-22 12:57] sjwoodman opened #1009 "Running with Minishift anyuid addon"
Strimzi does not work with the Minishift `anyuid` addon. This is because the Kafka/ZooKeeper etc. processes will run as the user created in the dockerfiles. As this user is not part of the root group they cannot read from the PVCs. For example, the Zookeeper TLS sidecar pod fails with the following:

[code]

[2018-10-22 13:47] ppatierno opened #1010 "Add certificates generation annotation"
Currently the fact that a certificates renewal happened and that a rolling update is needed in order to update truststores on pods, is kept just in memory. If the CO crashes before starting the rolling update (but after certificates renewal), it doesn't know on startup that it needs to do a rolling update.
We should store this information.
As proposed by @tombentley it makes sense to add a certs g

[2018-10-22 13:54] scholzj commented on #542
Internal-ca is not used anymore. But the issue might be still valid for cluster-ca and clients-ca.

[2018-10-22 21:52] scholzj opened #1018 "Operators are running under root by default"
Currently our operators are running under root user. That might be dangerous. We should run them under some non-privileged user by default.

[2018-10-23 14:53] scholzj commented on #1009
This should be now fixed on master. Feel free to give it a try and let us know if it helped.

[2018-10-23 14:53] #1009 closed

[2018-10-23 15:08] ncbaratta opened #1021 "DCG: Add build docs as a step"
We should include instructions for building the guide locally as a step in the contribution guide.

You can build the docs on your local system if you run `make docu_html` in your git directory

[2018-10-24 06:18] thbeh opened #1024 "Failed upgrade from Strimzi 0.5.0 to 0.8.0"
Upgraded both k8 (1.9.2) and strimzi-0.5.0 to k8 (1.11.2) and strimzi-0.8.0. Unsuccessful deployment with liveness and readiness probe failed. Is that an issue of RBAC? Any advice?

[2018-10-24 06:29] scholzj commented on #1024
So ... does that mean that your cluster operator is looping? Or that the Kafka cluster doesn't work? Could you share the logs from the failing component?

Also, have you done upgrade in terms of upgrading the software from 0.5.0 to 0.8.0? Or clean install? There was some issue in 0.8.0 related to upgrading - that is why we released 0.8.1. But TBH we never tried upgrade from 0.5.0. Latest version w

[2018-10-24 07:52] #1018 closed

[2018-10-24 15:40] ppatierno opened #1026 "The CO misses a EO rolling update on certificates renewal"
When a certificate renewal happens (i.e. forcing it for testing), the ZK and Kafka nodes are rolling update but not the EO. It's supposed to be done by the `rollingUpdateForNewCaCert` method in the `KafkaAssemblyOperator` but at the time of execution, the `entityOperator` field is null because it's set by the `getEntityOperatorDescription` which is called later on.

[2018-10-24 16:05] ppatierno opened #1027 "NPE raised by deprecated TO rolling update on certificates renewal"
This issue is slightly related to #1026

When a certificate renewal happens (i.e. forcing it for testing) after the first "round" of the rolling update due to `rollingUpdateForNewCaCert method` method in the `KafkaAssemblyOperator`, the following NPE happens.
It's related to the call at `topicOperatorDeployment` method (during a normal rolling update in a reconcile cycle) but the "deprecated old"

[2018-10-24 16:59] ppatierno commented on #1027
Following the watch on restarting pods, the EO is never restarted for getting new cluster CA:

[code]

[2018-10-24 18:41] thbeh commented on #1024
It's looping and it's a clean install for both k8 (1.11.2) and cluster-operator (0.8.0). I have attached the logs for your attention.

[logs-from-strimzi-cluster-operator-in-strimzi-cluster-operator-548755778c-dzvx6.txt](https://github.com/strimzi/strimzi-kafka-operator/files/2511848/logs-from-strimzi-cluster-operator-in-strimzi-cluster-operator-548755778c-dzvx6.txt)

[2018-10-24 18:47] scholzj commented on #1024
This seems to be the same problem as described in #544 - your API server certificate doesn't seem to contain the right hostnames (the default / usual API hostname is `kubernetes.default.svc`, but your certificate seems to have only `kubernetes.default`).

The best solution would be if you could fix your certificate. If that is not possible, you can try the approach described in #544 to work around

[2018-10-24 18:48] scholzj commented on #1024
PS: I'm actually not aware of any change on our side between 0.5.0 and 0.8.0. So I think the certificate was correct in your 1.9.2 cluster.

[2018-10-24 18:51] thbeh commented on #1024
Thanks. I will have a look at the API server certificate.

[2018-10-25 01:53] thbeh commented on #1024
Solved. Closing.

[2018-10-25 01:53] #1024 closed

[2018-10-25 10:57] ppatierno opened #1029 "EO doesn't have generation annotation since creation"
While trying to start a rolling update of EO because a cluster CA is renewed, the following NPE is raised.
The null value is about the annotations map which is null. The EO doesn't have the annotation about generation "0" on the creation. We should add that.

[code]

[2018-10-25 10:57] ppatierno commented on #1029
This issue came up investigating #1026 and #1027

[2018-10-25 13:10] serrss opened #1030 "TO has a blocked thread [vert.x-eventloop-thread-0,5,main] after deploy"
TO has WARNING about a blocked thread in log for 30 seconds after deploying.

[code]

[2018-10-25 15:20] ppatierno opened #1031 "The internalPatch methods return PATCHED even when no changes happen"
I noticed the current behaviour ....
Let's start with a `Kafka` resource having:

[code]

and then let's edit the `Kafka` resource writing something like this:

[code]

It seems that we are changing something but in reality not, because `myproject` is the default value for the watched namespace related env var.
In this case, it happens that the CO executes an `internalPatch` (default implementatio

[2018-10-25 22:03] gunnarmorling opened #1034 "Topic not available for console consumer when cluster scaled to one node"
I've set up a cluster as per the example template, then scaled it down to one node. Also replication factors are set to 1:

[code]

I then can't read the topic using the console consumer:

[code]

The "node -1" looks suspicious.

Interestingly, I can read the topic programmatically using the Java API. Do I need to invoke the console consumer differently here? That's what I do:

[code]

[2018-10-26 08:03] gunnarmorling commented on #1034
So as I learned from @jpechane, it works with `--bootstrap-server=localhost:9092`. I'm wondering why that is, @ppatierno, @scholzj?

[2018-10-26 08:21] ppatierno commented on #1034
@gunnarmorling is your cluster made by one Kafka broker? In that case it's a problem of the routing service in OpenShift. It happens that it's not able to redirect the traffic to itself.

[2018-10-26 08:28] gunnarmorling commented on #1034
Which pod would that be, though? The Kafka nodes are the only ones coming with the console consumer, aren't they?

[2018-10-26 08:33] ppatierno commented on #1034
you could use the `kafka-base` image to build your own image to use as "testing" platform?

[2018-10-26 08:45] gunnarmorling commented on #1034
Hum, I guess in that case I could also just stay with three broker nodes...

[2018-10-26 08:49] ppatierno commented on #1034
Maybe you could try to use the zookeeper node? It has these tools as well. But what you are trying to do ... out of curiosity :-) Is it for a tutorial, demo, ... ?

[2018-10-26 08:54] gunnarmorling commented on #1034
Ah yes, indeed it works from the ZK node. Thanks!

Ha, glad you asked :)

We're going to do an updated version of the lab from RHT Summit at Voxxed Microservices next week (Wednesday). So in fact, if you have a chance, it'd be super-cool if you could run through the instructions here: https://github.com/debezium/microservices-lab/blob/master/voxxed-microservices-2018/lab.adoc. Any feedback would b

[2018-10-26 08:56] ppatierno commented on #1034
Cool!!

PS: using the ZK node is just for a simple test, don't use the node to produce traffic from an application! :P

[2018-10-26 08:58] gunnarmorling commented on #1034
Sure, the console consumer is used just for peeking into a few topics.

[2018-10-26 12:00] matzew commented on #1009
works w/ 0.8.2  (tested it w/ `anyuid`)

[2018-10-27 01:40] tombentley opened #1038 "print version number to the log"
We should print the Strimzi version number to the log on start up.

[2018-10-29 09:59] scholzj commented on #817
This should be implemented in PR #1039 and will be release in 0.9.0. I will close this issue now. If you have any issues or problems, feel free to re-open it or open a new issue.

[2018-10-29 09:59] #817 closed

[2018-10-29 09:59] scholzj commented on #810
This should be implemented in PR #1039 and will be release in 0.9.0. I will close this issue now. If you have any issues or problems, feel free to re-open it or open a new issue.

[2018-10-29 09:59] #810 closed

[2018-10-29 10:00] scholzj commented on #847
This should be implemented in PR #1039 and will be release in 0.9.0. I will close this issue now. If you have any issues or problems, feel free to re-open it or open a new issue.

[2018-10-29 10:00] #847 closed

[2018-10-29 11:56] stanlyDoge commented on #1038
https://github.com/strimzi/strimzi-kafka-operator/pull/1041
I am not sure whether to print "Strimzi" here. It would have been edited downstream, right?

[2018-10-29 12:13] stanlyDoge commented on #993
I think we can close this issue as the #1024 was closed.

[2018-10-29 12:47] scholzj commented on #993
No, #1024 was resolved by using the proper certificate and thus not needing the option anymore. This issue still remains - for example for those who cannot change the certificate.

[2018-10-29 12:49] scholzj commented on #1038
Why? There are so many things which point out to Strimzi that this is totally ok.

[2018-10-30 12:32] #1038 closed

[2018-10-30 16:16] serrss opened #1042 "Key `password` in MirrorMaker `spec` is ambiguous named"
If look at the example in Strimzi documentation we can find the following example:
[code]
where we need to specify an authentication setting for Mirror Maker. And after reading the text above in the documentation `Specify the password as a link to a Secret containing the password in the passwordSecret property.` I still can't understand what value I need to set for key `password`. If look at the `

[2018-10-30 16:22] scholzj commented on #1042
This is release and cannot be renamed! This can be fixed only in documentation.

[2018-10-30 17:01] gunnarmorling opened #1043 "Support building S2I builds based on artifact ids"
Currently, in order to create custom images of Kafka Connect with additional connectors, a directory with JARs have to be provided. That can be cumbersome when dealing with connectors that require multiple (transitive) dependencies. E.g. updating all the dependencies after an update of the connector version requires some work. How about simplifying this by allowing to specify plug-ins for S2I in f

[2018-10-30 23:16] scholzj commented on #1043
I wonder what would be the right way to specify the plugins. The obvious choice would be some `pom.xml` file with dependencies which we just download I guess. Maybe we can use the Offliner tool for that (http://release-engineering.github.io/offliner/features/format-maven-pom.html).

However, I'm not sure this will suit everyone. There are many users who need to download form some Nexus proxies or

[2018-10-31 08:58] ppatierno commented on #1042
If I recall well, the UO creates a key called `password` in the `my-user-secret`. This `password` is the value on the right side of the above YAML. What do you mean by changing the documentation @scholzj ? Just adding more explanation? Because we cannot change anything in the YAML as well.

[2018-10-31 09:17] scholzj commented on #1042
Well, if it is not clear from the documentation that this should not be the password but the key under which the password is stored in the secret. we should make it more clear. Because the YAMLs are fixed and released now.

[2018-10-31 09:21] ppatierno commented on #1042
ok let me take a look and proposing a PR with changes on that.

[2018-10-31 16:26] asaintsever opened #1049 "Kafka topic creation fails if KafkaTopic yaml does not specify partitions or replicas"
If you try to create a topic using following yaml:

[code]

Then `kubectl get kt` will list topic-aa but no topic-aa will be created internally. You can check this using this command:
[code]
Pod Entity Operator will display exception:

[code]

Same thing if you do not specify partitions like this:

[code]

Pod Entity Operator will display exception:

[code]

Strimzi documentation states:

- for pa

[2018-10-31 17:20] BradyWiseman opened #1050 "topic-operator fails liveness 7x per hour"
Running strimzi/topic-operator:0.8.2 standalone on Oracle Cloud Infrastructure/Oracle Kubernetes Engine.
Using manifests as shipped in examples/install/topic-operator.
Once started, topic-operator fails liveness probe 5-7 times per hour and is restarted by k8s.  Pod logs show normal operation (using DEBUG flag), no exceptions or errors.

We have increased both cpu & memory requests, which seemed t

[2018-10-31 19:12] scholzj commented on #1050
Hmm, interesting. Can you supply the full log from the Topic Operator? If you are using the `examples/install/topic-operator` installation, you are using it with your own Kafka cluster which is not deployed by the Strimzi Cluster Operator, right? Is this cluster stable? Are other applications connected to the Kafka and Zookeeper nodes running stable?

[2018-10-31 19:16] scholzj commented on #1049
Thanks for raising this. I'm not sure it is so easy to get the defaults from the broker. But I agree it should be handled better.

@stanlyDoge Are you still looking for some issues to work on? ;-)

[2018-10-31 20:48] Sir-Fish opened #1052 "Cluster Operator resets OpenShift service to remove port 9404."
When I try and edit the Service YAML for the Kafka Cluster to add the ports for metrics, it gets automatically removed after a brief period of time, which I assume is the cluster seeing diffs between the expected yaml and the current yaml.

------------------------------------------------------------------
What I want:

[code]
-----------------------------------------------------------------
What

[2018-10-31 22:52] BradyWiseman commented on #1050
Correct - kafka cluster is dead simple, not deployed by strimzi.  Yes, it is stable.  Nothing else is connected to it.
I will send logs after next lengthy run.

[2018-10-31 23:06] BradyWiseman opened #1053 "topic-operator fails when deployed across namespaces"
Running strimzi/topic-operator:0.8.2 standalone on Oracle Cloud Infrastructure/Oracle Kubernetes Engine.
Using manifests as shipped in examples/install/topic-operator.

We set STRIMZI_ZOOKEEPER_CONNECT & STRIMZI_KAFKA_BOOTSTRAP_SERVERS to point to a kafka/zookeeper cluster running on a different namespace.  This cluster is dead simple, not started by strimzi operator, and freshly restarted.

Topic

[2018-11-01 00:40] salavessa opened #1054 "TopicOperator: unrecoverable error after updating topic replicas"
Hi,

Using strimzi-0.8.2 on AWS (3 zookeeper & 3 kafka nodes running in the same k8s node)
When setting a value for KafkaTopic replicas during creation everything works fine but applying any update to the replicas doesn't get applied (not critical) - unfortunately after this error occurs no further changes to the KafkaTopic are pushed to zookeeper/kafka (pretty bad).
The issue seems to be some kin

[2018-11-01 07:29] cameronbraid opened #1055 "Reconciliation #0(watch) Kafka(proj/kafka): createOrUpdate failed"
version 0.6.0

[code]

[2018-11-01 07:29] cameronbraid commented on #1055
and it does this in a loop

[2018-11-01 07:41] scholzj commented on #1055
* Could increase the log level to DEBUG and share the full log? It should help to understand the problem. The log level for the cluster operator is configured in the environment variable in the deployment - so just change the deployment and modify it from INFO to DEBUG.
* Are you sure you installed all the RBAC files from the installation folder without any errors? Did you modify them to refer to

[2018-11-01 07:44] stanlyDoge commented on #1042
https://github.com/strimzi/strimzi-kafka-operator/pull/1046is merged, so we can close, right?

[2018-11-01 07:47] scholzj commented on #1054
I do not think we are currently supporting changing the replicas in an existing topics. But it seems to be missing in the documentation. Let us have a look at it. Thanks

[2018-11-01 07:48] cameronbraid commented on #1055
Its been a working cluster for a few months, then I noticed this happening.

Here are the logs

[code]

[2018-11-01 07:49] cameronbraid commented on #1055
Sorry, I have issues in two projects and I just pasted the logs from the wrong project, let me do it in the other project.

[2018-11-01 07:52] cameronbraid commented on #1055
[code]

[2018-11-01 08:03] scholzj commented on #1055
Hmm, this is where it seems to fail:
[code]

It tries to create the role binding for the EntityOperator but it is not allowed to. It is unfortunately never clear why exactly that might be happening. Can you list your cluster roles and cluster role bindings and double check that they are the same as in the 0.6.0 installation files?

[2018-11-01 08:08] cameronbraid commented on #1055
I just re-applied them with
[code]

and now the operator starts up without an error

Thanks for your help

[2018-11-01 08:14] scholzj commented on #1042
Yes, AFAIC.

[2018-11-01 08:14] scholzj commented on #1055
Ok, great. I will close this issue then. Feel free to reopen it or open a new one if you have something else. Thanks.

[2018-11-01 08:14] #1055 closed

[2018-11-01 13:10] Sir-Fish commented on #1052
I actually do have the metrics enabled in the Kafka Brokers as you can see with the image below:

-------------------------------------------------------
<img width="536" alt="kafkacluster" src="https://user-images.githubusercontent.com/38897509/47853497-4d453380-ddb5-11e8-93c7-a70f8330d97d.png">

-------------------------------------------------------

I also know I have Prometheus and Grafana se

[2018-11-01 15:53] BradyWiseman commented on #1053
Thanks for the tip.
I set KAFKA_ADVERTISED_LISTENERS to the fully qualified service.namespace.svc.cluster.local:port
and set KAFKA_LISTENERS to service.port.
Topic-operator running in a different namespace can now find kafka.
Issue resolved, thanks.

[2018-11-01 15:53] #1053 closed

[2018-11-01 19:59] gunnarmorling commented on #1043
Yes, I'm not suggesting to remove the existing approach of just providing a directory, but add another easier option based on Maven coordinates.

I don't even think a pom.xml would be needed, a list of comma-separated GAV coordinates such as `io.confluent:kafka-connect-elasticsearch:5.0.0` should suffice. It could be implemented using Offliner or quite easily using the Aether API (used by Maven it

[2018-11-02 20:00] BradyWiseman opened #1058 "topic-operator fails to use truststore/keystore as specified with env vars"
Running strimzi/topic-operator:0.8.2 standalone on Oracle Cloud Infrastructure/Oracle Kubernetes Engine.

We have added an initcontainer to the manifests provided with examples/install/topic-operator.  We successfully construct a truststore, a keystore, & passwords.  When these are passed in to STO as environment vars, topic-operator code ignores them and attempts to build keystore & truststore in

[2018-11-02 20:45] ppatierno commented on #1054
The topic operator doesn't support changing replicas for now.
The strange thing is that the replicas value is got for the partitions even if it is never applied.
@stanlyDoge does your PR address this use case as well?

[2018-11-03 17:04] salavessa commented on #1054
That's great, thanks for looking/sorting so fast.

Another thing which also triggers this issue is when the topic replicas is edited via `kafka-reassign-partitions.sh`: the reconciliation process is probably using the same logic and so #1057 will also sort this scenario but I'm mentioning it just in case!

[2018-11-03 21:41] scholzj commented on #1052
The version of strimzi you are using should be in the tag name of the Cluster Operator Docker image. If you tell me the version, I can give it a try.

In general, as I said - when you enable the metrics in Kafka / Zookeeper, the port 9404 should be automatically added to the service. Maybe there is some bug in your version.

[2018-11-03 21:53] scholzj commented on #1058
I think this is a bug in our documentation / bug in the Docker image for Topic Operator. The docs say you can rewrite it this way. But in reality the Docker image expects to have X509 keys mounted in specific locations and converts them into JKS store on its own. I will have a look at it.

Until I fix it, if you want to configure it with 0.8.2, here are the paths of the keys to get that working: h

[2018-11-03 22:47] scholzj commented on #1058
FYI: I opened a PR for this - #1059

[2018-11-03 22:54] BradyWiseman commented on #1058
Thanks for the weekend response!

Are you saying that if I drop my pkcs12 file at
/tmp/topic-operator/replication.truststore.p12, the topic operator will use
it & create keystore/truststore?

Best regards

Brady Wiseman in Bozeman Montana

On Sat, Nov 3, 2018 at 4:47 PM Jakub Scholz <notifications@github.com>
wrote:

[2018-11-03 22:58] scholzj commented on #1058
Actually, the P12 files is what the script creates. It expects x509 and PEM files on the input.

[2018-11-03 23:04] BradyWiseman commented on #1058
OK, thanks.

On Sat, Nov 3, 2018 at 4:58 PM Jakub Scholz <notifications@github.com>
wrote:

[2018-11-04 13:35] ppatierno commented on #1058
I have just reviewed the #1059 and it looks good to me. As soon as the Travis CI will be green we can merge it to the master.

[2018-11-04 16:44] #1058 closed

[2018-11-04 22:14] scholzj commented on #1007
I think that we can now close this as it was added to the website, or?

[2018-11-04 22:14] #1007 closed

[2018-11-05 10:22] ppatierno opened #1061 "Entity Operator Kubernetes generation increased at every reconcile"
After deploying a Kafka cluster, without changing anything but just waiting for reconciliations, the Kubernetes `metadata.generation` field in the EO `Deployment` is always incremented.

[2018-11-05 14:35] dennis-ups commented on #1052
@scholzj, we are using amqstreams10-clusteroperator-openshift:latest, so I guess you are looking for the answer 1.0.0-4.

[2018-11-05 14:48] benhwebster commented on #1052
I believe I ran into this issue, or at least a similar one, but in my case it was due to the fact that there are now network policies selecting strimzi pods (since 0.7.0?), but they don't include the metrics port, which causes them to ignore traffic on that port. To get around it I created a network policy that allows access to 9404 on those pods (since you can't edit the ones created by the opera

[2018-11-05 14:51] #1061 closed

[2018-11-05 15:24] tombentley opened #1064 "Simplify manual certificate installation/renewal"
Currently manual installation of CA certificate & key is a bit complicated because:

1. You need to create two secrets
2. Both those secrets need to have the correct annotations.

Likewise CA cert renewal is also more complicated than it could be.

One way to alleviate this (when `Kafka.spec.clusterCa.generateCertificateAuthority=false`) would be for the user to supply a single secret with both ce

[2018-11-05 19:48] Sir-Fish commented on #1052
@scholzj - The version we are using is actually 0.2.0 for Strimzi. If you look at the image in one of the above comments that is how I have the metrics enabled, and the cluster shows that 9404 has the port sending metrics, but the service is not allowing port 9404 to be used, so we can't get that out to Prometheus. Since we are using an older version, namely 0.2.0, what would I need to change on t

[2018-11-05 22:50] scholzj commented on #1052
Ok, too many people talking and that is getting a bit confusing ;-)

---

@benhwebster Yes, that was a problem. It should be fixed in 0.8.1, 0.8.2 and in master. If you don't want to upgrade (or cannot upgrade), you can just add your own network policy allowing the access to the port 9404 (just give it a custom name so that the cluster operator doesn't overwrite it). That should workaround the iss

[2018-11-05 22:53] scholzj commented on #1064
This sounds quite complicated to me. It will be hard to maintain it.

[2018-11-06 14:33] Sir-Fish commented on #1052
@scholzj - We are using the AMQStreams Developer Preview. I was under the impression that the Preview was 0.2.0 and not 0.3.1, sorry if that confused you. But I will try setting up a separate service and see how that goes. We are already working on upgrading to a newer version of Strimzi, so hopefully that will be up and running soon. Thank you for your help.

[2018-11-06 17:19] ppatierno opened #1067 "EO deployment loses the "generation" annotation on first reconcile"
The EO deployment gets the "generation" annotation on creation.
When a reconcile starts, the EO pod is terminated and recreated.
It's related to the fact that on reconciliation, the "reconcile" gets a difference between desired and current.
Such difference is the lack of the "generation" annotation in the desired.
The problem is that the `internalPatch` method of the `DeploymentOperator` doesn't h

[2018-11-06 21:18] chris922 commented on #1030
My strimzi-topic-operator pod is unavailable and the only error I am able to see in my logs is the same `Thread blocked` error that is already mentioned in this issue. I am using strimzi 0.8.2

If you need more information please let me know what you need.

[2018-11-06 22:14] scholzj commented on #1030
@chris922 Could you please share your log as well?

[2018-11-06 23:15] chris922 commented on #1030
Yes for sure, the stacktrace itself and even the threadname is the same.

Unfortunately my TO pod will not start and this exception is the only one that I am able to see in the logs. It will be logged every second.

[code]

[2018-11-06 23:48] scholzj commented on #1030
Judging from the Zookeeper address, you installed the standalone version of the Topic Operator (i.e. `kubectl apply -f install/topic-operator` or something similar).

How did you deployed the Kafka cluster? The standalone version of the Topic Operator is supposed to be used if you have your own version of Kafka. When you use Strimzi to deploy Kafka as well, you should deploy the Topic Operator as

[2018-11-07 02:49] wmorgan6796 commented on #1050
I am having this issue on a much larger scale as well. I use the vanilla option as well
[logs-from-topic-operator-in-will-cluster-entity-operator-67ccb64c86-hrkv9.txt](https://github.com/strimzi/strimzi-kafka-operator/files/2555860/logs-from-topic-operator-in-will-cluster-entity-operator-67ccb64c86-hrkv9.txt)

[2018-11-07 07:50] scholzj commented on #1050
@wmorgan6796 For how long can you see this repeat in the log file? On the startup, this can sometimes happen before all the components get in sync and up and running.

[2018-11-07 12:43] wmorgan6796 commented on #1050
I’m seeing this for hours straight. Today over a four hour period it had
over 20 restarts.

On Wed, Nov 7, 2018 at 2:50 AM Jakub Scholz <notifications@github.com>
wrote:

[2018-11-07 13:51] scholzj commented on #1050
Hmm, that is strange. Could you please also share the log from the tls-sidecar / stunnel container in the same pod? Do you use persistent or ephemeral Zookeeper?

[2018-11-07 13:54] chris922 commented on #1030
I installed Kafka using the cluster operator from strimzi, so it should be exactly the way you described. The cluster operator deployed then the required pods, e. g. kafka and zookeeper. This worked out really well, also the KafkaConnect resource was deployed and is accessible. Everything in the same namespace.

My k8s cluster in general is installed on VMs using Rancher 2.1.1.

In my Kafka cluste

[2018-11-07 14:18] sjbodzo commented on #1050
I am also seeing the same issue. We had a 5-node cluster deployed for ~6 hours that restarted 20+ times while sitting idle.

[2018-11-07 14:52] wmorgan6796 commented on #1050
Here are logs from the tls sidecar and the topic operator at the same time
[tls-sidecar-topic-operator.log](https://github.com/strimzi/strimzi-kafka-operator/files/2557816/tls-sidecar-topic-operator.log)
[topic-operator.log](https://github.com/strimzi/strimzi-kafka-operator/files/2557817/topic-operator.log)

[2018-11-07 14:53] laidan6000 opened #1069 "Typo in SCRAM-SHA authentication docs"
SCRMA SHA-512 to provide authentication on both unencrypted and TLS-encrypted client connections.

Fix typo in the SCRAM-SHA Authentication concept: SCRAM instead of SCRMA.

[2018-11-07 15:05] #1067 closed

[2018-11-07 15:21] wmorgan6796 commented on #1030
I think this is related to issue [issue 1050](https://github.com/strimzi/strimzi-kafka-operator/issues/1050) as I'm seeing similar issues in my cluster regarding the topic operator

[2018-11-07 15:43] tombentley opened #1074 "Documentation for the API module"
We need documentation on the `api` module, including typical use cases and some basic examples.

[2018-11-08 07:53] stanlyDoge commented on #1029
This issue was after Paolo's deeper investigation marked as unneeded and the changes have been reverted. (:cry:)

[2018-11-08 07:53] #1029 closed

[2018-11-08 08:19] #1026 closed

[2018-11-08 09:12] #1069 closed

[2018-11-08 09:41] ppatierno commented on #722
Taking a look at Kafka upstream source code it seems this option is available (there is `delegation-token` as well) but it's not documented upstream.

[2018-11-08 11:19] #1027 closed

[2018-11-08 11:24] gunnarmorling opened #1076 "Support instantiation of Kafka Connect connectors via operator"
Currently KC connectors such as Debezium must be registered via KC's REST API. An Operator could smoothen this experience:

* Could create/update/delete connectors following the resource definition
* Could automatically fetch the required connector dependencies at least for a set of known connectors
* Could inject secrets for connector credentials
* Could verify sanity of options (albeit that'd be

[2018-11-09 05:19] jroper commented on #912
I'm getting this too, I'm on Linux, minishift v1.26.1+1e20f27, Strimzi 0.8.2.

[2018-11-13 08:44] #1054 closed

[2018-11-13 08:45] #1049 closed

[2018-11-13 16:36] renatomefi commented on #101
For the future google surfers, that's an example of a JMX configuration file for Kafka Connect, this one focused on Source connectors:

[code]

For sink you can add:

[code]

The common examples tend to concatenate the connector/client/task ids into the metric itself, making it hard to grow dynamically, this one turns them into labels with makes them self-maintainable

[2018-11-13 16:55] ppatierno commented on #101
@renatomefi you could propose a PR for that one ;)

[2018-11-14 00:51] sandyplace commented on #773
Just ran into this myself. Is there any workarounds?

[2018-11-15 13:31] scholzj commented on #520
@serrss Is this still an issue?

[2018-11-15 13:34] scholzj commented on #270
Is this still something we want to do?

[2018-11-15 14:29] tombentley commented on #270
Personally I still find it a drag writing docs and having to document both platforms in nearly identical ways. Getting the `+`s in all the right places just makes me sad. The what feedback we've had from people reading the docs is that it's confusing seeing instructions for both, when really a given reader is only interested in one of the other. So I'm still in favour of doing this, but I'd like t

[2018-11-15 14:34] ncbaratta commented on #270
I'd love to separate these into two 2 documents.  That's what Enmasse did recently as well: https://github.com/EnMasseProject/enmasse/pull/1990

[2018-11-15 14:45] scholzj commented on #270
The EnMasse PR is IMHO crazy ... it must add significant amount of overhead to maintain these as separate documents. Especially given there is no tooling for the modular docs and managing the modules. If we can generate it from single document, it might be more reasonable.

[2018-11-15 14:57] tombentley commented on #270
I agree, on the face of it, it does seem a strange way to do it: Why do they use, for example, documentation/assemblies/assembly-infrastructure-configuration-oc.adoc and documentation/assemblies/assembly-infrastructure-configuration-kube.adoc to set platform specific parameters prior to including a common doc, rather than just configuring those parameters at the top level?

[2018-11-20 08:23] ppatierno opened #1094 "Add rolling update on clients CA certificate renewal"
Currently, rolling update for Kafka and Zookeeper pods happens only on the renewal of the cluster CA certificate. There is no logic to start the rolling update when the clients CA certificate is renewed.

[2018-11-20 09:37] ppatierno opened #1096 "Add cluster and clients CA key generation annotation"
As we have annotations taking the generation for cluster and clients CA, we should add annotations for the related keys as well.

[2018-11-20 13:08] stanlyDoge opened #1099 "Test failure causes test failure"
In case any system test fails, it logs `io.strimzi.test.k8s.KubeClusterException: java.io.IOException: Cannot run program "oc": error=2, No such file or directory`

After some investigation, I think it is caused by `String events = kubeClient().exec("oc", "get", "events").out();` in `Strimziextension.java`.

[2018-11-20 16:20] scholzj commented on #57
After some discussions, this issue should be closed. Instead of improving the healthchecks, we should more closely follow the state from the CO.

[2018-11-20 16:20] #57 closed

[2018-11-20 19:28] #1094 closed, assigned to ppatierno

[2018-11-21 10:53] serrss commented on #1099
Issue was fixed by PR #1101

[2018-11-21 10:53] #1099 closed

[2018-11-21 17:11] tombentley opened #1103 "Make it possible to upgrade from one Kafka version to another"
It should be possible for the operator to upgrade from one Kafka version to another. This would not be completely without user interaction (the user has to upgrade the client applications, for example), but it should be a simple process for the user to follow and the operator should manage the necessary rolling updates.

[2018-11-22 14:52] tombentley opened #1106 "Refactor `SimpleAclOperator` to make use of Admin Client API"
Refactor `SimpleAclOperator` to make use of [KIP-332: Update AclCommand to use AdminClient API](https://cwiki.apache.org/confluence/display/KAFKA/KIP-332%3A+Update+AclCommand+to+use+AdminClient+API) when dealing with a Kafka 2.1 cluster.

[2018-11-22 15:36] ppatierno opened #1107 "Deprecated Topic Operator TLS doesn't start due to illegal debug argument"
The TLS sidecar related to the deprecated way to deploy the TO doesn't start properly due to following error:

[code]

[2018-11-22 16:41] #1107 closed

[2018-11-23 09:09] #673 closed

[2018-11-23 10:06] ppatierno opened #1109 "Add user configuration for suggested maintenance times"
The user should be able to configure specific times/windows for maintenance operations.
One the these operations is the certificates renewal process.

[2018-11-23 10:21] ppatierno commented on #1109
The already merged #997 PR defines the following way for maintenance:

[code]

If we want to specify different maintenance windows for different operations, this doesn't allow to do that. Today we have just certificates renewal to address but we could have more in the future.
One possible solution is moving these `maintenance` under a specific field related to specific operations. For example, tal

[2018-11-24 09:00] tombentley commented on #1109
I think we need to tease apart the use cases for this. Is the maintenance window functionality useful for CA renewal simply because CA renewal happens spontaneously/asynchronously (i.e. without the user having touched the `Kafka` resource)? Or is it useful also for other operations which perform a rolling update (or more especially multiple rolling updates)?

For example, Kafka upgrade can require

[2018-11-26 06:45] ppatierno commented on #1109
I am fine with that but my only concern is about what could happen if we have to change the CRD structure in order to have maintenance windows capability for other use cases. The current field just accepts a list of windows (cron expressions) and nothing more: we cannot specify an operation type for example. Changing the CRD isn't something good as you stated a lot of times, right?

[2018-11-26 07:44] scholzj commented on #1109
I do not really see the use case for setting all these maintenance windows separately. What would be the value?

The reason we want to have the maintenance window is because it causes disruption and the user might want to limit disruption. It doesn't really matter whether the disruption comes from CA renewal or something else.

Or do we have some use case why would user want to do CA renewal from

[2018-11-26 08:59] tombentley commented on #1109
I don't have one. I think the idea was about the possibility of optionally (via configuration) making some disruptive operations use the maint window.

[2018-11-26 09:01] scholzj commented on #1109
Right. But in that case one window for all disruptive operation should be the way to go, or?

[2018-11-26 09:02] tombentley commented on #1109
Yes, I think the way forward is now clear. Sorry for confusing everyone.

[2018-11-26 13:28] ppatierno opened #1111 "Documentation for maintenance windows"
Writing documentation about maintenance windows configuration.

[2018-11-27 18:09] BradyWiseman commented on #1050
This problem went away with a change in config.

[2018-11-27 18:09] #1050 closed

[2018-11-27 18:16] BradyWiseman opened #1118 "user-operator needs jaas file for zookeeper"
Running recent build of strimzi-user-operator against a secure kafka cluster.
Running a standalone deployment.
Error thrown as follows:
`2018-11-27 13:51:02 DEBUG ClientCnxn:846 - Reading reply sessionid:0x10009765d180392, packet:: clientPath:/kafka-acl/Topic serverPath:/kafka-acl/Topic finished:false header:: 2,1  replyHeader:: 2,8589943071,-102  request:: '/kafka-acl/Topic,,v{s{31,s{'world,'anyo

[2018-11-27 21:44] BradyWiseman commented on #1118
Having read the code, I tried adding the following as an ENV in the user-operator pod spec:
            - name: JAVA_OPTS
              value: "-Djava.security.auth.login.config=/etc/zk-jaas/zookeeper_jaas.conf"

The user-operator code inherits the JAVA_OPTS env variable and uses it in the on-board launch_java.sh, which starts the container.
The logs indicate that the zk client is recognizing this

[2018-11-27 21:44] #1118 closed

[2018-11-28 07:29] scholzj commented on #722
This has been implemented in #1048

[2018-11-28 07:29] #722 closed

[2018-11-28 15:41] ppatierno opened #1121 "Documentation about super users"
Other than in the section related to the "KafkaAuthorizationSimple schema reference" which comes from the CRD definition, we should document how to set "super users" in the "Configuring authorization in Kafka brokers" section as well.

[2018-11-29 02:42] Mikedu1988 opened #1122 "Can we change the time zone of kafka cluster?"
Can we change the log time zone to GMT+08？
We are tring to build a centralizing log center, the difference in tome zone is painful.

![image](https://user-images.githubusercontent.com/24424690/49195722-3cdba500-f3c3-11e8-8d54-d846a1228847.png)

[2018-11-30 00:26] bacek opened #1127 "Too verbose GC logging without ability to switch it off"
Currently Kafka run with unconditional verbose GC logging. Which is mostly useless for end-user and make it harder to look for relevant information. Best approach to make GC logging configurable and disable it by default.

https://github.com/strimzi/strimzi-kafka-operator/blob/master/docker-images/kafka/scripts/kafka_run.sh#L20

[2018-11-30 10:59] scholzj opened #1130 "Missing sections about `ResourceTemplate` and `MetadataTemplate` properties"
It seems that in the generated documentation, we are missing the documentation about `ResourceTemplate` and `MetadataTemplate` properties. `ResourceTemplate` is present, but empty. `MetadataTemplate` is missing completely. This might be bug in the CRD generator.

[2018-12-03 08:50] ppatierno opened #1132 "Enable CRDs unit tests about templates"
The CRDs unit tests about templates are completely disabled (so not running) for `Kafka` and `KafkaMirrorMaker` (where the used class is also wrong).

[2018-12-03 09:30] #1132 closed

[2018-12-03 13:34] #965 closed

[2018-12-05 16:25] ppatierno opened #1141 "Documentation for TLS sidecars health checks"
After implenting #826  , we need to update the documentation talking about liveness and readiness probes configuration for TLS sidecars as well.

[2018-12-07 23:07] scholzj commented on #990
@stanlyDoge Is this fixed with your PR #1020?

[2018-12-08 09:51] ron1 opened #1147 "Enable managment via Operator Framework - Operator Lifecycle Manager (OLM)"
The Operator Lifecycle Manager (OLM) component of the Operator Framework (https://github.com/operator-framework/operator-lifecycle-manager) provides a declarative way to install, manage, and upgrade operators and their dependencies in a cluster. Some users may want to use OLM to install and manage the Strimzi operator as opposed to a Helm Chart or yaml manifests.

Provide the resources needed to m

[2018-12-08 13:31] stanlyDoge commented on #990
@scholzj Yes. The TO is not restarted however, this message is printed every reconciliation.
[code]

[2018-12-08 13:46] #990 closed

[2018-12-11 10:39] tombentley opened #1152 "Standardize annotation domains"
`AbstractScalableResourceOperator` uses the domain `operator.strimzi.io` for two annotations. Other annotations are in `strimzi.io`. We should standardize on `strimzi.io`. Remember to check the docs in case those annotations are mentioned.

[2018-12-11 13:29] nleeuskadi opened #1154 "VOLUME_MOUNT_HACK_IMAGE should be configurable"
`AbstractModel` uses a hard coded string for the image name of `busybox` :
`private static final String VOLUME_MOUNT_HACK_IMAGE = "busybox";`

For people who are behind a proxy or use a private docker registry or simply want to use a specific version and not the latest one, it is necessary to be able to
customize the image path.

This is already done for other images like Zookeeper or Kafka for wh

[2018-12-11 13:47] tombentley commented on #1152
In addition, we've been using `cluster.operator.strimzi.io/delete-claim`.

[2018-12-11 20:54] #339 closed

[2018-12-11 20:54] #1030 closed

[2018-12-12 09:42] lonyele opened #1156 "Access kafka from outside of k8s cluster"
Hi, I'm new to both kafka and kubernetes, I've read docs and found some issues about expose kafka, but I couldn't make it happened.  Connecting inside of k8s cluster is working by this `my-cluster-kafka-bootstrap:9092`

I'm on Window, Docker's kubernetes.
I applied this s document said

This is the result of `kubectl get all -n kafka`

[code]

I tried to access kafka from my own client by localhos

[2018-12-12 10:07] scholzj commented on #1156
This is sometimes a bit complicated, because every kubernetes works a bit differently on different platforms. But lets try.

Can you run following commands and provide the output?
[code]

And can you either:
* Get the log from one of the the Kafka broker pods using `kubectl logs` and make sure that the log is from the start of the pod? On the beginning, it should contain the configuration of the b

[2018-12-12 11:22] lonyele commented on #1156
I could cleanse up some of it, but I left it for the sake of an entire log. btw I delete the namespace and reinstall everything that is why nodeport ips are different than the original question
This is a output of` kubectl get nodes -o yaml`
[code]

This is a log from one of kafka broker's pod
[code]

[2018-12-12 12:17] scholzj commented on #1156
Ok, so the node and the brokers are configured for the IP 192.168.65.3. So we need to find out if this IP / ports are accessible or not. What error do you get when you try to connect to `192.168.65.3: 32423` with a Kafka client? Can you open at least a telnet connection to it?

[2018-12-12 12:33] #1152 closed

[2018-12-12 12:40] lonyele commented on #1156
From nodejs client, It just says `[publisher] buffer disabled `
From kafka-console-producer,
`[2018-12-12 21:33:22,267] WARN [Producer clientId=console-producer] Connection to node -1 (/192.168.65.3:31286) could not be established. Broker may not be available. (org.apache.kafka.clients.NetworkClient)
`
Errors are mostly "Broker may not be available"

[2018-12-12 14:03] chris-vest opened #1157 "Attempt to delete topic is reversed by Topic Operator"
Strimzi Version: `0.9.0-rc1`

I want to delete a topic, but cannot seem to do so using the CLI tools nor deleting the `KafkaTopic` CRD. The topic operator insists on recreating it.

When deleting `KafkaTopic` CRD for topic in question:

`[2018-12-12 12:48:13,612] INFO  <opicOperator:559> [oop-thread-0] All three topics are identical
[2018-12-12 12:48:13,613] INFO  <TopicWatcher:40> [oop-thread-0]

[2018-12-12 16:03] scholzj commented on #1156
Can you telnet it? Just something like `telnet 192.168.65.3 32423` or `telnet 192.168.65.3 31286`? Sorry, I'm not sure whether telnet still exists on Windows :-o

[2018-12-12 17:45] #1103 closed

[2018-12-13 10:45] stanlyDoge commented on #1157
Hello. How did you create the topic? I did a quick test by applying `examples/topic/kafka-topic.yaml` with `0.9.0-rc1` and the topic stays deleted.

[2018-12-13 11:12] chris-vest commented on #1157
@stanlyDoge The topic was initially created using Kafka Connect with the Debezium MySQL connector. The Connect cluster had been shut down in order to ensure that it was in fact the topic operator which was recreating the topics. As assumed, when the Connect cluster was removed, and the topic was deleted from one of the brokers using the `kafka-topics.sh` tool or deleting the `KafkaTopic` CRD for t

[2018-12-13 12:11] tombentley opened #1160 "Use Info level k8s `Event` to tell user about phases of Kafka upgrade"
I'm trying to document the Kafka upgrade process. The user needs to take certain action (upgrade clients) part way through. Currently the only way for the user to know that it's time to do this is by grepping the logs for a line which looks like this:

[code]

Coupling the documentation to particular log messages is not ideal because it means that we need to know which log messages have been docum

[2018-12-13 16:06] chris-vest opened #1164 "Attempt to change replication factor using `kafka-reassign-partitions` causes topic operator to crash into a loop"
[code]

We apply the reassignment in the file above:

[code]

Now, topic operator descends into a loop of setting replication factor for topic `_schemas` to 1, then 3, then 1, etc..

[code]

Looking at my settings for the `Kafka` resource, I decided to switch `auto.create.topics.enable` to `false`.

I then ran the `kafka-reassign-partitions` script again:

[code]

Clearly the topic operator was st

[2018-12-13 16:20] #1154 closed

[2018-12-13 20:30] scholzj commented on #172
@tombentley Do you think we can call this closed with the `operator-common` module?

[2018-12-13 20:38] scholzj commented on #986
@matzew So, I hope this is fixed now in 0.9.0 with the 10th attempt. Are you still using this for something and are you interested in testing it? Or can I just close this issue?

[2018-12-13 20:41] tomcooperca opened #1165 "Environment var for init container image?"
We use a couple different k8s clusters internally. We also use an internal mirror for Docker Hub images via JFrog Artifactory. This works fine for strimzi images because of the environment variables exposed via the cluster operator. However, the `busybox` initContainer is using a local image ref. It would be helpful to have that field exposed via cluster operator so that it can be fully used in an

[2018-12-13 20:48] scholzj commented on #1165
I think that was just today added to master by @TomLous in the PR #1161 - I think that should solve your problem. It is currently in master, but it will get into the next release (probably 0.10.0).

[2018-12-13 20:53] tomcooperca commented on #1165
Good timing! Thanks! 😄

[2018-12-13 20:53] #1165 closed

[2018-12-14 11:32] #1109 closed

[2018-12-14 11:33] #1111 closed

[2018-12-14 14:19] tombentley commented on #172
Yes

[2018-12-14 14:19] #172 closed

[2018-12-14 16:14] #826 closed

[2018-12-14 19:09] matzew commented on #986
will check!

On Thu 13. Dec 2018 at 21:38, Jakub Scholz <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2018-12-15 03:18] #1156 closed

[2018-12-16 20:07] scholzj commented on #1156
I'm sorry I couldn't help more. This is really a bit tricky and especially in the environments like Minikube and other local Kubernetes alternatives it sometimes doesn't work perfectly.

[2018-12-17 06:44] lonyele commented on #1156
Nope, you helped me kind of how to find some problem here. I don't have a time right now, but I will test it with other OS with different k8s setup and post a follow-up comment if necessary.

  Can I ask you some quick question? It relates to one of some reasons why I dig exposing kafka outside of k8s cluster.
  Do you think other application layers should be deployed together with kafka thing?(ka

[2018-12-17 15:27] ppatierno opened #1171 "GC logging enabling logic is counterintuitive"
I think that using the CRD field `gcLoggingDisabled` is counterintuitive. We should try to use the opposite logic so `gcLoggingEnabled` which is already used in other case (i.e. `isMetricsEnabled`).

[2018-12-17 15:40] scholzj commented on #1171
How will it deal with the previous decision to keep it enabled by default?

On Mon, Dec 17, 2018, 16:27 Paolo Patierno <notifications@github.com wrote:

[2018-12-17 15:41] ppatierno commented on #1171
For sure I am going to ask a stupid question but isn't it just a matter of defaulting to enable even when the field is not in the CR?

[2018-12-17 15:43] scholzj commented on #1171
Maybe ... I'm not sure what is inside the property. It would not for for
metrics.

On Mon, Dec 17, 2018, 16:41 Paolo Patierno <notifications@github.com wrote:

[2018-12-17 15:44] ppatierno commented on #1171
what do you mean?

[2018-12-17 16:39] #1141 closed

[2018-12-17 16:44] ppatierno opened #1172 "Kafka tools running on Kafka pods print entire GC log"
Currently on master because the GC logging is enabled by default if you run a Kafka tool on one of the Kafka pod, you get an entire GC log before the results.

[code]

it's because we are setting the `KAFKA_GC_LOG_OPTS` which is used by the tools as well.

We should try to decouple tools behavior from what we configured on the brokers.
As suggested by @scholzj we should use a different env var to

[2018-12-17 20:02] scholzj commented on #1156
I think it depends. If you have stuff already running outside of Kubernetes, it doesn't always make sense to move them into Kubernetes just for the sake of it. For new stuff, it might make sense to start directly on Kubernetes.

[2018-12-18 15:51] #1171 closed

[2018-12-19 16:10] benhwebster opened #1179 "High idle CPU usage from user-operator"
On Strimzi 0.8.2, the user operator is using a relatively high amount of CPU, in a cluster with 22 users, all using TLS auth, with an average of 5-6 acls per user, the user operator idles at .3 core usage with spikes to .4. in another cluster with 14 users it idles at .2 and spikes to .3

22 user cluster
![image](https://user-images.githubusercontent.com/14381460/50229212-c73a7780-0377-11e9-96a0-5

[2018-12-20 08:12] matzew commented on #986
It works!

https://github.com/rh-event-flow/eventflow/pull/91

/close

[2018-12-20 08:12] #986 closed

[2018-12-20 08:23] scholzj commented on #986
Thanks for testing this @matzew

[2018-12-20 09:14] scholzj commented on #443
I'm looking into this right now. I drafted a simple proposal how the secrets can be passed to the Connect pods as env vars. or files: https://gist.github.com/scholzj/2c27196987dfc160500c144dea76186f

Any feedback would be welcome.

[2018-12-20 15:02] chris-vest commented on #1164
Another report here: https://stackoverflow.com/questions/53851677/strimzi-topic-operator-topic-already-managed

[2018-12-20 15:07] chris-vest commented on #1164
So I think I have figured out what the issue was with the topic operator I was seeing the other day, where it was creating, then modifying, then deleting, then creating... etc.

When you create a topic with the name `my-topic` using the `KafkaTopic` crd, the name of the corresponding `KafkaTopic` is then appended with some code, e.g. `my-topic---7887e1ce8cca938579c6e14f9aa2962e2d3d008f`

When the

[2018-12-21 14:44] chris-vest commented on #1164
From Tom Bentley:

[2018-12-21 14:45] chris-vest commented on #1164
Following function will give you the correct name:

```function topicname { echo -n "$1" | tr '[:upper:]_' '[:lower:]-' ; echo -n "---" ; echo -n "$1" | sha1sum - | sed 's/^0*//' | tr -d '-' ; }```

[2018-12-21 14:45] #1164 closed

[2018-12-29 21:49] #443 closed

[2018-12-29 21:49] #933 closed

[2019-01-02 07:40] #762 closed

[2019-01-02 07:41] scholzj commented on #1172
@ppatierno I assume this issue can be closed now after #1176 was merged?

[2019-01-02 07:48] scholzj commented on #878
The issue with the TLS sidecar shutting down before the Kafka container should be addressed in PR #1190

[2019-01-02 08:02] ppatierno commented on #1172
Yes! Closing.

[2019-01-02 08:02] #1172 closed

[2019-01-03 15:12] chonton opened #1194 "Unit tests fail when running with JRE 11"
AbstractConfigurationTest, KafkaConnectClusterTest, and KafkaConnectS2IClusterTest fail when running under JRE11.  The order of values when iterating through a Properties is not defined; the unit tests expect a particular order.

Following solutions are possible:
1. Add AbstractConfiguration.asMap() method and change unit tests to compare maps instead of strings.
2. Change AbstractConfiguration.ge

[2019-01-03 15:24] tombentley commented on #1194
I think ideally the unit tests shouldn't be making assertions which rely on the pre Java 11 behaviour. You can probably do that by using a helper method to convert the `Properties` to a `TreeMap` in the tests before making assertions, rather than in the `AbstractConfiguration`. There's a `TestUtils` class you could add it to.

If that doesn't work for some reason then I guess using option 2 would

[2019-01-03 22:49] chonton opened #1197 "ZkImplTest fails on MacOS"
ZkImplTest times out.  Connecting to 0.0.0.0 ip address does not work on BSD as it does on Linux.

[2019-01-06 15:39] #878 closed

[2019-01-06 15:40] scholzj commented on #773
The Image pull secrets can be now specified for each pod in the `template` section of each CRD. This should address this issue. Feel free to reopen it / open a new one in case you encounter any issues.

[2019-01-06 15:40] #773 closed

[2019-01-07 21:48] seglo opened #1206 "Proposal for namespaced topics"
Hi Strimzi team,

This is a proposal to support namespaced Kafka topics as part of a Kubernetes application's lifecycle.  I tried to think of a way that was both simple and would not break backwards compatibility with how `KafkaTopic` resources are created and managed.  It's possible that aspects of this proposal could be used for similar application-level concerns for `KafkaUser` resources as wel

[2019-01-07 21:49] seglo commented on #1206
Linking to related issue #879.  Highlighting possibly interested parties: @scholzj, @Tombar.

[2019-01-07 21:58] Tombar commented on #1206
I like the overall idea and the simplicity of the proposal about RBAC.

Regarding users resources, I believe the same approach could be very useful.

[2019-01-08 09:11] tombentley commented on #1206
@seglo thanks, this is an interesting proposal! I have a few questions/comments....

Nitpick: That's not quite true, it can watch a different namespace via `Kafka.spec.entityOperator.topicOperator.watchedNamespaces`. But the point is take that it's still only a single namespace.

Your _Problem_ section describes the current limitations of the TO, but it would be interesting to understand more abou

[2019-01-08 11:51] ppatierno commented on #482
Today we have the `storage` property which enables to define the storage to use (persistent or ephemeral).
We have just one related `data` volume (different PVCs in case of persistent, i.e. `data-my-cluster-kafka-BROKER_ID`) and the mount path as `/var/lib/kafka`. The `log.dirs` in Kafka is configured using that one + "kafka-log-BROKER_ID".

The proposal for adding JBOD support is about a new stor

[2019-01-08 12:14] tombentley commented on #482
That's really quite an awkward plural, but I'm not sure there's anything better. Would something like `volumes` or `disks`, or `storageVolumes` be confusing?

What benefit do you think preventing it would bring? In general I think it's a mistake artificially limiting something like this just because we don't have a use case.

One thing you _would_ need to prevent was one of the `storages` itself h

[2019-01-08 14:26] ppatierno opened #1208 "NPE in KafkaMirrorMakerCluster when `spec` is null on version 0.8.0"
If the `KafkaMirrorMaker` resource YAML file doesn't have the `spec` field, the following NPE is raised (in version 0.8.0).

[code]

It's still true on master as well.

[2019-01-08 14:34] ppatierno commented on #1208
Actually on master it's not a bug because the `createOrUpdate` in the `KafkaMirrorMakerAssemblyOperator` checks is spec is null.

[2019-01-08 14:56] #1208 closed

[2019-01-08 15:39] ppatierno commented on #482
We should also check that the `jbod` type is not using for configuring the storage in the Zookeeper spec.

[2019-01-08 15:52] seglo commented on #1206
Thanks for the review @tombentley !

That's correct.  I would like to have better topic support in a multi-tenant Kubernetes cluster where users (application developers) are sandboxed to their own namespace.  I would like to provide these users with the ability to administer namespaced Kafka topics relevant to their application requirements so that a) They don't require privileges to modify shared

[2019-01-09 15:48] arashkaffamanesh opened #1210 "Wrong version in examples kafka-ephemeral.yaml"
The spec.kafka.version should be 2.0.1 and not 2.1.0 in kafka-ephemeral.yaml:

https://raw.githubusercontent.com/strimzi/strimzi-kafka-operator/master/examples/kafka/kafka-ephemeral.yaml

[2019-01-09 15:51] tombentley commented on #1210
The current default version of Kafka on `master` is indeed 2.1.0. In 0.9.0 is was 2.0.1. There's in progress work on documentating the upgrade procedure.

[2019-01-09 15:57] arashkaffamanesh commented on #1210
ok, thanks.
It means there will be a strimzi 1.0.0 version which supports 2.1.0?

[2019-01-09 15:58] ppatierno commented on #1210
It will be Strimzi 0.10.0. In any case the next release :)

[2019-01-09 16:04] arashkaffamanesh commented on #1210
Oh wow, thanks so much!

[2019-01-09 16:04] #1210 closed

[2019-01-09 16:06] ppatierno commented on #482
Actually, providing the possibility to assign a `name` to a `storage` could drive to some problems.

For example, today we don't allow to move from ephemeral to persistent and vice versa and if you look at the code in the `StatefulSetOperator.revertStorageChanges`, the way we identify which volumes should be "reverted" is the fixed `VOLUME_NAME` (which is "data"); there are other volumes related t

[2019-01-09 16:32] ppatierno commented on #482
Another problem is what kind of changes we are going to allow to do.
Today we don't allow to change type and/or size in storage, actually the above `revertStorageChanges` comes into play as soon as a change happens in the VolumeClaimTemplate during a SS diff.

With current behaviour we are going to not allow ephemeral (E) to persistent (P) or jbod (J) or viceversa but we should support the possibi

[2019-01-09 16:56] scholzj opened #1211 "Do we really need to roll the old Kafka pods when scaling up and using loadbalancers and nodeports?"
Do we really need to roll the old Kafka pods when scaling up and using loadbalancers and nodeports?

[2019-01-09 20:14] chonton opened #1212 "KafkaConnectCrdIT.testKafkaConnect fails with K8S v1.12"
Validation of volumes.secret from 041-Crd-kafkaconnect.yaml fails with message:
[code]
This occurs with kubernetes server version v1.12.4.  Upstream defect is https://github.com/kubernetes/kubernetes/issues/68466.  The issue description indicates that the defect starts with k8s-1.11.0

[2019-01-09 20:45] chonton opened #1213 "io.strimzi.test.k8s.Minikube does not correctly detect Minikube v0.32.0"
Minikube status produces result
[code]
The test support class is looking for result
[code]
Perhaps a better test would be to check the result code.  https://github.com/kubernetes/minikube/issues/1944 was merged into [minikube v0.23.0](https://github.com/kubernetes/minikube/releases/tag/v0.23.0) on Oct 26, 2017

[2019-01-09 22:46] seglo commented on #1206
I'm not sure I like the idea of a fallback namespace.  If the goal is just to give users a way of configuring already namespaced Kafka topics through K8s then I think giving access to `KafkaTopic` is good enough.  If we want to give users fine-grained control to changing namespaced Kafka topics (using `KafkaNamespacedTopic`) then we could document a requirement that a namespace already exists and

[2019-01-10 08:18] ppatierno commented on #482
Or latest thought is about using `data` as a prefix if user specify a `name` for a storage, so ...

* `name` empty --> volume name or volume claim template (for persistent) is `data` or `data-X` (for more volumes without name in JBOD storage)
* `name` not empty -> volume name or volume claim template (for persistent) is `data-<name>`

[2019-01-10 08:34] ppatierno commented on #482
Another tought to add ... is about adding an annotation in the SS for storing the storage-type because actually we are distinguishing ephemeral from persistent just checking if the volume claim template is empty (ephemeral) or not (persistent). Adding jbod it could be useful having an annotation defining the storage-type.

[2019-01-10 11:46] ppatierno commented on #482
After discussing with @tombentley the idea is about adding the `name` property to the current `storage` CRD in order to allow the user to identify the disks/storage. The `name` property has to be mandatory (in this case we cannot break the API so we cannot make it mandatory at CRD level but we should document it and raising an exception at CO level if it's not set).

Regarding updating the `storag

[2019-01-10 13:02] matzew opened #1216 "Version `2.1` is not a valid version"
Running in minishift I am getting:

[code]

is that related to #1196

[2019-01-10 14:10] matzew commented on #1216
looks like the log format issue is not supported w/ 0.8.2 of Strimzi

[2019-01-10 14:10] #1216 closed

[2019-01-10 17:14] #1197 closed

[2019-01-10 20:56] #1213 closed

[2019-01-10 21:00] scholzj commented on #1212
LOL ... we use the `items` field just because it is part of the Kubernetes resources it self :-(.

[2019-01-11 09:11] eye0fra opened #1218 "Use only one secret for cluster-ca and clients-ca"
Currently **cluster-ca** and **clients-ca** have two separate secrets, one for the certificate and one for the key:

* <cluster>-cluster-ca           | ca.key
* <cluster>-cluster-ca-cert  | ca.crt

* <cluster>-clients-ca | ca.key
* <cluster>-clients-ca-cert | ca.crt

To make consistent with another secrets definition (brokers, zookeeper and operator). It would be nice to have one secret which cont

[2019-01-11 11:13] mfranczy commented on #1212
@chonton I observed that on k8s-1.10.4, it's possible that the bug exists in earlier versions as well, I didn't check.

Hope it's gonna be fixed soon.

[2019-01-11 16:16] tomas12 opened #1221 "Creating new kafka topic fails"
We are using kafka in open shift together with strimzi and the strimzi operator. Our problem is the creation of a topic. We upload an yaml file like this one to the strimzi operator
[code]
and the operator is trying to create a topic in kafka, but he fails often. Then he removes the topic and tries it again and again. After some minutes (sometimes takes it even ~20 minutes) he succeeds in creating

[2019-01-11 23:41] kurktchiev opened #1222 "LEADER_NOT_AVAILABLE error when trying to connect external client to kafka brokers"
Hello, so I have a simple 3 node cluster:
[code]
I am exec into my kafka client pod and trying to run a quick producer test as follows:
[code]
However, I get greeted with a smattering of:
[code]
The above is repeated infinitum... I am not sure why thats happening. I created the topic like this:
1. Exec into zookeeper-1
2. run: `[kafka@my-cluster-zookeeper-0 kafka]$ bin/kafka-topics.sh --zookeeper

[2019-01-11 23:47] kurktchiev commented on #1222
I have tried my connection string a few different ways in case its something with the advertised listeners but no luck:
Directly to IP of each kafka broker:
[code]

Connect to the headless service for the brokers and let it resolve the clients as needed/wanted:
[code]

[2019-01-11 23:50] scholzj commented on #1222
What do you get when you describe the topic using `kafka_topics.sh`? You will probably also need to share the broker logs and the to give us more insight and the custom resource you used to create the cluster.

There is a bootstrap service which should be ideally used for the connections, in your case it should be named something like `my-cluster-kafka-bootstrap.strimzi.svc.sol1.diamanti.com`. You

[2019-01-11 23:53] kurktchiev commented on #1222
The cluster is the example kafka-persistent.yaml you guys supply so nothing special. Just trying to test out a simple deploy and connect external clients. I will have to get the describe topic info and any logs you want later today

[2019-01-12 14:39] kurktchiev commented on #1222
The broker logs dont show anything of interest, the following block just repeats itself nonstop:
[code]

[2019-01-12 21:03] scholzj commented on #1212
I opened a PR to comment out the `items` fields from the test YAMLs. That should make the tests pass until this is fixed. Thanks for raising this issue.

[2019-01-12 21:35] scholzj commented on #1222
The topic looks good. It shows the leaders. The repeating thing form the log is just the Garbage Collector log from JVM. I wonder if the client actually connects to the brokers properly if there is no log message. Maybe you could increase the log level in the Kafka resource to see more.

[2019-01-13 02:37] kurktchiev commented on #1222
Why would it not connect at all? What is the container listening on? As far as I can tell from the service and container definitions it’s the same ports as those exposed.

[2019-01-13 19:32] scholzj commented on #1222
TBH, I don't know. But the topics seems to have the leaders assigned and there don't seem to be any issues in the Kafka logs. So it was one of the things which came to my mind.

[2019-01-13 19:34] #1212 closed

[2019-01-14 04:49] kurktchiev commented on #1222
Any other ideas? It seems pretty important to be able to connect an external client to a cluster :D there any other place I can look for what is going on? I am trying to only do un-encrypted traffic at the moment so I am connecting to the unsecured ports

[2019-01-14 07:50] scholzj commented on #1222
Wait, I'm not sure what do you mean with external client - I though you were running your client inside a pod in the same cluster. If you want to run the client outside of your Kubernetes cluster, you would need to use one of the external listeners. Either using load balancers or node ports.

[2019-01-14 12:41] kurktchiev commented on #1222
Sorry, I meant “external” as in a non strimzi CRD connection. I am indeed running a pod inside the cluster that is failing to connect

[2019-01-14 14:41] kurktchiev commented on #1222
Also, is it possible to define my own external? As in pass in my own string rather than the predefined route/LB/NP? What if I wanted to pass in a config as such: EXTERNALS://${POD_IP} where POD_IP=refspec.pod_ip from kube?

[2019-01-14 16:15] ppatierno commented on #482
Do you mean that under storage type JBOD, all the volumes are persistent-claim? And the only thing we need to specify is the size?

In the example, the my-storage names are provided by the users so what do you mean by "The names are IMHO good"? Yeah my proposal was also to add a prefix to the name. Can you provide the example on what you mentioned about Kafka Connect please?

[2019-01-14 16:57] scholzj commented on #482
[code]

To make sure the volume names by user do not conflict with our volume names, you just prefix the names. E.g. for a volume with name specified by user as `my-storage-1`, you would create the volume in the YMAL as `kafka-logs-my-storage-1`. This is what I used in Kafka Connect to make sure the volumes with the external configuration don't override the user modules etc.

[2019-01-14 17:18] tombentley commented on #482
If the `storageClass` has to be set on the top-level (can't be overridden in individual volumes) wouldn't that make it impossible to migrate from one storage class to another? Presumably, eventually, someone will want to do that. If they can build JBOD from different storage classes then such a migration would be possible by reassigning replicas to the new (different `storageClass`) volumes.

[2019-01-14 17:32] tombentley commented on #482
What I mean by "migrate from one storage class to another" is moving that data from storage of one class to storage of a different class, by moving the log segments via `AdminClient` from log dir on the old storage class to log dir on the new storage class.

[2019-01-14 17:32] kurktchiev commented on #1222
What if I have a platform where that is not a problem? Having the ability to customize the listeners would be useful. However, I still need to get at least in-cluster communication working before I keep talking about the external bits :)

[2019-01-14 21:00] scholzj commented on #482
I thought that we discuss that we will keep supporting only adding of new storage. I think that deleting the volumes like this could be quite dangerous. I'm not sure we should support that without an additional support to actually check from the CO that everything had been moved.

That said, it is probably valid point to make the API more future proof. So I agree that we might want to keep the sto

[2019-01-14 22:23] scholzj commented on #1222
Do you have such platform? If yes, I would be interested to hear more about it to better understand it. I think our ideal plan is that things work out of the box. That you don't have to care about these things.

Back to your original problems ... could you share the whole logs from the the brokers? It would be also great if you can try to increase the log level in the client, so that we can better

[2019-01-15 07:57] ppatierno commented on #482
At this point I would use the YAML I provided, having all configuration parameters in every single volume (so it's also possible to have persistent-claim and ephemeral volumes).

Regarding the name: @scholzj do you remember that we had a problem with long name volumes and we moved to use `data`? I remember something like this, or?

[2019-01-15 08:35] ppatierno commented on #482
I was referring to the last one with a sort of "final" proposal.

[code]

So it's a problem then. because today the PVC name is `data`-<statefulsetname>-<podid> (the latest two fields build the pod name). Using naming on volumes with a prefix we could have `kafka-logs-my-storage-1-<statefulsetname>-<podid> which is for sure too long.

I think that naming wasn't so important before JBOD due to the

[2019-01-15 08:44] scholzj commented on #482
But the name it self is not important, or? It is just a handle to be able to work with it and diff it. If the names would be just indexes, it would work equally well. It is just less intuitive to enter them.

For example:

[code]

I'm not sure I have seen similar numbering pattern anywhere else in Kubernetes. But technically this would work for us fine.

[2019-01-15 08:48] ppatierno commented on #482
I agree and we could also avoid that the user can specify a name but internally we are going to use names as `data-1`, `data-2` and so on.
When I raised the idea of adding a name (at the beginning of this issue) @tombentley said that ...

... which could be a real use case.

PS: you are still using "your" YAML example, should we use the one I suggested now?

[2019-01-15 09:02] scholzj commented on #482
I copied it from your post :-o. I didn't realised it was the example I created :-o.

Well, I expect that inside the code you will find the need to have a stable mapping between the names from CRD and the volume names. I.e. you will need to know that `my-storage-1` will always be `data-1` etc. I do not think you can create such a mapping since using some kind of reliable hash would be even bigger t

[2019-01-15 09:39] tombentley commented on #482
I think this sounds reasonable.

[2019-01-15 09:47] scholzj commented on #482
LGTM!

[2019-01-15 11:14] tombentley commented on #1221
The Topic Operator will append a hash like this if the topic name in Kafka is not a valid kube resource name. That doesn't seem to be the case here because both the `KafkaTopic` and the name of the Kafka topic is `topic-user`, which should be valid in both. It's not clear why this is happening.

[2019-01-15 11:14] tombentley commented on #1221
Since both names are the same, have you tried omitting the `topicName: topic-user` part?

[2019-01-16 09:19] tombentley commented on #191
### Replication factor change is a special-case of partition reassignment

As mentioned, Kafka doesn't support Replication Factor (RF) as a first class concept.
It's just a convenience at the time a topic is created.
Thereafter each partition can, in theory, have its own number of replicas, and changing those is done through partition reassignment.

### Challenges due to Kafka's reassignment API

[2019-01-16 09:47] scholzj commented on #191
OT, but how do you model this in the `api`?

[code]

We could have used it for the JBOD storage and we can sue it for the exposing improvements. Can you do it just as a `Map<Integer, Object>`?

-----

In this example:

[code]

I understand the three options at the bottom. I understand the general fixed throttles configured for the reassignments. I'm not sure I understand the point of the `throttle

[2019-01-16 17:45] tombentley commented on #191
TBH that might not be possible, I'll have to check. We do something similar with `Map<String, Object>` for the `config`. We might be able to use a `Map<String, Object>` but constrain the key to have the decimal integer syntax in the schema.

`throttledReplicas` is listing which brokers, when in the given roles, throttle replication of the given topic partition. For example, when broker 101 is the

[2019-01-16 20:52] scholzj commented on #191
That is probably fair point. But storing it in the Kafka CR seems weird. I also wonder if it would cause issues with rights. You might want some to manage his topic but maybe not to manage his Kafka cluster. For this the user needs the full rights to the Kafka resources. I wonder if holding this in config map or something could be better solution until we have the balancer.

Yeah, I know ... but I

[2019-01-17 07:34] dineshudayakumar opened #1234 "SASL authentication with custom callback handler"
Documentation says that Kafka properties starting with "listener." or "sasl." are forbidden. And SASL/SCRAM-SHA has a recommendation to use custom call back handler in case zookeeper is not secure. So want to set the Kafka property sasl.server.callback.handler.class, listener.name.sasl..plaintext.plain.sasl.server.callback.handler.class to have our own call back handler which can go to our Auth Se